.footer-padding {
  padding: 15px 15px 15px 15px;
}

ion-content {
  --ion-background-color: var(--mes-theme-main-colour);
}

.character-count {
  color: var(--mes-theme-main-variant5);
  font-weight: initial;
  letter-spacing: initial;
}
