<ion-header>
  <practice-mode-banner *ngIf="isEndToEndPracticeMode"></practice-mode-banner>
  <ion-toolbar [ngClass]="{'toolbar-no-padding': isEndToEndPracticeMode}" mode="ios">
    <ion-title id="pass-finalisation-title">Test debrief - {{pageState.candidateUntitledName$ | async}}</ion-title>
    <ion-buttons id="back-button" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <ion-grid>
        <finalisation-header
          [candidateDriverNumber]="pageState.candidateDriverNumber$ | async"
          [candidateName]="pageState.candidateName$ | async"
          [candidatePrnNumber]="pageState.prn$ | async"
          [grade]="pageState.testOutcomeGrade$ | async"
          [isStandardsCheck]="pageState.isStandardsCheck$ | async"
          [outcomeText]="pageState.testOutcomeText$ | async">
        </finalisation-header>

        <debrief-witnessed
          (debriefWitnessedChange)="debriefWitnessedChanged($event)"
          [debriefWitnessed]="pageState.debriefWitnessed$ | async"
          [display]="true"
          [formGroup]="form"
          [outcome]="testOutcome">
        </debrief-witnessed>

        <further-development
          (furtherDevelopmentChange)="furtherDevelopmentChanged($event)"
          [display]="true"
          [formGroup]="form"
          [furtherDevelopment]="pageState.furtherDevelopment$ | async"
          [outcome]="testOutcome">
        </further-development>

        <div *ngIf="(pageState.furtherDevelopment$ | async) !== false" class="mes-row-separator padding-top-10"></div>

        <reason-given
          (adviceReason)="adviceReasonChanged($event)"
          [display]="true"
          [formGroup]="form"
          [furtherDevelopment]="pageState.furtherDevelopment$ | async"
          [outcome]="testOutcome"
          [reasonGivenText]="pageState.adviceReason$ | async">
        </reason-given>

        <test-start-end-times
          (testEndTimeChange)="testEndTimeChanged($event)"
          (testStartTimeChange)="testStartTimeChanged($event)"
          *ngIf="pageState.isStandardsCheck$ | async"
          [endTime]="pageState.testEndTime$ | async"
          [formGroup]="form"
          [startTime]="pageState.testStartTime$ | async">
        </test-start-end-times>
      </ion-grid>
    </form>
  </div>
</ion-content>

<ion-footer>
  <ion-row id="pass-final-background">
    <ion-button (click)="onSubmit()" class="mes-primary-button" id="pass-finalisation-continue-button">
      <header-component
        [headerNum]="3">
        Continue
      </header-component>
    </ion-button>
  </ion-row>
</ion-footer>
