.footer-padding {
  padding: 15px 15px 15px 15px;
}

ion-content {
  --ion-background-color: var(--mes-white);
}

.character-count {
  color: var(--gds-grey-1);
  font-weight: initial;
  letter-spacing: initial;
}
