<ion-header>
  <practice-mode-banner *ngIf="isEndToEndPracticeMode"></practice-mode-banner>
  <ion-toolbar class="no-internal-padding"
               [ngClass]="{'toolbar-no-padding': isEndToEndPracticeMode || isExitSAMActivated}" mode="ios">
    <test-flow-header
      class="display-flex flex-direction-column"
      [pageName]="'pass-finalisation-page'"
      [shouldShowEscapeFromSamButton]="!isRekey && !isDelegated"
      [isPracticeMode]="isEndToEndPracticeMode"
      [isExitSAMActivated]="isExitSAMActivated"
      (exitSamUsed)="onUsedExitSam()"
      [shouldShowEndTestLink]="false"
      (onExitSAMActivatedChanged)="isSamActivatedChanged($event)">
      Finalise outcome - {{pageState.candidateUntitledName$ | async}}
    </test-flow-header>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <ion-grid>
        <finalisation-header
          [candidateDriverNumber]="pageState.candidateDriverNumber$ | async"
          [candidateName]="pageState.candidateName$ | async"
          [candidatePrnNumber]="pageState.prn$ | async"
          [grade]="pageState.testOutcomeGrade$ | async"
          [isStandardsCheck]="pageState.isStandardsCheck$ | async"
          [outcomeText]="pageState.testOutcomeText$ | async"
        >
        </finalisation-header>

        <debrief-witnessed
          (debriefWitnessedChange)="debriefWitnessedChanged($event)"
          [debriefWitnessed]="pageState.debriefWitnessed$ | async"
          [display]="true"
          [formGroup]="form"
          [outcome]="testOutcome"
        >
        </debrief-witnessed>

        <further-development
          (furtherDevelopmentChange)="furtherDevelopmentChanged($event)"
          [display]="true"
          [formGroup]="form"
          [furtherDevelopment]="pageState.furtherDevelopment$ | async"
          [outcome]="testOutcome"
        >
        </further-development>

        <div *ngIf="(pageState.furtherDevelopment$ | async) !== false" class="mes-row-separator padding-top-10"></div>

        <reason-given
          (adviceReason)="adviceReasonChanged($event)"
          [display]="true"
          [formGroup]="form"
          [furtherDevelopment]="pageState.furtherDevelopment$ | async"
          [outcome]="testOutcome"
          [reasonGivenText]="pageState.adviceReason$ | async"
        >
        </reason-given>

        <test-start-end-times
          (testEndTimeChange)="testEndTimeChanged($event)"
          (testStartTimeChange)="testStartTimeChanged($event)"
          *ngIf="pageState.isStandardsCheck$ | async"
          [endTime]="pageState.testEndTime$ | async"
          [formGroup]="form"
          [startTime]="pageState.testStartTime$ | async"
        >
        </test-start-end-times>
      </ion-grid>
    </form>
  </div>
</ion-content>

<ion-footer>
  <ion-row id="pass-final-background">
    <ion-button (click)="onSubmit()" class="mes-primary-button" id="pass-finalisation-continue-button">
      <ion-text class="des-header-style-3">Submit</ion-text>
    </ion-button>
  </ion-row>
</ion-footer>
