<ion-row class="mes-validated-row mes-row-separator" [formGroup]="formGroup">
  <div class="validation-bar" [class.ng-invalid]="invalid"></div>
  <ion-col class="component-label ion-align-self-center" size="32">
    <label>Vehicle details</label>
  </ion-col>
  <ion-col class="ion-align-self-center ion-padding-start">
    <ion-row class="spacing-row"></ion-row>
    <ion-row>
      <ion-radio-group
        class="display-flex direction-column"
        formControlName="configuration"
        [value]="formControl.value"
        (ionChange)="vehicleDetailsChanged($event.detail.value)">
        <ion-row class="bottom-padding">
          <ion-col>
            <ion-radio
              class="gds-refactor-radio"
              [class.ng-invalid]="invalid"
              id="configuration-rigid"
              labelPlacement="end"
              value="Rigid">
              <label class="radio-label" id="configuration-rigid-label">
                Rigid
              </label>
            </ion-radio>
          </ion-col>
        </ion-row>
        <ion-row class="bottom-padding">
          <ion-col>
            <ion-radio
              class="gds-refactor-radio"
              [class.ng-invalid]="invalid"
              id="configuration-articulated"
              value="Articulated"
              labelPlacement="end">
              <label class="radio-label" id="configuration-articulated-label">
                Articulated
              </label>
            </ion-radio>
          </ion-col>
        </ion-row>
        <ion-row class="bottom-padding">
          <ion-col>
            <ion-radio
              class="gds-refactor-radio"
              [class.ng-invalid]="invalid"
              id="configuration-drawbar"
              value="Drawbar"
              labelPlacement="end">
              <label class="radio-label" id="configuration-drawbar-label">
                Drawbar
              </label>
            </ion-radio>
          </ion-col>
        </ion-row>
      </ion-radio-group>
    </ion-row>
    <ion-row class="validation-message-row ion-align-items-center">
      <div class="validation-text" [class.ng-invalid]="invalid" id="vehicle-details-validation-text">
        Select Vehicle details
      </div>
    </ion-row>
  </ion-col>
</ion-row>
