<ion-card id="windowed-modal-card" class="modal-alert">
  <ion-row>
    <ion-col class="center-icon ion-no-padding">
      <ion-icon class="modal-icon" name="alert-circle"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col class="flex-center no-padding">
      <ion-text id="windowed-title" class="des-header-style-2 modal-alert-header"
        >You are in windowed mode</ion-text
      >
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col class="ion-no-padding" size="80">
      <div class="modal-alert-message">
        <div class="mes-data">You cannot use DES while in windowed mode. Please return to fullscreen mode to continue. (You can return to fullscreen by either changing the Ipad to fullscreen mode in the multitasking settings or by dragging the app to fullscreen using the chevron on the bottom right hand corner.)</div>
      </div>
    </ion-col>
  </ion-row>
</ion-card>
