<div>
  <header-component
    *ngIf="isUnSubmittedTestSlotView; else showTime;"
    [ngClass]="{'time-test-complete-text': testComplete}"
    [id]="'date-test-un-submitted'"
    [headerNum]="3">
    <strong>{{time | date: "dd/MM/yyyy" }}</strong>
  </header-component>
  <ng-template #showTime>
    <header-component
      id="candidate-details-title"
      [ngClass]="{'time-test-complete-text': testComplete}"
      [id]="'candidate-details-title-inner'"
      [headerNum]="2">
      {{time | date: "HH:mm" }}
    </header-component>
  </ng-template>
</div>
