:host {
  .vertical-align-center {
    display: flex;
    align-items: center;
  }

  .img-size {
    width: 25px;
    height: 25px;
    min-width: 25px;
  }

  .label-icon-padding {
    padding-left: 4px;
  }
}
