:host {
  .tr-standard-text {
    font-weight: bold;
    font-size: 24px !important;
    color: var(--gds-theme-opposite);
  }

  .competencies-row {
    margin-left: 10px;
  }

  .scoring-text {
    color: var(--gds-theme-opposite);
  }

  .scoring-row-padding {
    padding: 8px 8px 8px 8px;
  }

  .score-1-spacing {
    padding-right: 0;
    padding-left: 0;
  }

  .question-card {
    margin-left: 0;
  }

  .total-score-positioning {
    display: flex;
    justify-content: center;
  }
}
