<ion-row
  [formGroup]="formGroup"
  [ngClass]="!isLastSafetyQuestion && 'mes-row-separator'"
  class="mes-validated-row ion-nowrap"
  id="safety-question-row"
>
  <div *ngIf="isInvalid()" class="validation-bar ng-invalid"></div>
  <ion-col class="display-flex ion-justify-content-center direction-column">
    <ion-row>
      <ion-col size="40" class="ion-align-self-center">
        <ion-row>
          <div class="safety-question-text">{{ questions[questionIndex].description }}</div>
        </ion-row>
      </ion-col>
      <ion-radio-group
        class="display-flex ion-align-items-center"
        [formControlName]="safetyQuestionOutcomeFieldName"
        [value]="safetyQuestionOutcomeFormControl.value"
        (ionChange)="safetyQuestionChanged($event.detail.value)">
        <ion-col size="40">
          <ion-radio
            class="gds-refactor-radio"
            id="safety-question-correct-{{safetyQuestionId}}"
            labelPlacement="end"
            value="P">
            <label class="radio-label" id="safety-question-correct-{{safetyQuestionId}}-label">
              Correct
            </label>
          </ion-radio>
        </ion-col>
        <ion-col size="16"></ion-col>
        <ion-col>
          <ion-radio
            class="gds-refactor-radio"
            id="safety-question-incorrect-{{safetyQuestionId}}"
            value="DF"
            labelPlacement="end">
            <label class="ion-text-wrap radio-label" id="safety-question-incorrect-{{safetyQuestionId}}-label">
              Wrong answer
            </label>
          </ion-radio>
        </ion-col>
      </ion-radio-group>
    </ion-row>
    <ion-row class="validation-message-row">
      <ion-col size="40"></ion-col>
      <ion-col *ngIf="isInvalid()">
        <div class="validation-text ion-no-padding ng-invalid">Question Incomplete</div>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
