@if (adviceGivenControl || adviceGivenPlanning) {
<ion-card id="eco">
  <ion-card-content>
    <ion-grid>
      <ion-row class="mes-data ion-align-items-start">
        <ion-col size="3"></ion-col>
        <ion-col size="34">
          <ion-text class="des-header-style-4 fault-heading">{{ 'debrief.ecoHeader' | translate }}</ion-text>
        </ion-col>
        <ion-col class="down-padding ion-align-self-start">
          @if (adviceGivenControl && !adviceGivenPlanning) {
<div id="ecoFaults-adviceGivenControl">
            {{ 'debrief.ecoControl' | translate }}
          </div>
}
          @if (!adviceGivenControl && adviceGivenPlanning) {
<div id="ecoFaults-adviceGivenPlanning">
            {{ 'debrief.ecoPlanning' | translate }}
          </div>
}
          @if (adviceGivenControl && adviceGivenPlanning) {
<div id="ecoFaults-adviceGivenControlAndAdviceGivenPlanning">
            {{ 'debrief.ecoBoth' | translate }}
          </div>
}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
}
