<ion-row [ngClass]="shouldHaveSeperator ? 'mes-data-row-with-separator': 'mes-data-row'">
  <ion-col size="34">
    <label>{{ label }}</label>
    <br>
    <label *ngIf="label2">{{ label2 }}</label>
  </ion-col>
  <ion-col size="6">
    <img    alt="Exclamation Indicator"
            src="../../../assets/imgs/journal/exclamation-indicator.png"
            class="exclamation-indicator ion-text-end"
            *ngIf="shouldShowIndicator"
    />
  </ion-col>
  <ion-col size="56">
    <span class="mes-data">{{ value }}</span>
  </ion-col>
</ion-row>
