<ion-row [ngClass]="shouldHaveSeperator ? 'mes-data-row-with-separator': 'mes-data-row'">
  <ion-col [size]="shouldShowIndicator ? 40 : 34">
    <label [id]="label | formatToID: idPrefix">{{ label }}</label>
    <br>
    <label *ngIf="label2" [id]="label2 | formatToID: idPrefix">{{ label2 }}</label>
  </ion-col>
  <ion-col size="6">
    <img *ngIf="shouldShowIndicator"
         alt="Exclamation Indicator"
         ngSrc="../../../assets/imgs/journal/exclamation-indicator.png"
         class="exclamation-indicator ion-text-end"
         height="134"
         width="156" />
  </ion-col>
  <ion-col size="40" *ngIf="imgSrc; else notImage;">
    <img
      [src]="imgSrc"
      [id]="label | formatToID: idPrefix: true"
      [style]="dataStyling"
      [alt]="label + ' image'">
  </ion-col>
  <ng-template #notImage>
    <ion-col [size]="shouldShowIndicator ? 50 : 56">
      <span [style]="dataStyling" class="mes-data" [id]="label | formatToID: idPrefix: true">{{ value }}</span>
    </ion-col>
  </ng-template>
</ion-row>
