<ion-row [ngClass]="shouldHaveSeperator ? 'mes-data-row-with-separator': 'mes-data-row'">
  <ion-col [size]="shouldShowIndicator ? 40 : 34" class="ion-align-items-center display-flex">
    <label [id]="label | formatToID: idPrefix">{{ label }}</label>
  </ion-col>
  <ion-col size="6" class="ion-align-items-center display-flex">
    @if (shouldShowIndicator) {
<img
         alt="Exclamation Indicator"
         src="assets/imgs/journal/exclamation-indicator.png"
         class="exclamation-indicator"/>
}
  </ion-col>
  @if (imgSrc) {
<ion-col size="40">
    <img
      [src]="imgSrc"
      [id]="label | formatToID: idPrefix: true"
      [style]="dataStyling"
      [alt]="label + ' image'"/>
  </ion-col>
} @else {
#notImage;|
}
  <ng-template #notImage>
    <ion-col [size]="shouldShowIndicator ? 50 : 56" class="ion-align-items-center display-flex">
      <span [style]="dataStyling" class="mes-data" [id]="label | formatToID: idPrefix: true">{{ value }}</span>
    </ion-col>
  </ng-template>
</ion-row>
