<ion-content class="content-background">
    <ion-grid>
        @for (activityCode of activityCodeOptions; track trackByActivityCode($index, activityCode)) {
  <ion-row
                 [id]="activityCode.activityCode + ' ' + activityCode.description | formatToID: idPrefix"
                 (click)="selectActivityCode(activityCode)">
            <ion-col size="6" [ngClass]="conditionalStyles(activityCode)">
                {{activityCode.activityCode}}
            </ion-col>
            <ion-col size="4" [ngClass]="conditionalStyles(activityCode)">
                -
            </ion-col>
            <ion-col size="80" [ngClass]="conditionalStyles(activityCode)">
                {{activityCode.description}}
            </ion-col>
            <ion-col class="button-style" size="6">
                @if (isActiveActivityCode(activityCode.activityCode)) {
<ion-icon
                          [id]="idPrefix + '-checkmark'"
                          name="checkmark-sharp"
                          class="checkmark">
                </ion-icon>
}
            </ion-col>
        </ion-row>
}
    </ion-grid>
</ion-content>

<ion-button (click)="onCancel()" class="dark-mode-override" [id]="idPrefix + '-cancel-btn'">
    Cancel
</ion-button>
