<ion-content class="colour">
    <ion-list class="colour">
        <ion-item *ngFor="let activityCode of activityCodeOptions"
                  [disabled]="isOptionDisabled(activityCode.activityCode)"
                  (click)="selectActivityCode(activityCode.activityCode)">
            <ion-label>{{activityCode.activityCode}} - {{activityCode.description}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
      <ion-button (click)="onCancel()">
          Cancel
      </ion-button>
<!--    <ion-title>Footer</ion-title>-->
  </ion-toolbar>
</ion-footer>
