//@import "src/theme/sass-partials/modal";

:host {
  //@extend .modal-alert-wrapper;
  .colour {
    --ion-background-color: white !important;
  }

  .cancel-button {
    color: var(--gds-grey-3);
  }

  .button-style {
    color: var(--gds-black);;
  }

  .icon-position {
    float: right;
  }

  .activity-list-modal-cancel-button {
    text-align: center;
    min-width: 225px;
    color: var(--gds-black);
  }
}
