:host {
  .content-background {
    --ion-background-color: var(--mes-white) !important;
  }

  .button-style {
    color: var(--gds-black);
    display: flex;
    align-items: center;

    &.selected {
      font-weight: bold;
    }
    &.disabled {
      opacity: 0.4;
    }
  }

  .checkmark {
    color: var(--gds-green);
    font-size: 34px;
    font-weight: bold;
  }
}
