<ion-card id="speed-check" *ngIf="emergencyStop.firstAttempt !== undefined || avoidance.firstAttempt !== undefined">
  <ion-card-header>
    <ion-card-title>
      <header-component
        [headerNum]="4">
        {{ 'debrief.speedRequirementsHeader' | translate }}
      </header-component>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row class="ion-padding no-padding-right">
        <ion-col size="36" class="ion-no-padding">
          <label>{{ 'debrief.emergencyStopHeader' | translate }}</label>
        </ion-col>

        <ion-col size="20" class="ion-no-padding" *ngIf="emergencyStop.firstAttempt !== undefined">
          <ion-row class="ion-no-padding">
            <ion-col size="25" class="ion-no-padding">
              <div class="black-text">1st:</div>
            </ion-col>
            <ion-col class="ion-no-padding">
              <div>
                <ng-container *ngTemplateOutlet="SpeedFormat; context: {speed: emergencyStop.firstAttempt}"></ng-container>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col size="25" class="ion-no-padding" *ngIf="emergencyStop.secondAttempt !== undefined">
          <ion-row class="ion-no-padding">
            <ion-col size="25" class="ion-no-padding">
              <div class="black-text">2nd: </div>
            </ion-col>
            <ion-col class="ion-no-padding">
              <div>
                <ng-container *ngTemplateOutlet="SpeedFormat; context: {speed: emergencyStop.secondAttempt}"></ng-container>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col size="4" class="ion-no-padding ion-align-self-start">
          <div class="counter-icon icon-centre">
            <img
              *ngIf="!emergencyStop.outcome"
              src="assets/imgs/greenCorrectAnswer.png"
              alt="Speed Met"
              class="tick-icon"
            />
            <img
              *ngIf="emergencyStop.outcome"
              src="assets/imgs/redWrongAnswer.png"
              alt="Speed Not Met"
              class="cross-icon"
            />
          </div>
        </ion-col>

        <ion-col size="11" class="ion-no-padding">
          <div class="counter-label black-text ion-nowrap" *ngIf="!emergencyStop.outcome">
            {{ 'debrief.speedRequirementMet' | translate }}
          </div>
          <div class="counter-label black-text ion-nowrap" *ngIf="emergencyStop.outcome">
            {{ 'debrief.speedRequirementNotMet' | translate }}
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-padding no-padding-right" *ngIf="avoidanceAttempted">
        <ion-col size="36" class="ion-no-padding">
          <label>{{ 'debrief.avoidanceHeader' | translate }}</label>
        </ion-col>

        <ion-col size="20" class="ion-no-padding" *ngIf="avoidance.firstAttempt !== undefined">
          <ion-row class="ion-no-padding">
            <ion-col size="25" class="ion-no-padding">
              <div class="black-text">1st:</div>
            </ion-col>
            <ion-col class="ion-no-padding">
              <div>
                <ng-container
                  *ngTemplateOutlet="SpeedFormat; context: {speed: avoidance.firstAttempt}"
                ></ng-container>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col size="25" class="ion-no-padding" *ngIf="avoidance.secondAttempt !== undefined">
          <ion-row class="ion-no-padding">
            <ion-col size="25" class="ion-no-padding">
              <div class="black-text">2nd: </div>
            </ion-col>
            <ion-col class="ion-no-padding">
              <div>
                <ng-container *ngTemplateOutlet="SpeedFormat; context: {speed: avoidance.secondAttempt}"></ng-container>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col size="4" class="ion-no-padding ion-align-self-start">
          <div class="counter-icon icon-centre">
            <img
                    *ngIf="!avoidance.outcome"
                    src="assets/imgs/greenCorrectAnswer.png"
                    alt="Speed Met"
                    class="tick-icon"
            />
            <img
                    *ngIf="avoidance.outcome"
                    src="assets/imgs/redWrongAnswer.png"
                    alt="Speed Not Met"
                    class="cross-icon"
            />
          </div>
        </ion-col>

        <ion-col size="11" class="ion-no-padding">
          <div class="counter-label black-text ion-nowrap" *ngIf="!avoidance.outcome">
            {{ 'debrief.speedRequirementMet' | translate }}
          </div>
          <div class="counter-label black-text ion-nowrap" *ngIf="avoidance.outcome">
            {{ 'debrief.speedRequirementNotMet' | translate }}
          </div>
        </ion-col>

      </ion-row>
      <ion-row class="spacing-row"></ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

<ng-template #SpeedFormat let-speed="speed">
  <ng-container *ngIf="speed != 0; else Aborted;">
    <span class="black-text">{{speed}}km/h</span>
  </ng-container>
</ng-template>

<ng-template #Aborted>
  {{ 'debrief.speedRequirementAborted' | translate }}
</ng-template>
