:host {
  img {
    width: 25px;
    height: 25px;
    min-width: 25px;
  }
  .spacing-row {
    min-height: 32px;
    padding-left: 2px;
  }
  .icon-centre {
    margin-top: -5px;
  }

  .no-padding-right {
    padding-right: 0;
  }
}
