@if (emergencyStop.firstAttempt !== undefined || avoidance.firstAttempt !== undefined) {
<ion-card id="speed-check">
  <ion-card-header>
    <ion-card-title>
      <ion-text class="des-header-style-4">
        {{ 'debrief.speedRequirementsHeader' | translate }}
      </ion-text>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row class="ion-padding no-padding-right">
        <ion-col size="36" class="ion-no-padding">
          <label>{{ 'debrief.emergencyStopHeader' | translate }}</label>
        </ion-col>

        @if (emergencyStop.firstAttempt !== undefined) {
<ion-col size="20" class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col size="25" class="ion-no-padding">
              <div class="black-text">1st:</div>
            </ion-col>
            <ion-col class="ion-no-padding">
              <div>
                <ng-container *ngTemplateOutlet="SpeedFormat; context: {speed: emergencyStop.firstAttempt}"></ng-container>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
}

        @if (emergencyStop.secondAttempt !== undefined) {
<ion-col size="25" class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col size="25" class="ion-no-padding">
              <div class="black-text">2nd: </div>
            </ion-col>
            <ion-col class="ion-no-padding">
              <div>
                <ng-container *ngTemplateOutlet="SpeedFormat; context: {speed: emergencyStop.secondAttempt}"></ng-container>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
}

        <ion-col size="4" class="ion-no-padding ion-align-self-start">
          <div class="counter-icon icon-centre">
            @if (!emergencyStop.outcome) {
<img
             
              src="assets/imgs/greenCorrectAnswer.png"
              alt="Speed Met"
              class="tick-icon"
            />
}
            @if (emergencyStop.outcome) {
<img
             
              src="assets/imgs/redWrongAnswer.png"
              alt="Speed Not Met"
              class="cross-icon"
            />
}
          </div>
        </ion-col>

        <ion-col size="11" class="ion-no-padding">
          @if (!emergencyStop.outcome) {
<div class="counter-label black-text ion-nowrap">
            {{ 'debrief.speedRequirementMet' | translate }}
          </div>
}
          @if (emergencyStop.outcome) {
<div class="counter-label black-text ion-nowrap">
            {{ 'debrief.speedRequirementNotMet' | translate }}
          </div>
}
        </ion-col>
      </ion-row>

      @if (avoidanceAttempted) {
<ion-row class="ion-padding no-padding-right">
        <ion-col size="36" class="ion-no-padding">
          <label>{{ 'debrief.avoidanceHeader' | translate }}</label>
        </ion-col>

        @if (avoidance.firstAttempt !== undefined) {
<ion-col size="20" class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col size="25" class="ion-no-padding">
              <div class="black-text">1st:</div>
            </ion-col>
            <ion-col class="ion-no-padding">
              <div>
                <ng-container
                  *ngTemplateOutlet="SpeedFormat; context: {speed: avoidance.firstAttempt}"
                ></ng-container>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
}

        @if (avoidance.secondAttempt !== undefined) {
<ion-col size="25" class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col size="25" class="ion-no-padding">
              <div class="black-text">2nd: </div>
            </ion-col>
            <ion-col class="ion-no-padding">
              <div>
                <ng-container *ngTemplateOutlet="SpeedFormat; context: {speed: avoidance.secondAttempt}"></ng-container>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
}

        <ion-col size="4" class="ion-no-padding ion-align-self-start">
          <div class="counter-icon icon-centre">
            @if (!avoidance.outcome) {
<img
                   
                    src="assets/imgs/greenCorrectAnswer.png"
                    alt="Speed Met"
                    class="tick-icon"
            />
}
            @if (avoidance.outcome) {
<img
                   
                    src="assets/imgs/redWrongAnswer.png"
                    alt="Speed Not Met"
                    class="cross-icon"
            />
}
          </div>
        </ion-col>

        <ion-col size="11" class="ion-no-padding">
          @if (!avoidance.outcome) {
<div class="counter-label black-text ion-nowrap">
            {{ 'debrief.speedRequirementMet' | translate }}
          </div>
}
          @if (avoidance.outcome) {
<div class="counter-label black-text ion-nowrap">
            {{ 'debrief.speedRequirementNotMet' | translate }}
          </div>
}
        </ion-col>

      </ion-row>
}
      <ion-row class="spacing-row"></ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
}

<ng-template #SpeedFormat let-speed="speed">
  @if (speed != 0) {

    <span class="black-text">{{speed}}km/h</span>
  
} @else {
#Aborted;|
}
</ng-template>

<ng-template #Aborted>
  {{ 'debrief.speedRequirementAborted' | translate }}
</ng-template>
