<ion-header>
  <practice-mode-banner *ngIf="isEndToEndPracticeMode"></practice-mode-banner>
  <ion-toolbar [ngClass]="{'toolbar-no-padding': isEndToEndPracticeMode}" mode="ios">
    <ion-title id="waiting-room-to-car-page-title">{{pageState.candidateName$ | async}}</ion-title>
    <ion-buttons id="wrtc-back-button" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons id="end-test-button" slot="end">
      <end-test-link
        [category]="pageState.category$ | async"
        [isDelegated]="pageState.delegatedTest$ | async"
        [isPracticeMode]="isPracticeMode"
        [shouldAuthenticate]="false">
      </end-test-link>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content force-overscroll="false">
  <div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <ion-grid>
        <ion-row class="ion-no-padding" id="post-eyesight-form-content">
          <ion-col class="ion-no-padding">

            <candidate-declaration-signed
              (candidateDeclarationChange)="candidateDeclarationOutcomeChanged($event)"
              *ngIf="pageState.delegatedTest$ | async"
              [candidateSigned]="pageState.candidateDeclarationSigned$ | async"
              [declarationSelected]="(pageState.insuranceDeclarationAccepted$ | async) && (pageState.residencyDeclarationAccepted$ | async)"
              [formGroup]="form">
            </candidate-declaration-signed>

            <vehicle-registration
              (vehicleRegistrationBlur)="getMOTStatus()"
              (vehicleRegistrationChange)="vehicleRegistrationChanged($event)"
              [formGroup]="form"
              [vehicleRegistration]="pageState.registrationNumber$ | async">
            </vehicle-registration>

            <test-category [testCategory]="pageState.category$ | async"></test-category>

            <vehicle-checks-vocational
              (onCloseVehicleChecksModal)="closeVehicleChecksModal()"
              *ngIf="!(pageState.delegatedTest$ | async)"
              [category]="pageState.category$ | async"
              [formGroup]="form"
              [fullLicenceHeld]="pageState.fullLicenceHeld$ | async"
              [vehicleChecksScore]="pageState.vehicleChecksScore$ | async"
              [vehicleChecks]="pageState.vehicleChecks$ | async"
              [submitClicked]="submitClicked">
            </vehicle-checks-vocational>

            <full-licence-held-toggle
              (fullLicenceHeldChange)="fullLicenceHeldChange($event)"
              *ngIf="(pageState.delegatedTest$ | async) && showFullLicenceHeld()"
              [formGroup]="form"
              [fullLicenceHeld]="pageState.fullLicenceHeldSelection$ | async"
              [required]="true"
              [testCategory]="testCategory">
            </full-licence-held-toggle>

            <vehicle-checks-completed
              (vehicleChecksCompletedOutcomeChange)="vehicleChecksCompletedOutcomeChanged($event)"
              (vehicleChecksDrivingFaultsNumberChange)="vehicleChecksDrivingFaultsNumberChanged($event)"
              *ngIf="pageState.delegatedTest$ | async"
              [formGroup]="form"
              [testCategory]="pageState.category$ | async"
              [vehicleChecksCompleted]="pageState.vehicleChecksCompleted$ | async">
            </vehicle-checks-completed>

            <accompaniment-card
              (instructorAccompanimentChange)="instructorAccompanimentToggled()"
              (interpreterAccompanimentChange)="interpreterAccompanimentToggled()"
              (otherAccompanimentChange)="otherAccompanimentToggled()"
              (supervisorAccompanimentChange)="supervisorAccompanimentToggled()"
              [formGroup]="form"
              [instructorAccompaniment]="pageState.instructorAccompaniment$ | async"
              [interpreterAccompaniment]="pageState.interpreterAccompaniment$ | async"
              [otherAccompaniment]="pageState.otherAccompaniment$ | async"
              [supervisorAccompaniment]="pageState.supervisorAccompaniment$ | async">
            </accompaniment-card>
          </ion-col>
        </ion-row>

        <div *ngIf="!(pageState.delegatedTest$ | async)">
          <warning-banner class="banner-space" warningText="Is cab locked down? (if applicable)"></warning-banner>
          <warning-banner warningText="Is load secure? (if applicable)"></warning-banner>
        </div>
      </ion-grid>
    </form>
  </div>
</ion-content>

<ion-footer>
  <ion-row class="mes-full-width-card box-shadow">
    <ion-col *ngIf="!isDelegated" class="ion-text-center" size="45">
      <ion-button
        (click)="onViewTestCentreJournal()"
        class="mes-grey-button wrtc-footer-btn"
        id="view-test-centre-journal-button" shape="round">
        <ion-text class="des-header-style-3">View test centre journal</ion-text>
      </ion-button>
    </ion-col>
    <ion-col *ngIf="!isDelegated" size="6"></ion-col>
    <ion-col [size]="isDelegated ? 96 : 45" class="ion-text-center">
      <ion-button
        (click)="onSubmit()"
        class="mes-primary-button wrtc-footer-btn"
        id="continue-to-test-report-button" shape="round">
        <ion-text class="des-header-style-3">Continue to test report</ion-text>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
