<ion-header>
  @if (isEndToEndPracticeMode) {
<practice-mode-banner></practice-mode-banner>
}
  <ion-toolbar [ngClass]="{'toolbar-no-padding': isEndToEndPracticeMode}" mode="ios">
    <ion-title role="heading" aria-level="1" id="waiting-room-page-title">
      {{ 'waitingRoom.title' | translate }} - {{pageState.candidateUntitledName$ | async}}
    </ion-title>
    <ion-buttons id="waiting-room-back-button" slot="start">
      <ion-back-button [defaultHref]="isEndToEndPracticeMode ? 'FakeJournalPage' : 'JournalPage'"></ion-back-button>
    </ion-buttons>
    <ion-buttons id="end-button" slot="end">
      <end-test-link
        [category]="pageState.testCategory$ | async"
        [isPracticeMode]="isPracticeMode"
      ></end-test-link>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content force-overscroll="false">
  <lock-screen-indicator></lock-screen-indicator>

  <form [formGroup]="formGroup">
    <candidate-section
      (continueClickEvent)="onSubmit()"
      [candidateDriverNumber]="pageState.candidateDriverNumber$ | async"
      [candidateName]="pageState.candidateName$ | async"
      [showVRNButton]="pageState.showVrnBtn$ | async">
    </candidate-section>

    @if (pageState.showManoeuvresPassCertNumber$ | async) {
<manoeuvres-pass-cert
      (manoeuvresPassCertificateNumberChange)="manoeuvresPassCertNumberChanged($event)"
     
      [formGroup]="formGroup"
      [manoeuvresPassCertificateNumber]="pageState.manoeuvresPassCertNumber$ | async">
    </manoeuvres-pass-cert>
}

    @if (pageState.showCbtNumber$ | async) {
<cbt-number
      (cbtNumberChange)="cbtNumberChanged($event)"
     
      [cbtNumber]="pageState.cbtNumber$ | async"
      [formGroup]="formGroup">
    </cbt-number>
}

    <div class="mes-full-width-card-separator"></div>

    <conducted-language
      (englishTextSelect)="dispatchCandidateChoseToProceedInEnglish()"
      (welshTextSelect)="dispatchCandidateChoseToProceedInWelsh()"
      [englishIsSelected]="(pageState.conductedLanguage$ | async) === 'English'"
      [shouldRender]="pageState.welshTest$ | async"
      [welshIsSelected]="(pageState.conductedLanguage$ | async) === 'Cymraeg'">
    </conducted-language>

    <div [ngClass]="{
            'mes-full-width-card-no-padding-top': ((pageState.showManoeuvresPassCertNumber$ | async) || (pageState.showCbtNumber$ | async)),
            'mes-full-width-card': (!(pageState.showManoeuvresPassCertNumber$ | async) && !(pageState.showCbtNumber$ | async))
        }" id="declaration-section">
      <ion-row>
        <ion-col>
          <ion-text class="des-header-style-4"
                    id="waiting-room-declaration-intent">{{ 'waitingRoom.declarationIntent' | translate}}:
          </ion-text>
        </ion-col>
      </ion-row>

      <div class="waiting-room-declarations">
        <insurance-declaration
          (insuranceDeclarationChange)="insuranceDeclarationChanged()"
          [formGroup]="formGroup"
          [selected]="pageState.insuranceDeclarationAccepted$ | async">
        </insurance-declaration>

        @if (pageState.showResidencyDec$ | async) {
<residency-declaration
         
          (residencyDeclarationChange)="residencyDeclarationChanged()"
          [formGroup]="formGroup"
          [selected]="pageState.residencyDeclarationAccepted$ | async">
        </residency-declaration>
}
      </div>

      @if (!(pageState.showResidencyDec$ | async)) {
<div class="signature-area-padding"></div>
}

      <signature
        (signatureCleared)="signatureCleared()"
        (signatureDataChange)="signatureChanged($event)"
        [formGroup]="formGroup"
        [signature]="pageState.signature$ | async">
      </signature>
    </div>
  </form>
</ion-content>
