<ion-header>
  <practice-mode-banner *ngIf="isEndToEndPracticeMode"></practice-mode-banner>
  <ion-toolbar [ngClass]="{'toolbar-no-padding': isEndToEndPracticeMode}" mode="ios">
    <ion-title id="waiting-room-page-title">
      {{ 'waitingRoom.title' | translate }} - {{candidateUntitledName}}
    </ion-title>
    <ion-buttons id="waiting-room-back-button" slot="start">
      <ion-back-button [defaultHref]="isEndToEndPracticeMode ? 'FakeJournalPage' : 'JournalPage'"></ion-back-button>
    </ion-buttons>
    <ion-buttons id="end-button" slot="end">
      <end-test-link
        [category]="testCategory"
        [isPracticeMode]="isPracticeMode"
      ></end-test-link>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content force-overscroll="false">
  <lock-screen-indicator></lock-screen-indicator>

  <form [formGroup]="formGroup">
    <candidate-section
      (continueClickEvent)="onSubmit()"
      [candidateDriverNumber]="candidateDriverNumber"
      [candidateName]="candidateName"
      [showVRNButton]="true">
    </candidate-section>

    <manoeuvres-pass-cert
      *ngIf="showManoeuvresPassCertNumber"
      (manoeuvresPassCertificateNumberChange)="manoeuvresPassCertNumberChanged($event)"
      [formGroup]="formGroup"
      [manoeuvresPassCertificateNumber]="manoeuvresPassCertNumber()">
    </manoeuvres-pass-cert>

    <cbt-number
      *ngIf="showCbtNumber"
      (cbtNumberChange)="cbtNumberChanged($event)"
      [cbtNumber]="cbtNumber()"
      [formGroup]="formGroup">
    </cbt-number>

    <div class="mes-full-width-card-separator"></div>

    <conducted-language
      (englishTextSelect)="dispatchCandidateChoseToProceedInEnglish()"
      (welshTextSelect)="dispatchCandidateChoseToProceedInWelsh()"
      [englishIsSelected]="conductedLanguage() === 'English'"
      [shouldRender]="welshTest()"
      [welshIsSelected]="conductedLanguage() === 'Cymraeg'">
    </conducted-language>

    <div [ngClass]="{
            'mes-full-width-card-no-padding-top': (showManoeuvresPassCertNumber || showCbtNumber),
            'mes-full-width-card': (!showManoeuvresPassCertNumber && !showCbtNumber)
        }" id="declaration-section">
      <ion-row>
        <ion-col>
          <h4 id="waiting-room-declaration-intent">{{ 'waitingRoom.declarationIntent' | translate}}:</h4>
        </ion-col>
      </ion-row>

      <div class="waiting-room-declarations">
        <insurance-declaration
          (insuranceDeclarationChange)="insuranceDeclarationChanged()"
          [formGroup]="formGroup"
          [selected]="insuranceDeclarationAccepted()">
        </insurance-declaration>

        <residency-declaration
          *ngIf="showResidencyDec"
          (residencyDeclarationChange)="residencyDeclarationChanged()"
          [formGroup]="formGroup"
          [selected]="residencyDeclarationAccepted()">
        </residency-declaration>
      </div>

      <div *ngIf="!showResidencyDec" class="signature-area-padding"></div>

      <signature
        (signatureCleared)="signatureCleared()"
        (signatureDataChange)="signatureChanged($event)"
        [formGroup]="formGroup"
        [signature]="signature()">
      </signature>
    </div>
  </form>
</ion-content>
