:host {

  .manoeuvre-competencies-container {
    margin: 40px auto;

    .first-manoeuvre-competency-button {
      margin-bottom: 20px;
    }
  }

  .popover-content {
    padding: 21px;
    border: 0 none var(--mes-white);
    position: relative;
    margin-left: 220px;
  }

  .manoeuvre-competencies-container-column {
    margin-top: 40px;
  }
}
