@if (address) {
<div id="address">
    @if (address.addressLine1) {
<div class="mes-data" id="addressLine1">{{address.addressLine1}}</div>
}
    @if (address.addressLine2) {
<div class="mes-data" id="addressLine2">{{address.addressLine2}}</div>
}
    @if (address.addressLine3) {
<div class="mes-data" id="addressLine3">{{address.addressLine3}}</div>
}
    @if (address.addressLine4) {
<div class="mes-data" id="addressLine4">{{address.addressLine4}}</div>
}
    @if (address.addressLine5) {
<div class="mes-data" id="addressLine5">{{address.addressLine5}}</div>
}
    @if (address.postcode) {
<div class="mes-data" id="postcode">{{address.postcode}}</div>
}
</div>
}
