<ion-row *ngIf="isExitSAMActivated">
  <ion-col class="ion-no-padding">
    <exit-sam-banner
      (escapeSamBannerClicked)="changeExitSAMValue(false)"
      (cancelClicked)="changeExitSAMValue(false)">
    </exit-sam-banner>
  </ion-col>
</ion-row>
<ion-row class="set-header-height">
  <ion-col class="display-flex ion-no-padding ion-justify-content-start" size="21">
    <ion-col class="display-flex ion-align-items-center">
      <ion-buttons>
        <ion-back-button *ngIf="shouldShowBackButton" id="back-button"></ion-back-button>
      </ion-buttons>
    </ion-col>
    <ion-col *ngIf="shouldShowCloseButton">
      <ion-buttons>
        <ion-button id="close-button" (click)="onCloseClicked()">
          <ion-icon class="close-btn" id="close-icon" name="close-outline"></ion-icon>
          <ion-label class="close-btn" id="close-label">Close</ion-label>
        </ion-button>
      </ion-buttons>
    </ion-col>
    <ion-col class="display-flex ion-no-padding" *ngIf="shouldShowEscapeFromSamButton">
      <ion-buttons>
        <exit-sam-button
          class="height-100"
          [isButtonActive]="isExitSAMActivated"
          (escapeSamButtonClicked)="changeExitSAMValue($event)">
        </exit-sam-button>
      </ion-buttons>
    </ion-col>
  </ion-col>
  <ion-col class="ion-no-padding">
    <ion-title id="waiting-room-to-car-page-title">
      <ng-content></ng-content>
    </ion-title>
  </ion-col>
  <ion-col class="display-flex ion-no-padding ion-justify-content-end" size="21">
    <ion-buttons>
      <end-test-link
        *ngIf="shouldShowEndTestLink"
        id="end-test-button-link"
        (endTestLinkClicked)="onEndTestClicked()"
        [category]="testCategory"
        [isDelegated]="isDelegatedRekey"
        [isPracticeMode]="isEndToEndPracticeMode"
        [shouldAuthenticate]="shouldAuthenticateOnTestEnd">
      </end-test-link>
      <ion-button *ngIf="shouldShowGenericEndTest" (click)="onEndTestClicked()" class="end-test-font-size"
                  id="end-test-button">End test
      </ion-button>
    </ion-buttons>
  </ion-col>
</ion-row>
