<ion-header>
  <practice-mode-banner *ngIf="isEndToEndPracticeMode"></practice-mode-banner>
  <ion-toolbar mode="ios" [ngClass]="{'toolbar-no-padding': isEndToEndPracticeMode}">
    <ion-title id="non-pass-page-title">Finalise outcome - {{pageState.candidateName$ | async}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button *ngIf="testCategory === 'ADI3' && !didTestComplete()" id="non-pass-back-button-adi3-terminated"></ion-back-button>
      <ion-back-button *ngIf="testCategory !== 'ADI3' || (testCategory === 'ADI3' && didTestComplete())" id="non-pass-back-button" (click)="navigateToDebrief()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <finalisation-header
    [candidateName]="pageState.candidateName$ | async"
    [candidateDriverNumber]="pageState.candidateDriverNumber$ | async"
    [outcomeText]="pageState.testOutcomeText$ | async"
    [grade]="pageState.testOutcomeGrade$ | async">
  </finalisation-header>

  <form [formGroup]="form">
    <ion-grid>
      <activity-code id="activity-code-card"
                     [formGroup]="form"
                     [activityCodeModel]="pageState.activityCode$ | async"
                     [activityCodeOptions]="activityCodeOptions"
                     [isAdi3]="pageState.showADI3Field$ | async"
                     (activityCodeChange)="activityCodeChanged($event)"
                     [disabled]="(pageState.immediateDanger$ | async) ? true : false">
      </activity-code>

      <div class="ion-no-padding" [hidden]="!(pageState.isTestOutcomeSet$ | async)">

        <d255 *ngIf="showD255()"
              [display]="pageState.displayD255$ | async"
              [d255]="pageState.d255$ | async"
              [eyesightTestFailed]="pageState.eyesightTestFailed$ | async"
              [outcome]="pageState.testOutcome$ | async"
              [formGroup]="form"
              (d255Change)="d255Changed($event)">
        </d255>

        <warning-banner *ngIf="pageState.d255$ | async"
                        warningText="DVLA will not process the result until a D255 is received">
        </warning-banner>

        <language-preferences
          *ngIf="showLanguage()"
          [formGroup]="form"
          [isWelsh]="pageState.isWelshTest$ | async"
          (welshChanged)="isWelshChanged($event)">
        </language-preferences>

        <debrief-witnessed [display]="pageState.displayDebriefWitnessed$ | async"
                           [formGroup]="form"
                           [debriefWitnessed]="pageState.debriefWitnessed$ | async"
                           [outcome]="pageState.testOutcome$ | async"
                           (debriefWitnessedChange)="debriefWitnessedChanged($event)">
        </debrief-witnessed>

        <warning-banner
          *ngIf="pageState.showADIWarning$ | async"
          warningText="Advise PDI to seek further development from an ORDIT trainer">
        </warning-banner>

        <further-development
          [display]="pageState.displayFurtherDevelopment$ | async"
          [formGroup]="form"
          [outcome]="pageState.testOutcome$ | async"
          [furtherDevelopment]="pageState.furtherDevelopment$ | async"
          (furtherDevelopmentChange)="furtherDevelopmentChanged($event)">
        </further-development>

        <div *ngIf="(pageState.displayFurtherDevelopment$ | async) &&
        ((pageState.furtherDevelopment$ | async) !== false)" class="mes-row-separator padding-top-10"></div>

        <reason-given
          [display]="pageState.displayAdviceReasonGiven$ | async"
          [outcome]="pageState.testOutcome$ | async"
          [formGroup]="form"
          [furtherDevelopment]="pageState.furtherDevelopment$ | async"
          [reasonGivenText]="pageState.adviceReason$ | async"
          (adviceReason)="adviceReasonChanged($event)">
        </reason-given>
      </div>
    </ion-grid>
  </form>
</ion-content>

<ion-footer>
  <div id="footer-background">
    <ion-button id="continue-button" class="mes-primary-button continue" (click)="continue()">
      <h3>Continue</h3>
    </ion-button>
  </div>
</ion-footer>
