<ion-header>
  @if (isEndToEndPracticeMode) {
<practice-mode-banner></practice-mode-banner>
}
  <ion-toolbar mode="ios" [ngClass]="{'toolbar-no-padding': isEndToEndPracticeMode}">
    <ion-title role="heading" aria-level="1" id="non-pass-page-title">Finalise outcome - {{pageState.candidateUntitledName$ | async}}</ion-title>
    <ion-buttons slot="start">
      @if (isADI3() && !didTestComplete()) {
<ion-back-button
       
        id="non-pass-back-button-adi3-terminated">
      </ion-back-button>
}
      @if (!isADI3() || (isADI3() && didTestComplete())) {
<ion-back-button
       
        id="non-pass-back-button"
        (click)="navigateToDebrief()">
      </ion-back-button>
}
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <finalisation-header
    [candidateName]="pageState.candidateName$ | async"
    [candidateDriverNumber]="pageState.candidateDriverNumber$ | async"
    [candidatePrnNumber]="pageState.prn$ | async"
    [isStandardsCheck]="pageState.isStandardsCheck$ | async"
    [outcomeText]="pageState.testOutcomeText$ | async"
    [grade]="pageState.testOutcomeGrade$ | async">
  </finalisation-header>

  <form [formGroup]="form">
    <ion-grid>
      <activity-code
        id="activity-code-card"
        [formGroup]="form"
        [activityCodeModel]="pageState.activityCode$ | async"
        [activityCodeOptions]="activityCodeOptions"
        [isAdi3]="pageState.showADI3Field$ | async"
        (activityCodeChange)="activityCodeChanged($event)"
        [disabled]="!!(pageState.immediateDanger$ | async)">
      </activity-code>

      <div class="ion-no-padding" [hidden]="!(pageState.isTestOutcomeSet$ | async)">
        @if (showD255()) {
<d255
         
          [display]="pageState.displayD255$ | async"
          [d255]="pageState.d255$ | async"
          [eyesightTestFailed]="pageState.eyesightTestFailed$ | async"
          [outcome]="pageState.testOutcome$ | async"
          [formGroup]="form"
          (d255Change)="d255Changed($event)">
        </d255>
}

        @if (pageState.d255$ | async) {
<warning-banner
         
          warningText="DVLA will not process the result until a D255 is received.">
        </warning-banner>
}

        @if (showLanguage()) {
<language-preferences
         
          [formGroup]="form"
          [isWelsh]="pageState.isWelshTest$ | async"
          (welshChanged)="isWelshChanged($event)">
        </language-preferences>
}

        <debrief-witnessed
          [display]="pageState.displayDebriefWitnessed$ | async"
          [formGroup]="form"
          [debriefWitnessed]="pageState.debriefWitnessed$ | async"
          [outcome]="pageState.testOutcome$ | async"
          (debriefWitnessedChange)="debriefWitnessedChanged($event)">
        </debrief-witnessed>

        @if (pageState.showADIWarning$ | async) {
<warning-banner
         
          warningText="Advise PDI to seek further development from an ORDIT trainer">
        </warning-banner>
}

        <further-development
          [display]="pageState.displayFurtherDevelopment$ | async"
          [formGroup]="form"
          [outcome]="pageState.testOutcome$ | async"
          [furtherDevelopment]="pageState.furtherDevelopment$ | async"
          (furtherDevelopmentChange)="furtherDevelopmentChanged($event)">
        </further-development>

        @if ((pageState.displayFurtherDevelopment$ | async) && ((pageState.furtherDevelopment$ | async) !== false)) {
<div
         
          class="mes-row-separator padding-top-10">
        </div>
}

        <reason-given
          [display]="pageState.displayAdviceReasonGiven$ | async"
          [outcome]="pageState.testOutcome$ | async"
          [formGroup]="form"
          [furtherDevelopment]="pageState.furtherDevelopment$ | async"
          [reasonGivenText]="pageState.adviceReason$ | async"
          (adviceReason)="adviceReasonChanged($event)">
        </reason-given>

        @if (pageState.isStandardsCheck$ | async) {
<test-start-end-times
         
          [formGroup]="form"
          [startTime]="pageState.testStartTime$ | async"
          [endTime]="pageState.testEndTime$ | async"
          (testStartTimeChange)="testStartTimeChanged($event)"
          (testEndTimeChange)="testEndTimeChanged($event)">
        </test-start-end-times>
}
      </div>
    </ion-grid>
  </form>
</ion-content>

<ion-footer>
  <div id="footer-background">
    <ion-button id="continue-button" class="mes-primary-button continue" (click)="continue()">
      <ion-text class="des-header-style-3">Continue</ion-text>
    </ion-button>
  </div>
</ion-footer>
