:host {
  ion-content {
    --ion-background-color: var(--mes-white);

    ion-select {
      width: 452px;
    }
  }

  ion-footer {
    text-align: center;
    padding: 16px 0;

    .continue {
      min-height: 56px;
      width: 746px;
      margin-top: 11px;
    }
  }
}
