:host {
  .write-up-label {
    color: inherit;
  }

  .mes-rekey-button {
    --background: var(--gds-blue);
    --color: var(--mes-white);
    --box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.5);
  }

  .mes-delegated-button {
    --background: var(--gds-blue);
    --color: var(--mes-white);
    --box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.5);
  }

  .outcome-position {
    .text-zoom-large & {
      position: relative;
      left: -10px;
    }

    .text-zoom-x-large & {
      position: relative;
      left: -15px;
    }
  }

  .activity-alignment {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
