:host {
  .activity-code {
    padding-left: 80px;
  }

  .write-up-label {
    color: inherit;
  }

  .mes-rekey-button {
    --background: var(--gds-blue);
    --color: var(--mes-white);
    --box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.5);
  }

  .outcome-position {
    width: 168px;
  }

  .activity-alignment {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
