:host {

  .outcome-row {
    display: flex;
    justify-content: center;
    min-height: 30px;
  }

  .test-outcome-margin {
    margin-top: 32px;
  }

  .align-position {
    position: relative;
    bottom: 3px;
  }

  .write-up-label {
    color: inherit;
  }

  .extend-width {
    width: 460px;
  }

  .align-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mes-rekey-button {
    --background: var(--gds-blue);
    --color: var(--mes-white);
    --box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.5);
  }

  .outcome-position {
    .text-zoom-large & {
      position: relative;
      left: -10px;
    }

    .text-zoom-x-large & {
      position: relative;
      left: -5px;
    }
  }

  .activity-alignment {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
