@import "src/theme/sass-partials/modal";

:host {
  @extend .modal-alert-wrapper;

  .modal-alert {
    width: 500px;
  }

  .alert-icon {
    font-size: 72px;
  }

  .modal-alert-message {
    margin-bottom: 0;
  }

  .mes-primary-button {
    margin-top: 16px;
    margin-bottom: 24px;
    width: 100%;
    height: 56px;
  }

  .terminate-button {
    color: var(--gds-red);
  }

  .return-button {
    color: var(--gds-black);
  }
}
