<div class="container">
    <ion-grid>
        <ion-row>
            <ion-col size="13" class="ion-padding-vertical">
                <ion-icon class="alert-icon" name="alert-circle"></ion-icon>
            </ion-col>
            <ion-col size="83">
                <p class="privacy-text">
                    {{'communication.privacyNotice' | translate:{
                        drivingOrRiding: isRider ? ('common.riding' | translate) : ('common.driving' | translate)}
                    }}
                </p>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
