.container {
  .alert-icon {
    color: var(--gds-theme-opposite);
    font-size: 35px;
  }
  background-color: var(--mes-theme-main-light);
  border-left: 10px solid var(--gds-theme-opposite);
  margin-top: 30px;


  ion-row {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  ion-icon.alert-icon {
    font-size: 52px;
    color: var(--gds-theme-opposite);
  }

  .privacy-text {
    font-weight: 600;
  }
  .icon-align {
    display: flex;
    align-items: center;
  }
}
