<button clear (click)="navigateToRekeySearch()">
  <ion-card class="rekey-search-card" id="rekey-search-card">
    <div id="card-content-wrapper">
      <ion-grid>
        <ion-row class="icon-row">
          <img
            src="assets/imgs/dashboard/search-rekey.png"
            alt="Search test bookings to rekey"
            class="icon-search-rekey-tests"
            aria-hidden="true"
          />
        </ion-row>
        <ion-row>
          <ion-button id="rekey-search-button" class="mes-neutral-button">
            <ion-text class="des-header-style-3">Rekey DVSA test</ion-text>
          </ion-button>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>
</button>
