<button clear (click)="navigateToRekeySearch()">
  <ion-card class="rekey-search-card">
    <div id="card-content-wrapper">
      <ion-grid>
        <ion-row class="icon-row">
          <img src="assets/imgs/dashboard/search-rekey.png" alt="Search test bookings to rekey" class="icon-search-rekey-tests"/>
        </ion-row>
        <ion-row>
          <button class="mes-neutral-button" ion-button >
            <h3>Search test bookings to rekey</h3>
          </button>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>
</button>