<button clear (click)="navigateToRekeySearch()">
  <ion-card class="rekey-search-card" id="rekey-search-card">
    <div id="card-content-wrapper">
      <ion-grid>
        <ion-row class="icon-row">
          <img src="assets/imgs/dashboard/search-rekey.png" alt="Search test bookings to rekey" class="icon-search-rekey-tests"/>
        </ion-row>
        <ion-row>
          <ion-button id="rekey-search-button" class="mes-neutral-button">
            <h3>Rekey DVSA test</h3>
          </ion-button>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>
</button>
