<ion-row class="mes-component-row mes-row-separator" id="trainer-registration-card" [formGroup]="formGroup">
    <div class="validation-bar" [class.ng-invalid]="invalid"></div>
    <ion-col class="component-label" col-32 align-self-center>
        <label>Trainer PRN (optional)</label>
    </ion-col>
    <ion-col align-self-center padding-left>
        <ion-row class="spacing-row"></ion-row>
        <ion-row>
            <ion-col col-32>
                <input type="text"
                       id="trainer-registration"
                       formControlName="trainerRegistration"
                       [maxLength]="trainerRegistrationNumberValidator.maxLength"
                       (input)="trainerRegistrationChanged($event)">
            </ion-col>
        </ion-row>
        <ion-row class="validation-message-row" align-items-center>
            <div class="validation-text" [class.ng-invalid]="invalid" id="wrtc-trainer-reg-validation-text">
                Enter the trainer registration (max 7 digits)
            </div>
        </ion-row>
    </ion-col>
</ion-row>
