<ion-header>
  <practice-mode-banner practiceJournal="true"></practice-mode-banner>
  <ion-toolbar mode="ios" class="toolbar-no-padding">
    <ion-title aria-level="1" role="heading" id="page-title">Journal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <journal-navigation
    [isSelectedDateToday]="true"
    [selectedDate]="selectedDate">
  </journal-navigation>

  <location location="Example Test Centre"></location>

  <test-slot
    *ngFor="let slot of slots;"
    [slots]="slots"
    [slot]="slot"
    [isPortrait]="orientationMonitorProvider.isPortraitMode$ | async"
    [isPracticeMode]="true"
    [hasSlotChanged]="false">
  </test-slot>
</ion-content>
