<ion-header>
    <practice-mode-banner [practiceJournal]="true"></practice-mode-banner>
    <ion-toolbar mode="ios" class="toolbar-no-padding">
        <ion-title id="page-title">Journal</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="date-navigation">
        <ion-grid>
            <ion-row>
                <ion-col class="col-align">
                    <h1>Today</h1>
                    <h3>{{dateToDisplay}}</h3>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <location location='Example Test Centre'></location>

    <test-slot
            *ngFor="let slot of slots;"
            [slots]="slots"
            [slot]="slot"
            [isPracticeMode]="true"
            [hasSlotChanged]="false">
    </test-slot>
</ion-content>
