.exit-button-text {
  font-size: 18px;
  color: var(--gds-black);
}

.exit-banner-text-row {
  height: 30px;
}

.exit-banner-text {
  font-size: 20px;
  color: var(--mes-white);
}

.exit-button-text-bold {
  font-weight: 600;
}

.status-bar-spacing {
  height: 15px;
}

.exit-banner-toolbar-sizing {
  height: 76px;
  --background: var(--escape-SAM-Purple);
  padding-top: 0;
  padding-bottom: 0;
}

.exit-sam-button {
  background: var(--mes-white);
  border-radius: 100px;
  width: 60%;
  font-size: 18px;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
