.partial-test-card {
  width: 100%;
  padding: 0;
  outline: none;
  border: none;
  background-color: initial;
}
.practice-mode-card {
  background-color: var(--gds-yellow);
  padding: 10px;
  border: 10px solid var(--mes-white);
}

.col-align-right {
  text-align: right;
}

.full-test-button {
  min-width: 330px;
  box-shadow: none;
}

.icon-practice-full {
  margin-left: 20px;
  width: 233px;
  height: 48px;
}

.text-colour {
  color: var(--gds-black);
}
