<ion-button expand="full" id="practice-mode-test-report-button" class="practice-mode-card" (click)="showDrivingFaultModal()">
    <ion-grid
      id="practice-mode-card">
      <ion-row class="practice-row">
        <ion-col class="display-flex ion-align-items-center" size="36">
          <img
            ngSrc="assets/imgs/dashboard/practice-mode.png"
            alt="Practice a test report"
            class="icon-practice-full"
            aria-hidden="true"
            height="96" width="466"/>
        </ion-col>
        <ion-col size="51" class="col-align-right">
          <div class="mes-neutral-button full-test-button">
            <ion-text class="des-header-style-3 button-text">Practice a CAT B test report</ion-text>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-button>
