button[clear] {
  width: 100%;
  padding: 0px;
  background-color: initial;
  &.activated {
    .practice-mode-card {
      background: var(--gds-yellow-darken-15);
    }
  }
}
.practice-mode-card {
  background-color: var(--gds-yellow);
  padding: 10px;
  border: 10px solid var(--mes-white);
}

.button-col {
  text-align: right;
  @media (orientation: landscape) {
    text-align: center;
  }
  button {
    min-width: 350px;
    &.mes-neutral-button {
      box-shadow: none;
    }
    &.activated {
      background: var(--mes-white-darken-15);
    }
  }
}

ion-card img.icon-practice-test {
  margin-left: 20px;
  width: 233px;
  height: 48px;
}
