<ion-row class="ion-padding-top">
  <ion-col size="70">
    <ion-text class="mes-data">
      Displaying <strong>{{ testCount }}</strong> Category <strong>{{ currentCategory }}</strong>
      test<ng-container *ngIf="testCount > 1">s</ng-container>, from
      <strong>{{ startDateFilter }}</strong> to
      <strong>{{ endDateFilter }}</strong> at
      <strong>{{ centreName }}</strong>
    </ion-text>
  </ion-col>
  <ion-col size="26" class="display-flex ion-align-items-center ion-justify-content-end">
    <ion-button id="examiner-records-learn-more-btn-header"
                class="mes-grey-button width-90-percent"
                (click)="onShowLearnMoreModal()">
      <ion-text class="mes-data">Learn more</ion-text>
    </ion-button>
  </ion-col>
</ion-row>
