<ion-card id="ETA" *ngIf="hasPhysicalEta || hasVerbalEta">
  <ion-card-content>
    <ion-grid>
      <ion-row class="mes-data ion-align-items-start">
        <ion-col size="3"></ion-col>
        <ion-col size="34">
          <ion-text class="des-header-style-4 fault-heading">{{ 'debrief.etaHeader' | translate }}</ion-text>
        </ion-col>
        <ion-col class="down-padding ion-align-self-start">
          <span id="etaFaultsPhysical" class="hasPhysicalEta" *ngIf="hasPhysicalEta && !hasVerbalEta">{{ 'debrief.etaPhysical'
            | translate }}</span>
          <span id="etaFaultsVerbal" class="hasVerbalEta" *ngIf="!hasPhysicalEta && hasVerbalEta">{{ 'debrief.etaVerbal' |
            translate }}</span>
          <span id="etaFaultsBoth" class="hasVerbalAndPhysicalEta" *ngIf="hasPhysicalEta && hasVerbalEta">{{
            'debrief.etaBoth' | translate }}</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
