@if (hasPhysicalEta || hasVerbalEta) {
  <ion-card id="ETA">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="32">
            <ion-text id="eta-text" addOrRemoveLangCy class="des-header-style-4">
            {{ 'debrief.etaHeader' | translate }}
            </ion-text
            >
          </ion-col>
          <ion-col class="down-padding ion-align-self-start">
            @if (hasPhysicalEta && !hasVerbalEta) {
              <ion-text addOrRemoveLangCy id="etaFaultsPhysical" class="hasPhysicalEta">
              {{ 'debrief.etaPhysical' | translate }}
              </ion-text>
            }
            @if (!hasPhysicalEta && hasVerbalEta) {
              <ion-text addOrRemoveLangCy id="etaFaultsVerbal" class="hasVerbalEta">
              {{ 'debrief.etaVerbal' | translate }}
              </ion-text>
            }
            @if (hasPhysicalEta && hasVerbalEta) {
              <ion-text
                addOrRemoveLangCy
                id="etaFaultsBoth"
                class="hasVerbalAndPhysicalEta">
              {{ 'debrief.etaBoth' | translate }}
              </ion-text>
            }
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
}
