<ion-row class="mes-validated-row mes-row-separator" id="vehicle-checks" [formGroup]="formGroup">
    <div class="validation-bar" [class.ng-invalid]="invalid"></div>
    <ion-col size="32" class="component-label ion-align-self-center">
        <label id="vehicle-check-vehicle-checks-label">Vehicle checks</label>
    </ion-col>
    <ion-col class="ion-padding-start ion-align-self-center">
        <ion-row class="spacing-row"></ion-row>
        <ion-row>
            @if (!everyQuestionHasOutcome()) {
<ion-col size="48">
                <ion-button id="vehicle-check-select-questions-btn" class="mes-return-button select-questions-btn"
                            (click)="openVehicleChecksModal()">
                    Select questions
                </ion-button>
            </ion-col>
}
            @if (everyQuestionHasOutcome()) {
<ion-col size="48" class="vehicle-check-score ion-align-self-center">
                @if (!hasDrivingFault() && !hasSeriousFault()) {
<ion-row class="vehicle-checks-result">
                    <tick-indicator class="badge" [ticked]="true"></tick-indicator>
                    <span class="vehicle-checks-result-text" id="vehicle-check-correct-label">Correct</span>
                </ion-row>
}
                @if (hasSeriousFault()) {
<ion-row class="vehicle-checks-result serious-fault-row">
                    <serious-fault-badge class="badge" [showBadge]="true"></serious-fault-badge>
                    <span class="vehicle-checks-result-text" id="vehicle-check-sf-label">serious fault</span>
                </ion-row>
}
                @if (hasDrivingFault()) {
<ion-row class="vehicle-checks-result">
                    <driving-faults-badge
                      class="badge"
                      showOnZero=true
                      [count]="vehicleChecksScore.drivingFaults + (safetyQuestionsScore?.drivingFaults || 0)">
                    </driving-faults-badge>
                    <span class="vehicle-checks-result-text" id="vehicle-check-df-label">driving faults</span>
                </ion-row>
}
            </ion-col>
}
            @if (everyQuestionHasOutcome()) {
<ion-col size="47" class="see-answer-link-container ion-padding-end">
                <ion-button class="mes-link-button see-answer-link" (click)="openVehicleChecksModal()" fill="clear">
                    <span id="vehicle-check-see-answers-label">See answers<ion-icon
                            name="arrow-forward"></ion-icon></span>
                </ion-button>
            </ion-col>
}
        </ion-row>
        <ion-row class="validation-message-row ion-align-items-center">
            <div class="validation-text" [class.ng-invalid]="invalid"
                 id="vehicle-check-please-complete-validation-msg">
                Please complete vehicle checks
            </div>
        </ion-row>
    </ion-col>
</ion-row>
