{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint",
    "rxjs"
  ],
  "extends": [
    "airbnb-typescript/base"
  ],
  "rules": {
    "no-unused-expressions": "error",
    "class-methods-use-this": "off",
    "operator-linebreak": "off",
    "consistent-return": "off",
    "arrow-body-style": "off",
    "no-return-await": "off",
    "spaced-comment": "off",
    "padded-blocks": "off",
    "no-console": "off",
    "import/order": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "quotes": ["error", "single"],
    "indent": ["error", 2],
    "max-len": ["error", { "code": 120 }],
    "rxjs/finnish": "error",
    "rxjs/ban-operators": "error",
    "rxjs/no-unsafe-switchmap": "error"
  }
}