{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint",
    "rxjs"
  ],
  "extends": [
    "airbnb-typescript/base"
  ],
  "rules": {
    "import/no-named-default": "off",
    "@typescript-eslint/object-curly-spacing": "off",
    "@typescript-eslint/no-useless-constructor": "off",
    "no-useless-constructor": "off",
    "no-param-reassign": "off",
    "@typescript-eslint/lines-between-class-members": "off",
    "@typescript-eslint/naming-convention": "off",
    "@typescript-eslint/dot-notation": "off",
    "no-return-assign": "off",
    "implicit-arrow-linebreak": "off",
    "no-unused-expressions": "error",
    "class-methods-use-this": "off",
    "consistent-return": "off",
    "arrow-body-style": "off",
    "padded-blocks": "off",
    "array-callback-return": "off",
    "no-console": "warn",
    "no-confusing-arrow": "off",
    "import/prefer-default-export": "off",
    "quotes": ["error", "single"],
    "no-nested-ternary": "off",
    "max-len": ["error", { "code": 120 }],
    "rxjs/finnish": [
      "error",
      {
        "functions": false,
        "methods": false,
        "parameters": true,
        "properties": true,
        "variables": true
      }
    ],
    "rxjs/ban-operators": "error",
    "rxjs/no-unsafe-switchmap": "error"
  }
}
