# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/
ionic.config.json
.npmrc
.eslintcache

*.log
log.txt
npm-debug.log*
.sentryclirc
sonar-project.properties

/.angular/cache
/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/.history
/.scannerwork
/coverage
/dist
/node_modules
/platforms
/plugins
/www
/src/assets/mock
/build
test/e2e/test.config.ts
test-reports/
e2e-app/

ios/App/App/public
ios/DerivedData

src/environments/environment.ts
src/environments/environment.uat.ts
src/environments/test-schema-version.ts

mock/local-journal.json
mock/local-journal-non-test-activities.json
mock/local-test-centre-journal.json
remotedev-server/
