<ion-header>
  <ion-toolbar mode="ios" class="toolbar-spacing">
    <ion-buttons slot="start" class="toolbar-item-spacing">
      <ion-button id="closeVehicleChecksModalCatC" (click)="onClose()">
        <ion-icon class="close-btn" id="close-icon" name="close-outline"></ion-icon>
        <ion-label class="close-btn" id="close-label">Close</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-title role="heading" aria-level="1" id="vehicle-checks-modal-title" class="ion-text-center toolbar-item-spacing">
      Vehicle checks - {{ pageState.candidateName$ | async }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <full-licence-held-toggle
      *ngIf="showFullLicenceHeld()"
      [fullLicenceHeld]="pageState.fullLicenceHeldSelection$ | async"
      [testCategory]="category"
      [formGroup]="formGroup"
      (fullLicenceHeldChange)="fullLicenceHeldChange($event)">
    </full-licence-held-toggle>
  </ion-card>

  <div *ngIf="pageState.showFullLicenceHeld$ | async">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <h2 class="des-header-style-4" id="vehicle-checks-modal-show-me-label">
            Show me questions
          </h2>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <vehicle-checks-question *ngFor="let question of showMeQuestionsNumberArray; let i = index; let l = last"
                                 [formGroup]="formGroup"
                                 [questionResult]="(pageState.showMeQuestions$ | async)![i]"
                                 [questions]="showMeQuestions"
                                 [questionsToDisable]="pageState.showMeQuestions$ | async"
                                 [isLastQuestion]="l"
                                 (vehicleChecksQuestionChange)="showMeQuestionChanged($event, i)"
                                 (vehicleChecksQuestionOutcomeChange)="showMeQuestionOutcomeChanged($event, i)">
        </vehicle-checks-question>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <h2 class="des-header-style-4" id="vehicle-checks-modal-tell-me-label">
            Tell me questions
          </h2>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <vehicle-checks-question *ngFor="let question of tellMeQuestionsNumberArray; let i = index; let l = last"
                                 [formGroup]="formGroup"
                                 [questionResult]="(pageState.tellMeQuestions$ | async)[i]"
                                 [questions]="tellMeQuestions"
                                 [questionsToDisable]="pageState.tellMeQuestions$ | async"
                                 [isLastQuestion]="l"
                                 (vehicleChecksQuestionChange)="tellMeQuestionChanged($event, i)"
                                 (vehicleChecksQuestionOutcomeChange)="tellMeQuestionOutcomeChanged($event, i)">
        </vehicle-checks-question>
      </ion-card-content>
    </ion-card>
    <warning-banner
      *ngIf="shouldDisplayBanner()"
      warningText="This will result in {{vehicleChecksScore.drivingFaults}} driving faults and {{vehicleChecksScore.seriousFaults}} serious fault">
    </warning-banner>
  </div>
</ion-content>

<ion-footer>
  <ion-row class="mes-full-width-card box-shadow">
    <ion-button class="mes-primary-button" id="submit-vehicle-checks" (click)="onSubmit()">
      <ion-text class="des-header-style-3" id="vehicle-checks-modal-submit-label">Submit vehicle checks</ion-text>
    </ion-button>
  </ion-row>
</ion-footer>
