<button class="e2e-test-card" (click)="navigateToFakeJournal()">
  <ion-card class="practice-mode-card" id="practice-mode-full-card">
    <ion-grid>
      <ion-row>
        <ion-col size="36">
          <img src="assets/imgs/dashboard/practice-mode-full.png" alt="Practice marking a full test report" class="icon-practice-test-full"/>
        </ion-col>
        <ion-col size="58" class="col-align-right">
          <ion-button class="mes-neutral-button full-test-button" id="practice-mode-full-button">
            <ion-text class="des-header-style-3 text-colour">Practice marking a full test</ion-text>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</button>
