<ion-button expand="full" id="practice-mode-full-button" class="practice-mode-card" (click)="navigateToFakeJournal()">
  <ion-grid
    id="practice-mode-card">
    <ion-row class="practice-row">
      <ion-col class="display-flex ion-align-items-center" size="36">
        <img
          ngSrc="assets/imgs/dashboard/practice-mode-full.png"
          alt="Practice marking a full test report"
          class="icon-practice-test-full"
          aria-hidden="true"
          height="48" width="466"/>
      </ion-col>
      <ion-col size="51" class="col-align-right">
        <div class="mes-neutral-button full-test-button">
          <ion-text class="des-header-style-3 button-text">Practice marking a full test</ion-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-button>
