<button clear (click)="navigateToFakeJournal()">
  <ion-card class="practice-mode-card">
    <ion-grid>
      <ion-row>
        <ion-col col-36 col-lg-26 align-self-center>
          <img src="assets/imgs/dashboard/practice-mode-full.png" alt="Practice marking a full test report" class="icon-practice-test-full"/>
        </ion-col>
        <ion-col col-58 col-lg-44 align-self-center class="button-col">
          <button class="mes-neutral-button" ion-button>
            <h3>Practice marking a full test (cat B)</h3>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</button>