<ion-header>
    <practice-mode-banner *ngIf="isEndToEndPracticeMode"></practice-mode-banner>
    <ion-toolbar mode="ios" [ngClass]="{'toolbar-no-padding': isEndToEndPracticeMode}">
        <ion-title>Office</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content forceOverscroll="false">

    <office-candidate-section
            [candidateName]="pageState.candidateName$ | async"
            [driverNumber]="pageState.candidateDriverNumber$ | async"
            [startTime]="pageState.startTime$ | async"
            [testOutcomeText]="pageState.testOutcomeText$ | async">
    </office-candidate-section>

    <form [formGroup]="form">

        <ion-card>
            <ion-card-header>
                <h4>Test summary</h4>
            </ion-card-header>

            <ion-card-content class="card-content-ios no-padding">
                <ion-grid class="grid">
                    <div class="ion-no-padding">
                        <date-of-test
                                *ngIf="(pageState.isRekey$ | async)"
                                [dateOfTest]="pageState.startDate$ | async"
                                (setIsValidStartDateTime)="setIsValidStartDateTime($event)"
                                (dateOfTestChange)="dateOfTestChanged($event)">
                        </date-of-test>

                        <activity-code id="activity-code-card" [formGroup]="form"
                                       [activityCodeModel]="pageState.activityCode$ | async"
                                       [activityCodeOptions]="activityCodeOptions"
                                       (activityCodeChange)="activityCodeChanged($event)"
                                       [disabled]="true">
                        </activity-code>
                    </div>
                    <div class="ion-no-padding" [hidden]="!(pageState.isTestOutcomeSet$ | async)">
                        <route-number [display]="pageState.displayRouteNumber$ | async"
                                      [routeNumber]="pageState.routeNumber$ | async"
                                      [outcome]="pageState.testOutcome$ | async"
                                      (routeNumberChange)="routeNumberChanged($event)" [formGroup]="form">
                        </route-number>

                        <independent-driving [display]="pageState.displayIndependentDriving$ | async" option1="Sat nav"
                                             option1label="Sat Nav" option2="Traffic signs" option2label="Traffic Signs"
                                             [formGroup]="form" [outcome]="pageState.testOutcome$ | async"
                                             [independentDriving]="pageState.independentDriving$ | async"
                                             (independentDrivingChange)="independentDrivingChanged($event)">
                        </independent-driving>

                        <true-likeness *ngIf="pageState.displayCandidateDescription$ | async"
                                       [formGroup]="form"
                                       [trueLikeness]="pageState.trueLikenessToPhoto$ | async"
                                       (trueLikenessChange)="trueLikenessToPhotoChanged($event)">
                        </true-likeness>

                        <candidate-description [display]="pageState.displayCandidateDescription$ | async"
                                               [formGroup]="form"
                                               [candidateDescription]="pageState.candidateDescription$ | async"
                                               [outcome]="pageState.testOutcome$ | async"
                                               [trueLikenessToPhoto]="pageState.trueLikenessToPhoto$ | async"
                                               (candidateDescriptionChange)="candidateDescriptionChanged($event)">
                        </candidate-description>

                        <identification [display]="pageState.displayIdentification$ | async" [formGroup]="form"
                                        [identification]="pageState.identification$ | async"
                                        [outcome]="pageState.testOutcome$ | async"
                                        (identificationChange)="identificationChanged($event)">
                        </identification>

                        <ion-row *ngIf="pageState.displayTellMeQuestion$ | async"
                                 class="mes-validated-row mes-row-separator"
                                 id="tell-me-question-card">
                            <div class="validation-bar"></div>
                            <ion-col class="component-label ion-align-self-center" size="32">
                                <label id="tell-me-question-label">Tell me question</label>
                            </ion-col>
                            <ion-col class="ion-align-self-center ion-padding-start">
                                <ion-row class="spacing-row"></ion-row>
                                <ion-row>
                                    <ion-col size="64" class="mes-data"
                                             id="tell-me-question-text">{{pageState.tellMeQuestionText$ | async}}
                                    </ion-col>
                                </ion-row>
                                <ion-row class="spacing-row"></ion-row>
                            </ion-col>
                        </ion-row>

                        <show-me-question [display]="pageState.displayShowMeQuestion$ | async" [formGroup]="form"
                                          [showMeQuestion]="pageState.showMeQuestion$ | async"
                                          [outcome]="pageState.testOutcome$ | async"
                                          [showMeQuestionOptions]="pageState.showMeQuestionOptions$ | async"
                                          (showMeQuestionChange)="showMeQuestionChanged($event)">
                        </show-me-question>

                        <weather-conditions [display]="pageState.displayWeatherConditions$ | async"
                                            [weatherConditions]="pageState.weatherConditions$ | async"
                                            [formGroup]="form" [outcome]="pageState.testOutcome$ | async"
                                            [weatherConditionsOptions]="weatherConditions"
                                            (weatherConditionsChange)="weatherConditionsChanged($event)">
                        </weather-conditions>

                        <additional-information [display]="pageState.displayAdditionalInformation$ | async"
                                                [additionalInformation]="pageState.additionalInformation$ | async"
                                                [formGroup]="form" [outcome]="pageState.testOutcome$ | async"
                                                (additionalInformationChange)="additionalInformationChanged($event)"></additional-information>

                    </div>
                </ion-grid>
            </ion-card-content>
        </ion-card>

        <div class="ion-no-padding" [hidden]="!(pageState.isTestOutcomeSet$ | async)">
            <ion-card id="ETA" *ngIf="(pageState.etaFaults$ | async) && (pageState.displayEta$ | async)">
                <ion-card-content>
                    <ion-grid>
                        <ion-row class="ion-align-items-start mes-data">
                            <ion-col size="32">
                                <h4 class="fault-heading">ETA</h4>
                            </ion-col>
                            <ion-col class="ion-padding-start ion-align-self-start">
                                <div id="etaFaults">{{pageState.etaFaults$ | async}}</div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>

            <ion-card id="eco" *ngIf="(pageState.ecoFaults$ | async) && (pageState.displayEco$ | async)">
                <ion-card-content>
                    <ion-grid>
                        <ion-row class="ion-align-items-start mes-data">
                            <ion-col size="32">
                                <h4 class="fault-heading">ECO</h4>
                            </ion-col>
                            <ion-col class="ion-align-self-start ion-padding-start">
                                <div id="ecoFaults">{{pageState.ecoFaults$ | async}}</div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>

            <fault-comment-card id="dangerous-fault-comment-card" [formGroup]="form" [faultComments]="pageState.dangerousFaults$ | async"
                                [shouldRender]="(pageState.dangerousFaults$ | async).length > 0 && pageState.displayDangerousFault$ | async"
                                [outcome]="pageState.testOutcome$ | async" faultType="dangerous"
                                header="Dangerous faults"
                                (faultCommentsChange)="dangerousFaultCommentChanged($event)">
            </fault-comment-card>

            <fault-comment-card id="serious-fault-comment-card" [formGroup]="form" [faultComments]="pageState.seriousFaults$ | async"
                                [shouldRender]="(pageState.seriousFaults$ | async).length > 0  && pageState.displaySeriousFault$ | async"
                                [outcome]="pageState.testOutcome$ | async" faultType="serious" header="Serious faults"
                                (faultCommentsChange)="seriousFaultCommentChanged($event)">
            </fault-comment-card>

            <fault-comment-card id="driving-fault-comment-card" [formGroup]="form"
                                [faultComments]="pageState.drivingFaults$ | async"
                                [shouldRender]="(pageState.displayDrivingFaultComments$ | async) && pageState.displayDrivingFault$ | async"
                                [outcome]="pageState.testOutcome$ | async" faultType="driving" header="Driving faults"
                                [faultCount]="pageState.drivingFaultCount$ | async"
                                (faultCommentsChange)="drivingFaultCommentChanged($event)">
            </fault-comment-card>

            <ion-card id="driving-fault-no-commentary"
                      *ngIf="!(pageState.displayDrivingFaultComments$ | async) && (pageState.drivingFaultCount$ | async) > 0 && pageState.displayDrivingFault$ | async">
                <ion-card-header>
                    <h4 id="driving-faults-summary-header">Driving faults</h4>
                </ion-card-header>
                <ion-card-content>
                    <ion-row class="driving-fault-no-commentary-row" id="driving-fault-commentary-label"
                             *ngFor="let drivingFault of (pageState.drivingFaults$ | async)">
                        <ion-col class="fault-badge ion-align-self-center" size="4">
                            <div class="counter-icon">
                                <driving-faults-badge class="counter driving-faults"
                                                      [competencyDisplayName]="drivingFault.competencyDisplayName"
                                                      [count]="drivingFault.faultCount">
                                </driving-faults-badge>
                            </div>
                        </ion-col>
                        <ion-col class="component-label ion-align-self-center">
                            <label class="fault-label" id="driving-faults-label-{{drivingFault.competencyDisplayName}}">{{drivingFault.competencyDisplayName}}</label>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>
        </div>
    </form>
</ion-content>

<ion-footer>
    <ion-row class="mes-full-width-card box-shadow">
        <ion-col *ngIf="!(pageState.isRekey$ | async)" class="ion-no-padding ion-text-left">
            <ion-button id="office-save-button" class="mes-grey-button office-button" (click)="defer()">
                <h3>Save and continue later</h3>
            </ion-button>
        </ion-col>
        <ion-col *ngIf="!(pageState.isRekey$ | async)" class="ion-no-padding ion-text-end">
            <ion-button id="office-complete-button" class="mes-primary-button office-button" (click)="onSubmit()">
                <h3>Mark as complete</h3>
            </ion-button>
        </ion-col>
        <ion-col *ngIf="(pageState.isRekey$ | async)">
            <ion-button id="reason-for-rekey" class="mes-primary-button padding-x-5 full-width"
                        (click)="goToReasonForRekey()" [disabled]="!isValidStartDateTime">
                <h3>Continue</h3>
            </ion-button>
        </ion-col>
    </ion-row>
</ion-footer>
