<ion-card class="personal-commitment personal-commitment-card">
  <ion-row *ngFor="let commitment of personalCommitments; let i = index;" class="slot-row">
    <ion-col class="time-column">
      <div>
        <time
          [testComplete]="false"
          [time]="transformSlotTime(slot.slotDetail.start, i)"
          id="personal-commitment-time">
        </time>
      </div>
    </ion-col>
    <ion-col class="title-column">
      <header-component
        class="title"
        [id]="'personal-commitment-title'"
        [headerNum]="3">
        {{ commitment.activityDescription }}
      </header-component>
    </ion-col>
    <ion-col class="activity-code-column">
      <header-component
        class="activity-code ion-float-right"
        [id]="'activity-code'"
        [headerNum]="2">
        {{ formatActivityCode(commitment.activityCode) }}
      </header-component>
    </ion-col>
  </ion-row>
</ion-card>
