@import "src/theme/sass-partials/modal";

:host {
  ion-card {
    min-height: 365px;
  }
  .message-wrapper {
    min-height: 308px;
  }
  @extend .modal-alert-wrapper;

  .modal-alert {
    width: 400px;
  }

  .modal-icon {
    min-height: 152px;
  }

  .modal-message {
    min-height: 156px;
  }

  .warning-icon {
    margin: 40px 0 16px;
    font-size: 96px;
    color: black;
  }

  .modal-alert-header {
    margin: 0 0 36px;
  }

  .cancel-button {
    color: var(--gds-black);
  }

  .exit-rekey-button {
    color: var(--gds-red);
  }

  .modal-alert-message {
    margin-bottom: 24px;
  }

}
