<ion-row
  [formGroup]="formGroup"
  [class.teal-background]="shouldShowConfirmation()"
  class="mes-validated-row mes-row-separator mes-narrow-row"
  id="transmission-card">
  <div class="validation-bar" [class.ng-invalid]="isTransmissionInvalid()"></div>
  <ion-col
    class="component-label"
    [class.ion-align-self-center]="!shouldShowConfirmationSettings"
    [class.top-padding]="shouldShowConfirmationSettings"
    size="32">
    @if (shouldShowEditBoxOptions()) {
      <label id="licence-to-be-issued-title">Licence to be issued</label>
    } @else {
      <label id="transmission-title" [hidden]="hideTransmissionLabel">Transmission</label>
      <label id="confirm-transmission-title" [hidden]="hideConfirmTransmissionLabel">Confirm transmission</label>
    }
  </ion-col>
  @if (shouldShowEditBoxOptions()) {
    <ion-col class="ion-align-self-center no-padding-top ion-padding-start">
      <ion-row class="component-static-text-padding">
        <ion-col class="display-flex align-items-center">
          <ion-text class="mes-data">Automatic
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="13">
          <ion-icon id="learn-more-modal-alert-icon" class="warning-icon" ios="alert"
                    aria-label="Alert icon"></ion-icon>
        </ion-col>
        <ion-col class="display-flex align-items-center">
          <ion-text class="mes-data">An automatic licence will be issued
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="40">
          <ion-button
            id="transmission-automatic-edit-button"
            class="display-flex mes-grey-button"
            (click)="deactivateEditMode()">
            <ion-text class="mes-data">Edit</ion-text>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  } @else {
    <ion-col class="ion-align-self-center ion-padding-start">
      <ion-row class="spacing-row"></ion-row>
      <ion-row>
        <ion-col class="ion-align-items-center display-flex" size="48">
          <input
            type="radio"
            [id]="'transmission-manual-radio-button'"
            [formControlName]=transmissionFieldName
            [name]=transmissionFieldName
            [ngClass]="style === 1? 'gds-radio-button-1' : 'gds-radio-button-2'"
            [class.ng-invalid]="isTransmissionInvalid()"
            (change)="transmissionChanged($event.target.value)"
            value="Manual"
          />
          <label for="transmission-manual-radio-button" class="radio-label" id="transmission-manual-label">
            Manual
          </label>
        </ion-col>
        <ion-col class="ion-align-items-center display-flex">
          <input
            type="radio"
            [id]="'transmission-automatic-radio-button'"
            [formControlName]=transmissionFieldName
            [name]=transmissionFieldName
            [ngClass]="style === 1? 'gds-radio-button-1' : 'gds-radio-button-2'"
            [class.ng-invalid]="isTransmissionInvalid()"
            (change)="transmissionChanged($event.target.value)"
            value="Automatic"
          />
          <label for="transmission-automatic-radio-button" class="radio-label" id="transmission-automatic-label">
            Automatic
          </label>
        </ion-col>
      </ion-row>
      <ion-row class="validation-message-row ion-align-items-center">
        <div class="validation-text" id="transmission-validation-text"
             [class.ng-invalid]="isTransmissionInvalid() && !isAutomatic()">
          Select the transmission of the vehicle
        </div>
      </ion-row>
      @if (shouldShowConfirmation()) {
        <ion-row>
          <ion-col size="13">
            <ion-icon id="learn-more-modal-alert-icon" class="warning-icon" ios="alert"
                      aria-label="Alert icon"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-text class="mes-data">An automatic licence will be issued upon successful completion of the test if you
              continue with this option
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="left-padding">
          <input
            [formControlName]="autoConfirmFieldName"
            type="checkbox"
            class="gds-checkbox"
            [id]="'automatic-confirm-checkbox'"
            [class.ng-invalid]="isAutoConfirmInvalid()"
            (click)="automaticConfirmChanged($event.target.checked)"
          />
          <label id="automatic-confirm-label" for="automatic-confirm-checkbox">
            <ion-text class="text-spacing mes-data">
              I confirm, the vehicle to be taken on test is an automatic.
            </ion-text>
          </label>
        </ion-row>
        <ion-row class="validation-message-row ion-align-items-center">
          <div class="validation-text" id="transmission-validation-text"
               [class.ng-invalid]="isAutoConfirmInvalid()">
            Please confirm or change your selection
          </div>
        </ion-row>
        <ion-row class="padding-bottom"></ion-row>
      }
    </ion-col>
  }
</ion-row>
