<ion-row class="mes-validated-row mes-row-separator mes-narrow-row" id="transmission-card">
  <div class="validation-bar" [class.ng-invalid]="isInvalid()"></div>
  <ion-col class="component-label ion-align-self-center" size="32">
    <label id="transmission-title" [hidden]="hideTransmissionLabel">Transmission</label>
    <label id="confirm-transmission-title" [hidden]="hideConfirmTransmissionLabel">Confirm transmission</label>
  </ion-col>
  <ion-col class="ion-align-self-center ion-padding-start">
    <ion-row class="spacing-row"></ion-row>
    <ion-row
      class="display-flex direction-column"
      [formGroup]="formGroup">
      <ion-radio-group
        class="display-flex radio-group-width"
        formControlName="transmissionCtrl"
        [value]="formControl.value"
        (ionChange)="transmissionChanged($event.detail.value)">
        <ion-col class="ion-align-items-center display-flex" size="40">
          <ion-radio
            class="gds-refactor-radio"
            [id]="'transmission-manual-'+uniqueId"
            [class.ng-invalid]="isInvalid()"
            labelPlacement="end"
            value="Manual">
            <label class="radio-label" id="transmission-manual-label">
              Manual
            </label>
          </ion-radio>
        </ion-col>
        <ion-col size="16"></ion-col>
        <ion-col>
          <ion-radio
            class="gds-refactor-radio"
            [id]="'transmission-automatic-'+uniqueId"
            [class.ng-invalid]="isInvalid()"
            value="Automatic"
            labelPlacement="end">
            <label class="radio-label" id="transmission-automatic-label">
              Automatic
            </label>
          </ion-radio>
        </ion-col>
      </ion-radio-group>
    </ion-row>
    <ion-row class="validation-message-row ion-align-items-center">
      <div class="validation-text" id="transmission-validation-text" [class.ng-invalid]="isInvalid()">
        Select the transmission of the vehicle
      </div>
    </ion-row>
  </ion-col>
</ion-row>
