.refresh-button-column {
  padding: 0 5px 0 0;
}

.refresh-button {
  --background: var(--gds-black);
  --background-activated: var(--gds-grey-2);
  --background-focused: var(--gds-grey-1);
}

.line-height-styling {
  line-height: 0;
}
