.refresh-button-icon {
  padding: 0 10px;
  font-size: 17px;
}

.line-height-styling {
  line-height: 0;
}

.last-sync {
  color: var(--mes-secondary-header);
  margin-top: -4px;
}

#last-sync {
  color: var(--mes-secondary-header);
  margin-top: -4px;
}
