<ion-row>
  <ion-button
    (click)="refreshClicked()"
    [disabled]="isDisabled"
    class="refresh-button"
    id="refresh-button"
  >
    <div class="line-height-styling">
      <ion-row class="ion-no-padding">
        <ion-col size="25" class="display-flex ion-align-items-center refresh-button-column">
          <ion-icon class="mes-white" name="sync-outline"></ion-icon>
        </ion-col>
        <ion-col size="auto" class="ion-no-padding">
          <span class="mes-white">Refresh</span>
        </ion-col>
      </ion-row>
    </div>
  </ion-button>
</ion-row>

<ion-row class="justify-content-center">
  <ion-label>
    <ion-text class="des-header-style-6 last-sync" id="last-sync">
      Last sync: {{ lastSyncTime }}
    </ion-text>
  </ion-label>
</ion-row>
