<ion-row *ngIf="!hasError" class="row-border-top">
  <ion-col>
    <ion-spinner
      *ngIf="!imageSrc; else showImage;"
      class="driver-photograph-spinner"
      id="driver-photograph-spinner"
      name="bubbles">
    </ion-spinner>

    <ng-template #showImage>
      <ion-row>
        <ion-col>
            <h4 id="Licence-Information-Title">Licence Photograph</h4>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img
            [src]="imageSrc"
            id="driver-photograph-img"
            alt="Candidate photograph from driving licence"
            aria-label="Candidate photograph from driving licence"
            class="driver-photograph"
          >
        </ion-col>
      </ion-row>
    </ng-template>
  </ion-col>
</ion-row>
