@if (!hasError) {
<ion-row class="row-border-top">
  <ion-col>
    @if (!imageSrc) {
<ion-spinner
     
      class="driver-photograph-spinner"
      id="driver-photograph-spinner"
      name="bubbles">
    </ion-spinner>
} @else {
#showImage;|
}

    <ng-template #showImage>
      <ion-row>
        <ion-col>
            <ion-text class="des-header-style-4" id="licence-information-title">Licence Photograph</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img
            [src]="imageSrc"
            id="driver-photograph-img"
            alt="Candidate photograph from driving licence"
            aria-label="Candidate photograph from driving licence"
            class="driver-photograph"
          >
        </ion-col>
      </ion-row>
    </ng-template>
  </ion-col>
</ion-row>
}
