.text-align-center {
  text-align: center;
}
span, label {
  color: inherit !important;
}
.dot {
  height: 25px;
  width: 25px;
  background-color: #ff0000;
  border-radius: 50%;
  display: inline-block;
  &.placeholder {
    background-color: rgba(0, 0, 0, 0);
  }
}
