<ion-row *ngIf="headers">
  <ion-col size="auto" *ngIf="rowIconColors">
    <span class="dot placeholder"></span>
  </ion-col>
  <ion-col class="ion-justify-content-center display-flex" *ngFor="let header of headers">
    <label class="text-align-center">{{header}}</label>
  </ion-col>
</ion-row>
<br>
<ion-row *ngIf="headers" class="mes-row-separator"></ion-row>
<br>
<ng-template *ngIf="croppedRows; then showMore else fullData;"></ng-template>
<ng-template #showMore>
  <ion-row *ngFor="let passedItem of croppedRows.preCrop">
    <ion-col class="ion-justify-content-center display-flex" *ngFor="let data of passedItem">
      <span class="text-align-center mes-data">{{data}}</span>
    </ion-col>
  </ion-row>
  <ion-row class="padding-top-10 display-flex ion-justify-content-center" *ngIf="!showCroppedData">
    <ion-button class="mes-grey-button" (click)="showCroppedData = !showCroppedData">Show more</ion-button>
  </ion-row>
  <div *ngIf="showCroppedData">
    <ion-row *ngFor="let passedItem of croppedRows.postCrop">
      <ion-col class="ion-justify-content-center display-flex" *ngFor="let data of passedItem">
        <span class="text-align-center mes-data">{{data}}</span>
      </ion-col>
    </ion-row>
  </div>
  <ion-row class="padding-top-10 display-flex ion-justify-content-center" *ngIf="showCroppedData">
    <ion-button class="mes-grey-button" (click)="showCroppedData = !showCroppedData">Show less</ion-button>
  </ion-row>
</ng-template>
<ng-template #fullData>
  <ion-row *ngFor="let passedItem of passedData; index as i">
    <ion-col size="auto" *ngIf="rowIconColors">
      <span [style.background-color]="rowIconColors[i]" class="dot"></span>
    </ion-col>
    <ion-col class="ion-justify-content-center display-flex" *ngFor="let data of passedItem">
      <span class="text-align-center mes-data">{{data}}</span>
    </ion-col>
  </ion-row>
</ng-template>
