<ion-text id="current-vrn" class="mes-data">
  {{ getRegistrationText() }}
  <div *ngIf="(previouslySearchedRegNumbers?.length > 0)">
    <br/>
  </div>
</ion-text>
<ion-accordion-group *ngIf="previouslySearchedRegNumbers?.length > 0">
  <ion-accordion
    id="other-vehicles-checked-for-mot"
    [toggleIcon]="'chevron-down'"
    value="first"
  >
    <ion-item slot="header">
      <label>{{ 'Other VRNs checked for MOT' }}</label>
    </ion-item>
    <div class="ion-padding mes-black" slot="content">
      <ion-text *ngFor="let VRN of previouslySearchedRegNumbers; let i = index" [id]="'previously-searched-vrn-'+i">{{ VRN }}<br/></ion-text>
    </div>
  </ion-accordion>
</ion-accordion-group>
