<ion-text id="current-vrn" class="mes-data">
  {{ getRegistrationText() }}
  @if ((previouslySearchedRegNumbers?.length > 0)) {
    <div>
      <br/>
    </div>
  }
</ion-text>
@if (previouslySearchedRegNumbers?.length > 0) {
  <ion-accordion-group>
    <ion-accordion
      id="other-vehicles-checked-for-mot"
      [toggleIcon]="'chevron-down'"
      value="first"
      >
      <ion-item slot="header">
        <label>{{ 'Other VRNs checked for MOT' }}</label>
      </ion-item>
      <div class="ion-padding mes-black" slot="content">
        @for (VRN of previouslySearchedRegNumbers; track VRN; let i = $index) {
          <ion-text [id]="'previously-searched-vrn-'+i">{{ VRN }}<br/></ion-text>
        }
      </div>
    </ion-accordion>
  </ion-accordion-group>
}
