<ion-header>
  @if (isEndToEndPracticeMode) {
<practice-mode-banner></practice-mode-banner>
}
  <ion-toolbar [ngClass]="{'toolbar-no-padding': isEndToEndPracticeMode}" mode="ios">
    <ion-title role="heading" aria-level="1" id="waiting-room-to-car-page-title">{{pageState.candidateName$ | async}}</ion-title>
    <ion-buttons id="wrtc-back-button" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons id="end-test-button" slot="end">
      <end-test-link
        [category]="pageState.category$ | async"
        [isPracticeMode]="isPracticeMode"
        [shouldAuthenticate]="false">
      </end-test-link>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content forceOverscroll="false">
  <div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <ion-grid>
        @if (pageState.showEyesight$ | async) {
<eyesight-test
          (eyesightTestResultChange)="eyesightTestResultChanged($event)"
         
          [eyesightFailRadioChecked]="pageState.eyesightTestFailed$ | async"
          [eyesightPassRadioChecked]="(pageState.eyesightTestComplete$ | async) && !(pageState.eyesightTestFailed$ | async)"
          [formGroup]="form">
        </eyesight-test>
}

        @if (pageState.eyesightTestFailed$ | async) {
<ion-row>
          <eyesight-failure-confirmation
            [cancelFn]="eyesightFailCancelled"
            [nextPageOnFail]="getDebriefPage()">
          </eyesight-failure-confirmation>
        </ion-row>
}

        <ion-row [hidden]="pageState.eyesightTestFailed$ | async" class="ion-no-padding"
                 id="post-eyesight-form-content">
          <ion-col class="ion-no-padding">
            <tell-me-question-card
              (tellMeQuestionChange)="tellMeQuestionChanged($event)"
              (tellMeQuestionOutcomeChange)="tellMeQuestionOutcomeChanged($event)"
              [formGroup]="form"
              [tellMeQuestionOutcome]="pageState.tellMeQuestionOutcome$ | async"
              [tellMeQuestionSelected]="pageState.tellMeQuestionSelected$ | async"
              [tellMeQuestion]="pageState.tellMeQuestion$ | async"
              [tellMeQuestions]="tellMeQuestions">
            </tell-me-question-card>

            <vehicle-registration
              (vehicleRegistrationBlur)="getMOTStatus()"
              (vehicleRegistrationChange)="vehicleRegistrationChanged($event)"
              [formGroup]="form"
              [vehicleRegistration]="pageState.registrationNumber$ | async">
            </vehicle-registration>

            <transmission
              (transmissionChange)="transmissionChanged($event)"
              [formGroup]="form"
              [transmission]="pageState.transmission$ | async">
            </transmission>

            <instructor-registration
              (instructorRegistrationChange)="instructorRegistrationChanged($event)"
              [formGroup]="form"
              [instructorRegistration]="pageState.instructorRegistrationNumber$ | async">
            </instructor-registration>

            <accompaniment-card
              (instructorAccompanimentChange)="instructorAccompanimentToggled()"
              (interpreterAccompanimentChange)="interpreterAccompanimentToggled()"
              (otherAccompanimentChange)="otherAccompanimentToggled()"
              (supervisorAccompanimentChange)="supervisorAccompanimentToggled()"
              [formGroup]="form"
              [instructorAccompaniment]="pageState.instructorAccompaniment$ | async"
              [interpreterAccompaniment]="pageState.interpreterAccompaniment$ | async"
              [otherAccompaniment]="pageState.otherAccompaniment$ | async"
              [supervisorAccompaniment]="pageState.supervisorAccompaniment$ | async">
            </accompaniment-card>

            <vehicle-details-card
              (dualVehicleDetailsChange)="dualControlsToggled()"
              (schoolVehicleDetailsChange)="schoolCarToggled()"
              [dualVehicleDetails]="pageState.dualControls$ | async"
              [formGroup]="form"
              [schoolVehicleDetails]="pageState.schoolCar$ | async">
            </vehicle-details-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>

<ion-footer>
  <ion-row [hidden]="pageState.eyesightTestFailed$ | async" class="mes-full-width-card box-shadow">
    <ion-col class="ion-text-center" size="45">
      <ion-button
        (click)="onViewTestCentreJournal()"
        class="mes-grey-button wrtc-footer-btn"
        id="view-test-centre-journal-button" shape="round">
        <ion-text class="des-header-style-3">View test centre journal</ion-text>
      </ion-button>
    </ion-col>
    <ion-col size="6"></ion-col>
    <ion-col class="ion-text-center" size="45">
      <ion-button
        (click)="onSubmit()"
        class="mes-primary-button wrtc-footer-btn"
        id="continue-to-test-report-button" shape="round">
        <ion-text class="des-header-style-3">Continue to test report</ion-text>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
