<ion-header>
  <practice-mode-banner *ngIf="isEndToEndPracticeMode"></practice-mode-banner>
  <ion-toolbar [ngClass]="{'toolbar-no-padding': isEndToEndPracticeMode}" mode="ios">
    <ion-title id="waiting-room-to-car-page-title">{{candidateName}}</ion-title>
    <ion-buttons id="wrtc-back-button" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons id="end-test-button" slot="end">
      <end-test-link
        [category]="testCategory"
        [isPracticeMode]="isPracticeMode"
        [shouldAuthenticate]="false">
      </end-test-link>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content forceOverscroll="false">
  <div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <ion-grid>
        <eyesight-test
          *ngIf="showEyesight"
          (eyesightTestResultChange)="eyesightTestResultChanged($event)"
          [eyesightFailRadioChecked]="eyesightTestFailed"
          [eyesightPassRadioChecked]="eyesightTestComplete && !eyesightTestFailed"
          [formGroup]="form">
        </eyesight-test>

        <ion-row *ngIf="eyesightTestFailed">
          <eyesight-failure-confirmation
            [cancelFn]="eyesightFailCancelled"
            [nextPageOnFail]="getDebriefPage()">
          </eyesight-failure-confirmation>
        </ion-row>

        <ion-row [hidden]="eyesightTestFailed" class="ion-no-padding"
                 id="post-eyesight-form-content">
          <ion-col class="ion-no-padding">
            <tell-me-question-card
              (tellMeQuestionChange)="tellMeQuestionChanged($event)"
              (tellMeQuestionOutcomeChange)="tellMeQuestionOutcomeChanged($event)"
              [formGroup]="form"
              [tellMeQuestionOutcome]="tellMeQuestionOutcome"
              [tellMeQuestionSelected]="tellMeQuestionSelected"
              [tellMeQuestion]="tellMeQuestion"
              [tellMeQuestions]="tellMeQuestions">
            </tell-me-question-card>

            <vehicle-registration
              (vehicleRegistrationBlur)="getMOTStatus()"
              (vehicleRegistrationChange)="vehicleRegistrationChanged($event)"
              [formGroup]="form"
              [vehicleRegistration]="registrationNumber">
            </vehicle-registration>

            <transmission
              (transmissionChange)="transmissionChanged($event)"
              [formGroup]="form"
              [transmission]="transmission">
            </transmission>

            <instructor-registration
              (instructorRegistrationChange)="instructorRegistrationChanged($event)"
              [formGroup]="form"
              [instructorRegistration]="instructorRegistrationNumber">
            </instructor-registration>

            <accompaniment-card
              (instructorAccompanimentChange)="instructorAccompanimentToggled()"
              (interpreterAccompanimentChange)="interpreterAccompanimentToggled()"
              (otherAccompanimentChange)="otherAccompanimentToggled()"
              (supervisorAccompanimentChange)="supervisorAccompanimentToggled()"
              [formGroup]="form"
              [instructorAccompaniment]="instructorAccompaniment"
              [interpreterAccompaniment]="interpreterAccompaniment"
              [otherAccompaniment]="otherAccompaniment"
              [supervisorAccompaniment]="supervisorAccompaniment">
            </accompaniment-card>

            <vehicle-details-card
              (dualVehicleDetailsChange)="dualControlsToggled()"
              (schoolVehicleDetailsChange)="schoolCarToggled()"
              [dualVehicleDetails]="dualControls"
              [formGroup]="form"
              [schoolVehicleDetails]="schoolCar">
            </vehicle-details-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>

<ion-footer>
  <ion-row [hidden]="eyesightTestFailed" class="mes-full-width-card box-shadow">
    <ion-col class="ion-text-center" size="45">
      <ion-button
        (click)="onViewTestCentreJournal()"
        class="mes-grey-button wrtc-footer-btn"
        id="view-test-centre-journal-button" shape="round">
        <h3>View test centre journal</h3>
      </ion-button>
    </ion-col>
    <ion-col size="6"></ion-col>
    <ion-col class="ion-text-center" size="45">
      <ion-button
        (click)="onSubmit()"
        class="mes-primary-button wrtc-footer-btn"
        id="continue-to-test-report-button" shape="round">
        <h3>Continue to test report</h3>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
