<ion-header>
    <practice-mode-banner *ngIf="isEndToEndPracticeMode"></practice-mode-banner>
    <ion-toolbar mode="ios" [ngClass]="{'toolbar-no-padding': isEndToEndPracticeMode}">
        <ion-title id="waiting-room-to-car-page-title">{{pageState.candidateName$ | async}}</ion-title>
        <ion-buttons id="wrtc-back-button" slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons id="end-test-button" slot="end">
            <end-test-link [shouldAuthenticate]="false" [category]="pageState.category$ | async"></end-test-link>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content forceOverscroll="false">
    <div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <ion-grid>
                <eyesight-test [formGroup]="form"
                               *ngIf="pageState.showEyesight$ | async"
                               [eyesightPassRadioChecked]="(pageState.eyesightTestComplete$ | async) && !(pageState.eyesightTestFailed$ | async)"
                               [eyesightFailRadioChecked]="pageState.eyesightTestFailed$ | async"
                               (eyesightTestResultChange)="eyesightTestResultChanged($event)">
                </eyesight-test>

                <ion-row *ngIf="pageState.eyesightTestFailed$ | async">
                    <eyesight-failure-confirmation [nextPageOnFail]="getDebriefPage()"
                                                   [cancelFn]="eyesightFailCancelled">
                    </eyesight-failure-confirmation>
                </ion-row>

                <ion-row class="ion-no-padding" [hidden]="pageState.eyesightTestFailed$ | async"
                         id="post-eyesight-form-content">
                    <ion-col class="ion-no-padding">
                        <tell-me-question-card [formGroup]="form"
                                               [tellMeQuestion]="pageState.tellMeQuestion$ | async"
                                               [tellMeQuestions]="tellMeQuestions"
                                               [tellMeQuestionOutcome]="pageState.tellMeQuestionOutcome$ | async"
                                               [tellMeQuestionSelected]="pageState.tellMeQuestionSelected$ | async"
                                               (tellMeQuestionChange)="tellMeQuestionChanged($event)"
                                               (tellMeQuestionOutcomeChange)="tellMeQuestionOutcomeChanged($event)">
                        </tell-me-question-card>

                        <vehicle-registration [formGroup]="form"
                                              [vehicleRegistration]="pageState.registrationNumber$ | async"
                                              (vehicleRegistrationChange)="vehicleRegistrationChanged($event)"
                                              (motStatusChange)="motStatusChanged($event)">
                        </vehicle-registration>

                        <transmission [formGroup]="form"
                                      [transmission]="pageState.transmission$ | async"
                                      (transmissionChange)="transmissionChanged($event)">
                        </transmission>

                        <instructor-registration [formGroup]="form"
                                                 [instructorRegistration]="pageState.instructorRegistrationNumber$ | async"
                                                 (instructorRegistrationChange)="instructorRegistrationChanged($event)">
                        </instructor-registration>

                        <accompaniment-card [formGroup]="form"
                                            [instructorAccompaniment]="pageState.instructorAccompaniment$ | async"
                                            [supervisorAccompaniment]="pageState.supervisorAccompaniment$ | async"
                                            [otherAccompaniment]="pageState.otherAccompaniment$ | async"
                                            [interpreterAccompaniment]="pageState.interpreterAccompaniment$ | async"
                                            (instructorAccompanimentChange)="instructorAccompanimentToggled()"
                                            (supervisorAccompanimentChange)="supervisorAccompanimentToggled()"
                                            (otherAccompanimentChange)="otherAccompanimentToggled()"
                                            (interpreterAccompanimentChange)="interpreterAccompanimentToggled()">
                        </accompaniment-card>

                        <vehicle-details-card [formGroup]="form"
                                              [schoolVehicleDetails]="pageState.schoolCar$ | async"
                                              [dualVehicleDetails]="pageState.dualControls$ | async"
                                              (schoolVehicleDetailsChange)="schoolCarToggled()"
                                              (dualVehicleDetailsChange)="dualControlsToggled()">
                        </vehicle-details-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </div>
</ion-content>
<ion-footer>
    <ion-row class="mes-full-width-card box-shadow" [hidden]="pageState.eyesightTestFailed$ | async">
        <ion-col size="45" class="ion-text-center">
            <ion-button
                    shape="round"
                    class="mes-grey-button wrtc-footer-btn"
                    id="view-test-centre-journal-button" (click)="onViewTestCentreJournal()">
                <h3>View test centre journal</h3>
            </ion-button>
        </ion-col>
        <ion-col size="6"></ion-col>
        <ion-col size="45" class="ion-text-center">
            <ion-button
                    shape="round"
                    class="mes-primary-button wrtc-footer-btn"
                    id="continue-to-test-report-button" (click)="onSubmit()">
                <h3>Continue to test report</h3>
            </ion-button>
        </ion-col>
    </ion-row>
</ion-footer>
