@import "src/theme/sass-partials/_typography.scss";

ion-text {
  color: black;
  text-align: inherit;
}

.header1 {
  @extend .heavy-font-family;

  &.text-zoom-regular {
    font-size: 40px;
    line-height: 56px;
  }

  &.text-zoom-large {
    font-size: 48px;
    line-height: 68px;
  }

  &.text-zoom-x-large {
    font-size: 58px;
    line-height: 80px;
  }
}

.header2 {
  @extend .heavy-font-family;

  &.text-zoom-regular {
    font-size: 28px;
    line-height: 40px;
  }

  &.text-zoom-large {
    font-size: 32px;
    line-height: 44px;
  }

  &.text-zoom-x-large {
    font-size: 38px;
    line-height: 48px;
  }
}

.header3 {
  @extend .semibold-font-family;

  &.text-zoom-regular {
    font-size: 20px;
    line-height: 26px;
  }

  &.text-zoom-large {
    font-size: 24px;
    line-height: 30px;
  }

  &.text-zoom-x-large {
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
  }
}

.header4 {
  @extend .heavy-font-family;

  &.text-zoom-regular {
    font-size: 24px;
    line-height: 30px;
  }

  &.text-zoom-large {
    font-size: 28px;
    line-height: 34px;
  }

  &.text-zoom-x-large {
    font-size: 32px;
    line-height: 40px;
  }
}

.header5 {
  @extend .heavy-font-family;

  &.text-zoom-regular {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
  }

  &.text-zoom-large {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
  }

  &.text-zoom-x-large {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
  }
}

.header6 {
  @extend .regular-font-family;

  &.text-zoom-regular {
    font-size: 14px;
    line-height: 20px;
  }

  &.text-zoom-large {
    font-size: 16px;
    line-height: 22px;
  }

  &.text-zoom-x-large {
    font-size: 18px;
    line-height: 24px;
  }
}

.inherit-weight {
  font-weight: inherit;
}
