legal-requirements-modal {
  @extend .modal-alert-wrapper;

  .modal-alert {
    width: 450px;
  }

  .modal-alert-message {
    margin-bottom: 0px;
  }

  .modal-alert-message > ul {
    text-align: left;
    display: inline-block;
    li {
      line-height: 32px;
    }
  }

  .mes-primary-button {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    height: 56px;
  }

  .terminate-button {
    color: map-get($colors-gds, gds-red);
  }

  .return-button {
    color: map-get($colors-gds, gds-black);
  }

}
