<ion-card id="exit-SAM-modal-card" class="modal-alert">
  <ion-row class="ion-justify-content-center">
    <ion-col class="center-items no-padding">
      <ion-text id="logout-title" class="des-header-style-2 header-padding">
        Exit Single App Mode?
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col class="message-container center-items no-padding message-padding">
      <ion-text id="unsubmitted-warning" class="mes-data ion-text-center">
        You are about to be taken to Microsoft Teams and Single App Mode will be disabled.
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col class="message-container center-items no-padding message-padding">
      <ion-text id="logout-message" class="mes-data ion-text-center">
        Are you sure you want to exit DES?
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="column-border-top column-border-right ion-no-padding">
      <ion-button id="cancel-button" fill="clear" (click)="onCancel()">
        <ion-text class="mes-data">Cancel</ion-text>
      </ion-button>
    </ion-col>
    <ion-col class="column-border-top ion-no-padding">
      <ion-button id="logout-button" fill="clear" (click)="onExit()">
        <ion-text class="mes-data">Exit</ion-text>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-card>
