<div class="container">
  <div *ngIf="displayAsModal">
    <header-component
      class="error-message"
      [headerNum]="2">
      Sorry, something went wrong
    </header-component>
    <div>
      <div class="link error-details-link" (click)="dismiss()">
        Return to {{redirectLinkText}}
      </div>
      <header-component
        class="error-details"
        [inheritFontSize]="true"
        [headerNum]="3">
        &nbsp;{{additionalText}}
      </header-component>
    </div>
    <header-component
      class="additional-error-details"
      *ngIf="adviceToUsePaperTest"
      [inheritFontSize]="true"
      [headerNum]="3">
      Use the paper form if the problem persists.
    </header-component>
  </div>

  <div *ngIf="!displayAsModal">
    <header-component
      class="error-message"
      [id]="'default-validation-error-message'"
      [headerNum]="2">
      {{defaultErrorStatement}}
    </header-component>
    <div>
      <div *ngIf="redirectLinkText" class="link error-details-link" (click)="navigateBack()">
        Return to {{redirectLinkText}}
      </div>
      <header-component
        *ngIf="additionalText"
        class="error-details"
        [id]="'default-validation-error-message'"
        [inheritFontSize]="true"
        [headerNum]="3">
        &nbsp;{{additionalText}}
      </header-component>
    </div>
  </div>
</div>
