:host {
  .padding-bottom {
    padding-bottom: 8px;
  }
  
  img {
    width: 25px;
    height: 25px;
    min-width: 25px;
  }

  .counter-label {
    padding-left: 4px;
    padding-bottom: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
