<ion-grid class="stop-drive-banner">
  <ion-row>
    <ion-col class="display-flex ion-align-items-center" size="10">
      <ion-icon id="vehicle-recall-alert-icon" class="warning-icon" ios="alert-circle" aria-label="Alert icon"></ion-icon>
    </ion-col>
    <ion-col class="display-flex ion-align-items-center" size="65">
      <ion-text id="vehicle-recall-banner-text" class="mes-black des-header-style-3">
        A stop-driving order is in effect for some Citroën vehicles.
        Please check if the vehicle present is affected.
      </ion-text>
    </ion-col>
    <ion-col class="display-flex ion-align-items-center">
      <ion-button id="vehicle-recall-learn-more-btn" class="mes-grey-button ion-float-right" (click)="openLearnMoreModal()">
        <ion-text id="vehicle-recall-learn-more-btn-text" class="des-header-style-3 learn-more-btn-text">
          Learn more
        </ion-text>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
