<ion-card id="candidate-licence-info-card" *ngIf="candidateData || isPracticeMode">
  <ion-card-header>
    <header-component
      [id]="'candidate-licence-info-card-title'"
      [headerNum]="4"
    >Licence information
    </header-component>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <data-row
        [idPrefix]="idPrefix"
        [shouldHaveSeperator]="true"
        [label]="'Driver number'"
        [value]="driverNumber">
      </data-row>
      <data-row
        [idPrefix]="idPrefix"
        [shouldHaveSeperator]="true"
        [label]="'Name'"
        [value]="name">
      </data-row>
      <data-row
        [idPrefix]="idPrefix"
        [shouldHaveSeperator]="true"
        [label]="'Age'"
        [value]="age">
      </data-row>
      <data-row
        [idPrefix]="idPrefix"
        [shouldHaveSeperator]="true"
        [label]="'Gender'"
        [value]="gender">
      </data-row>
      <data-row
        [idPrefix]="idPrefix"
        [shouldHaveSeperator]="true"
        [label]="'Card expiry date'"
        [value]="cardExpiryDate">
      </data-row>
      <data-row
        [idPrefix]="idPrefix"
        [shouldHaveSeperator]="true"
        [label]="'Signature'"
        [imgSrc]="signature">
      </data-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
