<button clear (click)="navigateToDelegatedRekeySearch()" id="delegated-examiner-rekey-btn">
    <ion-card class="delegated-examiner-rekey-card">
        <div id="card-content-wrapper">
            <ion-grid>
                <ion-row class="icon-row">
                    <img aria-hidden="true"
                         src="assets/imgs/dashboard/start-delegated-test.png"
                         alt="Search delegated tests rekey"
                         class="icon-delegated-examiner"
                    />
                </ion-row>
                <ion-row>
                    <ion-button class="delegated-examiner-description-button">
                        <h3 id="delegated-examiner-rekey-label">Rekey delegated examiner test</h3>
                    </ion-button>
                </ion-row>
            </ion-grid>
        </div>
    </ion-card>
</button>
