<button clear (click)="navigateToDelegatedRekeySearch()" id="delegated-examiner-rekey-btn">
    <ion-card class="delegated-examiner-rekey-card">
        <div id="card-content-wrapper">
            <ion-grid>
                <ion-row class="icon-row">
                    <img src="assets/imgs/dashboard/start-delegated-test.png"
                         alt="Search delegated tests rekey"
                         class="icon-delegated-examiner"/>
                </ion-row>
                <ion-row>
                    <ion-button class="delegated-examiner-description-button">
                      <header-component
                        [inheritColour]="true"
                        class="white-text"
                        [id]="'delegated-examiner-rekey-label'"
                        [headerNum]="3">
                        Rekey delegated examiner test
                      </header-component>
                    </ion-button>
                </ion-row>
            </ion-grid>
        </div>
    </ion-card>
</button>
