<div>
    <ul>
        <li>
            <p id="declaration-pass-certificate-number">
                {{ 'healthDeclaration.certificateReceived' | translate }}: {{ certificateNumber }}
            </p>
        </li>
    </ul>
</div>
<ion-row [formGroup]="formGroup">
    <div class="validation-bar" [class.ng-invalid]="isInvalid()"></div>
    <ion-col>
        <ion-row>
            <ion-col class="declaration-checkbox-row">
                <input formControlName="receiptCheckbox" type="checkbox" class="gds-checkbox"
                    [class.ng-invalid]="isInvalid()" id="receipt-declaration-checkbox"
                    [checked]="selected" (click)="receiptDeclarationChanged()">
                <label for="receipt-declaration-checkbox">{{ 'healthDeclaration.confirm' | translate }}</label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div id="pass-certificate-receipt-validation-text" class="validation-text-with-row-spacing"
                    [class.ng-invalid.withRowMargin]="isInvalid()">
                    {{ 'healthDeclaration.certificateReceivedValidation' | translate }}
                </div>
            </ion-col>
        </ion-row>
    </ion-col>
</ion-row>
