<ion-header>
  <practice-mode-banner *ngIf="isEndToEndPracticeMode"></practice-mode-banner>
  <ion-toolbar [ngClass]="{'toolbar-no-padding': isEndToEndPracticeMode}" mode="ios">
    <ion-title id="waiting-room-to-car-page-title">{{pageState.candidateName$ | async}}</ion-title>
    <ion-buttons id="wrtc-back-button" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons id="end-test-button" slot="end">
      <end-test-link
        [category]="pageState.category$ | async"
        [isPracticeMode]="isPracticeMode"
        [shouldAuthenticate]="false">
      </end-test-link>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content force-overscroll="false">
  <div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <ion-grid>
        <ion-row class="ion-no-padding">
          <ion-col class="ion-no-padding">
            <vehicle-registration
              (checkMotClick)="getMOTStatus()"
              (vehicleRegistrationBlur)="onVrnBlur()"
              (vehicleRegistrationChange)="vehicleRegistrationChanged($event)"
              [formGroup]="form"
              [hasRequestedMOT]="hasRequestedMOT"
              [vehicleRegistration]="pageState.registrationNumber$ | async"
              [showCheckMot]="pageState.showCheckMot$ | async"
              [motError]="pageState.motError$ | async"
              [checkInvalidMotCount]="pageState.checkInvalidMotCount$ | async"
              [isChecking]="pageState.isCheckingMot$ | async"
              [motStatus]="pageState.motStatus$ | async"
              [make]="pageState.make$ | async"
              [model]="pageState.model$ | async"
              [testExpiryDate]="pageState.testExpiryDate$ | async">
            </vehicle-registration>

            <alternative-mot-evidence-provided
              *ngIf="pageState.showAlternativeMotEvidenceProvided$ | async"
              [formGroup]="form"
              [alternativeMotEvidence]="pageState.alternativeMotEvidenceProvided$ | async"
              (alternativeMotEvidenceChange)="alternativeMotEvidenceChanged($event)"
            ></alternative-mot-evidence-provided>

            <alternative-mot-evidence-details
              *ngIf="pageState.showAlternativeMotEvidenceProvided$ | async"
              [formGroup]="form"
              [alternativeMotEvidenceDetails]="pageState.alternativeMotEvidenceDetails$ | async"
              [alternativeMotEvidenceProvided]="pageState.alternativeMotEvidenceProvided$ | async"
              (alternativeMotEvidenceDetailsChange)="alternativeMotEvidenceDetailsChanged($event)"
            ></alternative-mot-evidence-details>

            <test-category [testCategory]="pageState.category$ | async"></test-category>

            <dual-controls
              (dualControlsChange)="dualControlsOutcomeToggled($event)"
              [dualControls]="pageState.dualControls$ | async"
              [formGroup]="form">
            </dual-controls>

            <transmission
              (transmissionChange)="transmissionChanged($event)"
              [formGroup]="form"
              [transmission]="pageState.transmission$ | async">
            </transmission>

            <pdi-logbook
              (pdiLogbookChange)="pdiLogbookChanged($event)"
              *ngIf="notSC(pageState.category$ | async)"
              [formGroup]="form"
              [pdiLogbook]="pageState.pdiLogbook$ | async">
            </pdi-logbook>

            <trainee-licence
              (traineeLicenceChange)="traineeLicenceChanged($event)"
              *ngIf="notSC(pageState.category$ | async)"
              [formGroup]="form"
              [traineeLicence]="pageState.traineeLicence$ | async">
            </trainee-licence>

            <ordit-trainer-cat-adi-part2
              (orditTrainedOutcomeChange)="orditTrainedOutcomeChanged($event)"
              [formGroup]="form"
              [notSC]="notSC(pageState.category$ | async)"
              [orditTrainedRadioChecked]="pageState.orditTrained$ | async">
            </ordit-trainer-cat-adi-part2>

            <accompaniment-card-adi3
              (otherAccompanimentChange)="otherAccompanimentToggled()"
              (supervisorAccompanimentChange)="supervisorAccompanimentToggled()"
              (trainerAccompanimentChange)="trainerAccompanimentChanged()"
              [formGroup]="form"
              [otherAccompaniment]="pageState.otherAccompaniment$ | async"
              [supervisorAccompaniment]="pageState.supervisorAccompaniment$ | async"
              [trainerAccompaniment]="pageState.trainerAccompaniment$ | async">
            </accompaniment-card-adi3>

            <trainer-registration-number-cat-adi-part2
              (trainerRegistrationChange)="trainerRegistrationNumberChanged($event)"
              [formGroup]="form"
              [trainerRegistration]="pageState.trainerRegistrationNumber$ | async">
            </trainer-registration-number-cat-adi-part2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>

<ion-footer>
  <ion-row class="mes-full-width-card box-shadow">
    <ion-col class="ion-text-center" size="45">
      <ion-button
        (click)="onViewTestCentreJournal()"
        class="mes-grey-button wrtc-footer-btn"
        id="view-test-centre-journal-button" shape="round">
        <h3>View test centre journal</h3>
      </ion-button>
    </ion-col>
    <ion-col size="6"></ion-col>
    <ion-col class="ion-text-center" size="45">
      <ion-button
        (click)="onSubmit()"
        class="mes-primary-button wrtc-footer-btn"
        id="continue-to-test-report-button" shape="round">
        <h3>Continue to test report</h3>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
