<ion-content [scrollY]="false" id="dlg-rekey-upload-outcome-page">
  <ion-grid *ngIf="pageState.isUploading$ | async">
    <ion-row class="message-wrapper ion-align-items-center">
      <ion-col class="ion-no-padding">
        <ion-row class="ion-justify-content-center">
          <ion-spinner name="bubbles"></ion-spinner>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="!(pageState.isUploading$ | async)">
    <ion-row class="message-wrapper ion-align-items-center" *ngIf="isStatusSubmitted(pageState.testStatus$ | async)">
      <ion-col class="ion-no-padding">
        <ion-row class="ion-justify-content-center">
          <ion-icon class="tick-icon" name="checkmark-circle"></ion-icon>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <header-component
            class="modal-alert-header"
            [id]="'dlg-rekey-upload-successful-label'"
            [headerNum]="2">
            Rekey upload was successful
          </header-component>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="message-wrapper ion-align-items-center" *ngIf="!isStatusSubmitted(pageState.testStatus$ | async)">
      <ion-col class="ion-no-padding">
        <ion-row class="ion-justify-content-center">
          <ion-icon class="warning-icon" ios="alert-circle"></ion-icon>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <header-component
            class="modal-alert-header"
            [id]="'dlg-rekey-upload-unsuccessful-label'"
            [headerNum]="2">
            Rekey upload was unsuccessful
          </header-component>
        </ion-row>
        <br>
        <ion-row class="ion-justify-content-center">
          <ion-button id="dlg-retry-upload-btn" class="mes-grey-button retry-button" (click)="retryUpload()">
            <header-component
              [id]="'dlg-retry-upload-label'"
              [headerNum]="3">
              Retry upload
            </header-component>
          </ion-button>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-row class="mes-full-width-card">
    <ion-col class="ion-no-padding ion-text-left">
      <ion-button id="dlg-return-to-dashboard-btn" class="mes-grey-button retry-button" (click)="goToDashboard()"
                  [disabled]="pageState.isUploading$ | async">
        <header-component
          [id]="'dlg-return-to-dashboard-label'"
          [headerNum]="3">
          Return to dashboard
        </header-component>
      </ion-button>
    </ion-col>
    <ion-col class="ion-no-padding ion-text-end">
      <ion-button id="dlg-rekey-another-btn" class="mes-primary-button retry-button" (click)="goToDelegatedSearch()"
                  [disabled]="pageState.isUploading$ | async">
        <header-component
          [id]="'dlg-rekey-another-label'"
          [headerNum]="3">
          Rekey another test
        </header-component>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
