:host {
  #question-score-label, #total-label, #score-value {
    font-weight: normal;
  }

  #percentage-label {
    font-weight: normal;
  }

  div, .des-header-style-2, {
    display: inline;
  }

  .align-col-right {
    text-align: right;
  }
}
