<ion-header>
  <ion-toolbar
    [ngClass]="{
      'no-internal-padding': true,
      'practice-theme': isEndToEndPracticeMode,
      'toolbar-no-padding': isExitSAMBannerActivated,
      'ion-no-padding-important': isEndToEndPracticeMode
    }"
    mode="ios">
    <test-flow-header
      class="display-flex flex-direction-column"
      [pageName]="'confirm-test-details'"
      [shouldShowEscapeFromSamButton]="!isRekey && !isDelegated"
      [isPracticeMode]="isEndToEndPracticeMode"
      [isExitSAMActivated]="isExitSAMBannerActivated"
      (exitSamUsed)="onUsedExitSam()"
      [shouldShowEndTestLink]="false"
      (setupLeaveSubscription)="setupEscapeSAMLeaveSubscription()"
      (setupResumeSubscription)="setupEscapeSAMResumeSubscription()"
      (onExitSAMActivatedChanged)="isSamActivatedChanged($event)">
      Confirm test details - {{ candidateUntitledName() }}
    </test-flow-header>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" force-overscroll="false">
  <ion-card>
    <ion-card-header>
      <h2 id="confirm-test-details-header" class="des-header-style-4">Confirm test details</h2>
    </ion-card-header>

    <ion-card-content class="card-content-ios ion-no-padding">
      <ion-grid class="ion-padding">
        <!-- Candidate name -->
        <data-row [idPrefix]="idPrefix" [label]="'Candidate name'" [value]="candidateNameSignal()">
        </data-row>
        <!-- Date and time of test -->
        <data-row
          [idPrefix]="idPrefix"
          [label]="'Date and time of test'"
          [value]="startDateTime() | date: 'dd/MM/yyyy HH:mm'"
        >
        </data-row>
        <!-- Test outcome -->
        @if (!isADI3(category) || (isADI3(category) && !isPassed(testOutcomeText()))) {
          <data-row
            [idPrefix]="idPrefix"
            [label]="'Test outcome'"
            [value]="testOutcomeText()"
          >
          </data-row>
        }
        @if (isADI3(category) && isPassed(testOutcomeText())) {
          <data-row
            [idPrefix]="idPrefix"
            [label]="'Test outcome'"
            [value]="testOutcomeFullResult()"
          >
          </data-row>
        }
        <!-- Activity Code -->
        <data-row
          [idPrefix]="idPrefix"
          [label]="'Activity code'"
          [value]="getActivityCode(activityCodeSignal())"
        >
        </data-row>
        <!-- Test Category -->
        <data-row
          [idPrefix]="idPrefix"
          [label]="'Test category'"
          [value]="categorySignal()"
          [shouldHaveSeparator]="!displayForCategory(category) || !displayD255(category) || isADI3(category)"
        >
        </data-row>
        <!-- Provisional licence received -->
        @if (isPassed(testOutcomeText()) && !displayForCategory(category)) {
          <data-row
            [idPrefix]="idPrefix"
            [label]="'Provisional licence received'"
            [value]="getProvisionalText(provisionalLicense())"
          >
          </data-row>
          <!-- Transmission -->
          <transmission-display
            [category]="category"
            [transmission]="transmission()"
            [code78]="code78()"
            [isTestSubmitted]="false"
          >
          </transmission-display>
        }
        <!-- D255 -->
        @if (!displayD255(category)) {
          <data-row
            [idPrefix]="idPrefix"
            [label]="'D255'"
            [value]="getD255Text(d255())"
            [shouldHaveSeparator]="false"
          >
          </data-row>
        }

        @if (isADI3(category)) {
          <div>
            <!-- Student -->
            @if (studentLevel()) {
              <data-row
                [idPrefix]="idPrefix"
                [label]="'Student'"
                [value]="studentLevel()"
                [shouldHaveSeparator]="true"
              >
              </data-row>
            }
            <!-- Lesson theme -->
            @if (lessonTheme().length) {
              <data-row-custom
                [idPrefix]="idPrefix"
                [label]="'Lesson theme'"
                [shouldHaveSeperator]="true"
              >
                @for (lesson of lessonTheme(); track lesson; let i = $index) {
                  <span class="mes-data" [id]="'lesson-theme-'+lesson+'-'+i"
                  >{{ lesson }}<br></span>
                }
              </data-row-custom>
            }
            <!-- Lesson planning -->
            <data-row
              [idPrefix]="idPrefix"
              [label]="'Lesson planning'"
              [value]="lessonPlanningScore()"
              [shouldHaveSeparator]="true"
            >
            </data-row>
            <!-- Risk management -->
            <data-row
              [idPrefix]="idPrefix"
              [label]="'Risk management'"
              [value]="riskManagementScore()"
              [shouldHaveSeparator]="true"
            >
            </data-row>
            <!-- Teaching & learning strategies -->
            <data-row
              [idPrefix]="idPrefix"
              [label]="'Teaching & learning strategies'"
              [value]="teachingLearningStrategyScore()"
              [shouldHaveSeparator]="true"
            >
            </data-row>
            <!-- Total score -->
            <data-row
              [idPrefix]="idPrefix"
              [label]="'Total score'"
              [value]="totalScore()"
              [shouldHaveSeparator]="false"
            >
            </data-row>
          </div>
        }
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row class="mes-full-width-card box-shadow flex-center">
      <ion-col class="ion-text-center width-100" size="35">
        <ion-button
          class="mes-grey-button width-100"
          (click)="goBackToDebrief()"
          id="confirm-test-details-back-to-debrief-btn"
        >
          <ion-text class="des-header-style-3" id="confirm-test-details-back-to-debrief-label">
            Back to debrief
          </ion-text>
        </ion-button>
      </ion-col>
      <ion-col size="10"></ion-col>
      <ion-col class="ion-text-center width-100" size="35">
        <ion-button
          class="mes-primary-button width-100"
          (click)="onSubmit()"
          id="confirm-test-details-submit-test-results-btn"
        >
          <ion-text class="des-header-style-3" id="confirm-test-details-submit-test-results-label">
            Submit test results
          </ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
