<div [hidden]="!shouldRender">
    <ion-card [formGroup]="formGroup">
        <ion-card-header>
            <h2 class="des-header-style-4" [id]="header | formatToID: idPrefix">{{header}}</h2>
        </ion-card-header>
        <ion-card-content>
            @for (faultComment of faultComments; track trackByIndex($index, faultComment)) {
  <ion-row class="mes-validated-row mes-row-separator">
                <fault-comment
                        [parentForm]="formGroup"
                        [faultComment]="faultComment"
                        [faultType]="faultType"
                        [shouldRender]="shouldRender"
                        [faultCount]="faultCount"
                        [outcome]="outcome"
                        [maxFaultCount]="maxFaultCount"
                        (faultCommentChange)="faultCommentChanged($event)"
                        [testCategory]=testCategory
                        [isDelegatedTest]="isDelegatedTest"
                        [badgeLabel]="header"
                ></fault-comment>
            </ion-row>
}
        </ion-card-content>
    </ion-card>
</div>
