:host {
  .alert-icon {
    color: var(--gds-black);
    margin: 40px 0 16px;
    font-size: 96px;
  }

  .center-icon {
    text-align: center;
  }

  .modal-alert-header {
    margin: 0 0 24px;
  }
}
