<ion-row class="mes-validated-row mes-row-separator" id="code-78-card">
  <div class="validation-bar" [class.ng-invalid]="isInvalid()">
  </div>
  <ion-col class="component-label align-self-center" size="32">
    <label>Is there a code 78 (automatic) on the licence?</label>
  </ion-col>
  <ion-col class="align-self-center padding-left">
    <ion-row class="spacing-row"></ion-row>
    <ion-row [formGroup]="form">
      <ion-col size="48">
        <input formControlName="code78Ctrl" type="radio" id="code-78-received" value="yes" class="gds-radio-button"
          (click)="code78IsPresent()">
        <label for="code-78-received" class="radio-label">Yes</label>
      </ion-col>
      <ion-col>
        <input formControlName="code78Ctrl" type="radio" id="code-78-not-received" value="no" class="gds-radio-button"
          (click)="code78IsNotPresent()">
        <label for="code-78-not-received" class="radio-label">No</label>
      </ion-col>
    </ion-row>
    <ion-row class="validation-message-row align-items-center">
      <div class="validation-text" id="code-78-received-validation-text" [class.ng-invalid]="isInvalid()">
        Select a response
      </div>
    </ion-row>
  </ion-col>
</ion-row>
