<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons id="pass-cert-burger-menu-btn" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title id="page-title">Examiner stats (last 14 days)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="{
  routeGrid: handleGrid(pageState.routeNumbers$ | async),
  manoeuvresGrid: handleGrid(pageState.manoeuvres$ | async),
  showMeQuestionsGrid: handleGrid(pageState.showMeQuestions$ | async),
  tellMeQuestionsGrid: handleGrid(pageState.tellMeQuestions$ | async),
  safetyAndBalanceGrid: handleGrid(pageState.safetyAndBalanceQuestions$ | async),
  testCount: pageState.testCount$ | async,
  outcomes: handleGrid(pageState.outcomes$ | async),
} as data">

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-text class="des-header-style-4 fault-heading">View filters</ion-text>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <data-row-custom [label]="'Display options'">
        <view-filter-radio
          [formGroup]="form"
          (filterChange)="filterOption = $event"
        ></view-filter-radio>
      </data-row-custom>
      <data-row-custom
        [shouldHaveSeperator]="true"
        [label]="'Date filter'">
        <ion-select
          [interfaceOptions]="{cssClass:'mes-select', enableBackdropDismiss:false}"
          class="input-styling-background black-text"
          (ionChange)="handleDateFilter($event)"
          labelPlacement="stacked"
          placeholder="Last 14 days">
          <ion-select-option [value]="option" *ngFor="let option of dateFilterOptions;">
            {{option.display}}
          </ion-select-option>
        </ion-select>
      </data-row-custom>
      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header">
            <label>Additional Filters</label>
          </ion-item>
          <div (click)="blurElement($event.target)" class="ion-padding" slot="content">
            <data-row-custom
              [label]="'Chart type'">
              <ion-select
                [interfaceOptions]="{cssClass:'mes-select', enableBackdropDismiss:false}"
                class="input-styling-background black-text"
                (ionChange)="handleChartFilter($event)"
                labelPlacement="stacked"
                placeholder="Default">
                <ion-select-option [value]="option.val" *ngFor="let option of chartFilterOptions;">
                  {{option.display}}
                </ion-select-option>
              </ion-select>
            </data-row-custom>
            <data-row-custom [shouldHaveSeperator]="false" [label]="'Monochrome charts'">
              <input type="checkbox"
                     class="gds-checkbox"
                     id="monochrome-checkbox"
                     [checked]="monochrome"
                     (click)="swapMonochrome()">
              <label id="monochrome-label" for="monochrome-checkbox"></label>
            </data-row-custom>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="data.testCount">
    <ion-card-header>
      <ion-text class="des-header-style-4 fault-heading">Test Stats</ion-text>
    </ion-card-header>
    <ion-card-content>
      <data-row
        [value]="data.testCount"
        label="Tests started">
      </data-row>
      <data-row
        [value]="pageState.passPercentage$ | async"
        label="Pass rate (%)">
      </data-row>
      <data-row
        [value]="controlledStopTotal"
        label="Controlled stop total">
      </data-row>
      <data-row
        [shouldHaveSeperator]="false"
        [value]="pageState.controlledStopPercentage$ | async"
        label="Controlled stop (%)">
      </data-row>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="data.routeGrid?.length">
    <ion-card-header>
      <ion-card-title>
        <ion-text class="des-header-style-4 fault-heading">Test Routes completed</ion-text>
        <br>
        <label>{{dateFilter}}</label>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col *ngIf="filterOption !== 'Chart'">
          <data-grid
            [headers]="['Route', 'Amount used']"
            [colourScheme]="monochrome ? colors.monochrome : colors.fullColour"
            [displayColour]="filterOption === 'Both'"
            [passedData]="data.routeGrid">
          </data-grid>
        </ion-col>
        <ion-col *ngIf="filterOption !== 'Data'" class="display-flex ion-justify-content-center">
          <chart
            [chartId]="'routeNum'"
            [monochrome]="monochrome"
            [chartType]="globalChartType ? globalChartType : 'bar'"
            [transformOptions]="filterOption === 'Chart' ? {width: 700, height: 300} : {width: 300, height: 300}"
            [showLegend]="filterOption !== 'Both'"
            [passedData]="data.routeGrid">
          </chart>
        </ion-col>
      </ion-row>

    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="data.outcomes?.length">
      <ion-card-header>
        <ion-card-title>
          <ion-text class="des-header-style-4 fault-heading">Test outcomes</ion-text>
          <br>
          <label>{{dateFilter}}</label>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col *ngIf="filterOption !== 'Chart'">
            <data-grid
              [headers]="['Route', 'Amount used']"
              [colourScheme]="monochrome ? colors.monochrome : colors.fullColour"
              [displayColour]="filterOption === 'Both'"
              [passedData]="data.outcomes">
            </data-grid>
          </ion-col>
          <ion-col *ngIf="filterOption !== 'Data'" class="display-flex ion-justify-content-center">
            <chart
              [chartId]="'outcomes'"
              [monochrome]="monochrome"
              [chartType]="globalChartType ? globalChartType : 'pie'"
              [transformOptions]="filterOption === 'Chart' ? {width: 700, height: 300} : {width: 300, height: 300}"
              [showLegend]="filterOption !== 'Both'"
              [passedData]="data.outcomes">
            </chart>
          </ion-col>
        </ion-row>

      </ion-card-content>
    </ion-card>

  <ion-card *ngIf="data.manoeuvresGrid?.length">
    <ion-card-header>
      <ion-card-title>
        <ion-text class="des-header-style-4 fault-heading">Manoeuvres completed</ion-text>
        <br>
        <label>{{dateFilter}}</label>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col *ngIf="filterOption !== 'Chart'">
          <data-grid
            [headers]="['Manoeuvre', 'Amount used']"
            [rowCropCount]="1"
            [colourScheme]="monochrome ? colors.monochrome : colors.fullColour"
            [displayColour]="filterOption === 'Both'"
            [passedData]="data.manoeuvresGrid">
          </data-grid>
        </ion-col>
        <ion-col *ngIf="filterOption !== 'Data'" class="display-flex ion-justify-content-center">
          <chart
            [chartType]="globalChartType ? globalChartType : 'polarArea'"
            [chartId]="'manoeuvres'"
            [monochrome]="monochrome"
            [transformOptions]="filterOption === 'Chart' ? {width: 700, height: 300} : {width: 300, height: 300}"
            [showLegend]="filterOption !== 'Both'"
            [passedData]="data.manoeuvresGrid">
          </chart>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="data.showMeQuestionsGrid?.length">
    <ion-card-header>
      <ion-card-title>
        <ion-text class="des-header-style-4 fault-heading">Show me questions asked</ion-text>
        <br>
        <label>{{dateFilter}}</label>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col *ngIf="filterOption !== 'Chart'">
          <data-grid
            [headers]="['Question(s)', 'Amount asked']"
            [rowCropCount]="1"
            [colourScheme]="monochrome ? colors.monochrome : colors.fullColour"
            [displayColour]="filterOption === 'Both'"
            [passedData]="data.showMeQuestionsGrid">
          </data-grid>
        </ion-col>
        <ion-col *ngIf="filterOption !== 'Data'" class="display-flex ion-justify-content-center">
          <chart
            [chartId]="'showMe'"
            [chartType]="globalChartType ? globalChartType : 'donut'"
            [monochrome]="monochrome"
            [transformOptions]="filterOption === 'Chart' ? {width: 700, height: 300} : {width: 300, height: 300}"
            [showLegend]="filterOption !== 'Both'"
            [passedData]="data.showMeQuestionsGrid">
          </chart>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="data.tellMeQuestionsGrid?.length">
    <ion-card-header>
      <ion-card-title>
        <ion-text class="des-header-style-4 fault-heading">Tell me questions asked</ion-text>
        <br>
        <label>{{dateFilter}}</label>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col *ngIf="filterOption !== 'Chart'">
          <data-grid
            [headers]="['Question(s)', 'Amount asked']"
            [rowCropCount]="3"
            [colourScheme]="monochrome ? colors.monochrome : colors.fullColour"
            [displayColour]="filterOption === 'Both'"
            [passedData]="data.tellMeQuestionsGrid">
          </data-grid>
        </ion-col>
        <ion-col *ngIf="filterOption !== 'Data'" class="display-flex ion-justify-content-center">
          <chart
            [chartId]="'tellMe'"
            [chartType]="globalChartType ? globalChartType : 'pie'"
            [monochrome]="monochrome"
            [transformOptions]="filterOption === 'Chart' ? {width: 700, height: 300} : {width: 300, height: 300}"
            [showLegend]="filterOption !== 'Both'"
            [passedData]="data.tellMeQuestionsGrid">
          </chart>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="data.safetyAndBalanceGrid?.length">
    <ion-card-header>
      <ion-card-title>
        <ion-text class="des-header-style-4 fault-heading">Safety and balance questions asked</ion-text>
        <br>
        <label>{{dateFilter}}</label>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col *ngIf="filterOption !== 'Chart'">
          <data-grid
            [headers]="['Question(s)', 'Amount asked']"
            [rowCropCount]="3"
            [colourScheme]="monochrome ? colors.monochrome : colors.fullColour"
            [displayColour]="filterOption === 'Both'"
            [passedData]="data.safetyAndBalanceGrid">
          </data-grid>
        </ion-col>
        <ion-col *ngIf="filterOption !== 'Data'" class="display-flex ion-justify-content-center">
          <chart
            [chartId]="'safetyAndBalance'"
            [chartType]="globalChartType ? globalChartType : 'pie'"
            [monochrome]="monochrome"
            [transformOptions]="filterOption === 'Chart' ? {width: 800, height: 300} : {width: 300, height: 300}"
            [showLegend]="filterOption !== 'Both'"
            [passedData]="data.safetyAndBalanceGrid">
          </chart>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
