<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons id="pass-cert-burger-menu-btn" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title id="page-title">Examiner stats (last 14 days)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="{
  routeGrid: handleGrid(pageState.routeNumbers$ | async),
  manoeuvresGrid: handleGrid(pageState.manoeuvres$ | async),
  showMeQuestions: handleGrid(pageState.showMeQuestions$ | async),
  tellMeQuestions: handleGrid(pageState.tellMeQuestions$ | async),
  testCount: pageState.testCount$ | async,
} as data">

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-text class="des-header-style-4 fault-heading">View filters</ion-text>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <view-filter-radio
        [formGroup]="form"
        (filterChange)="filterOption = $event"
      ></view-filter-radio>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="data.testCount">
    <ion-card-header>
      <ion-text class="des-header-style-4 fault-heading">Test Stats</ion-text>
    </ion-card-header>
    <ion-card-content>
      <data-row
        [value]="data.testCount"
        label="Total tests completed">
      </data-row>
      <data-row
        [value]="pageState.passPercentage$ | async"
        label="Pass percentage">
      </data-row>
      <data-row
        [shouldHaveSeperator]="false"
        [value]="pageState.controlledStopCount$ | async"
        label="Controlled stop">
      </data-row>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="data.routeGrid?.length">
    <ion-card-header>
      <ion-card-title>
        <ion-text class="des-header-style-4 fault-heading">Test Routes completed</ion-text>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col *ngIf="filterOption !== 'Chart'">
          <data-grid
            [headers]="['Route', 'Amount used']"
            [colourScheme]="colors"
            [displayColour]="filterOption === 'Both'"
            [passedData]="data.routeGrid">
          </data-grid>
        </ion-col>
        <ion-col *ngIf="filterOption !== 'Data'" class="display-flex ion-justify-content-center">
          <chart
            [chartId]="'routeNum'"
            [chartType]="'bar'"
            [showLegend]="filterOption !== 'Both'"
            [passedData]="data.routeGrid">
          </chart>
        </ion-col>
      </ion-row>

    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="data.manoeuvresGrid?.length">
    <ion-card-header>
      <ion-card-title>
        <ion-text class="des-header-style-4 fault-heading">Manoeuvres completed</ion-text>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col *ngIf="filterOption !== 'Chart'">
          <data-grid
            [headers]="['Manoeuvre', 'Amount used']"
            [rowCropCount]="1"
            [colourScheme]="colors"
            [displayColour]="filterOption === 'Both'"
            [passedData]="data.manoeuvresGrid">
          </data-grid>
        </ion-col>
        <ion-col *ngIf="filterOption !== 'Data'" class="display-flex ion-justify-content-center">
          <chart
            [chartType]="'polarArea'"
            [chartId]="'manoeuvres'"
            [showLegend]="filterOption !== 'Both'"
            [passedData]="data.manoeuvresGrid">
          </chart>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="data.showMeQuestions?.length">
    <ion-card-header>
      <ion-card-title>
        <ion-text class="des-header-style-4 fault-heading">Show me questions completed</ion-text>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col *ngIf="filterOption !== 'Chart'">
          <data-grid
            [headers]="['Question(s)', 'Amount asked']"
            [rowCropCount]="1"
            [colourScheme]="colors"
            [displayColour]="filterOption === 'Both'"
            [passedData]="data.showMeQuestions">
          </data-grid>
        </ion-col>
        <ion-col *ngIf="filterOption !== 'Data'" class="display-flex ion-justify-content-center">
          <chart
            [chartId]="'showMe'"
            [chartType]="'donut'"
            [showLegend]="filterOption !== 'Both'"
            [passedData]="data.showMeQuestions">
          </chart>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="data.tellMeQuestions?.length">
    <ion-card-header>
      <ion-card-title>
        <ion-text class="des-header-style-4 fault-heading">Tell me questions completed</ion-text>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col *ngIf="filterOption !== 'Chart'">
          <data-grid
            [headers]="['Question(s)', 'Amount asked']"
            [rowCropCount]="3"
            [colourScheme]="colors"
            [displayColour]="filterOption === 'Both'"
            [passedData]="data.tellMeQuestions">
          </data-grid>
        </ion-col>
        <ion-col *ngIf="filterOption !== 'Data'" class="display-flex ion-justify-content-center">
          <chart
            [chartId]="'tellMe'"
            [chartType]="'pie'"
            [showLegend]="filterOption !== 'Both'"
            [passedData]="data.tellMeQuestions">
          </chart>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
