:host {
  .declaration-signature-row {
    .declaration-signature-col {
      height: inherit;
      display: flex;
      justify-content: center;
    }
  }
  .signature-validation-row {
    height: 300px;
  }
}
