<ion-row class="signature-validation-row" [formGroup]="formGroup">
    <div class="validation-bar" [class.ng-invalid]="isInvalid()"></div>
    <ion-col class="ion-no-padding">
        <ion-row class="declaration-signature-row ion-no-padding">
            <ion-col class="declaration-signature-col ion-no-padding">
                <signature-area formControlName="signature" [signature]="signature"
                                retryButtonText="{{ 'signature.signatureRetry' | translate }}"
                                signHereText="{{ 'signature.signaturePrompt' | translate}}"
                                validationErrorText="{{ 'signature.signatureValidation' | translate}}"
                                [showValidText]="isInvalid()"
                                (signatureCleared)="onClear()"
                                (signatureDataChange)="onChange($event)">
                </signature-area>
            </ion-col>
        </ion-row>
    </ion-col>
</ion-row>
