<ion-card id="serious-fault" *ngIf="seriousFaults.length > 0">
  <ion-card-header>
    <ion-card-title>
      <h1 id="serious-fault-count" class="fault-heading">{{seriousFaults.length}}</h1>
      <h4 id="serious-fault-title" class="fault-heading">{{ 'debrief.seriousFaultsCardDescription' | translate }}</h4>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row *ngFor="let seriousFault of seriousFaults" class="mes-data ion-align-items-center">
        <ion-col size="32" class="ion-no-padding"></ion-col>
        <ion-col size="2" class="ion-align-self-start ion-no-padding">
          <div class="counter-icon">
            <serious-fault-badge
                    [showBadge]="true"
                    [competencyDisplayName]="seriousFault"
            >
            </serious-fault-badge>
          </div>
        </ion-col>
        <ion-col size="3" class="ion-no-padding"></ion-col>
        <ion-col class="ion-no-padding">
          <div class="counter-label" id="{{seriousFault}}-serious-text">{{ 'debrief.competencies.' + seriousFault | translate | modifyCompetencyLabel:testCategory:seriousFault }}</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
