:host {
  .row-padding {
    padding-bottom: 4px;
  }

  .fault-heading {
    display: inline;
  }

  .title-padding {
    padding: 20px 20px 16px 20px;
  }

  .counter-label {
    padding-left: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .down-padding {
    padding-top: 2px;
  }

  ion-card-header {
    padding-left: 52px;
  }

  ion-card-content {
    padding-top: 0;
    padding-left: 81px;
  }
}
