.modal-alert-wrapper {
  padding: 0 100px;

  .modal-alert {
    margin: 0;
    --border-radius: 14px;
    --width: 100%;
  }

  .modal-alert-header {
    font-size: 28px;
    letter-spacing: 0.27px;
    line-height: 40px;
    text-align: center;
    margin-top: 25px;
    html .text-zoom-regular & {
      font-weight: bold;
    }
  }

  .modal-alert-message {
    font-size: 20px;
    letter-spacing: 0.27px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 25px;
  }

  .button-clear {
    margin: 0;
    padding: 1px 7px 2px;
    --width: 100%;
    font-size: 20px;
    --background: transparent;
    &:active {
      --background: inherit;
    }
  }

  .column-border-top {
    border-top: 1px solid lightgrey;
  }

  .column-border-right {
    border-right: 1px solid lightgrey;
  }
}

#terminate-test-modal-card {
  @extend .modal-alert-wrapper;

  .modal-alert {
    --width: 400px;
  }

  .center-icon {
    text-align: center;
  }

  .terminate-icon {
    margin: 40px 0 16px;
    font-size: 96px;
  }

  .modal-alert-header {
    margin: 0 0 36px;
  }

  .terminate-button {
    color: var(--gds-red);
  }

  .return-button {
    color: var(--gds-black);
  }
}
