.welsh-language-indicator {
  display: flex;
  justify-content: left;
  align-items: center;
}

.dragon {
  height: 19px;
  width: 30px;

  .text-zoom-large & {
    height: 22px;
    width: 35px;
  }

  .text-zoom-x-large & {
    height: 24px;
    width: 38px;
  }
}

.language-padding {
  padding-left: 5px;
}
