div.welsh-language-indicator {
  display: flex;
  position: relative;
  top: 10px;
  left: 20px;

  img {
    height: 19px;
    width: 30px;
    .text-zoom-large & {
      height: 22px;
      width: 35px;
    }
    .text-zoom-x-large & {
      height: 24px;
      width: 38px;
    }
  }
  .language-description {
    padding-left: 10px;
  }
}
