<ion-content class="content-background">
  <ion-grid class="max-width">
    <ion-searchbar
      (ionClear)="onSearchbarClear()"
      (ionInput)="onSearchbarChange($event)"
      [id]="'searchbar' | formatToID: idPrefix"
      [ngModel]="model ? model[displayKey] : searchedValue"
      [placeholder]="placeholder"
      emojiBlock>
    </ion-searchbar>

    <!-- Check if minimum number of required chars entered or custom template -->
    @if (hasEnteredSufficientCharacters) {
<div>
      <!-- Check if rendered list has any data inside it or custom template -->
      @if ((dataList | doesContain: fuzzySearchKeys: searchedValue); as filteredData;) {
<div>
        @if (filteredData?.length > 0) {
<div>
          <!-- Filter dataList using custom doesContain pipe -->
          @for (data of filteredData; track trackBy($index, data)) {
  <ion-item
            (click)="onClick(data)"
           
            [id]="data[displayKey] | formatToID: idPrefix">
            <ion-col [ngClass]="conditionalStyles(data)">{{data[displayKey]}}</ion-col>

            <ion-col class="button-style" size="6">
              @if (isActiveSelection(data)) {
<ion-icon
               
                class="checkmark"
                name="checkmark-sharp">
              </ion-icon>
}
            </ion-col>
          </ion-item>
}
        </div>
} @else {
#noResults;|
}
      </div>
}
    </div>
} @else {
#insufficientCharsEntered;|
}

    <ng-template #insufficientCharsEntered>
      <ion-item>
        <ion-col>
          <strong id="searchable-picklist-please-enter-min-chars-msg">
            Please enter a minimum of {{minCharactersBeforeListDisplay}} character(s)
          </strong>
        </ion-col>
      </ion-item>
    </ng-template>

    <ng-template #noResults>
      <ion-item>
        <ion-col>
          <strong id="searchable-picklist-no-results-msg">
            No results found
          </strong>
        </ion-col>
      </ion-item>
    </ng-template>
  </ion-grid>
</ion-content>
