.content-background {
  font-size: 19px;
  --ion-background-color: var(--mes-theme-main-colour);
  border-radius: 10px !important;
  border: 10px solid var(--mes-theme-main-colour) !important;
  mix-blend-mode: exclusion;
}

.search-text {
  color: var(--mes-theme-opposing-colour);
}

.component-label {
  padding-top: 12px;
  width: 33%;
}

ion-item {
  --ion-background-color: var(--mes-theme-main-colour);
}

.button-style {
  padding-top: 7px;
  color: var(--mes-theme-opposing-colour);
  display: flex;
  align-items: center;

  &.selected {
    font-weight: bold;
  }

  &.disabled {
    opacity: 0.4;
  }
}

.checkmark {
  color: var(--gds-green);
  font-size: 34px;
  font-weight: bold;
}

.dark-mode-override {
  --background: var(--mes-theme-main-colour);
  color: var(--mes-theme-opposing-colour);
  --background-activated: gray;
}

.max-width {
  width: 100%;
}

.modal-row {
  border: 2px solid var(--mes-theme-opposing-colour);
  border-radius: 8px;
  color: var(--mes-theme-opposing-colour);
  font-size: 19px;
  width: 452px;
  height: 48px;
}

.modal-dropdown {
  position: relative;
  left: 5px;
}

.down-caret-icon {
  color: darkgrey;
  font-size: 14px;
}

.placeholder-font-color {
  margin-left: 4px;
  opacity: 0.4;
}

ion-item::part(native) {
  background: var(--mes-theme-main-colour);
  color: var(--mes-theme-opposing-colour);
}

ion-searchbar {
  --background: var(--mes-theme-main-colour);
  --placeholder-color: var(--mes-theme-opposing-colour);
  --color: var(--mes-theme-opposing-colour);
}
