manoeuvre-competency-adi-part2 {
  div.manoeuvre-competency-button {
    @extend .mes-test-report-button;
    @extend .mes-test-report-button-ripple-effect;

    width: 254px;

    padding-left: 5px;
    padding-right: 5px;

    .label {
      width: 100%;
      justify-content: center;
    }
    .competency-label {
      margin-left: 20px;
    }

    .fault-wrapper {
      display: flex;
    }
  }
}
