<button class="test-centre-journal-button" (click)="navigateToTestCentreJournal()">
  <ion-card class="test-centre-journal-card">
    <div id="card-content-wrapper">
      <ion-grid>
        <ion-row class="icon-row">
          <img src="assets/imgs/dashboard/go-to-test-centre-journal.png" alt="TestCentreJournal" class="icon-test-centre"/>
        </ion-row>
        <ion-row>
          <ion-button mode="ios" class="mes-blue-button">
            <h3>Go to test centre journal</h3>
          </ion-button>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>
</button>
