.test-centre-journal-button {
  width: 100%;
  display: flex;
  --background: var(--mes-theme-main-colour);
  --background-activated: var(--mes-theme-main-variant1);
  margin: 10px;
  box-shadow: #0003 0 3px 1px -2px, #00000024 0 2px 2px, #0000001f 0 1px 5px;
  border-radius: 15px !important;

  .des-header-style-1, .des-header-style-4 {
    color: var(--mes-theme-main-colour);
  }

  ion-row {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon-row {
    height: 92px;
  }

  .mes-primary-blue-button {
    margin-top: 30px;
    background: var(--gds-blue);
    box-shadow: inset 0 -2px 0 0 var(--gds-blue);
    font-size: 15px;
    border-radius: 15px !important;
    justify-content: center;
    display: flex;
  }

  #card-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 240px;
    width: 100%;
    justify-content: center;
  }
}

img.icon-test-centre {
  width: 112px;
  height: 92px;
}
