<ion-row class="mes-validated-row mes-row-separator" id="health-declaration-card">
    <div class="validation-bar" [class.ng-invalid]="invalid">
    </div>
    <ion-col class="component-label ion-align-self-center" size="32">
      <label>{{label}}</label>
    </ion-col>
    <ion-col class="ion-align-self-center ion-padding-start">
      <ion-row class="spacing-row"></ion-row>
      <ion-row [formGroup]="formGroup">
        <ion-col size="48">
          <input type="radio"
                 id="health-declaration-signed"
                 formControlName="healthDeclarationCtrl"
                 name="healthDeclarationCtrl"
                 class="gds-radio-button"
                 [class.ng-invalid]="invalid"
                 (change)="healthDeclarationChanged($event.target.value)"
                 value="Signed">
          <label for="health-declaration-signed" class="radio-label">Signed</label>
        </ion-col>
        <ion-col>
          <input type="radio"
                 id="health-declaration-unsigned"
                 formControlName="healthDeclarationCtrl"
                 name="healthDeclarationCtrl"
                 class="gds-radio-button"
                 [class.ng-invalid]="invalid"
                 (change)="healthDeclarationChanged($event.target.value)"
                 value="NotSigned">
          <label for="health-declaration-unsigned">Not Signed</label>
        </ion-col>
      </ion-row>
      <ion-row class="validation-message-row ion-align-items-center">
        <div class="validation-text" id="health-declaration-validation-text"
          [class.ng-invalid]="invalid">
          Select health declaration
        </div>
      </ion-row>
    </ion-col>
  </ion-row>
