#unauthenticated-mode-indicator {
  text-align: center;
  padding: 16px 0;
  background: var(--gds-red);
  #unauth-text {
    color: var(--mes-white);
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 0.34px;
  }
}
