<searchable-picklist-wrapper
  *ngIf="isLDTM; else isDE;"
  #testCentrePicklistJournals
  [dataList]="testCentres"
  [model]="selectedTestCentre"
  [differentDisplay]="true"
  [fieldLabel]="'Test centre:'"
  [primaryKey]="'centreId'"
  [displayKey]="'centreName'"
  [fuzzySearchKeys]="['centreName', 'costCode', 'centreId']"
  [idPrefix]="'tcj-view-journal-tab'"
  [minCharactersBeforeListDisplay]="2"
  [placeholder]="'Select a test centre'"
  (outputChanged)="onTestCentreDidChange($event)">
</searchable-picklist-wrapper>
<ng-template #isDE>
    <test-centre-name [testCentreResults]="testCentreResults"></test-centre-name>
</ng-template>

<ion-row>
    <ion-col class="component-label" size="24">
        <label>Examiner:</label>
    </ion-col>
    <ion-col class="component-value" size="72">
        <ion-select [interfaceOptions]="interfaceOptions"
                    #examinerSelect
                    (ionChange)="examinerChanged($event.target.value)"
                    [disabled]="isLDTM ? !!!(selectedTestCentre) : false"
                    okText="Select"
                    id="select-examiner"
                    cancelText="Cancel"
                    class="select-text"
                    placeholder="Select examiner">
            <ion-select-option *ngFor="let examiner of testCentreResults?.examiners"
                               [value]="examiner.staffNumber">
                {{examiner.name}}
            </ion-select-option>
        </ion-select>
    </ion-col>
</ion-row>

<ion-row class="mes-full-width-card">
    <ion-button mode="ios"
                class="mes-primary-button full-width"
                (click)="onShowJournalClick()"
                [disabled]="!hasSelectedExaminer"
                id="show-journal-button">
        <h3>Show journal</h3>
    </ion-button>
</ion-row>

<section *ngIf="hasSelectedExaminer">
    <div *ngIf="journal; else noJournal">
        <journal-navigation *ngIf="hasClickedShowJournal"
                            [fromTestCentreJournal]="true"
                            [canNavigateToNextDay]="canNavigateToNextDay()"
                            [canNavigateToPreviousDay]="canNavigateToPreviousDay()"
                            [isSelectedDateToday]="isSelectedDateToday()"
                            [selectedDate]="currentSelectedDate"
                            (previousDayClicked)="onPreviousDayClick()"
                            (nextDayClicked)="onNextDayClick()">
        </journal-navigation>

        <div class="no-results" *ngIf="shouldShowBanner() && hasClickedShowJournal">
            <p class="no-results-text">
                {{warningText}}
            </p>
        </div>

        <ion-list>
            <ng-template #slotContainer></ng-template>
        </ion-list>
    </div>

    <ng-template #noJournal>
        <div class="no-results" *ngIf="hasClickedShowJournal">
            <p class="no-results-text" id="examiner-no-journal-to-display-message">
                This examiner does not have any journal information to display
            </p>
        </div>
    </ng-template>
</section>
