.mes-full-width-card {
  padding: 24px 32px;

  .full-width {
    width: 100%;
  }
}

.component-label {
  padding-top: 12px;
  width: 33%;
}

.component-value {
  width: 66%;
}

label {
  margin-left: 5px;
}

.select-text {
  color: black;
}

ion-list, section {
  background-color: var(--ion-background-color);
}

section {
  width: 95%;
  height: 100%;
  margin-top: 22px;
  position: absolute;
}

.results-error {
  margin-top: 24px;
  p.error-text {
    margin: 4px 0;
    text-align: center;
  }
}
