.mes-full-width-card {
  padding: 24px 32px;

  .full-width {
    width: 100%;
  }
}

.component-label {
  padding-top: 12px;
  width: 33%;
}

.component-value {
  width: 66%;
}

label {
  margin-left: 5px;
}

.select-text {
  color: black;
}
