.mes-full-width-card {
  padding: 20px 0 0 0;

  .full-width {
    width: 100%;
  }
}

.component-label {
  padding-top: 12px;
  width: 33%;
}

.component-value {
  width: 66%;
}

label {
  margin-left: 5px;
}

.select-text {
  color: black;
}

ion-list, section {
  background-color: var(--ion-background-color);
}

section {
  width: 95%;
  height: 100%;
  margin-top: 22px;
  position: absolute;
  padding-right: 3.5%;
}

