<ion-header>
  @if (isEndToEndPracticeMode) {
<practice-mode-banner></practice-mode-banner>
}
  <ion-toolbar mode="ios" [ngClass]="{'toolbar-no-padding': isEndToEndPracticeMode}">
    <ion-buttons id="back-button" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title id="health-declaration-title" role="heading" aria-level="1">
      {{ 'healthDeclaration.title' | translate }} - {{pageState.candidateUntitledName$ | async}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content forceOverscroll="false">
  <lock-screen-indicator></lock-screen-indicator>

  <form [formGroup]="formGroup">
    <candidate-section
      [candidateName]="pageState.candidateName$ | async"
      [candidateDriverNumber]="pageState.candidateDriverNumber$ | async"
      [candidatePrnNumber]="pageState.prn$ | async"
      [isStandardsCheck]="pageState.isStandardsCheck$ | async"
      (continueClickEvent)="onSubmit()"
      [showVRNButton]="false">
    </candidate-section>

    <div class="mes-full-width-card-separator"></div>

    <div class="mes-full-width-card no-padding-top" id="declaration-section">
      <ion-row>
        <ion-col>
          <ion-text class="des-header-style-4">{{ 'healthDeclaration.declarationIntent' | translate }}:</ion-text>
        </ion-col>
      </ion-row>

      @if (pageState.showHealthDec$ | async) {
<health-declaration
       
        [formGroup]="formGroup"
        [selected]="pageState.healthDeclarationAccepted$ | async"
        (healthDeclarationChange)="healthDeclarationChanged()">
      </health-declaration>
}

      <receipt-declaration
        [formGroup]="formGroup"
        [selected]="pageState.receiptDeclarationAccepted$ | async"
        (receiptDeclarationChange)="receiptDeclarationChanged()"
        [certificateNumber]="pageState.passCertificateNumber$ | async">
      </receipt-declaration>

      @if (!(pageState.showHealthDec$ | async)) {
<div class="signature-area-padding"></div>
}

      <signature
        [formGroup]="formGroup"
        [signature]="pageState.signature$ | async"
        (signatureDataChange)="getSignatureDrawCompleteAction($event)"
        (signatureCleared)="getSignatureClearAction()">
      </signature>
    </div>
  </form>
</ion-content>
