<ion-header>
  @if (isEndToEndPracticeMode) {
    <practice-mode-banner></practice-mode-banner>
  }
  <ion-toolbar class="no-internal-padding"
    [ngClass]="{'toolbar-no-padding': isEndToEndPracticeMode || isExitSAMBannerActivated}" mode="ios">
    <test-flow-header
      class="display-flex flex-direction-column"
      [pageName]="'health-declaration'"
      [shouldShowEscapeFromSamButton]="!isRekey && !isDelegated"
      [shouldIncludeLanguageDirectiveOnTitle]="true"
      [isPracticeMode]="isEndToEndPracticeMode"
      [isExitSAMActivated]="isExitSAMBannerActivated"
      [shouldShowEndTestLink]="false"
      (setupLeaveSubscription)="setupEscapeSAMLeaveSubscription()"
      (setupResumeSubscription)="setupEscapeSAMResumeSubscription()"
      (onExitSAMActivatedChanged)="isSamActivatedChanged($event)">
      {{ 'healthDeclaration.title' | translate }} - {{pageState.candidateUntitledName$ | async}}
    </test-flow-header>
  </ion-toolbar>
</ion-header>

<ion-content forceOverscroll="false">
  <lock-screen-indicator></lock-screen-indicator>

  <form [formGroup]="formGroup">
    <candidate-section
      [candidateName]="pageState.candidateName$ | async"
      [candidateDriverNumber]="pageState.candidateDriverNumber$ | async"
      [candidatePrnNumber]="pageState.prn$ | async"
      [isStandardsCheck]="pageState.isStandardsCheck$ | async"
      (continueClickEvent)="onSubmit()"
      [showVRNButton]="false"
      >
    </candidate-section>

    <div class="mes-full-width-card-separator"></div>

    <div class="mes-full-width-card no-padding-top" id="declaration-section">
      <ion-row>
        <ion-col>
          <ion-text addOrRemoveLangCy class="des-header-style-4"
            >{{ 'healthDeclaration.declarationIntent' | translate }}:</ion-text
            >
          </ion-col>
        </ion-row>

        @if (pageState.showHealthDec$ | async) {
          <health-declaration
            [formGroup]="formGroup"
            [selected]="pageState.healthDeclarationAccepted$ | async"
            (healthDeclarationChange)="healthDeclarationChanged($event)"
            >
          </health-declaration>
        }

        <receipt-declaration
          [formGroup]="formGroup"
          [selected]="pageState.receiptDeclarationAccepted$ | async"
          (receiptDeclarationChange)="receiptDeclarationChanged($event)"
          [certificateNumber]="pageState.passCertificateNumber$ | async"
          >
        </receipt-declaration>

        @if (!(pageState.showHealthDec$ | async)) {
          <div class="signature-area-padding"></div>
        }

        <signature
          [formGroup]="formGroup"
          [signature]="pageState.signature$ | async"
          (signatureDataChange)="getSignatureDrawCompleteAction($event)"
          (signatureCleared)="getSignatureClearAction()"
          >
        </signature>
      </div>
    </form>
  </ion-content>
