<ion-header>
  <practice-mode-banner *ngIf="isPracticeMode"></practice-mode-banner>
  <ion-toolbar>
    <ion-title>{{ 'healthDeclaration.title' | translate }} - {{pageState.candidateUntitledName$ | async}}</ion-title>
    <ion-buttons id="back-button" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce>
  <lock-screen-indicator></lock-screen-indicator>
  <form [formGroup]="formGroup">
    <candidate-section [candidateName]="pageState.candidateName$ | async"
                       [candidateDriverNumber]="pageState.candidateDriverNumber$ | async" (continueClickEvent)="onSubmit()"
                       [showVRNButton]="true">
    </candidate-section>
    <div class="mes-full-width-card-separator"></div>
    <div class="mes-full-width-card" id="declaration-section">
      <ion-row>
        <ion-col>
          <h4>{{ 'healthDeclaration.declarationIntent' | translate }}:</h4>
        </ion-col>
      </ion-row>
      <health-declaration [formGroup]="formGroup" [selected]="pageState.healthDeclarationAccepted$ | async"
                          (healthDeclarationChange)="healthDeclarationChanged()">
      </health-declaration>
      <ion-row>
        <ion-col></ion-col>
      </ion-row>
      <receipt-declaration [formGroup]="formGroup" [selected]="pageState.receiptDeclarationAccepted$ | async"
                           (receiptDeclarationChange)="receiptDeclarationChanged()" [certificateNumber]="pageState.passCertificateNumber$ | async">
      </receipt-declaration>
      <div class="signature-area-padding"></div>
      <signature [formGroup]="formGroup"
                 [signature]="pageState.signature$ | async"
                 (signatureDataChange)="getSignatureDrawCompleteAction($event)"
                 (signatureCleared)="getSignatureClearAction()">
      </signature>
    </div>
  </form>
</ion-content>
