:host {
  ion-content {
    --ion-background-color: var(--mes-white);

    #candidate-section {
      display: flex;
      justify-content: space-between;
      align-items: center;

      #continue-button {
        min-height: 56px;
        min-width: 132px;
      }
    }
  }

  .no-padding-top {
    padding-top: 0;
  }

  .signature-area-padding {
    padding-bottom: 200px;
  }
}
