<ion-card id="driving-fault" *ngIf="drivingFaultCount > 0 || drivingFaults?.length > 0">
  <ion-card-header>
    <ion-card-title>
      <header-component
        class="fault-heading"
        [id]="'driving-fault-count'"
        [headerNum]="1">
        {{drivingFaultCount}}
      </header-component>
      <header-component
        class="fault-heading"
        [id]="'driving-fault-title'"
        [headerNum]="4">
        {{ drivingFaultsCardDescriptionSwitch(testCategory) | translate }}
      </header-component>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row *ngFor="let drivingFault of drivingFaults" class="mes-data ion-align-items-center">
        <ion-col size="32" class="ion-no-padding"></ion-col>
        <ion-col size="2" class="ion-align-self-start ion-no-padding">
          <div class="down-padding counter-icon">
            <driving-faults-badge class="counter driving-faults"
                                  [count]="drivingFault.faultCount"
                                  [competencyDisplayName]="drivingFault.competencyIdentifier">
            </driving-faults-badge>
          </div>
        </ion-col>
        <ion-col size="3" class="ion-no-padding"></ion-col>
        <ion-col class="ion-no-padding">
          <div class="counter-label"
               id="{{drivingFault.competencyIdentifier}}-driving-text">{{'debrief.competencies.' + drivingFault.competencyIdentifier | translate  | modifyCompetencyLabel:testCategory:drivingFault.competencyIdentifier}}</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
