<ion-card id="driving-fault" *ngIf="drivingFaultCount > 0 || drivingFaults.length > 0">
  <ion-card-header>
    <ion-card-title>
      <h1 id="driving-fault-count" class="fault-heading">{{ drivingFaultCount }}</h1>
      <h4 class="fault-heading">{{ drivingFaultsCardDescriptionSwitch(testCategory) | translate }}</h4>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row *ngFor="let drivingFault of drivingFaults" class="mes-data ion-align-items-center">
        <ion-col size="32" class="ion-no-padding"></ion-col>
        <ion-col size="2" class="ion-align-self-start ion-no-padding">
          <div class="counter-icon">
            <driving-faults-badge class="counter driving-faults" [count]="drivingFault.faultCount">
            </driving-faults-badge>
          </div>
        </ion-col>
        <ion-col size="3" class="ion-no-padding"></ion-col>
        <ion-col class="ion-no-padding">
          <div class="counter-label">{{'debrief.competencies.' + drivingFault.competencyIdentifier | translate  | modifyCompetencyLabel:testCategory:drivingFault.competencyIdentifier}}</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
