div {
  width: 22px;
  height: 22px;
  min-width: 22px;

  .counter-background {
    display: flex;
    justify-content: center;
    background-color: var(--gds-black);
    color: var(--mes-white);
    border-radius: 13px;
    position: absolute;
    left: 34px;

    .count {
      font-size: 15px;
      font-weight: bold;
      align-self: center;
    }
  }
}
