<ion-card class="modal-sizing">

  <ion-header>
    <ion-toolbar mode="ios" class="toolbar-spacing">
      <ion-title role="heading" aria-level="1" id="test-details-title" class="ion-text-center toolbar-item-spacing">
        Data in examiner records
      </ion-title>
      <ion-buttons slot="start" class="toolbar-item-spacing">
        <ion-button id="close-button" (click)="onOk()">
          <ion-icon class="close-btn" name="close-outline"></ion-icon>
          <ion-label class="close-btn">Close</ion-label>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-row class="padding-row"></ion-row>

  <ion-row>
    <ion-col class="general-text-padding">
      <ion-text id="learn-more-model-text-block-1" class="mes-data">
        This feature is for test planning purposes only and is not intended for performance management.
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="padding-row"></ion-row>

  <ion-row>
    <ion-col class="general-text-padding-no-top">
      <ion-text id="learn-more-model-text-block-2" class="mes-data">
        These figures will differ from RSIS/Power BI as some test types and outcomes are not included.
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="padding-row"></ion-row>

  <ion-row>
    <ion-col class="general-text-padding">
      <ion-text id="learn-more-model-text-block-3" class="mes-data">
        <b>What’s included?</b>
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="general-text-padding-no-top">
      <ion-text id="learn-more-model-text-block-4" class="mes-data">
        These figures are based on completed tests with a successful or unsuccessful outcome.
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="padding-row"></ion-row>

  <ion-row>
    <ion-col class="general-text-padding-no-top">
      <ion-text id="learn-more-model-text-block-5" class="mes-data">
        The following activity codes are included:
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="general-text-padding-no-top">
      <ion-text id="learn-more-model-text-block-6" class="mes-data">
        <ul>
          <li>Pass (code 1)</li>
          <li>Fail (code 2)</li>
          <li>Eyesight fail (code 3) except in the emergency stops chart</li>
          <li>Public safety fail (code 4)</li>
          <li>Candidate chose to stop (code 5)</li>
        </ul>
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="general-text-padding">
      <ion-text id="learn-more-model-text-block-7" class="mes-data">
        <b>What’s not included?</b>
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="general-text-padding">
      <ion-text id="learn-more-model-text-block-8" class="mes-data">
        Extended tests and terminations are not included.
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="padding-row"></ion-row>

  <ion-row>
    <ion-col class="general-text-padding">
      <ion-text id="learn-more-model-text-block-9" class="mes-data">
        <b>Emergency stops (Cat B Car Tests)</b>
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="general-text-padding">
      <ion-text id="learn-more-model-text-block-20" class="mes-data">
        The current target % of tests with an emergency stop is 14% (1 in 7 tests)<br>Prior to 3rd November 2025, the target was 33% (1 in 3 tests)
      </ion-text>
    </ion-col>
  </ion-row>
</ion-card>
