<ion-card id="vrn-capture-modal-card" class="modal-alert">
    <form>
        <ion-row class="ion-justify-content-center" [formGroup]="formGroup">
            <ion-col>
                <h2 class="modal-alert-header">Enter the Vehicle<br/>registration number</h2>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-col>
                <p class="modal-text">
                    You can use this space to make note of<br/>the Vehicle registration number at this<br/>stage if known.
                </p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <input type="text"
                    id="registration"
                    formControlName="vehicleRegistration"
                    class="input-styling-background input-field"
                    [class.ng-invalid]="this.isValid"
                    (input)="vrnChanged($event.target.value)"
                    [maxlength]="this.registrationNumberValidator.maxLength"
                    value="">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="column-border-top column-border-right ion-no-padding">
                <ion-button fill="clear" class="cancel-button" (click)="this.onCancel()">Cancel</ion-button>
            </ion-col>
            <ion-col class="column-border-top ion-no-padding">
                <ion-button fill="clear" class="save-button" (click)="this.validateThenSave(this.vrnNumber)"><h3>Save</h3></ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-card>