<ion-header>
  <practice-mode-banner *ngIf="isEndToEndPracticeMode"></practice-mode-banner>
  <ion-toolbar [ngClass]="{'toolbar-no-padding': isEndToEndPracticeMode}" mode="ios">
    <ion-title id="waiting-room-to-car-page-title">{{pageState.candidateName$ | async}}</ion-title>
    <ion-buttons id="wrtc-back-button" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons id="end-test-button" slot="end">
      <end-test-link
        [category]="pageState.category$ | async"
        [isPracticeMode]="isPracticeMode"
        [shouldAuthenticate]="false">
      </end-test-link>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content force-overscroll="false">
  <div>
    <warning-banner
      *ngIf="shouldDisplayEyesightBanner()"
      warningText="The eyesight test should be conducted at a distance of 12m or 12.3m">
    </warning-banner>

    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <ion-grid>
        <eyesight-test
          (eyesightTestResultChange)="eyesightTestResultChanged($event)"
          [eyesightFailRadioChecked]="pageState.eyesightTestFailed$ | async"
          [eyesightPassRadioChecked]="(pageState.eyesightTestComplete$ | async) && !(pageState.eyesightTestFailed$ | async)"
          [formGroup]="form">
        </eyesight-test>

        <ion-row *ngIf="pageState.eyesightTestFailed$ | async">
          <eyesight-failure-confirmation [cancelFn]="eyesightFailCancelled"
                                         [nextPageOnFail]="getDebriefPage()">
          </eyesight-failure-confirmation>
        </ion-row>

        <ion-row [hidden]="pageState.eyesightTestFailed$ | async" class="ion-no-padding"
                 id="post-eyesight-form-content">
          <ion-col class="ion-no-padding">
            <vehicle-registration
              (vehicleRegistrationBlur)="getMOTStatus()"
              (vehicleRegistrationChange)="vehicleRegistrationChanged($event)"
              [formGroup]="form"
              [vehicleRegistration]="pageState.registrationNumber$ | async">
            </vehicle-registration>

            <test-category [testCategory]="pageState.category$ | async"></test-category>

            <vehicle-checks-vocational
              (onCloseVehicleChecksModal)="closeVehicleChecksModal()"
              [category]="pageState.category$ | async"
              [formGroup]="form"
              [fullLicenceHeld]="false"
              [vehicleChecksScore]="pageState.vehicleChecksScore$ | async"
              [vehicleChecks]="pageState.vehicleChecks$ | async"
            ></vehicle-checks-vocational>

            <accompaniment-card
              (instructorAccompanimentChange)="instructorAccompanimentToggled()"
              (interpreterAccompanimentChange)="interpreterAccompanimentToggled()"
              (otherAccompanimentChange)="otherAccompanimentToggled()"
              (supervisorAccompanimentChange)="supervisorAccompanimentToggled()"
              [formGroup]="form"
              [instructorAccompaniment]="pageState.instructorAccompaniment$ | async"
              [interpreterAccompaniment]="pageState.interpreterAccompaniment$ | async"
              [otherAccompaniment]="pageState.otherAccompaniment$ | async"
              [supervisorAccompaniment]="pageState.supervisorAccompaniment$ | async">
            </accompaniment-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>

<ion-footer>
  <ion-row class="mes-full-width-card box-shadow">
    <ion-col class="ion-text-center" size="45">
      <ion-button
        (click)="onViewTestCentreJournal()"
        class="mes-grey-button wrtc-footer-btn"
        id="view-test-centre-journal-button" shape="round">
        <header-component
          [headerNum]="3">
          View test centre journal
        </header-component>
      </ion-button>
    </ion-col>
    <ion-col size="6"></ion-col>
    <ion-col class="ion-text-center" size="45">
      <ion-button
        (click)="onSubmit()"
        class="mes-primary-button wrtc-footer-btn"
        id="continue-to-test-report-button" shape="round">
        <header-component
          [headerNum]="3">
          Continue to test report
        </header-component>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
