<ion-row>
  <ion-col class="component-label" size="24">
    <label id="test-centre-label">Test centre(s):</label>
  </ion-col>
  <ion-col class="component-value" size="72">
    @for (testCentre of testCentreResults?.testCentres; track testCentre; let i = $index) {
      <div>
        @if (testCentre === testCentreResults?.testCentres[0]) {
          <ion-icon
            name="location-sharp"
            class="test-centre-location-icon"
            id="test-centre-icon-{{i}}"
          ></ion-icon>
        }
        <label
          [ngClass]="{'test-centre-padding': testCentre !== testCentreResults?.testCentres[0]}"
          id="test-centre-location-{{i}}"
          >
          {{testCentre.name}} </label
          ><br />
        </div>
      }
    </ion-col>
  </ion-row>
