<ion-row *ngIf="isExitSAMActivated">
  <exit-sam-banner
    [pageTitle]="pageName"
    class="width-100"
    [showSpacingBanner]="!isPracticeMode"
    (samEscaped)="disableSAMAndExit($event)"
    (escapeSamBannerClicked)="changeExitSAMValue(false)"
    (cancelClicked)="cancelButtonClicked()">
  </exit-sam-banner>
</ion-row>
<practice-mode-banner *ngIf="!displayExitPracticeMode && !isExitSAMActivated && isPracticeMode"></practice-mode-banner>
<ion-row *ngIf="!isExitSAMActivated && !displayExitPracticeMode">
  <ion-col size="40" class="padding-left display-flex ion-align-items-center">
    <ion-label
      class="header-title"
      [class.text-black]="isPracticeMode"
      addOrRemoveLangCy
      [shouldListenToLanguageChanges]="shouldIncludeLanguageDirectiveOnTitle"
      role="heading"
      aria-level="1"
      [id]="pageName+'-title'">
      <ng-content></ng-content>
    </ion-label>
  </ion-col>
  <ion-col class="display-flex ion-no-padding ion-justify-content-start" size="21">
    <ion-col class="display-flex ion-align-items-center" size="60">
        <ion-back-button
          class="back-button width-100 ion-no-padding"
        (click)="onBackClicked()"
        defaultHref="{{defaultBackButtonHref}}"
        [id]="pageName+'-back-button'">
      </ion-back-button>
    </ion-col>
    <ion-col *ngIf="shouldShowCloseButton">
      <ion-buttons>
        <ion-button id="close-button" (click)="onCloseClicked()">
          <ion-icon class="close-btn" [id]="pageName+'-close-icon'" name="close-outline"></ion-icon>
          <ion-label class="close-btn" [id]="pageName+'-close-label'">Close</ion-label>
        </ion-button>
      </ion-buttons>
    </ion-col>
    <ion-col *ngIf="shouldShowEscapeFromSamButton" class="display-flex ion-no-padding">
      <ion-buttons>
        <exit-sam-button
          [pageTitle]="pageName"
          [isButtonActive]="isExitSAMActivated"
          (samEscaped)="disableSAMAndExit($event)"
          (escapeSamButtonClicked)="changeExitSAMValue($event)">
        </exit-sam-button>
      </ion-buttons>
    </ion-col>
    <ion-col class="display-flex ion-no-padding" *ngIf="isPracticeMode" size="60">
      <ion-buttons class="width-100">
        <practice-mode-exit-button
          class="width-100"
          [pageTitle]="pageName"
          (exitPracticeMode)="onEndPracticeModeClicked()">
        </practice-mode-exit-button>
      </ion-buttons>
    </ion-col>
  </ion-col>
  <ion-col class="display-flex ion-no-padding ion-justify-content-end">
    <ion-buttons>
      <end-test-link
        *ngIf="shouldShowEndTestLink"
        [id]="pageName+'-end-test-button-link'"
        (endTestLinkClicked)="onEndTestClicked()"
        [category]="testCategory"
        [isDelegated]="isDelegatedRekey"
        [pageTitle]="pageName"
        [isPracticeMode]="isPracticeMode"
        [shouldAuthenticate]="shouldAuthenticateOnTestEnd">
      </end-test-link>
      <ion-button
        *ngIf="shouldShowGenericEndTest"
        (click)="onEndTestClicked()"
        class="end-test-font-size end-test-button"
        [class]="isPracticeMode ? 'end-test-button-practice' : 'end-test-button-color'"
        [id]="pageName+'end-test-button'">
        End test
      </ion-button>
    </ion-buttons>
  </ion-col>
</ion-row>
<practice-mode-options-bar
  class="header-height-82"
  *ngIf="displayExitPracticeMode"
  (closeExitPracticeMode)="closeExitPracticeMode()">
</practice-mode-options-bar>
