<ion-grid>
  <ion-row>
    <ion-col id="mot-no-evidence-confirmation">
      <ion-row>
        <ion-col class="display-flex ion-justify-content-center" size="34">
          <ion-icon
            id="eyesight-failure-icon"
            class="alert-icon"
            name="alert-circle-outline"
            aria-label="Eyesight failure icon"
          >
          </ion-icon>
        </ion-col>
        <ion-col>
          <ion-row>
            <ion-text class="des-header-style-2" id="mot-no-evidence-title"
            >This vehicle may not have a valid MOT
            </ion-text>
          </ion-row>
          <ion-row>
            <label id="mot-no-evidence-subtitle">Acceptable alternative evidence has not been provided</label>
          </ion-row>
          <br/>
          <ion-row class="ion-justify-content-between">
            <ion-col class="no-left-padding" size="auto">
              <ion-button id="confirm-mot-no-evidence" class="no-margin mes-neutral-button banner-button" (click)="onContinue()">
                <label>Terminate Test</label>
              </ion-button>
            </ion-col>
            <ion-col class="no-right-padding no-left-padding" size="auto">
              <ion-button id="cancel-mot-no-evidence" class="no-margin mes-neutral-button banner-button" (click)="onCancel()">
                <label>Cancel</label>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="3"></ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
