:host {
  width: 100%;
  #mot-no-evidence-confirmation {
    margin: 12px;
    padding: 40px;
    background: var(--gds-red);
    color: var(--mes-white);
    #mot-no-evidence-title {
      color: inherit;
    }
    #mot-no-evidence-subtitle {
      margin-top: 18px;
      color: inherit;
    }
    button {
      width: 85%;
      min-height: 56px;
      margin-top: 62px;
    }
  }

  .no-left-padding {
    padding-left: 0;
  }
  .no-right-padding {
    padding-right: 0;
  }

  .banner-button {
    min-width: 218px;
  }
  .alert-icon {
    color: var(--mes-white);
    font-size: 100px;
    padding-right: 5px;
  }
}
