<button clear (click)="navigateToJournal()">
  <ion-card class="go-to-journal-card">
    <div id="card-content-wrapper">
      <ion-grid>
        <ion-row class="icon-row">
          <img src="assets/imgs/dashboard/go-to-journal.png" alt="Journal" class="icon-journal"/>
        </ion-row>
        <ion-row>
          <button class="mes-primary-button" ion-button="ion-button">
            <h3>Go to my journal</h3>
          </button>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>
</button>