.go-to-journal-button {
  width: 100%;
  padding: 0px;
  background-color: initial;
  &.activated {
    .go-to-journal-card #card-content-wrapper {
      background: var(--mes-white-darken-10);
    }
  }
}
.go-to-journal-card {

  --background: none;

  h1, h4 {
    color: var(--mes-white);
  }

  ion-row {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .icon-row {
    height: 92px;
  }

  .mes-primary-button {
    min-width: 320px;
    margin-top: 30px;
    box-shadow: none;

    h3 {
      color: var(--mes-white);
    }

  }

  #card-content-wrapper {
    display: flex;
    align-items: center;
    height: 240px;
    padding: 24px;
    background: var(--mes-white);
    width: 100%;
  }
}

ion-card img.icon-journal {
  width: 112px;
  height: 92px
}