<button class="go-to-journal-button" (click)="navigateToJournal()">
  <ion-card class="go-to-journal-card" id="go-to-journal-card">
    <div id="card-content-wrapper">
      <ion-grid>
        <ion-row class="icon-row">
          <img src="assets/imgs/dashboard/go-to-journal.png" alt="Journal" class="icon-journal"/>
        </ion-row>
        <ion-row>
          <ion-button id="go-to-journal-button" mode="ios" class="mes-primary-button">
            <h3>Go to my journal</h3>
          </ion-button>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>
</button>
