@for (slot of slots; track trackBySlotID(i, slot); let i = $index) {
  <span>
    <span>
@switch (slotType(slot)) {
         @case ('personal') {
  <personal-commitment
          
           [hasSlotChanged]="slot?.hasSlotChanged"
           [personalCommitments]="slot?.personalCommitment"
           [showLocation]="showLocation(slot, slots[i - 1])"
           [slot]="slot?.slotData">
         </personal-commitment>
}

        @case ('activity') {
  <activity-slot
         
          [hasSlotChanged]="slot?.hasSlotChanged"
          [showLocation]="showLocation(slot, slots[i - 1])"
          [slot]="slot?.slotData">
        </activity-slot>
}

        @case ('empty') {
  <empty-slot
         
          [hasSlotChanged]="slot.hasSlotChanged"
          [isPortrait]="isPortrait"
          [showLocation]="showLocation(slot, slots[i - 1])"
          [slot]="slot.slotData">
        </empty-slot>
}

        @case ('test-slot') {
  <test-slot
         
          [delegatedTest]="false"
          [derivedActivityCode]="hasSlotBeenTested(slot.slotData, completedTests)"
          [derivedPassCertificate]="didSlotPass(slot.slotData, completedTests)"
          [derivedTestStatus]="derivedTestStatus(slot?.slotData, completedTests)"
          [hasSeenCandidateDetails]="slot?.hasSeenCandidateDetails"
          [hasSlotChanged]="slot?.hasSlotChanged"
          [isPortrait]="isPortrait"
          [isTeamJournal]="isTeamJournal"
          [showLocation]="showLocation(slot, slots[i - 1])"
          [slot]="slot?.slotData"
          [slots]="getSlots()"
          [teamJournalCandidateResult]="false">
        </test-slot>
}
    }
</span>
</span>
}
