<ion-row [formGroup]="formGroup"
         class="mes-validated-row mes-row-separator"
         id="vehicle-checks-toggle-card">
  <div [class.ng-invalid]="invalid" class="validation-bar"></div>
  <ion-col class="component-label ion-align-self-center" size="32">
    <label id="vehicle-check-completed-label">Vehicle checks</label>
  </ion-col>
  <ion-col class="ion-align-self-center mes-padding-left">
    <ion-row class="spacing-row"></ion-row>
    <ion-row>
      <ion-col size="48">
        <input (change)="vehicleChecksToggleResultChanged($event.target.value)"
               [checked]="vehicleChecksCompleted === true"
               [class.ng-invalid]="invalid"
               class="gds-radio-button"
               formControlName="vehicleChecksToggleCtrl"
               id="vehicle-checks-toggle-completed"
               name="vehicleChecksToggleCtrl"
               type="radio"
               value="Completed">
        <label class="radio-label" for="vehicle-checks-toggle-completed">Completed</label>
      </ion-col>
      <ion-col size="48">
        <input (change)="vehicleChecksToggleResultChanged($event.target.value)"
               [checked]="vehicleChecksCompleted === false"
               [class.ng-invalid]="invalid"
               class="gds-radio-button"
               formControlName="vehicleChecksToggleCtrl"
               id="vehicle-checks-toggle-non-completed"
               name="vehicleChecksToggleCtrl"
               type="radio"
               value="Not completed">
        <label class="radio-label" for="vehicle-checks-toggle-non-completed">Not completed</label>
      </ion-col>
    </ion-row>
    <ion-row class="validation-message-row ion-align-items-center">
      <div [class.ng-invalid]="invalid"
           class="validation-text"
           id="waiting-room-to-car-vehicle-checks-toggle-validation-text">
        Select the vehicle checks completed outcome
      </div>
    </ion-row>
    <ion-row class="spacing-row ion-margin-bottom">
      <ion-col size="48">
        <ion-select (ionChange)="vehicleChecksDrivingFaultsNumberChanged($event?.detail?.value)"
                    [disabled]="(componentState.fullLicenceHeldSelection$ | async) === null"
                    [interfaceOptions]="interfaceOptions"
                    aria-label="Vehicle checks driving faults"
                    cancelText="Cancel"
                    class="vehicle-checks-fault-selector"
                    formControlName="vehicleChecksDrivingFaultsNumber"
                    id="vehicle-checks-driving-fault-selector"
                    labelPlacement="stacked"
                    okText="Submit"
                    placeholder="Driving faults">
          <ion-select-option *ngFor="let number of (componentState.drivingFaultsNumberOptions$ | async)"
                             [id]="'driving-fault-' + number"
                             [value]="number">
            {{number}} {{number === 1 ? 'driving fault' : 'driving faults'}}
          </ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row class="validation-message-row ion-align-items-center">
      <div [class.ng-invalid]="invalidDropdown"
           class="validation-text"
           id="wrtc-checks-toggle-validation-text">
        Select the number of driving faults
      </div>
    </ion-row>
  </ion-col>
</ion-row>
