<ion-card>
  <ion-card-header>
    <header-component
      [id]="'integrity-marker-details-title'"
      [zoom]="zoom"
      [headerNum]="4">
      Integrity Marker Details
    </header-component>
  </ion-card-header>
  <ion-card-content>
    <label class="ion-padding-start">
      <div *ngIf="!isTestResult">
        This candidate has a Fraud Integrity Marker against their name. Please be vigilant when checking candidate ID
        and conducting the test.
        <br><br>
        If you wish to request further information, please contact CFI@dvsa.gov.uk to get more details.
        <br><br>
      </div>
      Integrity case number: {{fitCaseNumber}}
    </label>
  </ion-card-content>
</ion-card>
