<div class="additional-candidate-details">
  <dl class="additional-candidate-details__list">
    <dt class="additional-candidate-details__key">
      <abbr
        aria-label="Approved Driving Instructor"
        title="Approved Driving Instructor"
        >ADI</abbr
      >
      <abbr
        aria-label="Personal Reference Number"
        title="Personal Reference Number"
        >PRN</abbr
      >:
    </dt>
    <dd class="additional-candidate-details__value">
      {{ prn }}
    </dd>
    <dt class="additional-candidate-details__key">Attempts:</dt>
    <dd class="additional-candidate-details__value">
      {{ attempts }}
    </dd>
  </dl>
</div>
