@import "src/theme/sass-partials/modal";

:host {
  @extend .modal-alert-wrapper;

  .modal-alert {
    width: 450px;
  }

  .modal-alert-message {
    margin-bottom: 24px;
  }

  .mes-align-content-center {
    text-align: center;
  }

  .cancel-button {
    color: var(--gds-black);
  }
}
