:host {
  .search-tests {
    margin-top: 20px;
    min-height: 56px;
    width: 100%;
  }

  p.results-message {
    margin-top: 24px;

    span {
      font-weight: 900;
    }
  }

  .results-error {
    margin-top: 24px;

    p.error-text {
      margin: 4px 0;
      text-align: center;
    }
  }

  .search-spinner {
    margin-top: 32px;
    margin-left: 700px;
    position: absolute;
  }

  ion-spinner {
    * {
      stroke: white;
    }

    &.spinner-circles circle,
    &.spinner-bubbles circle,
    &.spinner-dots circle {
      fill: white;
    }
  }

  .search-icon {
    display: inline-block;
    position: relative;
    top: 3px;
    padding-right: 3px;
    font-weight: bolder;
  }

  .search-inputs {
    position: absolute;
    z-index: 100;
    margin: 16px 12px;
    width: 810px;
  }

  .vertical-align-center {
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: 900px) {
    .search-inputs {
      width: 1088px;
    }
  }
}
