<ion-row *ngIf="display" class="mes-validated-row mes-row-separator" id="d255-card" [formGroup]="formGroup">
  <div class="validation-bar" [class.ng-invalid]="invalid">
  </div>
  <ion-col class="component-label ion-align-self-center" size="32">
    <label id="d255-label">D255</label>
  </ion-col>
  <ion-col class="ion-align-self-center mes-padding-left">
    <ion-row class="spacing-row"></ion-row>
    <ion-row>
      <ion-col size="48">
        <input type="radio"
               id="d255-yes"
               class="gds-radio-button"
               name="d255"
               formControlName="d255"
               [value]=true
               [class.ng-invalid]="invalid"
               (change)="d255Changed($event.target.id)">
        <label for="d255-yes"
               class="radio-label">Yes
        </label>
      </ion-col>
      <ion-col>
        <input type="radio"
               id="d255-no"
               class="gds-radio-button"
               name="d255"
               formControlName="d255"
               [value]=false
               [class.ng-invalid]="invalid"
               (change)="d255Changed($event.target.id)">
        <label for="d255-no"
               class="radio-label">No
        </label>
      </ion-col>
    </ion-row>
    <ion-row class="validation-message-row ion-align-items-center">
      <div class="validation-text" [class.ng-invalid]="invalid" id="d255-validation-text">
        Select D255
      </div>
    </ion-row>
  </ion-col>
</ion-row>
