:host ::ng-deep {
  #end-debrief-background {
    text-align: center;
    padding: 16px 0;
    background: var(--mes-white);
    height: 110px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  }
  #end-debrief-button {
    min-height: 56px;
    width: 746px;
    margin-top: 11px;
  }
  .counter-icon {
    width: 22px;
    height: 22px;
    min-width: 22px;
    padding: 2px 4px 4px;
    .text-zoom-large & {
      padding-top: 4px;
    }

    .text-zoom-x-large & {
      padding-top: 6px;
    }
  }
  .fault-heading {
    display:inline;
    padding-left: 5px;
  }

  .tr-standard-text {
    font-weight: bold;
    font-size: 20px !important;
    color: var(--gds-black);
  }

}
