:host ::ng-deep {
  .footer-padding {
    padding: 15px 15px 15px 15px;
  }

  .counter-icon {
    width: 22px;
    height: 22px;
    min-width: 22px;
    padding: 2px 4px 4px;

    .text-zoom-large & {
      padding-top: 4px;
    }

    .text-zoom-x-large & {
      padding-top: 6px;
    }
  }

  .fault-heading {
    display: inline;
    padding-left: 5px;
  }

  .tr-standard-text {
    font-weight: bold;
    font-size: 20px !important;
    color: var(--gds-black);
  }

}
