<ion-header>
  <ion-toolbar
    [ngClass]="{
      'no-internal-padding': true,
      'practice-theme': isEndToEndPracticeMode || isTestReportPracticeMode,
      'toolbar-no-padding': isExitSAMBannerActivated,
      'ion-no-padding-important': isEndToEndPracticeMode || isTestReportPracticeMode
    }"
    mode="ios">
    <test-flow-header
      class="display-flex flex-direction-column"
      [testCategory]="category()"
      [shouldIncludeLanguageDirectiveOnTitle]="true"
      [pageName]="'debrief-page'"
      [shouldShowEscapeFromSamButton]="!isDelegated && !isRekey"
      [isPracticeMode]="isEndToEndPracticeMode || isTestReportPracticeMode"
      [isExitSAMActivated]="isExitSAMBannerActivated"
      [shouldShowEndTestLink]="false"
      (exitSamUsed)="onUsedExitSam()"
      (setupLeaveSubscription)="setupEscapeSAMLeaveSubscription()"
      (setupResumeSubscription)="setupEscapeSAMResumeSubscription()"
      (onExitSAMActivatedChanged)="isSamActivatedChanged($event)">
      {{ 'debrief.title' | translate }} - {{ candidateName() }}
    </test-flow-header>
  </ion-toolbar>
</ion-header>

<ion-content>
  <test-outcome-debrief-card [outcome]="outcome" [grade]="grade()"></test-outcome-debrief-card>
  @if (showSpeedCheck()) {
    <speed-check-debrief-card
      [emergencyStop]="emergencyStop()"
      [avoidance]="avoidance()"
      [avoidanceAttempted]="avoidanceAttempted()"
      >
    </speed-check-debrief-card>
  }

  <eta-debrief-card
    [hasPhysicalEta]="hasPhysicalEta"
    [hasVerbalEta]="hasVerbalEta">
  </eta-debrief-card>

  <dangerous-faults-debrief-card
    [testCategory]="testCategory"
    [dangerousFaults]="dangerousFaults()">
  </dangerous-faults-debrief-card>

  <serious-faults-debrief-card
    [testCategory]="testCategory"
    [seriousFaults]="seriousFaults()">
  </serious-faults-debrief-card>

  <driving-faults-debrief-card
    [drivingFaults]="drivingFaults()"
    [drivingFaultCount]="drivingFaultCount()"
    [testCategory]="testCategory"
    >
  </driving-faults-debrief-card>

  @if (showEco()) {
    <eco-debrief-card
      [adviceGivenControl]="adviceGivenControl"
      [adviceGivenPlanning]="adviceGivenPlanning"
      >
    </eco-debrief-card>
  }

  @if (isCategoryBTest()) {
    <vehicle-checks-card-cat-b></vehicle-checks-card-cat-b>
  }

  @if (showVehicleChecksArrayCard()) {
    <vehicle-checks-card
      [category]="category()"
      [tellMeShowMeQuestions]="tellMeShowMeQuestions()"
      >
    </vehicle-checks-card>
  }

  @if (!isTerminated() && showCPCDebriefCard()) {
    <cpc-debrief-card
      [overallScore]="overallScore()"
      [question1]="question1()"
      [question2]="question2()"
      [question3]="question3()"
      [question4]="question4()"
      [question5]="question5()"
      [testOutcome]="outcome"
      >
    </cpc-debrief-card>
  }

  @if (isCatD() && showSafetyQuestions()) {
    <safety-questions-card
      [data]="safetyQuestions()"
      >
    </safety-questions-card>
  }

  @if (showSafetyAndBalance()) {
    <safety-and-balance-card-cat-a-mod2>
    </safety-and-balance-card-cat-a-mod2>
  }

  @if (showADI3DebriefCard()) {
    <adi3-debrief-card
      [testCategory]="testCategory"
      [totalScore]="totalScore()"
      [lessonTheme]="lessonTheme()"
      [lessonPlanning]="lessonPlanning()"
      [riskManagement]="riskManagement()"
      [teachingLearningStrategies]="teachingLearningStrategies()"
      [grade]="grade()"
      [review]="review()"
      >
    </adi3-debrief-card>
  }
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row class="flex-center box-shadow footer-padding">
      <ion-col size="60">
        <ion-button id="end-debrief-button" class="mes-primary-button width-100" (click)="endDebrief()">
          <ion-text addOrRemoveLangCy class="des-header-style-3">{{ 'debrief.end' | translate }}</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
