<ion-header>
    <practice-mode-banner *ngIf="isEndToEndPracticeMode || isPracticeMode"></practice-mode-banner>
    <ion-toolbar mode="ios" [ngClass]="{'toolbar-no-padding': isEndToEndPracticeMode}">
        <ion-buttons id="back-button" slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title id="page-title">{{ 'debrief.title' | translate }} - {{pageState.candidateName$ | async}}</ion-title>
    </ion-toolbar>
    <test-outcome-debrief-card [outcome]="outcome"></test-outcome-debrief-card>
</ion-header>

<ion-content>
    <speed-check-debrief-card
            *ngIf="pageState.showSpeedCheck$ | async"
            [emergencyStop]="pageState.emergencyStop$ | async"
            [avoidance]="pageState.avoidance$ | async"
            [avoidanceAttempted]="pageState.avoidanceAttempted$ | async">
    </speed-check-debrief-card>

    <eta-debrief-card
            [hasPhysicalEta]="hasPhysicalEta"
            [hasVerbalEta]="hasVerbalEta">
    </eta-debrief-card>

    <dangerous-faults-debrief-card
            [dangerousFaults]="pageState.dangerousFaults$ | async">
    </dangerous-faults-debrief-card>

    <serious-faults-debrief-card
            [seriousFaults]="pageState.seriousFaults$ | async">
    </serious-faults-debrief-card>

    <driving-faults-debrief-card
            [drivingFaults]="pageState.drivingFaults$ | async"
            [drivingFaultCount]="pageState.drivingFaultCount$ | async">
    </driving-faults-debrief-card>

    <eco-debrief-card
            *ngIf="pageState.showEco$ | async"
            [adviceGivenControl]="adviceGivenControl"
            [adviceGivenPlanning]="adviceGivenPlanning">
    </eco-debrief-card>

    <vehicle-checks-card-cat-b *ngIf="isCategoryBTest()"></vehicle-checks-card-cat-b>
    <vehicle-checks-card
            *ngIf="showVehicleChecksArrayCard()"
            [category]="pageState.category$ | async"
            [tellMeShowMeQuestions]="pageState.tellMeShowMeQuestions$ | async">
    </vehicle-checks-card>

    <cpc-debrief-card *ngIf="!isTerminated() && showCPCDebriefCard()"
                      [overallScore]="pageState.overallScore$ | async"
                      [question1]="pageState.question1$ | async"
                      [question2]="pageState.question2$ | async"
                      [question3]="pageState.question3$ | async"
                      [question4]="pageState.question4$ | async"
                      [question5]="pageState.question5$ | async"
                      [testOutcome]="outcome">
    </cpc-debrief-card>
    <safety-and-balance-card-cat-a-mod2 *ngIf="pageState.showSafetyAndBalance$ | async">
    </safety-and-balance-card-cat-a-mod2>
</ion-content>

<ion-footer>
    <div id="end-debrief-background">
        <ion-button id="end-debrief-button" class="mes-primary-button" (click)="endDebrief()">
            <h3>{{ 'debrief.end' | translate }}</h3>
        </ion-button>
    </div>
</ion-footer>
