.end-test-link-button {
  display: flex;
  align-items: center;
  background: transparent;
  &.activated {
    background: transparent;
  }
}

.end-test-text {
  color: var(--gds-grey-5);
}

.end-test-text-practice {
  color: var(--gds-black);
}
