<ion-grid [formGroup]="formGroup" class="mes-validated-row mes-row-separator ion-nowrap" id="show-me-questions-card">
  <div [class.ng-invalid]="invalid" class="validation-bar">
    <ion-row class="spacing-row"></ion-row>
    <ion-row>
      <ion-col class="component-label ion-padding-start" size="32">
        <label>Show me question</label>
      </ion-col>
    </ion-row>
    <ion-row class="spacing-row"></ion-row>
    <ion-row>
      <ion-col class="ion-align-self-center ion-padding-start" size="40">
        <ion-select (ionChange)="showMeQuestionsChanged($event.target?.value)"
                    [class.ng-invalid]="invalid"
                    [formControlName]="fieldName"
                    [interfaceOptions]="{cssClass:'mes-select', enableBackdropDismiss:false}"
                    aria-label="Show me question"
                    cancelText="Cancel"
                    class="black-text"
                    id="show-me-question-selector_{{questionNumber}}"
                    labelPlacement="stacked"
                    okText="Submit"
                    placeholder="Select questions">
          @for (showMeQuestion of questions; track showMeQuestion) {
  <ion-select-option
                             [disabled]="isOptionDisabled(showMeQuestion)"
                             [value]="showMeQuestion">
            {{showMeQuestion.code}} - {{showMeQuestion.shortName}}
          </ion-select-option>
}
        </ion-select>
      </ion-col>
      <ion-col size="4"></ion-col>
      <ion-col class="ion-align-self-center" size="24">
        <input (change)="showMeOutcomeChanged($event.target.value)"
               [checked]="showMeChecked"
               [disabled]="showMeDisabled"
               class="gds-radio-button"
               id="showMe_{{questionNumber}}_btn1"
               type="radio"
               value="P">
        <label class="radio-label" for="showMe_{{questionNumber}}_btn1">Correct</label>
      </ion-col>
      <ion-col class="ion-align-self-center" size="24">
        <input (change)="showMeOutcomeChanged($event.target.value)"
               [checked]="!showMeChecked"
               [disabled]="showMeDisabled"
               class="gds-radio-button"
               id="showMe_{{questionNumber}}_btn2"
               type="radio"
               value="DF">
        <label class="radio-label" for="showMe_{{questionNumber}}_btn2">Incorrect</label>
      </ion-col>
    </ion-row>
    <ion-row class="validation-message-row ion-align-items-center">
      <ion-col class="ion-align-items-center ion-padding-start">
        <div [class.ng-invalid]="invalid" class="validation-text" id="office-showmequestions-validation-text">
          Select show me question
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-grid>
