<ion-header>
  <practice-mode-banner *ngIf="isEndToEndPracticeMode"></practice-mode-banner>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'communication.title' | translate }} - {{pageState.candidateUntitledName$ | async}}</ion-title>
    <ion-buttons slot="end">
      <end-test-link [category]="pageState.testCategory$ | async"></end-test-link>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <lock-screen-indicator></lock-screen-indicator>
  <div>
    <form [formGroup]="form">
      <candidate-section [candidateName]="pageState.candidateName$ | async"
                         [candidateDriverNumber]="pageState.candidateDriverNumber$ | async" (continueClickEvent)="onSubmit()">
      </candidate-section>

      <div class="mes-full-width-card-separator"></div>

      <privacy-notice [language]="pageState.conductedLanguage$ | async"></privacy-notice>

      <div class="mes-full-width-card" id="declaration-section">

        <ion-row class="mes-validated-row">
          <ion-col>
            <div class="communication-text-container">
              <h4>{{ 'communication.instructionHeader' | translate }}</h4>
            </div>
            <div class="validation-bar"></div>
            <ion-col>

              <provided-email [formGroup]="form"
                              [shouldRender]="pageState.candidateProvidedEmail$ | async"
                              [providedEmailAddress]="pageState.candidateProvidedEmail$ | async"
                              [isProvidedEmailAddressChosen]="isProvidedEmailSelected()"
                              (providedEmailRadioSelect)="dispatchCandidateChoseProvidedEmail()"
                              (click)="setUserAction('provided')">
              </provided-email>

              <new-email [formGroup]="form"
                         [newEmailAddress]="getNewEmailAddressValue()"
                         [isNewEmailAddressChosen]="isNewEmailSelected()"
                         (newEmailRadioSelect)="conditionalDispatchCandidateChoseNewEmail()"
                         (newEmailTextChange)="dispatchCandidateChoseNewEmail($event)"
                         (click)="setUserAction('newEmail')">
              </new-email>

              <postal-address [formGroup]="form"
                              [postalAddress]="pageState.candidateAddress$ | async"
                              [isPostalAddressChosen]="isPostSelected()"
                              (postalRadioSelect)="dispatchCandidateChosePost($event)"
                              (click)="setUserAction('post')">
              </postal-address>

              <ion-row class="validation-message-row">
                <div class="validation-text"></div>
              </ion-row>
            </ion-col>
          </ion-col>
        </ion-row>
      </div>
    </form>
  </div>
</ion-content>
