<ion-header>
  <practice-mode-banner *ngIf="isEndToEndPracticeMode"></practice-mode-banner>
  <ion-toolbar [ngClass]="{'toolbar-no-padding': isEndToEndPracticeMode}" mode="ios">
    <ion-buttons id="communication-back-button" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title id="communication-page-title">
      {{ 'communication.title' | translate }} - {{candidateProvidedEmail}}
    </ion-title>
    <ion-buttons id="end-button" slot="end">
      <end-test-link
        [category]="testCategory"
        [isPracticeMode]="isPracticeMode">
      </end-test-link>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <lock-screen-indicator></lock-screen-indicator>
  <div>
    <form [formGroup]="form">
      <candidate-section
        (continueClickEvent)="onSubmit()"
        [candidateDriverNumber]="candidateDriverNumber"
        [candidateName]="candidateName"
        [candidatePrnNumber]="prn"
        [isStandardsCheck]="isStandardsCheck"
        [showVRNButton]="true">
      </candidate-section>

      <valid-certificate
        *ngIf="isStandardsCheck"
        (validCertificateChange)="validCertificateChanged($event)"
        [formGroup]="form"
        [validCertificate]="validCertificate"
      ></valid-certificate>

      <div class="mes-full-width-card-separator"></div>

      <privacy-notice
        [category]="testCategory"
        [language]="conductedLanguage"
      ></privacy-notice>

      <div class="mes-full-width-card" id="declaration-section">

        <ion-row class="mes-validated-row">
          <ion-col>
            <div class="communication-text-container">
              <h4 id="comms-instruction-header">{{ 'communication.instructionHeader' | translate }}</h4>
            </div>
            <div class="validation-bar"></div>
            <ion-col>
              <provided-email
                (providedEmailRadioSelect)="dispatchCandidateChoseProvidedEmail()"
                [formGroup]="form"
                [isProvidedEmailAddressChosen]="isProvidedEmailSelected()"
                [providedEmailAddress]="candidateProvidedEmail"
                [shouldRender]="!!(candidateProvidedEmail)">
              </provided-email>

              <new-email
                (newEmailRadioSelect)="conditionalDispatchCandidateChoseNewEmail()"
                (newEmailTextChange)="dispatchCandidateChoseNewEmail($event)"
                [formGroup]="form"
                [isNewEmailAddressChosen]="isNewEmailSelected()">
              </new-email>

              <postal-address
                (postalRadioSelect)="dispatchCandidateChosePost()"
                [formGroup]="form"
                [isPostalAddressChosen]="isPostSelected()"
                [postalAddress]="candidateAddress">
              </postal-address>

              <ion-row class="validation-message-row">
                <div class="validation-text"></div>
              </ion-row>
            </ion-col>
          </ion-col>
        </ion-row>
      </div>
    </form>
  </div>
</ion-content>
