<ion-header>
  <practice-mode-banner *ngIf="isEndToEndPracticeMode"></practice-mode-banner>
  <ion-toolbar [ngClass]="{'toolbar-no-padding': isEndToEndPracticeMode}" mode="ios">
    <ion-buttons id="communication-back-button" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title role="heading" aria-level="1" id="communication-page-title">
      {{ 'communication.title' | translate }} - {{pageState.candidateUntitledName$ | async}}
    </ion-title>
    <ion-buttons id="end-button" slot="end">
      <end-test-link
        [category]="pageState.testCategory$ | async"
        [isPracticeMode]="isPracticeMode">
      </end-test-link>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <lock-screen-indicator></lock-screen-indicator>
  <div>
    <form [formGroup]="form">
      <candidate-section (continueClickEvent)="onSubmit()"
                         [candidateDriverNumber]="pageState.candidateDriverNumber$ | async"
                         [candidateName]="pageState.candidateName$ | async"
                         [candidatePrnNumber]="pageState.prn$ | async"
                         [isStandardsCheck]="pageState.isStandardsCheck$ | async"
                         [showVRNButton]="pageState.showVrnBtn$ | async">
      </candidate-section>

      <valid-certificate
        (validCertificateChange)="validCertificateChanged($event)"
        *ngIf="pageState.isStandardsCheck$ | async"
        [formGroup]="form"
        [validCertificate]="pageState.validCertificate$ | async"
      ></valid-certificate>

      <div class="mes-full-width-card-separator"></div>

      <privacy-notice
        [category]="pageState.testCategory$ | async"
        [language]="pageState.conductedLanguage$ | async"
      ></privacy-notice>

      <div class="mes-full-width-card" id="declaration-section">

        <ion-row class="mes-validated-row">
          <ion-col>
            <div class="communication-text-container">
              <ion-text class="des-header-style-4" id="comms-instruction-header">{{ 'communication.instructionHeader' | translate }}</ion-text>
            </div>
            <div class="validation-bar"></div>
            <ion-col>
              <provided-email (providedEmailRadioSelect)="dispatchCandidateChoseProvidedEmail()"
                              [formGroup]="form"
                              [isProvidedEmailAddressChosen]="isProvidedEmailSelected()"
                              [providedEmailAddress]="pageState.candidateProvidedEmail$ | async"
                              [shouldRender]="!!(pageState.candidateProvidedEmail$ | async)">
              </provided-email>

              <new-email (newEmailRadioSelect)="conditionalDispatchCandidateChoseNewEmail()"
                         (newEmailTextChange)="dispatchCandidateChoseNewEmail($event)"
                         [formGroup]="form"
                         [isNewEmailAddressChosen]="isNewEmailSelected()">
              </new-email>

              <postal-address (postalRadioSelect)="dispatchCandidateChosePost()"
                              [formGroup]="form"
                              [isPostalAddressChosen]="isPostSelected()"
                              [postalAddress]="pageState.candidateAddress$ | async">
              </postal-address>

              <ion-row class="validation-message-row">
                <div class="validation-text"></div>
              </ion-row>
            </ion-col>
          </ion-col>
        </ion-row>
      </div>
    </form>
  </div>
</ion-content>
