<div id="test-outcome-background" [ngSwitch]="outcome">
    <div class="test-outcome-container {{outcome}}">
      <header-component
        [id]="'outcome-header'"
        [headerNum]="4">
        {{'debrief.outcomeHeader' | translate}}
      </header-component>
        <div *ngSwitchCase="'Pass'">
          <header-component
            *ngIf="grade"
            [id]="'status-passed-grade'"
            [headerNum]="1">
            {{'Passed - Grade ' + grade}}
          </header-component>
          <header-component
            *ngIf="!grade"
            [id]="'status-passed'"
            [headerNum]="1">
            {{'debrief.passStatus' | translate}}
          </header-component>
        </div>
      <header-component
        *ngSwitchCase="'Fail'"
        [id]="'status-fail'"
        [headerNum]="1">
        {{'debrief.failStatus' | translate}}
      </header-component>
      <header-component
        *ngSwitchCase="'Terminated'"
        [id]="'status-terminated'"
        [headerNum]="1">
        {{'debrief.terminatedStatus' | translate}}
      </header-component>
    </div>
</div>
