#candidate-section {
  display: flex;
  justify-content: space-between;
  align-items: center;

  #continue-button {
    min-height: 56px;
    min-width: 132px;
  }

  #vrn-button {
    min-height: 56px;
    min-width: 132px;
    padding-left: 1%;
    padding-right: 1%;
  }
}
