<ion-header>
  <practice-mode-options-bar *ngIf="isEndToEndPracticeMode"></practice-mode-options-bar>
  <ion-toolbar class="no-internal-padding"
               [ngClass]="{'toolbar-no-padding': isEndToEndPracticeMode || isExitSAMBannerActivated}" mode="ios">
    <test-flow-header
      class="display-flex flex-direction-column"
      [pageName]="'post-debrief'"
      [shouldShowEscapeFromSamButton]="!isRekey && !isDelegated"
      [shouldShowBackButton]="false"
      [isPracticeMode]="isEndToEndPracticeMode"
      [isExitSAMActivated]="isExitSAMBannerActivated"
      [shouldShowEndTestLink]="false"
      (setupLeaveSubscription)="setupEscapeSAMLeaveSubscription()"
      (setupResumeSubscription)="setupEscapeSAMResumeSubscription()"
      (exitSamUsed)="onUsedExitSam()"
      (onExitSAMActivatedChanged)="isSamActivatedChanged($event)">
      Post debrief screen
    </test-flow-header>
  </ion-toolbar>
</ion-header>

<ion-content id="post-debrief-holding-page" class="content-styling" forceOverscroll="false">
  <div class="container">
    <img id="dvsa-logo" src="assets/imgs/back-to-office/logo.png" alt="DVSA Logo" />
  </div>

  <div class="container">
    <ion-button
      id="continue-to-non-pass-finalisation"
      class="mes-neutral-button office-button top-button"
      (click)="continueButton()"
    >
      Continue
    </ion-button>
  </div>
</ion-content>
