@use 'src/theme/sass-partials/_buttons.scss';

:host ::ng-deep {
  display: flex;       // this styling is necessary to ensure z-index
  flex-flow: column;   // works on competency buttons
  margin-bottom: 10px;
  .fault-wrapper {
    display: flex;
  }
}
