<ion-header>
    <ion-toolbar mode="ios">
        <ion-title>Test Centre Journal</ion-title>
        <ion-buttons slot="start">
            <ion-back-button class="colour-white" defaultHref="DashboardPage"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="getTestCentreData()">
                <div>
                    <ion-icon name="sync-outline" class="refresh-button-icon colour-white"></ion-icon>
                    <span class="colour-white">Refresh</span>
                    <ion-label>
                        <h6 class="last-sync">Last sync: {{pageState.lastRefreshedTime$ | async}}</h6>
                    </ion-label>
                </div>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <offline-banner [isOffline]="pageState.isOffline$ | async"></offline-banner>

    <ng-template [ngIf]="didError" [ngIfElse]="noError">
        <error-message class="error" returnTo="{{errorMessage}}" [displayAsModal]="false"></error-message>
    </ng-template>

    <ng-template #noError>

    </ng-template>
</ion-content>
