<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons id="back-button" slot="start">
      <ion-back-button id="test-centre-journal-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title id="test-centre-journal-page-title" role="heading" aria-level="1">Test centre journal</ion-title>
    <ion-buttons slot="end">
      <ion-button id="refresh-button" class="refresh-button" (click)="getTestCentreData(true)">
        <div class="line-height-styling">
          <ion-icon name="sync-outline" class="refresh-button-icon colour-white"></ion-icon>
          <span class="colour-white">Refresh</span>
          <br>
          <ion-label>
            <ion-text id="last-sync" class="des-header-style-6 last-sync">Last sync: {{pageState.lastRefreshedTime$ | async}}</ion-text>
          </ion-label>
        </div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <offline-banner [isOffline]="pageState.isOffline$ | async"></offline-banner>

  @if (didError) {
<ng-template [ngIfElse]="noError">
    <error-message class="error" returnTo="{{errorMessage}}" [displayAsModal]="false"></error-message>
  </ng-template>
}

  <ng-template #noError>
    @if (isLDTM || testCentreResults) {
<div class="search-inputs">
      <tabs (tabChanged)="tabChanged($event?.title)">
        <tab [tabTitle]="'Candidate search'">
          <candidate-search-card
            #candidateSearchCard
            [testCentreName]="testCentreNames"
            [testCentreResults]="testCentreResults"
            [manuallyRefreshed]="manuallyRefreshed"
            [testCentres]="pageState.activeTestCentres$ | async"
            [isLDTM]="isLDTM"
            [selectedTestCentre]="testCentreSelected"
            (testCentreChanged)="testCentreChange($event)">
          </candidate-search-card>
        </tab>
        <tab [tabTitle]="'View journals'" id="view-journals-tab-title">
          <view-journals-card
            #viewJournalsCard
            [testCentreName]="testCentreNames"
            [manuallyRefreshed]="manuallyRefreshed"
            [testCentreResults]="testCentreResults"
            [testCentres]="pageState.activeTestCentres$ | async"
            [isLDTM]="isLDTM"
            [selectedTestCentre]="testCentreSelected"
            (testCentreChanged)="testCentreChange($event)">
          </view-journals-card>
        </tab>
      </tabs>
    </div>
}
  </ng-template>
</ion-content>
