.colour-white {
  color: white;
}

.last-sync {
  color: var(--mes-secondary-header);
  margin-top: -4px;
}

.refresh-button-icon {
  padding: 0 10px;
  font-size: 17px;
}

.search-inputs {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
