<ion-header>
  <ion-toolbar class="no-internal-padding"
    [ngClass]="{'toolbar-no-padding': isExitSAMBannerActivated}" mode="ios">
    <test-flow-header
      class="display-flex flex-direction-column"
      [pageName]="'test-centre-journal-page'"
      (exitSamUsed)="onUsedExitSam()"
      [shouldShowEndTestLink]="false"
      [shouldShowEscapeFromSamButton]="pageState.enteredFromTest$ | async"
      [isExitSAMActivated]="isExitSAMBannerActivated"
      [shouldShowRefreshButton]="true"
      (setupLeaveSubscription)="setupEscapeSAMLeaveSubscription()"
      (setupResumeSubscription)="setupEscapeSAMResumeSubscription()"
      [refreshLastSyncTime]="pageState.lastRefreshedTime$ | async"
      (refreshButtonClicked)="getTestCentreData(true)"
      (onExitSAMActivatedChanged)="isSamActivatedChanged($event)">
      Test centre journal
    </test-flow-header>
  </ion-toolbar>
</ion-header>

<ion-content>
  <offline-banner [isOffline]="pageState.isOffline$ | async"></offline-banner>

  @if (didError) {
    <error-message class="error" returnTo="{{errorMessage}}" [displayAsModal]="false"></error-message>
  } @else {
    @if (isLDTM || testCentreResults) {
      <div class="search-inputs">
        <tabs (tabChanged)="tabChanged($event?.title)">
          <tab [tabTitle]="'Candidate search'" id="candidate-search-tab">
            <candidate-search-card
              #candidateSearchCard
              [testCentreName]="testCentreNames"
              [testCentreResults]="testCentreResults"
              [manuallyRefreshed]="manuallyRefreshed"
              [testCentres]="pageState.activeTestCentres$ | async"
              [isLDTM]="isLDTM"
              [selectedTestCentre]="testCentreSelected"
              (testCentreChanged)="testCentreChange($event)"
              >
            </candidate-search-card>
          </tab>
          <tab [tabTitle]="'View journals'" id="view-journals-tab">
            <view-journals-card
              #viewJournalsCard
              [testCentreName]="testCentreNames"
              [manuallyRefreshed]="manuallyRefreshed"
              [testCentreResults]="testCentreResults"
              [testCentres]="pageState.activeTestCentres$ | async"
              [isLDTM]="isLDTM"
              [selectedTestCentre]="testCentreSelected"
              (testCentreChanged)="testCentreChange($event)"
              >
            </view-journals-card>
          </tab>
        </tabs>
      </div>
    }
  }

</ion-content>
