@import "src/theme/sass-partials/_typography.scss";

.navigation-button {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.next-navigation-button {
  @extend .navigation-button;
  float: right;
}

.navigation-arrow {
  width: 40px;
  height: 40px;
  font-weight: bolder;
  border-radius: 50%;
  color: #000;
  line-height: 48px;
  text-align: center;
  background: #fff;
}

.header1 {
  @extend .heavy-font-family;

  &.text-zoom-regular {
    font-size: 40px;
    line-height: 56px;
  }

  &.text-zoom-large {
    font-size: 48px;
    line-height: 68px;
  }

  &.text-zoom-x-large {
    font-size: 58px;
    line-height: 80px;
  }
}

#previous-day {
  padding-left: 12px;
}

#next-day {
  padding-right: 12px;
}

#date-container {
  text-align: center;
  white-space: nowrap;
}
