<div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h5 id="previous-day-container" *ngIf="canNavigateToPreviousDay"
            class="navigation-button"
            (click)="onPreviousDayClick()">
          <ion-icon class="navigation-arrow" name="chevron-back-outline"></ion-icon>
          <span id="previous-day">{{previousDayLabel}}</span>
        </h5>
      </ion-col>
      <ion-col>
        <div id="date-container">
          <div *ngIf="isSelectedDateToday; else notToday">
            <header-component
              [id]="'date-today-header'"
              [headerNum]="1">
              Today
            </header-component>
            <h3 id="today-date">{{ selectedDate | date:'EEEE d MMMM y' }}</h3>
          </div>
          <ng-template #notToday>
            <div *ngIf="fromTestCentreJournal; else journalView">
              <header-component
                [id]="'date-tomorrow-header'"
                [headerNum]="1">
                Tomorrow
              </header-component>
              <header-component
                [id]="'tomorrow-date'"
                [headerNum]="3">
                {{ selectedDate | date:'EEEE d MMMM y' }}
              </header-component>
            </div>
            <ng-template #journalView>
              <header-component
                [id]="'date-day-header'"
                [headerNum]="1">
                {{ selectedDate | date:'EEEE' }}
              </header-component>
              <header-component
                [id]="'date-subheader'"
                [headerNum]="3">
                {{ selectedDate | date:'d MMMM y' }}
              </header-component>
            </ng-template>
          </ng-template>
        </div>
      </ion-col>
      <ion-col>
        <h5 id="next-day-container"
            *ngIf="canNavigateToNextDay"
            class="next-navigation-button"
            (click)="onNextDayClick()">
          <span id="next-day">{{nextDayLabel}}</span>
          <ion-icon class="navigation-arrow" name="chevron-forward-outline"></ion-icon>
        </h5>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
