@if (data?.length > 0; let questions) {
<ion-card id="vehicle-checks">
  <ion-card-header>
    <ion-card-title>
      <ion-text class="des-header-style-4 fault-heading">Safety question(s)</ion-text>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      @for (item of data; track item) {
  <ion-row class="row-padding mes-data ion-align-items-center">
        <ion-col size="32" class="ion-no-padding"></ion-col>
        <ion-col size="4" class="display-flex ion-align-items-center ion-no-padding">
          <div class="vehicle-check-icon">
            @if (!questionHasFault(item)) {
<img src="assets/imgs/greenCorrectAnswer.png"
                 alt="Correct Answer" class="display-flex correct-icon"/>
}
            @if (questionHasFault(item)) {
<img src="assets/imgs/redWrongAnswer.png" alt="Wrong Answer"
                 class="display-flex wrong-icon"/>
}
          </div>
        </ion-col>
        <ion-col size="1" class="ion-no-padding"></ion-col>
        <ion-col class="ion-no-padding">
          <div class="counter-label">
            {{item.description}}
          </div>
        </ion-col>
      </ion-row>
}
    </ion-grid>
  </ion-card-content>
</ion-card>
}
