<test-centre-name [testCentre]="testCentreName"></test-centre-name>

<ion-row>
  <ion-col size="3" class="component-label">
    <label>Candidate Name:</label>
  </ion-col>
  <ion-col size="9" class="component-row">
    <typeahead-dropdown #typeAhead
            [listValues]="getCandidateList()"
            [property]="'name'"
            (candidateChange)="onCandidateDidChange($event)"

    ></typeahead-dropdown>
  </ion-col>
</ion-row>
<ion-row class="mes-full-width-card">
  <ion-button mode="ios" class="mes-primary-button full-width" [disabled]="!enableShowBookingButton">
    <h3 (click)="showResults()">Show booking</h3>
  </ion-button>
</ion-row>

<section *ngIf="shouldShowCandidateResults">
  <!--TODAY'S SLOTS-->
  <div>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <h1>Today</h1>
          <h3>{{today | date: 'EEEE d MMMM y'}}</h3>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div>
    <p *ngIf="!todaySlots || todaySlots.length === 0 " class="ion-padding-top ion-text-center no-results">
      {{selectedCandidateName}} does not have a test today.
    </p>
  </div>
  <ion-list *ngFor="let candidateSlot of todaySlots">
    <test-slot
            [slot]="candidateSlot.slot"
            [teamJournalCandidateResult]="true"
            [examinerName]="candidateSlot.examinerName"
            [isTeamJournal]="true"
    ></test-slot>
  </ion-list>

  <!--TOMORROW'S SLOTS-->
  <div>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <h1>Tomorrow</h1>
          <h3>{{tomorrow | date: 'EEEE d MMMM y'}}</h3>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="no-results">
    <p *ngIf="!tomorrowSlots || tomorrowSlots.length === 0" class="ion-padding-top ion-text-center no-results">
      {{selectedCandidateName}} does not have a test tomorrow.
    </p>
  </div>
  <ion-list *ngFor="let candidateSlot of tomorrowSlots">
    <test-slot
            [slot]="candidateSlot.slot"
            [teamJournalCandidateResult]="true"
            [examinerName]="candidateSlot.examinerName"
            [isTeamJournal]="true"
    ></test-slot>
  </ion-list>

</section>
