<test-centre-name [testCentreResults]="testCentreResults"></test-centre-name>

<searchable-picklist
  #candidatePicklist
  [dataList]="getCandidateList()"
  [fieldLabel]="'Candidate name:'"
  [key]="'name'"
  [displayKey]="'name'"
  [idPrefix]="'tcj-candidate-search'"
  [minCharactersBeforeListDisplay]="3"
  [placeholder]="'Please enter a candidates name'"
  (outputChanged)="onCandidateDidChange($event)">
</searchable-picklist>

<ion-row class="mes-full-width-card">
  <ion-button mode="ios" class="mes-primary-button full-width" [disabled]="!enableShowBookingButton"
              (click)="showResults()" id="show-booking-button">
    <h3 id="show-booking-button-text">Show booking</h3>
  </ion-button>
</ion-row>

<section *ngIf="shouldShowCandidateResults">
  <!--TODAY'S SLOTS-->
  <div>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <h1>Today</h1>
          <h3>{{today?.moment?.toDate() | date: 'EEEE d MMMM y'}}</h3>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div>
    <p *ngIf="!todaySlots || todaySlots.length === 0"
       id="candidate-no-booking-at-test-centre-today-message"
       class="ion-padding-top ion-text-center no-results">
      This candidate does not have a booking at {{slashSeperatedTestCentres}} for today.
    </p>
  </div>
  <ion-list *ngFor="let candidateSlot of todaySlots">
    <test-slot
      [slot]="candidateSlot.slot"
      [teamJournalCandidateResult]="true"
      [examinerName]="candidateSlot.examinerName"
      [isTeamJournal]="true"
    ></test-slot>
  </ion-list>

  <!--TOMORROW'S SLOTS-->
  <div>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <h1>Tomorrow</h1>
          <h3>{{tomorrow?.moment?.toDate() | date: 'EEEE d MMMM y'}}</h3>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="no-results">
    <p *ngIf="!tomorrowSlots || tomorrowSlots.length === 0"
       id="candidate-no-booking-at-test-centre-tomorrow-message"
       class="ion-padding-top ion-text-center no-results">
      This candidate does not have a booking at {{slashSeperatedTestCentres}} for tomorrow.
    </p>
  </div>
  <ion-list *ngFor="let candidateSlot of tomorrowSlots">
    <test-slot
      [slot]="candidateSlot.slot"
      [teamJournalCandidateResult]="true"
      [examinerName]="candidateSlot.examinerName"
      [isTeamJournal]="true"
    ></test-slot>
  </ion-list>

</section>
