.mes-full-width-card {
  padding: 20px 0 0 0;
  .full-width {
    width: 100%;
  }
}

.component-row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.component-label {
  padding-top: 20px;
  width: 33%;
}

ion-list, section {
  background-color: var(--ion-background-color);
}

.no-results {
  margin-top: 24px;
  margin-bottom: 24px;
  p.error-text {
    margin: 4px 0;
    text-align: center;
  }
}

section {
  width: 95%;
  height: 100%;
  margin-top: 22px;
  position: absolute;
}
