<searchable-picklist-wrapper
  *ngIf="isLDTM; else isDE;"
  #testCentrePicklist
  [dataList]="testCentres"
  [model]="selectedTestCentre"
  [differentDisplay]="true"
  [fieldLabel]="'Test centre:'"
  [primaryKey]="'centreId'"
  [displayKey]="'centreName'"
  [fuzzySearchKeys]="['centreName', 'costCode', 'centreId']"
  [idPrefix]="'tcj-candidate-search-tab'"
  [minCharactersBeforeListDisplay]="2"
  [placeholder]="'Select a test centre'"
  (outputChanged)="onTestCentreDidChange($event)">
</searchable-picklist-wrapper>
<ng-template #isDE>
  <test-centre-name [testCentreResults]="testCentreResults"></test-centre-name>
</ng-template>

<searchable-picklist-wrapper
  #candidatePicklist
  [dataList]="getCandidateList()"
  [model]="selectedCandidate"
  [fieldLabel]="'Candidate name:'"
  [primaryKey]="'name'"
  [displayKey]="'name'"
  [fuzzySearchKeys]="['name']"
  [idPrefix]="'tcj-candidate-search'"
  [minCharactersBeforeListDisplay]="3"
  [placeholder]="'Candidate name'"
  [disabled]="isLDTM ? !!!(selectedTestCentre) : false"
  (outputChanged)="onCandidateDidChange($event)">
</searchable-picklist-wrapper>

<ion-row class="mes-full-width-card">
  <ion-button mode="ios" class="mes-primary-button full-width" [disabled]="!enableShowBookingButton"
              (click)="showResults()" id="show-booking-button">
    <header-component
      [id]="'show-booking-button-text'"
      [headerNum]="3">
      Show booking
    </header-component>
  </ion-button>
</ion-row>

<section *ngIf="shouldShowCandidateResults">
  <!--TODAY'S SLOTS-->
  <div>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <header-component
            [headerNum]="1">
            Today
          </header-component>
          <header-component
            [headerNum]="3">
            {{today?.moment?.toDate() | date: 'EEEE d MMMM y'}}
          </header-component>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div>
    <p *ngIf="!todaySlots || todaySlots.length === 0"
       id="candidate-no-booking-at-test-centre-today-message"
       class="ion-padding-top ion-text-center no-results">
      This candidate does not have a booking at {{slashSeperatedTestCentres}} for today.
    </p>
  </div>
  <ion-list *ngFor="let candidateSlot of todaySlots">
    <test-slot
      [isPortrait]="orientationMonitorProvider.isPortraitMode$ | async"
      [slot]="candidateSlot.slot"
      [teamJournalCandidateResult]="true"
      [examinerName]="candidateSlot.examinerName"
      [isTeamJournal]="true"
    ></test-slot>
  </ion-list>

  <!--TOMORROW'S SLOTS-->
  <div>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <header-component
            [headerNum]="1">
            Tomorrow
          </header-component>
          <header-component
            [headerNum]="3">
            {{tomorrow?.moment?.toDate() | date: 'EEEE d MMMM y'}}
          </header-component>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="no-results">
    <p *ngIf="!tomorrowSlots || tomorrowSlots.length === 0"
       id="candidate-no-booking-at-test-centre-tomorrow-message"
       class="ion-padding-top ion-text-center no-results">
      This candidate does not have a booking at {{slashSeperatedTestCentres}} for tomorrow.
    </p>
  </div>
  <ion-list *ngFor="let candidateSlot of tomorrowSlots">
    <test-slot
      [isPortrait]="orientationMonitorProvider.isPortraitMode$ | async"
      [slot]="candidateSlot.slot"
      [teamJournalCandidateResult]="true"
      [examinerName]="candidateSlot.examinerName"
      [isTeamJournal]="true"
    ></test-slot>
  </ion-list>

</section>
