<ion-card>
  <ion-card-header>
    <ion-grid>
      <ion-row class="ion-justify-content-center ion-text-center">
        <ion-col>
          <ion-icon id="learn-more-modal-alert-icon" class="warning-icon" ios="alert-circle" aria-label="Alert icon"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col>
          <ion-text id="learn-more-modal-title-text" class="des-header-style-2">
            Stop-drive order in effect
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-header>

  <ion-card-content class="mes-row-separator">
    <ion-text id="learn-more-modal-body-text" class="ion-justify-content-center modal-text">
      Please be aware that a 'stop-drive' order has been issued by <b>Citroën</b> for some
      <b>C3</b>, <b>C4</b>, <b>DS3</b>, <b>DS4</b> and <b>DS5</b> models.
      <br>
      <br>
      If a car is presented to use on test that you think might be included you must:

      <ul>
        <li>Use the Citroën safety recall online check to see if the car is affected by inputting the VIN number</li>
        <br>
        <li>The link can be found here: <b class="linkText" (click)="openRecallLink()">Citroën safety recall checker</b></li>
        <br>
        <li>If the repair work has been carried out, you must take the car on test as normal</li>
        <br>
        <li>If the repair work has not been carried out, you must not take the car out on test</li>
      </ul>
      DES has also been updated to allow you to check this while on the waiting room to car screen.
    </ion-text>
  </ion-card-content>

  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button id="learn-more-modal-ok-btn" fill="clear" class="dark-divider-ok-button ion-justify-content-center" (click)="closeModal()">Ok
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
