:host {
  .linkText {
    color: var(--hyperlink-blue);
    text-decoration: underline;
  }
  .warning-icon {
    font-size: 80px;
    color: var(--mes-theme-opposing-colour);
  }

  .top-row {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .full-width-padding {
    padding-left: 20px;
    padding-right: 20px;
  }

  .modal-text {
    font-size: 24px;
    line-height: 24px;
    color: var(--mes-theme-opposing-colour);
  }

  .dark-divider-ok-button {
    width: 100%;
    font-weight: bold;
    color: var(--mes-theme-opposing-colour);
  }
}
