<ion-row *ngIf="display" class="mes-validated-row"
         [ngClass]="{ 'mes-row-separator' : isDelegated }"
         id="debrief-card" [formGroup]="formGroup">
  <div class="validation-bar" [class.ng-invalid]="invalid">
  </div>
  <ion-col class="component-label ion-align-self-center" size="32">
    <label id="debrief-witnessed-label">Debrief witnessed</label>
  </ion-col>
  <ion-col class="ion-align-self-center mes-padding-left">
    <ion-row class="spacing-row"></ion-row>
    <ion-row>
      <ion-col size="48">
        <input type="radio"
               formControlName="debriefWitnessed"
               id="debrief-witnessed-yes"
               name="debriefWitnessed"
               class="gds-radio-button"
               [class.ng-invalid]="invalid"
               [value]=true
               (change)="debriefWitnessedChanged($event.target.id)">
        <label for="debrief-witnessed-yes" class="radio-label">Yes</label>
      </ion-col>
      <ion-col>
        <input type="radio"
               formControlName="debriefWitnessed"
               id="debrief-witnessed-no"
               name="debriefWitnessed"
               class="gds-radio-button"
               [class.ng-invalid]="invalid"
               [value]=false
               (change)="debriefWitnessedChanged($event.target.id)">
        <label for="debrief-witnessed-no" class="radio-label">No</label>
      </ion-col>
    </ion-row>
    <ion-row class="validation-message-row ion-align-items-center">
      <div class="validation-text" [class.ng-invalid]="invalid" id="debrief-witnessed-validation-text">
        Was the debrief witnessed?
      </div>
    </ion-row>
  </ion-col>
</ion-row>
