:host {
  width: 100%;
  #eyesight-failure-confirmation {
    margin: 12px;
    padding: 40px;
    background: var(--gds-blue);
    color: var(--mes-theme-main-colour);
    #eyesight-failure-title {
      color: var(--gds-white);
    }
    #eyesight-failure-subtitle {
      margin-top: 18px;
      color: var(--gds-white);
    }
    button {
      width: 85%;
      min-height: 56px;
      margin-top: 62px;
    }
  }

  .cancel-button {
    min-width: 225px;
  }
  .alert-icon {
    color: var(--mes-white);
    font-size: 100px;
    padding-right: 5px;
  }
}
