:host {
  width: 100%;
  #eyesight-failure-confirmation {
    margin: 12px;
    padding: 40px 55px;
    background: var(--gds-blue);
    color: var(--mes-white);
    #eyesight-failure-icon {
      height: 68px;
      margin-right: 15px;
    }
    #eyesight-failure-title {
      color: inherit;
    }
    #eyesight-failure-subtitle {
      margin-top: 18px;
      color: inherit;
    }
    button {
      width: 85%;
      min-height: 56px;
      margin-top: 62px;
    }
  }
}
