.end-test-link-button {
  background: transparent;
  &.activated {
    background: transparent;
  }
}

.call-icon-button {
  background-color: #7984EF;
  border-radius: 100px;
  padding-left: 5px;
  padding-right: 5px;
}

.end-test-text {
  color: var(--gds-grey-5);
}
