:host {
  .true-likeness-padding {
    align-items: center;
    padding-left: 8px;
  }
  .ion-row-left-padding {
    padding-left: 24px;
  }

  .radio-column-padding {
    padding-left: 13px;
  }

  .radio-yes-padding {
    padding-left: 0;
  }

  .radio-no-padding {
    padding-left: 7px;
    padding-right: 0;
  }
}
