<ion-row class="mes-validated-row mes-row-separator" id="true-likeness-row" [formGroup]="formGroup">
  <div class="validation-bar" [class.ng-invalid]="invalid"></div>
  <ion-col class="component-label ion-align-self-center" [size]="colSize">
    <label id="candidate-appearance-true-likeness-label">Candidate appearance true likeness to licence photo</label>
  </ion-col>
  <ion-col class="ion-align-self-center ion-padding-start">
    <ion-row class="spacing-row"></ion-row>
    <ion-row class="display-flex direction-column">
      <ion-radio-group
        formControlName="trueLikeness"
        class="display-flex radio-group-width"
        [value]="formControl.value"
        (ionChange)="trueLikenessChanged($event.target.value)">
        <ion-col size="40">
          <ion-radio
            class="gds-refactor-radio"
            id="true-likeness-yes"
            [class.ng-invalid]="invalid"
            labelPlacement="end"
            value="true">
            <label class="radio-label" id="true-likeness-yes-label">
              Yes
            </label>
          </ion-radio>
        </ion-col>
        <ion-col></ion-col>
        <ion-col size="40">
          <ion-radio
            class="gds-refactor-radio"
            id="true-likeness-no"
            [class.ng-invalid]="invalid"
            labelPlacement="end"
            value="false">
            <label class="radio-label" id="true-likeness-no-label">
              No
            </label>
          </ion-radio>
        </ion-col>
      </ion-radio-group>
    </ion-row>
    <ion-row class="validation-message-row ion-align-items-center">
      <div class="validation-text" id="true-likeness-validation-text" [class.ng-invalid]="invalid">
        Confirm if candidate photograph is a true likeness
      </div>
    </ion-row>
  </ion-col>
</ion-row>
