<ion-header>
  <ion-toolbar>
    <ion-buttons id="delegated-rekey-search-back-button" slot="end" class="mes-padding-right">
      <ion-back-button text="Close" icon="close-outline" [defaultHref]="'DashboardPage'"></ion-back-button>
    </ion-buttons>
    <ion-title role="heading" aria-level="1" id="delegated-rekey-search-page-title">
      Search test rekey backlog
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content force-overscroll="false">
  <div class="search-inputs box-spacing" [formGroup]="delegatedRekeyForm">
    <tabs>
      <tab [tabTitle]="'Rekey backlog'" id="tab-search-rekey">
        <ion-grid>
          <ion-row>
            <ion-col class="ion-align-self-center" size="32">
              <label id="delegated-rekey-search-app-ref-label">Booking reference</label>
            </ion-col>
            <ion-col class="display-flex ion-align-items-center" size="38">
              <ion-input
                placeholder="Booking reference"
                id="delegated-rekey-search-application-reference"
                type="text"
                formControlName="applicationReferenceInput"
                class="ion-input-styling custom-font-size"
                aria-labelledby="delegated-rekey-search-application-reference-label"
                [clearInput]="true"
                [class.ng-invalid]="hasClickedSearch && applicationReferenceInvalid"
                (ionFocus)="setFocus('appRef')"
                (ionBlur)="setFocus(null)"
                [ngClass]="{'input-focus': focusedElement === 'appRef'}"
                [value]="applicationReference"
                (ionInput)="onApplicationReferenceInput($event.target.value)"
                (ionChange)="applicationReferenceChanged($event.target.value)"
                [maskito]="getBookingReferenceMask()"
                [maskitoElement]="getMaskPredicate()"
              >
              </ion-input>
            </ion-col>
          </ion-row>

          @if (hasClickedSearch && applicationReferenceInvalid) {
            <ion-row
              class="validation-message-row ion-align-items-center"
              >
              <div
                class="ion-padding-left validation-text"
                [class.ng-invalid]="applicationReferenceInvalid"
                id="delegated-rekey-search-validation-text"
                >
                Please enter a valid booking reference
              </div>
            </ion-row>
          }

          <ion-row class="ion-padding-bottom">
            <ion-col class="ion-align-content-center">
              <ion-text
                [class.booking-ref-explainer]="applicationReference !== '' && !isUserEnteringApplicationReference"
                class="mes-data ion-align-content-center transparent">Enter the reference without spaces
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row class="ion-padding-top">
            <ion-button
              [disabled]="(pageState.isLoading$ | async)"
              class="mes-primary-button search-tests"
              id="delegated-rekey-search-search-tests-btn"
              (click)="searchTests()"
              >
              <ion-col></ion-col>
              <ion-col size="45" class="ion-justify-content-center display-flex">
                <ion-text id="delegated-rekey-search-advanced-search-button-text" class="des-header-style-3">
                  <ion-icon id="delegated-rekey-search-advanced-search-button-icon" class="search-icon" name="search"></ion-icon>
                  Search booked tests
                </ion-text>
              </ion-col>
              <ion-col class="display-flex">
                <ion-col class="ion-justify-content-end display-flex">
                  @if ((pageState.isLoading$ | async)) {
                    <ion-spinner
                      id="delegated-rekey-search-page-spinner"
                      name="bubbles">
                    </ion-spinner>
                  }
                </ion-col>
              </ion-col>
            </ion-button>
          </ion-row>
        </ion-grid>
      </tab>
    </tabs>

    @if ((pageState.hasSearched$ | async) && isBookedTestSlotEmpty(pageState.bookedTestSlot$ | async) && !(hasBookingAlreadyBeenCompleted(pageState.rekeySearchErr$ | async))) {
      <div
        class="results-error"
        >
        <p class="error-text" id="delegated-rekey-search-error-text-no-results">There were no results found for your search.</p>
        <p class="error-text" id="delegated-rekey-search-error-text-no-pls-try-again">Please check and try again.</p>
      </div>
    }

    @if ((pageState.hasSearched$ | async) && (hasBookingAlreadyBeenCompleted(pageState.rekeySearchErr$ | async))) {
      <div
        class="results-error"
        >
        <p class="error-text" id="delegated-rekey-search-error-text-already-submitted">
          You can't rekey this test as it has already been submitted.
        </p>
        <p class="error-text" id="delegated-rekey-search-error-text-try-again">Please check and try again.</p>
      </div>
    }

    @if (!isBookedTestSlotEmpty(pageState.bookedTestSlot$ | async)) {
      <p class="results-message">
        <test-slot
          [delegatedTest]="true"
          [isPortrait]="orientationMonitorProvider.isPortraitMode$ | async"
          [slot]="(pageState.bookedTestSlot$ | async)"
          [hasSlotChanged]="false"
          [hasSeenCandidateDetails]="true"
          [showLocation]="false"
          (cancelFutureTestModal)="clearAppRef()"
          >
        </test-slot>
      </p>
    }
  </div>
</ion-content>
