:host {
  .candidate-position{
    position: relative;
    left: -20px;
  }
  .candidate-name {
    white-space: nowrap;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;

    &.candidate-name-portrait {
      max-width: 285px;
      &.extra-large-mode {
        max-width: 236px;
      }
    }

    &.candidate-name-landscape {
      max-width: 350px;
    }
  }
}

.candidate-icon {
  color: var(--gds-black);
}
