<ion-button id="name-button-{{applicationId}}" expand="full" fill="clear" class="candidate-position"
            (click)="openCandidateDetailsModal()">
    <h3 id="name-{{applicationId}}"
        class="candidate-name"
        [ngClass]="{
      'extra-large-mode': (app.getTextZoomClass() === 'text-zoom-x-large'),
      'candidate-name-portrait': isPortrait,
      'candidate-name-landscape': !isPortrait,
      'team-journal': isTeamJournal,
    }">
        {{name.title}} {{name.firstName}} {{name.lastName}}
    </h3>
    <ion-icon class="candidate-icon" name="chevron-forward"></ion-icon>
</ion-button>
