<ion-button id="name-button-{{applicationId}}" expand="full" fill="clear" class="candidate-position"
            (click)="openCandidateDetailsModal()">
  <header-component
    [headerNum]="3"
    [allowTruncate]="true"
    [id]="'name-'+applicationId"
    class="candidate-name mes-black"
    [ngClass]="{
      'extra-large-mode': (accessibilityService.getTextZoomClass() === 'text-zoom-x-large'),
      'candidate-name-portrait': isPortrait,
      'candidate-name-landscape': !isPortrait,
      'team-journal': isTeamJournal,
    }">
    {{name.title}} {{name.firstName}} {{name.lastName}}
  </header-component>
  <ion-icon class="candidate-icon" name="chevron-forward"></ion-icon>
</ion-button>
