<ion-grid>
  <ion-row class="header-card top-row">
    <ion-col>
      <ion-text class="des-header-style-2" id="finalisation-header-candidate-name">Name: {{candidateName}}</ion-text>
    </ion-col>
  </ion-row>
  <ion-row class="header-card bottom-row">
    <ion-col size="45">
      <ion-text class="des-header-style-3" id="finalisation-header-candidate-driver-number">{{isStandardsCheck ? 'PRN: ' + candidatePrnNumber : 'Licence: ' + candidateDriverNumber}}</ion-text>
    </ion-col>
    <ion-col class="align-col-right">
      <ion-text class="des-header-style-3">Test outcome:
        <div id="finalisation-header-test-outcome-text" [ngSwitch]="outcomeText">
          <ion-text class="des-header-style-3 pass" *ngSwitchCase="'Passed'" id="pass-outcome-text">
            {{grade ? outcomeText + ' - Grade ' + grade : outcomeText}}
          </ion-text>
          <ion-text class="des-header-style-3 fail" *ngSwitchCase="'Unsuccessful'" id="unsuccessful-outcome-text">
            {{outcomeText}}
          </ion-text>
          <ion-text class="des-header-style-3 terminated" *ngSwitchCase="'Terminated'" id="terminated-outcome-text">
            {{outcomeText}}
          </ion-text>
        </div>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row class="mes-row-separator"></ion-row>
</ion-grid>
