<div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div id="date-container">
            <div class="mes-black">
              <ion-text id="name" class="des-header-style-2 word-wrapper">Name: {{name}}</ion-text>
              <br>
              <ion-text class="des-header-style-3" id="dateAndTime">Time: {{time}} {{date}}</ion-text>
            </div>
          </div>
        </ion-col>
      </ion-row>
        <ion-row>
            <ion-col>
                <ion-text *ngIf="canNavigateToPreviousCandidate"
                    id="previous-slot-container"
                    class="des-header-style-5 previous-navigation-button"
                    (click)="onPreviousCandidateClick()">
                    <ion-icon class="navigation-arrow" name="chevron-back-outline"></ion-icon>
                    <span id="previous-slot">Previous Candidate</span>
                </ion-text>
            </ion-col>
            <ion-col>
                <ion-text *ngIf="canNavigateToNextCandidate"
                    id="next-slot-container"
                    class="des-header-style-5 next-navigation-button"
                    (click)="onNextCandidateClick()">
                    <span id="next-slot">Next Candidate</span>
                    <ion-icon class="navigation-arrow" name="chevron-forward-outline"></ion-icon>
                </ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
