<div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div id="date-container">
            <div class="mes-black">
              <header-component [headerNum]="2" [id]="'name'" class="word-wrapper">Name: {{name}}</header-component>
              <header-component [headerNum]="3" [id]="'dateAndTime'">Time: {{time}} {{date}}</header-component>
            </div>
          </div>
        </ion-col>
      </ion-row>
        <ion-row>
            <ion-col>
                <h5 *ngIf="canNavigateToPreviousCandidate"
                    id="previous-slot-container"
                    class="previous-navigation-button"
                    (click)="onPreviousCandidateClick()">
                    <ion-icon class="navigation-arrow" name="chevron-back-outline"></ion-icon>
                    <span id="previous-slot">Previous Candidate</span>
                </h5>
            </ion-col>
            <ion-col>
                <h5 *ngIf="canNavigateToNextCandidate"
                    id="next-slot-container"
                    class="next-navigation-button"
                    (click)="onNextCandidateClick()">
                    <span id="next-slot">Next Candidate</span>
                    <ion-icon class="navigation-arrow" name="chevron-forward-outline"></ion-icon>
                </h5>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
