:host {
  .toolbar-wrapper {
    height: 56px;
    padding: 6px 24px;
    background: var(--mes-white);
  }
  .button-wrapper {
    display: flex;
    justify-content: center;
  }

  #remove-button {
    min-width: 96px;
    padding: 0 6px;
    height: 43px;
    border: 3.5px solid var(--gds-black);
    border-radius: 10px;
    background-color: var(--mes-white);
    margin: 0;
    align-self: center;
    .button-inner {
      font-size: 19px;
      font-weight: 500;
      text-align: center;
      letter-spacing: 0.32px;
      line-height: 25px;
    }
    &.inactive {
      background-color: var(--mes-white);
      color: var(--gds-black);
      box-shadow: 0 1px 0 0 var(--gds-grey-1);
    }
    &.active {
      background-color: var(--gds-black);
      color: var(--mes-white);
    }
  }
  #serious-button {
    width: 88px;
    height: 43px;
    border: 3.5px solid var(--gds-yellow);
    border-radius: 10px;
    margin: 0;
    align-self: center;
    &.inactive {
      background-color: var(--mes-white);
      box-shadow: 0 1px 0 0 var(--gds-grey-1);
    }
    &.active {
      background: var(--gds-yellow);
    }
      font-size: 24px;
      font-weight: 900;
      text-align: center;
      letter-spacing: -0.26px;
      line-height: 25px;
      --color: #0b0c0c;
  }
  #dangerous-button {
    width: 88px;
    height: 43px;
    border: 3.5px solid var(--gds-red);
    border-radius: 10px;
    margin: 0;
    align-self: center;
    &.inactive {
      background-color: var(--mes-white);
      box-shadow: 0 1px 0 0 var(--gds-grey-1);
      color: var(--gds-black);
    }
    &.active {
      background-color: var(--gds-red);
      color: var(--mes-white);
    }
      font-size: 24px;
      font-weight: 900;
      text-align: center;
      letter-spacing: -0.33px;
      line-height: 25px;
  }
}
