:host {
  &.remove-mode {
    div {
      border: 4px solid var(--gds-black);
    }
  }

  #serious-tooltip-text {
    width: 100%;
    height: 44px;
    background: var(--mes-white);
    border: 4px solid var(--gds-yellow);
    color: var(--gds-black);
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    letter-spacing: -0.33px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: -4px;
  }
}
