<ion-header>
  <practice-mode-banner *ngIf="isEndToEndPracticeMode"></practice-mode-banner>
  <ion-toolbar [ngClass]="{'toolbar-no-padding': isEndToEndPracticeMode}" mode="ios">
    <ion-title id="pass-finalisation-title">Test debrief - {{pageState.candidateUntitledName$ | async}}</ion-title>
    <ion-buttons id="back-button" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <ion-grid>

        <finalisation-header [candidateDriverNumber]="pageState.candidateDriverNumber$ | async"
                             [candidateName]="pageState.candidateName$ | async"
                             [outcomeText]="pageState.testOutcomeText$ | async"></finalisation-header>

        <application-reference-number
          [applicationNumber]="pageState.applicationNumber$ | async">
        </application-reference-number>

        <license-provided
          (licenseNotReceived)="provisionalLicenseNotReceived()"
          (licenseReceived)="provisionalLicenseReceived()"
          [form]="form"
          [licenseReceivedLabel]="'Provisional licence Received'"
          [license]="pageState.provisionalLicense$ | async">
        </license-provided>

        <licence-provided-warning-banner
          [licenceProvided]="pageState.provisionalLicense$ | async"></licence-provided-warning-banner>

        <pass-certificate-number
          (passCertificateNumberChange)="passCertificateNumberChanged($event)"
          [form]="form"
          [passCertificateNumberInput]="pageState.passCertificateNumber$ | async"
          [pastPassCerts]="pageState.pastPassCerts$ | async">
        </pass-certificate-number>

        <d255 (d255Change)="d255Changed($event)"
              [d255]="pageState.d255$ | async"
              [display]=true
              [eyesightTestFailed]="pageState.eyesightTestFailed$ | async"
              [formGroup]="form"
              [outcome]="testOutcome">
        </d255>
        <warning-banner *ngIf="pageState.d255$ | async"
                        warningText="DVLA will not process the result until a D255 is received">
        </warning-banner>

        <language-preferences (welshChanged)="isWelshChanged($event)" [formGroup]="form"
                              [isWelsh]="(pageState.conductedLanguage$ | async) === 'Cymraeg'"></language-preferences>

        <debrief-witnessed (debriefWitnessedChange)="debriefWitnessedChanged($event)" [debriefWitnessed]="pageState.debriefWitnessed$ | async" [display]=true
                           [formGroup]="form" [outcome]="testOutcome">
        </debrief-witnessed>

      </ion-grid>
    </form>
  </div>
</ion-content>

<ion-footer>
  <ion-row class="mes-full-width-card box-shadow">
    <ion-button (click)="onSubmit()" class="mes-primary-button" id="pass-finalisation-continue-button">
      <h3>Continue</h3>
    </ion-button>
  </ion-row>
</ion-footer>
