<location *ngIf="showLocation"
  [location]="slot.testCentre.centreName">
</location>
<ion-card class="activity-slot" [ngClass]="{ 'travel-slot': isTravelSlot() }">
  <ion-row class="slot-row">
    <ion-col class="time-column">
      <div>
        <time
          [time]="slot.slotDetail.start"
          [testComplete]="false"
        >
        </time>
      </div>
    </ion-col>
    <ion-col class="title-column">
      <header-component
        class="title"
        [headerNum]="3">
        {{getTitle()}}
      </header-component>
    </ion-col>
    <ion-col class="activity-code-column">
      <header-component
        class="activity-code"
        [headerNum]="2">
        {{formatActivityCode()}}
      </header-component>
    </ion-col>
  </ion-row>
</ion-card>
