:host {
  .result-row {
    display: grid;
    justify-items: center;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .result-item {
    width: 75%;
    background: var(--light);
    border-radius: 8px;
  }

  .question-code {
    font-weight: bold;
    text-align: left;
    width: 10%;
    color: black;
  }

  .question-score {
    text-align: center;
    color: black;
  }

  .outcome-icon {
    float: right;
    width: 25px;
    height: 25px;
    min-width: 25px;
  }

}
