@if ((safetyAndBalanceQuestions$ | async)?.length > 0; let questions;) {
<ion-card id="safety-and-balance-questions">
  <ion-card-header>
    <ion-card-title>
      <ion-text class="des-header-style-4 fault-heading">{{ 'debrief.safetyAndBalance' | translate }}</ion-text>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      @for (question of safetyAndBalanceQuestions$| async; track question) {
  <ion-row class="ion-align-items-center row-padding mes-data"
              >
        <ion-col size="32" class="ion-no-padding"></ion-col>
        <ion-col size="4" class="ion-no-padding">
          <div class="display-flex counter-icon">
            @if (!questionHasFault(question)) {
<img src="assets/imgs/greenCorrectAnswer.png" alt="Correct Answer"
                 class="correct-icon"/>
}
            @if (questionHasFault(question)) {
<img src="assets/imgs/redWrongAnswer.png" alt="Wrong Answer"
                 class="wrong-icon"/>
}
          </div>
        </ion-col>
        <ion-col size="3" class="ion-no-padding"></ion-col>
        <ion-col class="ion-no-padding">
          <div class="counter-label">{{question.code}}
            - {{ 'debrief.safetyAndBalanceQuestions.' + question.code | translate }}</div>
        </ion-col>
      </ion-row>
}
    </ion-grid>
  </ion-card-content>
</ion-card>
}
