:host {
  img {
    width: 25px;
    height: 25px;
    min-width: 25px;
  }
  .row-padding {
    padding-bottom: 4px;
  }
  .counter-icon {
    width: 25px;
    height: 25px;
    padding: 0;
    min-width: 22px;
  }
}
