<ion-row class="mes-validated-row mes-row-separator mes-narrow-row" id="trainee-licence-card" [formGroup]="formGroup">
  <div class="validation-bar" [class.ng-invalid]="invalid"></div>
  <ion-col class="component-label ion-align-self-center" size="32">
    <label id="trainee-licence-label">Trainee licence</label>
  </ion-col>
  <ion-col class="ion-align-self-center ion-padding-start">
    <ion-row class="spacing-row"></ion-row>
    <ion-row>
      <ion-radio-group
        class="display-flex radio-group-width"
        formControlName="traineeLicenceCtrl"
        [value]="formControl.value"
        (ionChange)="traineeLicenceChanged($event.detail.value)">
        <ion-col size="40">
          <ion-radio
            class="gds-refactor-radio"
            [class.ng-invalid]="invalid"
            id="traineeLicenceYes"
            labelPlacement="end"
            value="true">
            <label class="radio-label" id="trainee-licence-yes-label">
              Yes
            </label>
          </ion-radio>
        </ion-col>
        <ion-col size="16"></ion-col>
        <ion-col>
          <ion-radio
            class="gds-refactor-radio"
            [class.ng-invalid]="invalid"
            id="traineeLicenceNo"
            value="false"
            labelPlacement="end">
            <label class="radio-label" id="trainee-licence-no-label">
              No
            </label>
          </ion-radio>
        </ion-col>
      </ion-radio-group>
    </ion-row>
    <ion-row class="validation-message-row ion-align-items-center">
      <div class="validation-text" id="trainee-licence-validation-text" [class.ng-invalid]="invalid">
        Select if a trainee licence was present
      </div>
    </ion-row>
  </ion-col>
</ion-row>
