:host {
  .alignment-fix {
    flex-direction: column;
  }
  .mes-data.bold {
    font-weight: bold;
  }

  .mes-data.large {
    line-height: 33px;
  }

  img {
    width: 25px;
    height: 25px;
    min-width: 25px;
  }

  .counter-icon {
    width: 25px;
    height: 25px;
    min-width: 22px;
    padding: 0;
  }
}

.debrief-padding {
  padding-right: 8px;
}

.completed-test-padding {
  padding-left: 265px;
  position: relative;
  top: -40px;
}

.completed-icon-padding {
  padding-right: 12px;
  padding-top: 2px;
}

.debrief-card-padding {
  position: relative;
  top: 46px;
  right: 84px;
}

.debrief-position-fix {
  position: relative;
  top: -22px;
  height: 225px;
}

.search-card-padding-and-position {
  padding-left: 0;
  height: 110px;
  position: relative;
  top: -15px;
}
