:host {
  .activity-code-select {
    .alert-wrapper div.alert-radio-group {
      max-height: 800px;

      @media (orientation: landscape) {
        max-height: 500px;
      }
    }
  }

  .alert-radio-label {
    white-space: normal;
  }

  .align-vertical-centre {
    display: flex;
    align-items: center;
  }
}
