:host {
  .activity-code-select {
    .alert-wrapper div.alert-radio-group {
      max-height: 800px;

      @media (orientation: landscape) {
        max-height: 500px;
      }
    }
  }

  .alert-radio-label {
    white-space: normal;
  }

  .align-vertical-centre {
    display: flex;
    align-items: center;
  }

  .select-width {
    width: 452px;
    color: black;
  }

  .boarder {
    border: 1px solid;
  }

  .col-font-color {
    color: var(--dark);
  }

  .placeholder-font-color {
    margin-left: 4px;
    color: darkgrey;
  }

  .no-padding-start {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-top {
    padding-top: 7px;
  }

  .no-padding-end {
    padding-right: 0;
  }

  .custom-padding {
    margin-left: 4px;
    padding-right: 0;
    padding-left: 0;
  }

  .activity-code-modal-row {
    border: 2px solid var(--dark);
    border-radius: 8px;
    color: var(--dark);
    font-size: 19px;
    width: 452px;
    height: 48px;
  }

  .modal-dropdown {
    position: relative;
    left: 5px;
  }

  .down-caret-icon {
    color: darkgrey;
    font-size: 14px;
  }
  .custom-font-size {
    font-size: 20px !important;
  }
}
