<ion-header>
    <ion-toolbar mode="ios">
        <ion-buttons slot="start">
            <ion-button *ngIf="(!hasUserLoggedOut && !isUserCancelledError()) || isUnknownError()" (click)="openLogoutModal()" id="logout-button">
                <span class="colour-white">Logout</span>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="login()">
                <span class="colour-white">Login</span>
            </ion-button>
        </ion-buttons>
        <ion-title (click)="deviceProvider.manuallyDisableSingleAppMode()">Driver Examiner Services</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="login-grid">
        <div *ngIf="hasUserLoggedOut">
          <header-component
            [headerNum]="2">
            You've signed out
          </header-component>
          <header-component
            [headerNum]="3">
            <span (click)="login()" class="link">Sign in</span> again.
          </header-component>
        </div>
        <div *ngIf="isInternetConnectionError()">
          <header-component
            [headerNum]="2">
            You're offline
          </header-component>
          <header-component
            [headerNum]="3">
            Close the app, turn on mobile data or wifi, and then try again.
          </header-component>
        </div>
        <div *ngIf="isUserCancelledError()">
          <header-component
            [headerNum]="2">
            You've cancelled sign in
          </header-component>
          <header-component
            [headerNum]="3">
            <span (click)="login()" class="link">Sign in</span> to continue.
          </header-component>
        </div>
        <div *ngIf="isUnknownError()">
          <header-component
            [id]="'loginSorry'"
            [headerNum]="2">
            Sorry, something went wrong
          </header-component>
          <header-component
            [id]="'loginPleaseTryAgain'"
            [headerNum]="2">
            Please try again later.
          </header-component>
            <span (click)="showErrorDetails()" class="link error-details-link">Show error details</span>
        </div>
        <div *ngIf="hasDeviceTypeError">
          <header-component
            [headerNum]="2">
            Unsupported device
          </header-component>
          <header-component
            [headerNum]="3">
            Install the application on an approved device
          </header-component>
        </div>
        <div *ngIf="isUserNotAuthorised()">
          <header-component
            [headerNum]="2">
            You're not authorised to use this app
          </header-component>
          <header-component
            [headerNum]="3">
            Speak to your line manager if you want to use this app.
          </header-component>
          <header-component
            [headerNum]="3">
            If you think you’re already authorised,<br/> you can try to
            <span (click)="login()" class="link">sign in</span>
            again.
          </header-component>
        </div>
        <div *ngIf="isInvalidAppVersionError()">
          <header-component
            [headerNum]="2">
            Unsupported application version
          </header-component>
          <header-component
            [headerNum]="3">
            This version of DES is out of date
          </header-component>
          <header-component
            [headerNum]="3">
            Please get the latest version from the company portal
          </header-component>
        </div>
    </div>

</ion-content>
