.login-grid {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  & div{
    max-width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
}

.full-width {
  width: 100%;
}

.login-page-header-spacing {
  padding-top: 40px;
  padding-bottom: 20px;
}

.login-page-text-spacing {
  padding-top: 10px;
}

.button-padding {
  padding-top: 40px;
}

.link {
  text-decoration: underline;
  color: #005ea5;
  &.error-details-link {
    font-size: 14px;
    padding-top: 5px;
  }
}

.colour-white {
  color: white;
}
