<ion-row
  class="ion-align-items-center ion-justify-content-start"
  *ngIf="tellMeQuestionSelected"
  [formGroup]="formGroup">
  <ion-radio-group
    class="display-flex width-100-percent"
    formControlName="tellMeQuestionOutcome"
    (ionChange)="tellMeQuestionOutcomeChanged($event.detail.value)">
    <ion-col size="40">
      <ion-radio
        id="tellme-correct"
        class="gds-refactor-radio"
        value="P"
        labelPlacement="end"
        [class.ng-invalid]="invalid">
        <label class="radio-label" id="tell-me-correct-label">Correct</label>
      </ion-radio>
    </ion-col>
    <ion-col size="8"></ion-col>
    <ion-col>
      <ion-radio
        class="gds-refactor-radio"
        id="tellme-fault"
        value="DF"
        labelPlacement="end"
        [class.ng-invalid]="invalid">
        <label class="radio-label" id="tell-me-df-label">1 Driving fault</label>
      </ion-radio>
    </ion-col>
  </ion-radio-group>
</ion-row>
