@if (componentState.hasVehicleChecksFault$ | async) {
<ion-card id="vehicle-checks">
  <ion-card-content>
    <ion-grid>
      <ion-row class="mes-data ion-align-items-start">
        <ion-col size="3"></ion-col>
        <ion-col size="34">
          <ion-text class="des-header-style-4 fault-heading">{{ 'debrief.vehicleChecks' | translate }}</ion-text>
        </ion-col>
        <ion-col class="down-padding ion-align-items-start">
          @if (componentState.tellMeQuestionHasFault$ | async) {
<div id="tell-me-question">
            {{ 'debrief.tellMeQuestion' | translate }} - {{ 'debrief.drivingFault' | translate }}
          </div>
}
          @if (componentState.hasShowMeFault$ | async) {
<div id="show-me-question">
@switch (componentState.showMeQuestionOutcome$ | async) {
            @case ('DF') {
  <span id="show-me-question-outcome-df">
              {{ 'debrief.showMeQuestion' | translate }} - {{ 'debrief.drivingFault' | translate }}
            </span>
}
            @case ('S') {
  <span id="show-me-question-outcome-s">
              {{ 'debrief.showMeQuestion' | translate }} - {{ 'debrief.seriousFault' | translate }}
            </span>
}
            @case ('D') {
  <span id="show-me-question-outcome-d">
              {{ 'debrief.showMeQuestion' | translate }} - {{ 'debrief.dangerousFault' | translate }}
            </span>
}
          }
</div>
}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
}
