<ion-card id="vehicle-checks" *ngIf="componentState.hasVehicleChecksFault$ | async">
  <ion-card-content>
    <ion-grid>
      <ion-row class="mes-data ion-align-items-start">
        <ion-col size="3"></ion-col>
        <ion-col size="34">
          <h4 class="fault-heading">{{ 'debrief.vehicleChecks' | translate }}</h4>
          <header-component
            class="fault-heading"
            [headerNum]="4">
            {{ 'debrief.vehicleChecks' | translate }}
          </header-component>
        </ion-col>
        <ion-col class="down-padding ion-align-items-start">
          <div id="tell-me-question" *ngIf="componentState.tellMeQuestionHasFault$ | async">
            {{ 'debrief.tellMeQuestion' | translate }} - {{ 'debrief.drivingFault' | translate }}
          </div>
          <div id="show-me-question" *ngIf="componentState.hasShowMeFault$ | async" [ngSwitch]="componentState.showMeQuestionOutcome$ | async">
            <span *ngSwitchCase="'DF'" id="show-me-question-outcome-df">
              {{ 'debrief.showMeQuestion' | translate }} - {{ 'debrief.drivingFault' | translate }}
            </span>
            <span *ngSwitchCase="'S'" id="show-me-question-outcome-s">
              {{ 'debrief.showMeQuestion' | translate }} - {{ 'debrief.seriousFault' | translate }}
            </span>
            <span *ngSwitchCase="'D'" id="show-me-question-outcome-d">
              {{ 'debrief.showMeQuestion' | translate }} - {{ 'debrief.dangerousFault' | translate }}
            </span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
