div {
  width: 22px;
  height: 22px;
  min-width: 22px;

  .background {
    display: flex;
    justify-content: center;
    background: var(--gds-red);
    border-radius: 13px;

    .label {
      color: var(--mes-white);
      font-size: 15px;
      font-weight: bold;
      align-self: center;
    }
  }
}
