.dashed-line {
  border: none;
  border-top: 5px dashed;
  color: var(--mes-theme-main-colour);
  background-color: transparent;
  height: 1px;
  width: 50px;
}

.ion-activated {
  background-color: var(--mes-theme-main-variant2);
}

.direction-column {
  flex-direction: column;
}

.mes-opposing-colour {
  color: var(--mes-theme-opposing-colour) !important;
}

.main-colour-text {
  color: var(--mes-theme-main-colour) !important;
  & ion-text, label, span, p {
    color: var(--mes-theme-main-colour) !important;
  }
}
