.dashed-line {
  border: none;
  border-top: 5px dashed;
  color: var(--mes-theme-main-colour);
  background-color: transparent;
  height: 1px;
  width: 50px;
}

.max-width-90vw {
  max-width: 90vw;
}

.max-width-96vw {
  max-width: 96.5vw;
}

.maximise-width {
  width: 100vw;
}

.ion-activated {
  background-color: var(--mes-theme-main-variant2);
}

.direction-column {
  flex-direction: column;
}

.mes-main-colour {
  color: var(--mes-theme-main-colour) !important;
  & ion-text, label, span, p {
    color: var(--mes-theme-main-colour) !important;
  }
}
