<ion-app [ngClass]="[getTextZoomClass()]">
  <ion-menu side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar mode="ios">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content [scrollY]="false">
      <ion-list class="side-menu">
        <ion-item
          *ngFor="let page of Pages;"
          class="menu-item"
          lines="none"
          (click)="navPage(page.title)">
          <ion-label>{{page.title}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>

    <ion-footer>
      <ion-list>
        <ion-item class="menu-item"
                  lines="none"
                  *ngIf="logoutEnabled$ | async"
                  (click)="onLogoutClick()">
          <ion-label id="logout">Logout</ion-label>
        </ion-item>
      </ion-list>
    </ion-footer>

  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
