<ion-app [ngClass]="[accessibilityService.getTextZoomClass()]">
  <ion-menu side="start" content-id="main-content" (ionDidOpen)="openSideMenu()" (ionDidClose)="closeSideMenu()">
    <ion-header>
      <ion-toolbar mode="ios" class="toolbar-divider">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content [scrollY]="false" style="--ion-background-color: var(--mes-toolbar-background)">
      @for (page of getFilteredPages(pages); track page) {
        <ion-item class="menu-item" detail="true" (click)="navPage(page)">
          <ion-label class="burger-menu-item" [id]="page.descriptor | formatToID: 'side-menu'">{{
            page.descriptor
          }}</ion-label>
          @if (page.showUnSubmittedCount && (pageState?.unSubmittedTestSlotsCount$ | async)) {
            <ion-badge
              slot="end"
              color="danger"
              id="un-submitted-test-count-badge"
              class="burger-menu-item notification-badge"
              aria-label="You have notifications"
            >
              !
            </ion-badge>
          }
        </ion-item>
      }
    </ion-content>

    <ion-footer>
      <ion-list>
        <ion-item
          class="menu-item burger-menu-item"
          lines="none"
          (click)="onLogoutClick()"
          >
          <ion-label id="logout">Logout</ion-label>
        </ion-item>
      </ion-list>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
