<ion-row class="display-flex ion-justify-content-start" id="view-filter-row" [formGroup]="formGroup">
  <ion-radio-group
    class="display-flex"
    formControlName="colourFilter"
    [value]="formControl.value"
    (ionChange)="viewFilterChanged($event.detail.value)">
    <ion-col size="auto">
      <ion-radio
        class="gds-refactor-radio white-background"
        id="debrief-witnessed-yes"
        labelPlacement="end"
        value="Default">
        <label class="radio-label" id="debrief-witnessed-yes-label">
          Default
        </label>
      </ion-radio>
    </ion-col>
    <ion-col size="2"></ion-col>
    <ion-col size="auto">
      <ion-radio
        class="gds-refactor-radio white-background"
        id="debrief-witnessed-no"
        value="Greyscale"
        labelPlacement="end">
        <label class="radio-label" id="debrief-witnessed-no-label">
          Greyscale
        </label>
      </ion-radio>
    </ion-col>
  </ion-radio-group>
</ion-row>
