<ion-row class="display-flex ion-justify-content-start" id="view-filter-row" [formGroup]="formGroup">
  <ion-col size="auto" class="ion-align-self-center">
    <input
      type="radio"
      id="value-filter-default"
      class="gds-radio-button"
      name="colourFilter"
      formControlName="colourFilter"
      value="Default"
      (change)="viewFilterChanged($event.target.value)"
    />
    <label for="value-filter-default" class="radio-label" id="value-filter-default-label"> Default </label>
  </ion-col>
  <!--      <ion-row size="50" class="padding-top-10 ion-align-self-center">-->
  <!--        <input type="radio"-->
  <!--               id="value-filter-amethyst"-->
  <!--               class="gds-radio-button"-->
  <!--               name="colourFilter"-->
  <!--               formControlName="colourFilter"-->
  <!--               value="Amethyst"-->
  <!--               (change)="viewFilterChanged($event.target.value)">-->
  <!--        <label for="value-filter-amethyst" class="radio-label" id="value-filter-amethyst-label">-->
  <!--          Amethyst-->
  <!--        </label>-->
  <!--      </ion-row>-->
  <!--    <ion-row size="50" class="padding-top-10 ion-align-self-center">-->
  <!--      <input type="radio"-->
  <!--             id="value-filter-navy"-->
  <!--             class="gds-radio-button"-->
  <!--             name="colourFilter"-->
  <!--             formControlName="colourFilter"-->
  <!--             value="Navy"-->
  <!--             (change)="viewFilterChanged($event.target.value)">-->
  <!--      <label for="value-filter-navy" class="radio-label" id="value-filter-navy-label">-->
  <!--        Navy-->
  <!--      </label>-->
  <!--    </ion-row>-->
  <ion-col size="2"></ion-col>
  <ion-col size="auto" class="ion-align-self-center">
    <input
      type="radio"
      id="value-filter-monochrome"
      class="gds-radio-button"
      name="colourFilter"
      formControlName="colourFilter"
      value="Monochrome"
      (change)="viewFilterChanged($event.target.value)"
    />
    <label for="value-filter-monochrome" class="radio-label" id="value-filter-monochrome-label">Monochrome</label>
  </ion-col>
</ion-row>
