<ion-header>
  <practice-mode-banner *ngIf="isEndToEndPracticeMode"></practice-mode-banner>
  <ion-toolbar [ngClass]="{'toolbar-no-padding': isEndToEndPracticeMode}" mode="ios">
    <ion-title id="waiting-room-to-car-page-title">{{pageState.candidateName$ | async}}</ion-title>
    <ion-buttons id="end-test-button" slot="end">
      <end-test-link
        [category]="pageState.category$ | async"
        [isPracticeMode]="isPracticeMode"
        [shouldAuthenticate]="false"
        (endTestLinkClicked)="abortMOTCall(MOTAbortedMethod.END_TEST)"
      >
      </end-test-link>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [class.hidden]="failedMOTModalCurrentlyOpen" forceOverscroll="false">
  <offline-banner *ngIf="!isEndToEndPracticeMode" [isOffline]="pageState.isOffline$ | async"></offline-banner>
  <div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <ion-grid>
        <ion-row class="ion-no-padding">
          <ion-col class="ion-no-padding">
            <bike-category-type
              (categoryCodeChange)="categoryCodeChanged($event)"
              [formGroup]="form"
              [testCategory]="pageState.category$ | async"
              testType="MOD2"
            >
            </bike-category-type>

            <transmission
              (transmissionChange)="transmissionChanged($event)"
              [formGroup]="form"
              [hideConfirmTransmissionLabel]="false"
              [hideTransmissionLabel]="true"
              [transmission]="pageState.transmission$ | async"
            >
            </transmission>

            <eyesight-test
              (eyesightTestResultChange)="eyesightTestResultChanged($event)"
              *ngIf="pageState.showEyesight$ | async"
              [eyesightFailRadioChecked]="pageState.eyesightTestFailed$ | async"
              [eyesightPassRadioChecked]="(pageState.eyesightTestComplete$ | async) && !(pageState.eyesightTestFailed$ | async)"
              [formGroup]="form"
            >
            </eyesight-test>

            <ion-row *ngIf="pageState.eyesightTestFailed$ | async">
              <eyesight-failure-confirmation [cancelFn]="eyesightFailCancelled" [nextPageOnFail]="getDebriefPage()">
              </eyesight-failure-confirmation>
            </ion-row>

            <ion-row
              [hidden]="pageState.eyesightTestFailed$ | async"
              class="ion-no-padding"
              id="post-eyesight-form-content"
            >
              <ion-col class="ion-no-padding">
                <vehicle-registration
                  (alternateEvidenceChange)="getMOTEvidenceProvided($event)"
                  (vehicleRegistrationChanged)="vehicleRegistrationChanged($event.VRN, $event.isAmended)"
                  (vrnSearchListUpdate)="updateVRNSearchList($event)"
                  (motDetailsUpdate)="motDetailsChanged($event)"
                  (motFailedModalToggled)="motFailedModalOpened($event)"
                  (motButtonPressed)="motSearchButtonPressed()"
                  (failedMOTModalOutcome)="motFailedModalOutcome($event)"
                  (motCallAborted)="abortMOTCall($event)"
                  (motSearchingStatusChange)="motSearchingStatusChanged($event)"
                  [formGroup]="form"
                  [isPracticeMode]="isEndToEndPracticeMode"
                  [vehicleRegistration]="pageState.registrationNumber$ | async"
                  [isRekeyMode]="pageState.isRekeyMode$ | async"
                  [abortSubject]="abortSubject"
                >
                </vehicle-registration>

                <ion-row *ngIf="(pageState.motEvidenceProvided$ | async) === false">
                  <mot-no-evidence-confirmation [cancelFn]="motNoEvidenceCancelled" [nextPageOnFail]="getDebriefPage()">
                  </mot-no-evidence-confirmation>
                </ion-row>

                <div [hidden]="(pageState.motEvidenceProvided$ | async) === false" class="ion-no-padding">

                <vehicle-checks-cat-a-mod2
                  (onCloseVehicleChecksModal)="closeVehicleChecksModal()"
                  [formGroup]="form"
                  [safetyAndBalanceQuestionsScore]="pageState.safetyAndBalanceQuestionsScore$ | async"
                  [safetyAndBalanceQuestions]="pageState.safetyAndBalanceQuestions$ | async"
                  [submitClicked]="submitClicked"
                ></vehicle-checks-cat-a-mod2>

                <accompaniment-card
                  (instructorAccompanimentChange)="instructorAccompanimentToggled()"
                  (interpreterAccompanimentChange)="interpreterAccompanimentToggled()"
                  (otherAccompanimentChange)="otherAccompanimentToggled()"
                  (supervisorAccompanimentChange)="supervisorAccompanimentToggled()"
                  [formGroup]="form"
                  [instructorAccompaniment]="pageState.instructorAccompaniment$ | async"
                  [interpreterAccompaniment]="pageState.interpreterAccompaniment$ | async"
                  [otherAccompaniment]="pageState.otherAccompaniment$ | async"
                  [supervisorAccompaniment]="pageState.supervisorAccompaniment$ | async"
                >
                </accompaniment-card>

                <vehicle-details-card
                  (schoolBikeVehicleDetailsChange)="schoolBikeToggled()"
                  [formGroup]="form"
                  [hideSchoolBikeRow]="false"
                  [hideSchoolVehicleAndDualControlRow]="true"
                  [schoolBikeVehicleDetails]="pageState.schoolBike$ | async"
                >
                </vehicle-details-card>
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>

<ion-footer [class.hidden]="failedMOTModalCurrentlyOpen">
  <ion-row [hidden]="(pageState.motEvidenceProvided$ | async) === false" class="mes-full-width-card box-shadow">
    <ion-col class="ion-text-center" size="45">
      <ion-button
        (click)="onViewTestCentreJournal()"
        class="mes-grey-button wrtc-footer-btn"
        id="view-test-centre-journal-button"
        shape="round"
      >
        <ion-text class="des-header-style-3">View test centre journal</ion-text>
      </ion-button>
    </ion-col>
    <ion-col size="6"></ion-col>
    <ion-col class="ion-text-center" size="45">
      <ion-button
        (click)="onSubmit()"
        class="mes-primary-button wrtc-footer-btn"
        id="continue-to-test-report-button"
        shape="round"
      >
        <ion-text class="des-header-style-3">Continue to test report</ion-text>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
