<ion-header>
  <ion-toolbar
    [ngClass]="{
      'no-internal-padding': true,
      'practice-theme': isEndToEndPracticeMode,
      'toolbar-no-padding': isExitSAMBannerActivated,
      'ion-no-padding-important': isEndToEndPracticeMode
    }"
    mode="ios">
    <test-flow-header
      class="display-flex flex-direction-column"
      [testCategory]="pageState.category$ | async"
      [pageName]="'waiting-room-to-car-page-a-mod2'"
      [shouldShowEscapeFromSamButton]="!isRekey && !isDelegated"
      [isPracticeMode]="isEndToEndPracticeMode"
      (exitSamUsed)="onUsedExitSam()"
      [isExitSAMActivated]="isExitSAMBannerActivated"
      [shouldAuthenticateOnTestEnd]="false"
      (setupLeaveSubscription)="setupEscapeSAMLeaveSubscription()"
      (setupResumeSubscription)="setupEscapeSAMResumeSubscription()"
      (onExitSAMActivatedChanged)="isSamActivatedChanged($event)"
      (endTestButtonClicked)="abortMOTCall(MOTAbortedMethod.END_TEST)">
      {{pageState.candidateName$ | async}}
    </test-flow-header>
  </ion-toolbar>
</ion-header>

<ion-content [class.hidden]="failedMOTModalCurrentlyOpen" forceOverscroll="false">
  @if (!isEndToEndPracticeMode) {
    <offline-banner [isOffline]="pageState.isOffline$ | async"></offline-banner>
  }
  <div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <ion-grid>
        <ion-row class="ion-no-padding">
          <ion-col class="ion-no-padding">
            <bike-category-type
              (categoryCodeChange)="categoryCodeChanged($event)"
              [formGroup]="form"
              [testCategory]="pageState.category$ | async"
              testType="MOD2"
              >
            </bike-category-type>

            <transmission
              (transmissionChange)="transmissionChanged($event)"
              [formGroup]="form"
              [hideConfirmTransmissionLabel]="false"
              [hideTransmissionLabel]="true"
              [transmission]="pageState.transmission$ | async"
              >
            </transmission>

            @if (pageState.showEyesight$ | async) {
              <eyesight-test
                (eyesightTestResultChange)="eyesightTestResultChanged($event)"
                [eyesightFailRadioChecked]="pageState.eyesightTestFailed$ | async"
                [eyesightPassRadioChecked]="(pageState.eyesightTestComplete$ | async) && !(pageState.eyesightTestFailed$ | async)"
                [formGroup]="form"
                >
              </eyesight-test>
            }

            @if (pageState.eyesightTestFailed$ | async) {
              <ion-row>
                <eyesight-failure-confirmation [cancelFn]="eyesightFailCancelled" [nextPageOnFail]="getDebriefPage()">
                </eyesight-failure-confirmation>
              </ion-row>
            }

            <ion-row
              [hidden]="pageState.eyesightTestFailed$ | async"
              class="ion-no-padding"
              id="post-eyesight-form-content"
              >
              <ion-col class="ion-no-padding">
                <vehicle-registration
                  (alternateEvidenceChange)="getMOTEvidenceProvided($event)"
                  (noMotData)="noMotData($event)"
                  (vehicleRegistrationChanged)="vehicleRegistrationChanged($event.VRN, $event.isAmended)"
                  (vrnSearchListUpdate)="updateVRNSearchList($event)"
                  (motDetailsUpdate)="motDetailsChanged($event)"
                  (motFailedModalToggled)="motFailedModalOpened($event)"
                  (motButtonPressed)="motSearchButtonPressed()"
                  (failedMOTModalOutcome)="motFailedModalOutcome($event)"
                  (motCallAborted)="abortMOTCall($event)"
                  (motSearchingStatusChange)="motSearchingStatusChanged($event)"
                  [formGroup]="form"
                  [isPracticeMode]="isEndToEndPracticeMode"
                  [vehicleRegistration]="pageState.registrationNumber$ | async"
                  [shouldHideMOTButton]="isRekey"
                  [abortSubject]="abortSubject"
                  >
                </vehicle-registration>

                @if ((pageState.motEvidenceProvided$ | async) === false) {
                  <ion-row>
                    <mot-no-evidence-confirmation [cancelFn]="motNoEvidenceCancelled" [nextPageOnFail]="getDebriefPage()">
                    </mot-no-evidence-confirmation>
                  </ion-row>
                }

                <div [hidden]="(pageState.motEvidenceProvided$ | async) === false" class="ion-no-padding">

                  <vehicle-checks-cat-a-mod2
                    (onCloseVehicleChecksModal)="closeVehicleChecksModal()"
                    [formGroup]="form"
                    [isPracticeMode]="isEndToEndPracticeMode"
                    [safetyAndBalanceQuestionsScore]="pageState.safetyAndBalanceQuestionsScore$ | async"
                    [safetyAndBalanceQuestions]="pageState.safetyAndBalanceQuestions$ | async"
                    [submitClicked]="submitClicked"
                  ></vehicle-checks-cat-a-mod2>

                  <accompaniment-card
                    (instructorAccompanimentChange)="instructorAccompanimentToggled()"
                    (interpreterAccompanimentChange)="interpreterAccompanimentToggled()"
                    (otherAccompanimentChange)="otherAccompanimentToggled()"
                    (supervisorAccompanimentChange)="supervisorAccompanimentToggled()"
                    [formGroup]="form"
                    [instructorAccompaniment]="pageState.instructorAccompaniment$ | async"
                    [interpreterAccompaniment]="pageState.interpreterAccompaniment$ | async"
                    [otherAccompaniment]="pageState.otherAccompaniment$ | async"
                    [supervisorAccompaniment]="pageState.supervisorAccompaniment$ | async"
                    >
                  </accompaniment-card>

                  <vehicle-details-card
                    (schoolBikeVehicleDetailsChange)="schoolBikeToggled()"
                    [formGroup]="form"
                    [hideSchoolBikeRow]="false"
                    [hideSchoolVehicleAndDualControlRow]="true"
                    [schoolBikeVehicleDetails]="pageState.schoolBike$ | async"
                    >
                  </vehicle-details-card>
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>

<ion-footer [class.hidden]="failedMOTModalCurrentlyOpen">
  <ion-row [hidden]="(pageState.eyesightTestFailed$ | async) || (pageState.motEvidenceProvided$ | async) === false"
    class="mes-full-width-card box-shadow flex-center">
    <ion-col class="ion-text-center width-100" size="43">
      <ion-button
        (click)="onViewTestCentreJournal()"
        class="mes-grey-button"
        id="view-test-centre-journal-button"
        shape="round"
        >
        <ion-text class="des-header-style-3">View test centre journal</ion-text>
      </ion-button>
    </ion-col>
    <ion-col size="2"></ion-col>
    <ion-col class="ion-text-center width-100" size="43">
      <ion-button
        (click)="onSubmit()"
        class="mes-primary-button"
        id="continue-to-test-report-button"
        shape="round"
        >
        <ion-text class="des-header-style-3">Continue to test report</ion-text>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
