<ion-header>
  <practice-mode-banner *ngIf="isEndToEndPracticeMode"></practice-mode-banner>
  <ion-toolbar [ngClass]="{'toolbar-no-padding': isEndToEndPracticeMode}" mode="ios">
    <ion-title id="waiting-room-to-car-page-title">{{pageState.candidateName$ | async}}</ion-title>
    <ion-buttons id="end-test-button" slot="end">
      <end-test-link
        [category]="pageState.category$ | async"
        [isPracticeMode]="isPracticeMode"
        [shouldAuthenticate]="false">
      </end-test-link>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content forceOverscroll="false">
  <div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <ion-grid>
        <ion-row class="ion-no-padding">
          <ion-col class="ion-no-padding">
            <bike-category-type
              (categoryCodeChange)="categoryCodeChanged($event)"
              [formGroup]="form"
              [testCategory]="pageState.category$ | async"
              testType="MOD2">
            </bike-category-type>

            <transmission (transmissionChange)="transmissionChanged($event)"
                          [formGroup]="form"
                          [hideConfirmTransmissionLabel]="false"
                          [hideTransmissionLabel]="true"
                          [transmission]="pageState.transmission$ | async">
            </transmission>

            <eyesight-test (eyesightTestResultChange)="eyesightTestResultChanged($event)"
                           *ngIf="pageState.showEyesight$ | async"
                           [eyesightFailRadioChecked]="pageState.eyesightTestFailed$ | async"
                           [eyesightPassRadioChecked]="(pageState.eyesightTestComplete$ | async) && !(pageState.eyesightTestFailed$ | async)"
                           [formGroup]="form">
            </eyesight-test>

            <ion-row *ngIf="pageState.eyesightTestFailed$ | async">
              <eyesight-failure-confirmation [cancelFn]="eyesightFailCancelled"
                                             [nextPageOnFail]="getDebriefPage()">
              </eyesight-failure-confirmation>
            </ion-row>

            <ion-row [hidden]="pageState.eyesightTestFailed$ | async" class="ion-no-padding"
                     id="post-eyesight-form-content">
              <ion-col class="ion-no-padding">
                <vehicle-registration
                  (checkMotClick)="getMOTStatus()"
                  (vehicleRegistrationBlur)="onVrnBlur()"
                  (vehicleRegistrationChange)="vehicleRegistrationChanged($event)"
                  [formGroup]="form"
                  [hasRequestedMOT]="hasRequestedMOT"
                  [vehicleRegistration]="pageState.registrationNumber$ | async"
                  [showCheckMot]="pageState.showCheckMot$ | async"
                  [motError]="pageState.motError$ | async"
                  [checkInvalidMotCount]="pageState.checkInvalidMotCount$ | async"
                  [isChecking]="pageState.isCheckingMot$ | async"
                  [motStatus]="pageState.motStatus$ | async"
                  [make]="pageState.make$ | async"
                  [model]="pageState.model$ | async"
                  [testExpiryDate]="pageState.testExpiryDate$ | async">
                </vehicle-registration>

                <alternative-mot-evidence-provided
                  *ngIf="pageState.showAlternativeMotEvidenceProvided$ | async"
                  [formGroup]="form"
                  [alternativeMotEvidence]="pageState.alternativeMotEvidenceProvided$ | async"
                  (alternativeMotEvidenceChange)="alternativeMotEvidenceChanged($event)"
                ></alternative-mot-evidence-provided>

                <alternative-mot-evidence-details
                  *ngIf="pageState.showAlternativeMotEvidenceProvided$ | async"
                  [formGroup]="form"
                  [alternativeMotEvidenceDetails]="pageState.alternativeMotEvidenceDetails$ | async"
                  [alternativeMotEvidenceProvided]="pageState.alternativeMotEvidenceProvided$ | async"
                  (alternativeMotEvidenceDetailsChange)="alternativeMotEvidenceDetailsChanged($event)"
                ></alternative-mot-evidence-details>

                <vehicle-checks-cat-a-mod2
                  (onCloseVehicleChecksModal)="closeVehicleChecksModal()"
                  [formGroup]="form"
                  [safetyAndBalanceQuestionsScore]="pageState.safetyAndBalanceQuestionsScore$ | async"
                  [safetyAndBalanceQuestions]="pageState.safetyAndBalanceQuestions$ | async"
                ></vehicle-checks-cat-a-mod2>

                <accompaniment-card (instructorAccompanimentChange)="instructorAccompanimentToggled()"
                                    (interpreterAccompanimentChange)="interpreterAccompanimentToggled()"
                                    (otherAccompanimentChange)="otherAccompanimentToggled()"
                                    (supervisorAccompanimentChange)="supervisorAccompanimentToggled()"
                                    [formGroup]="form"
                                    [instructorAccompaniment]="pageState.instructorAccompaniment$ | async"
                                    [interpreterAccompaniment]="pageState.interpreterAccompaniment$ | async"
                                    [otherAccompaniment]="pageState.otherAccompaniment$ | async"
                                    [supervisorAccompaniment]="pageState.supervisorAccompaniment$ | async">
                </accompaniment-card>

                <vehicle-details-card (schoolBikeVehicleDetailsChange)="schoolBikeToggled()"
                                      [formGroup]="form"
                                      [hideSchoolBikeRow]="false"
                                      [hideSchoolVehicleAndDualControlRow]="true"
                                      [schoolBikeVehicleDetails]="pageState.schoolBike$ | async">
                </vehicle-details-card>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>

<ion-footer>
  <ion-row class="mes-full-width-card box-shadow">
    <ion-col class="ion-text-center" size="45">
      <ion-button
        (click)="onViewTestCentreJournal()"
        class="mes-grey-button wrtc-footer-btn"
        id="view-test-centre-journal-button" shape="round">
        <h3>View test centre journal</h3>
      </ion-button>
    </ion-col>
    <ion-col size="6"></ion-col>
    <ion-col class="ion-text-center" size="45">
      <ion-button
        (click)="onSubmit()"
        class="mes-primary-button wrtc-footer-btn"
        id="continue-to-test-report-button" shape="round">
        <h3>Continue to test report</h3>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
