<div id="dateTimeItem + {{ control }}">
  <ion-input
    [class.left-align]="leftAlign"
    class="input-box type-{{ displayType }}"
    id="{{ inputId }}"
    [attr.aria-label]="ariaLabel"
    [(ngModel)]="displayValue"
    [disabled]="disabled"
    [placeholder]="displayType === 'date' ? formatDisplayDate(initialValue) : formatDisplayTime(initialValue)"
    emojiBlock
    pasteSanitiser
  >
  </ion-input>
  <ion-modal
    class="{{ displayType }}-modal mes-modal-alert"
    trigger="dateTimeItem + {{ control }}"
    [keepContentsMounted]="false"
    mode="ios"
    #modal
    [backdropDismiss]="true"
    (didDismiss)="selectedBuffer = null"
  >
    <ng-template>
      <custom-calendar-component
        *ngIf="displayType === DisplayType.Date"
        class="date-modal-content"
        id="{{ pickerId }}"
        [customTitle]="customTitle"
        [minValue]="minValue"
        [maxValue]="maxValue"
        [selectedValue]="initialValue"
        (customButtonEvent)="modal.dismiss()"
        (onDataPicked)="onSelected($event.toISOString(), displayType)"
      ></custom-calendar-component>
      <ion-datetime
        *ngIf="displayType === DisplayType.Time"
        class="time-modal-content"
        #timePicker
        id="{{ pickerId }}"
        [showDefaultButtons]="!emitButtonEvents"
        [showClearButton]="showClearButton && !emitButtonEvents"
        size="cover"
        presentation="time"
        [(ngModel)]="outputValue"
        [max]="maxValue"
        [min]="minValue"
        (ionChange)="onSelected(timePicker.value, displayType)"
      >
        <ion-buttons slot="buttons" *ngIf="emitButtonEvents">
          <ion-button color="primary" (click)="timePicker.cancel(); buttonEmit(timePicker, 'cancel')"
          >Cancel
          </ion-button
          >
          <ion-button
            *ngIf="showClearButton"
            color="primary"
            (click)="timePicker.reset(); buttonEmit(timePicker, 'clear')"
          >Clear
          </ion-button>
          <ion-button color="primary" (click)="timePicker.confirm(); buttonEmit(timePicker, 'done')">Done</ion-button>
        </ion-buttons>
      </ion-datetime>
    </ng-template>
  </ion-modal>
</div>
