<div id="dateTimeItem + {{ control }}">
  <ion-input
    [class.left-align]="leftAlign"
    class="input-box type-{{ displayType }}"
    id="{{ inputId }}"
    [attr.aria-label]="ariaLabel"
    [(ngModel)]="displayValue"
    [disabled]="disabled"
    [placeholder]="displayType === 'date' ? formatDisplayDate(initialValue) : formatDisplayTime(initialValue)"
    emojiBlock
    pasteSanitiser
  >
  </ion-input>
  <ion-modal
    class="{{ displayType }}-modal"
    trigger="dateTimeItem + {{ control }}"
    [keepContentsMounted]="false"
    mode="ios"
    #modal
    [backdropDismiss]="true"
  >
    <ng-template>
      <div *ngIf="displayType === DisplayType.Date">
        <ion-row class="calendar-row-height">
          <ion-col class="display-flex ion-justify-content-center">
            <mat-calendar
              #datePicker
              [maxDate]="maxValue"
              [minDate]="minValue"
              (selectedChange)="selectedBuffer = $event"
              [startAt]="selectedValue"
              [(selected)]="selectedBuffer ? selectedBuffer : selectedValue"
            >
            </mat-calendar>
          </ion-col>
        </ion-row>
        <ion-row class="top-border">
          <ion-col class="right-border display-flex ion-justify-content-center ion-no-padding">
            <ion-button
              fill="clear"
              class="terminate-button full-width"
              id="terminate-test-button"
              (click)="modal.dismiss(); buttonEmit(datePicker.selected, 'cancel')"
            >
              <ion-text> Cancel </ion-text>
            </ion-button>
          </ion-col>
          <ion-col class="display-flex ion-justify-content-center ion-no-padding">
            <ion-button
              fill="clear"
              class="black-text full-width"
              id="return-to-test-button"
              (click)="
                modal.dismiss(); onSelected(selectedBuffer, displayType); buttonEmit(datePicker.selected, 'done')
              "
            >
              <ion-text> OK </ion-text>
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
      <!--      <ion-datetime-->
      <!--        *ngIf="displayType === 'date'"-->
      <!--        #date-->
      <!--        id="{{ pickerId }}"-->
      <!--        [showDefaultButtons]="!emitButtonEvents"-->
      <!--        [showClearButton]="showClearButton && !emitButtonEvents"-->
      <!--        size="cover"-->
      <!--        presentation="date"-->
      <!--        [(ngModel)]="displayValue"-->
      <!--        [max]="maxValue"-->
      <!--        [min]="minValue"-->
      <!--        (ionChange)="onSelected(date, displayType)"-->
      <!--      >-->
      <!--        <ion-buttons slot="buttons" *ngIf="emitButtonEvents">-->
      <!--          <ion-button color="primary" (click)="date.cancel(); buttonEmit(date, 'cancel')"> Cancel</ion-button>-->
      <!--          <ion-button *ngIf="showClearButton" color="primary" (click)="date.reset(); buttonEmit(date, 'clear')">-->
      <!--            Clear-->
      <!--          </ion-button>-->
      <!--          <ion-button color="primary" (click)="date.confirm(); buttonEmit(date, 'done')">Done</ion-button>-->
      <!--        </ion-buttons>-->
      <!--      </ion-datetime>-->
      <ion-datetime
        *ngIf="displayType === DisplayType.Time"
        class="time-modal-content"
        #timePicker
        id="{{ pickerId }}"
        [showDefaultButtons]="!emitButtonEvents"
        [showClearButton]="showClearButton && !emitButtonEvents"
        size="cover"
        presentation="time"
        [(ngModel)]="outputValue"
        [max]="maxValue"
        [min]="minValue"
        (ionChange)="onSelected(timePicker.value, displayType)"
      >
        <ion-buttons slot="buttons" *ngIf="emitButtonEvents">
          <ion-button color="primary" (click)="timePicker.cancel(); buttonEmit(timePicker, 'cancel')"
            >Cancel</ion-button
          >
          <ion-button
            *ngIf="showClearButton"
            color="primary"
            (click)="timePicker.reset(); buttonEmit(timePicker, 'clear')"
            >Clear
          </ion-button>
          <ion-button color="primary" (click)="timePicker.confirm(); buttonEmit(timePicker, 'done')">Done</ion-button>
        </ion-buttons>
      </ion-datetime>
    </ng-template>
  </ion-modal>
</div>
