<ion-header>
    <practice-mode-banner *ngIf="isEndToEndPracticeMode"></practice-mode-banner>
</ion-header>

<ion-content id="post-debrief-holding-cat-b-page" class="background-colour">
    <div class="container">
        <img id='dvsa-logo' src='../../../assets/imgs/back-to-office/logo.png' />
    </div>
    <div class="container">
        <ion-button id="continue-to-write-up"
                    class="mes-neutral-button office-button top-button"
                    (click)="navigateBack()">Continue to write up
        </ion-button>
    </div>
    <div class="container"  *ngIf="!(pageState.isRekey$ | async)">
        <ion-button id="to-non-pass-finalisation"
                    class="mes-neutral-button office-button bottom-button"
                    (click)="navigateForward()">Return to journal
        </ion-button>
    </div>
</ion-content>

