<ion-header>
  <practice-mode-banner *ngIf="isEndToEndPracticeMode"></practice-mode-banner>
  <ion-toolbar class="no-internal-padding"
               [ngClass]="{'toolbar-no-padding': isEndToEndPracticeMode || isExitSAMActivated}" mode="ios">
    <test-flow-header
      class="display-flex flex-direction-column"
      [pageName]="'back-to-office'"
      [shouldShowEscapeFromSamButton]="!isRekey && !isDelegated"
      [shouldShowBackButton]="false"
      [isPracticeMode]="isEndToEndPracticeMode"
      [isExitSAMActivated]="isExitSAMActivated"
      [shouldShowEndTestLink]="false"
      (exitSamUsed)="onUsedExitSam()"
      (onExitSAMActivatedChanged)="isSamActivatedChanged($event)">
      Back to office
    </test-flow-header>
  </ion-toolbar>
</ion-header>

<ion-content forceOverscroll="false" id="back-to-office-page">
  <div class="container">
    <img id="dvsa-logo" src="assets/imgs/back-to-office/logo.png" alt="DVSA Logo" />
  </div>

  <div class="container">
    <ion-button
      class="mes-neutral-button office-button top-button"
      (click)="navigateForward(office)"
      id="continue-to-write-up"
    >
      Continue to write up
    </ion-button>
  </div>
  <div class="container" *ngIf="!isRekey">
    <ion-button
      class="mes-neutral-button office-button bottom-button"
      (click)="navigateForward(journal)"
      id="return-to-journal"
    >
      Return to journal
    </ion-button>
  </div>
</ion-content>
