<ion-row id="candidate-name-section" class="candidate-side-padding candidate-top-padding">
    <ion-col size="60" class="ion-no-padding">
        <h2 id="candidate-name">{{candidateName}}</h2>
    </ion-col>
    <ion-col size="36" class="align-col-right ion-no-padding">
        <h2 id="candidate-start-time">{{startTime}}</h2>
    </ion-col>
</ion-row>
<ion-row id="candidate-number-section" class="candidate-side-padding">
    <ion-col size="44" class="ion-no-padding">
        <h3 id="candidate-driver-number">{{driverNumber}}</h3>
    </ion-col>
    <ion-col size="52" class="align-col-right ion-no-padding">
        <h3>Test outcome:
            <div id="test-outcome-text" class="inline-mode">
                <span [class]="getTestOutcomeClass(testOutcomeText)">
                    {{testOutcomeText}}
                </span>
            </div>
        </h3>
    </ion-col>
</ion-row>
