<ion-row *ngIf="display && furtherDevelopment === false" class="mes-validated-row" [formGroup]="formGroup">
  <div class="validation-bar" [class.ng-invalid]="invalid"></div>
  <ion-col class="component-label ion-align-self-center" size="32">
    <label class="reason-text" id="reason-for-no-advice-label">Reason for no advice given:</label>
  </ion-col>
  <ion-col class="ion-align-self-center mes-padding-left" size="60">
    <ion-row class="spacing-row"></ion-row>
    <ion-row>
      <textarea
        formControlName="reasonGiven"
        name="reasonGiven"
        charCount
        class="mes-data input-styling-background"
        charLimit="950"
        [value]="reasonGivenText"
        (change)="adviceReasonChange($event.target.value)"
        (onCharacterCountChanged)="characterCountChanged($event)"
        id="ordit-reason-for-advice-textarea"
        emojiBlock>
      </textarea>
      <div class="character-count validation-text">{{getCharacterCountText()}}</div>
    </ion-row>
    <ion-row class="validation-message-row ion-align-items-center">
      <div class="validation-text" [class.ng-invalid]="invalid" id="reason-given-validation-text">
        Please provide {{charactersExceeded() ? 'a valid' : 'a'}} reason
      </div>
    </ion-row>
  </ion-col>
</ion-row>

