<ion-header>
  <practice-mode-banner *ngIf="isEndToEndPracticeMode"></practice-mode-banner>
  <ion-toolbar [ngClass]="{'toolbar-no-padding': isEndToEndPracticeMode}" mode="ios">
    <ion-title id="pass-finalisation-title">Test debrief - {{pageState.candidateUntitledName$ | async}}</ion-title>
    <ion-buttons id="back-button" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <ion-grid>

        <finalisation-header
          [candidateDriverNumber]="pageState.candidateDriverNumber$ | async"
          [candidateName]="pageState.candidateName$ | async"
          [outcomeText]="pageState.testOutcomeText$ | async">
        </finalisation-header>

        <application-reference-number
          [applicationNumber]="pageState.applicationNumber$ | async">
        </application-reference-number>

        <pass-certificate-number
          (passCertificateNumberChange)="passCertificateNumberChanged($event)"
          [form]="form"
          [isPracticeMode]="isPracticeMode"
          [passCertificateNumberInput]="pageState.passCertificateNumber$ | async">
        </pass-certificate-number>

        <language-preferences
          (welshChanged)="isWelshChanged($event)"
          [formGroup]="form"
          [isWelsh]="(pageState.conductedLanguage$ | async) === 'Cymraeg'">
        </language-preferences>

        <debrief-witnessed
          (debriefWitnessedChange)="debriefWitnessedChanged($event)"
          [debriefWitnessed]="pageState.debriefWitnessed$ | async"
          [display]="true"
          [formGroup]="form"
          [outcome]="pageState.testOutcome$ | async">
        </debrief-witnessed>
      </ion-grid>
    </form>
  </div>
</ion-content>

<ion-footer>
  <ion-row class="mes-full-width-card box-shadow">
    <ion-button (click)="onSubmit()" class="mes-primary-button" id="pass-finalisation-continue-button">
      <header-component
        [headerNum]="3">
        Continue
      </header-component>
    </ion-button>
  </ion-row>
</ion-footer>
