<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="end">
      <ion-button
        class="white-text"
        id="useful-links-return-to-dashboard-btn"
        (click)="goToDashboard()">
        <ion-icon class="close-btn" name="close-outline"></ion-icon>
        <ion-label class="close-btn">Close</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-title id="useful-links-page-title" role="heading" aria-level="1">Useful links</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list *ngFor="let link of usefulLinks; let i = index">
      <ion-card>
        <ion-card-content>
          <ion-row (click)="openLinkProvider.openLinkModal(link)">
            <ion-col size="82">
              <h3 id="useful-links-card-header-{{i}}" class="des-header-style-2 bold">{{link.displayText}}</h3>
            </ion-col>
            <ion-col size="14">
              <ion-icon
                class="chevron-icon"
                name="chevron-forward-outline"
                id="useful-links-card-chevron-icon-{{i}}">
              </ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
  </ion-list>
</ion-content>
