<ion-header>
  <practice-mode-banner *ngIf="isEndToEndPracticeMode"></practice-mode-banner>
  <ion-toolbar class="no-internal-padding"
               [ngClass]="{'toolbar-no-padding': isEndToEndPracticeMode || isExitSAMActivated}" mode="ios">
    <des-header
      class="display-flex flex-direction-column"
      [pageName]="'pass-finalisation-cat-adi2'"
      [shouldShowEscapeFromSamButton]="!isRekey && !isDelegatedTest"
      [isPracticeMode]="isEndToEndPracticeMode"
      [isExitSAMActivated]="isExitSAMActivated"
      (exitSamUsed)="onUsedExitSam()"
      [shouldShowEndTestLink]="false"
      (onExitSAMActivatedChanged)="isSamActivatedChanged($event)">
      Finalise outcome - {{pageState.candidateUntitledName$ | async}}
    </des-header>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-grid>
        <finalisation-header
          [candidateName]="pageState.candidateName$ | async"
          [candidateDriverNumber]="pageState.candidateDriverNumber$ | async"
          [outcomeText]="pageState.testOutcomeText$ | async"
        >
        </finalisation-header>

        <language-preferences
          [formGroup]="form"
          [isWelsh]="(pageState.conductedLanguage$ | async) === 'Cymraeg'"
          (welshChanged)="isWelshChanged($event)"
        >
        </language-preferences>

        <debrief-witnessed
          [display]="true"
          [formGroup]="form"
          [debriefWitnessed]="pageState.debriefWitnessed$ | async"
          [outcome]="testOutcome"
          (debriefWitnessedChange)="debriefWitnessedChanged($event)"
        >
        </debrief-witnessed>

        <warning-banner warningText="Advise PDI to seek development for the Part 3 test from an ORDIT trainer">
        </warning-banner>
      </ion-grid>
    </form>
  </div>
</ion-content>

<ion-footer>
  <ion-row class="mes-full-width-card box-shadow">
    <ion-button class="mes-primary-button" id="pass-finalisation-continue-button" (click)="onSubmit()">
      <ion-text class="des-header-style-3">Continue</ion-text>
    </ion-button>
  </ion-row>
</ion-footer>
