<ion-header>
  <ion-toolbar
    [ngClass]="{
      'no-internal-padding': true,
      'practice-theme': isEndToEndPracticeMode,
      'toolbar-no-padding': isExitSAMBannerActivated,
      'ion-no-padding-important': isEndToEndPracticeMode
    }"
    mode="ios">
    <test-flow-header
      class="display-flex flex-direction-column"
      [pageName]="'pass-finalisation-cat-adi2'"
      [shouldShowEscapeFromSamButton]="!isRekey && !isDelegated"
      [isPracticeMode]="isEndToEndPracticeMode"
      [isExitSAMActivated]="isExitSAMBannerActivated"
      (exitSamUsed)="onUsedExitSam()"
      [shouldShowEndTestLink]="false"
      (setupLeaveSubscription)="setupEscapeSAMLeaveSubscription()"
      (setupResumeSubscription)="setupEscapeSAMResumeSubscription()"
      (onExitSAMActivatedChanged)="isSamActivatedChanged($event)">
      Finalise outcome - {{ pageState.candidateUntitledName$ | async }}
    </test-flow-header>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-grid>
        <finalisation-header
          [candidateName]="pageState.candidateName$ | async"
          [candidateDriverNumber]="pageState.candidateDriverNumber$ | async"
          [outcomeText]="pageState.testOutcomeText$ | async"
          >
        </finalisation-header>

        <language-preferences
          [formGroup]="form"
          [isWelsh]="(pageState.conductedLanguage$ | async) === 'Cymraeg'"
          (welshChanged)="isWelshChanged($event)"
          >
        </language-preferences>

        <debrief-witnessed
          [display]="true"
          [formGroup]="form"
          [debriefWitnessed]="pageState.debriefWitnessed$ | async"
          [outcome]="testOutcome"
          (debriefWitnessedChange)="debriefWitnessedChanged($event)"
          >
        </debrief-witnessed>

        <warning-banner warningText="Advise PDI to seek development for the Part 3 test from an ORDIT trainer">
        </warning-banner>
      </ion-grid>
    </form>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row class="box-shadow flex-center footer-padding">
      <ion-col size="60">
        <ion-button (click)="onSubmit()" class="mes-primary-button width-100" id="pass-finalisation-continue-button">
          <ion-text class="des-header-style-3">Continue</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
