:host {
  div {
    width: 22px;
    height: 22px;
    min-width: 22px;

    .tick-background {
      background-color: var(--gds-grey-3);
      color: var(--mes-white);
      border-radius: 13px;

      &.ticked {
        background-color: var(--gds-green);
      }

      span {
        display: flex;
        justify-content: center;
        height: 100%;

        .tick-icon {
          font-size: 15px;
          font-weight: 900;
          align-self: center;
        }
      }
    }
  }
}
