submission-status {
  div {
    height: 24px;
    background: var(--gds-bright-red);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 13px 0 12px;

    h6 {
      color: var(--mes-white);
      letter-spacing: -0.22px;
      font-weight: normal;
    }
  }
}
