<ion-toolbar class="exit-sam-toolbar-sizing">
  <ion-row class="exit-sam-top-banner"></ion-row>
  <ion-row class="status-bar-spacing"></ion-row>
  <ion-row>
    <ion-col></ion-col>
    <ion-col
      (click)="callConfirmModal()"
      size="auto"
      id="exit-sam-title-text"
      class="exit-sam-title-text ion-no-padding"
    >
      <ion-text class="exit-sam-banner-text">
        You are in Single App Mode - Tap here to disable and enter Microsoft Teams
      </ion-text>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
</ion-toolbar>
