.exit-banner-base {
  border-radius: 0;
  padding-bottom: 0;
  padding-top: 0;
  width: 100%;
  left: 0;
}

.cancel-button {
  position: relative;
  bottom: 2px;
  min-height: 24px;
  --background: var(--mes-white);
  --background-activated: var(--gds-grey-1);
  border-radius: 100px;
}

.exit-banner-top-banner {
  @extend .exit-banner-base;
  position: fixed;
  background: var(--escape-SAM-Purple);
  height: 50px;
  top: 0;
}

.exit-banner-text {
  @extend .exit-banner-base;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: var(--mes-white);
  line-height: 24px !important;
}

.status-bar-spacing {
  height: 15px;
}

.exit-banner-text-column {
  display: flex;
  align-items: center;
}

.exit-banner-toolbar-sizing {
  padding-top: 0;
  padding-bottom: 0;
  height: 50px;
}

.exit-icon {
  margin-top: 2px;
  align-items: center;
}
