<ion-row
  [formGroup]="formGroup"
  [ngClass]="!isLastQuestion && 'mes-row-separator'"
  class="mes-validated-row ion-nowrap"
  id="vehicle-checks-question-row"
>
  <div class="validation-bar" [class.ng-invalid]="invalid"></div>
  <ion-col class="display-flex ion-justify-content-center direction-column">
    <ion-row>
      <ion-col size="40" class="ion-align-self-center">
        <ion-row>
          <ion-select
            (ionChange)="safetyAndBalanceQuestionChanged($event?.detail?.value)"
            [formControlName]="questionFieldName"
            [interfaceOptions]="{cssClass:'mes-select vehicle-checks-question-select', enableBackdropDismiss:false}"
            aria-label="Vehicle check question"
            cancelText="Cancel"
            class="dropdown-size"
            id="vehicle-checks-question-selector-{{questionId}}"
            labelPlacement="stacked"
            okText="Submit"
            placeholder="Select a question"
          >
            <ion-select-option
              *ngFor="let question of questions"
              [disabled]="isOptionDisabled(question)"
              [value]="question"
            >
              {{ question.code }} - {{ question.shortName }}
            </ion-select-option>
          </ion-select>
        </ion-row>
      </ion-col>
      <ion-col *ngIf="shouldShowOutcomeFields()" size="50" class="ion-align-self-center">
        <ion-radio-group
          *ngIf="shouldShowOutcomeFields()"
          class="display-flex ion-align-items-center"
          [formControlName]="questionOutcomeFieldName"
          [value]="questionOutcomeFormControl.value"
          (ionChange)="questionOutcomeChanged($event.detail.value)">
          <ion-col size="40">
            <ion-radio
              class="gds-refactor-radio"
              [attr.id]="'vehicleChecksCorrect_'+questionId"
              labelPlacement="end"
              value="P">
              <label class="radio-label" id="vehicle-checks-correct-{{questionId}}">
                Correct
              </label>
            </ion-radio>
          </ion-col>
          <ion-col size="16"></ion-col>
          <ion-col>
            <ion-radio
              class="gds-refactor-radio"
              [attr.id]="'vehicleChecksFault_'+questionId"
              value="DF"
              labelPlacement="end">
              <label class="ion-text-wrap radio-label" id="vehicle-checks-fault-{{questionId}}">
                Wrong answer
              </label>
            </ion-radio>
          </ion-col>
        </ion-radio-group>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="displayErrorMessage()" class="validation-message-row">
      <ion-col size="40"></ion-col>
      <ion-col>
        <div class="validation-text ion-no-padding ng-invalid">Question Incomplete</div>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
