<ion-row class="tr-standard-text" id="{{idSelector}}-title-score-text">{{title}} - {{testReportSection.score}}</ion-row>
@for (item of testReportSection | customKeyValue: 'q'; track item; let l = $last; let i = $index) {
  @let score = get(item.q, 'score');
  <ion-row>
    @if (!l) {
      <ion-card class="ion-padding question-card black-text semibold-font-family card-padding">
        <ion-row>
          <ion-col size="10" class="score-padding">
            <div class="counter-background">
              <span class="count" id="{{idSelector}}-{{i}}-score">{{score !== null ? score : '-'}}</span>
            </div>
          </ion-col>
          <ion-col class="title-padding" id="{{idSelector}}-{{i}}-title"> {{get(item.q, 'title')}} </ion-col>
        </ion-row>
      </ion-card>
    }
  </ion-row>
}
