:host {
  .tr-standard-text {
    font-weight: bold;
    font-size: 20px !important;
    color: var(--gds-black);
  }

  .question-card {
    margin-left: 0;
  }

  .counter-background {
    width: 22px;
    height: 22px;
    min-width: 22px;
    display: flex;
    justify-content: center;
    background-color: var(--gds-black);
    color: var(--mes-white);
    border-radius: 13px;

    .count {
      font-size: 15px;
      font-weight: bold;
      align-self: center;
    }
  }

  .card-padding {
    padding: 10px 0 0 10px;
  }

  .score-padding {
    padding: 0;
  }

  .title-padding {
    padding-top: 0;
    top: -5px;
  }
}
