<ion-row *ngIf="display" class="mes-validated-row mes-row-separator" id="show-me-question-row" [formGroup]="formGroup">
  <div class="validation-bar" [class.ng-invalid]="invalid"></div>
  <ion-col class="component-label ion-align-self-center" size="32">
    <label id="show-me-question-label">Show me question</label>
  </ion-col>
  <ion-col class="ion-align-self-center ion-padding-start">
    <ion-row class="spacing-row"></ion-row>
    <ion-row>
      <ion-select id="show-me-question-selector"
                  placeholder="Select a question"
                  class="select-padding"
                  okText="Submit"
                  cancelText="Cancel"
                  formControlName="showMeQuestion"
                  (ionChange)="showMeQuestionChanged($event.target.value)"
                  [interfaceOptions]="{cssClass:'mes-select', backdropDismiss:false}">
        <ion-select-option [value]="showMeQuestion"
                           id="show-me-question-{{showMeQuestion.code}}"
                           *ngFor="let showMeQuestion of showMeQuestionOptions">
          {{showMeQuestion.code}} - {{showMeQuestion.shortName}}
        </ion-select-option>
      </ion-select>
    </ion-row>
    <ion-row class="validation-message-row ion-align-items-center">
      <div class="validation-text" [class.ng-invalid]="invalid" id="show-me-question-validation-text">
        Select the show me question
      </div>
    </ion-row>
  </ion-col>
</ion-row>
