app-test-report-toolbar {
  #wrapper {
    height: 68px;
    padding: 12px 24px;
    background: #ffffff;
  }
  .button-wrapper {
    display: flex;
    justify-content: center;
  }

  #remove-button {
    min-width: 96px;
    padding: 0 6px;
    height: 43px;
    border: 3.5px solid #b10e1e;
    border-radius: 10px;
    background-color: #ffffff;
    margin: 0;
    align-self: center;
    .button-inner {
      font-size: 19px;
      font-weight: 500;
      text-align: center;
      letter-spacing: 0.32px;
      line-height: 25px;
    }
    &.inactive {
      background-color: #ffffff;
      color: #b10e1e;
      box-shadow: 0 1px 0 0 #6f777b;
    }
    &.active {
      background-color: #b10e1e;
      color: #ffffff;
    }
  }
  #serious-button {
    width: 88px;
    height: 43px;
    border: 3.5px solid #ffbf47;
    border-radius: 10px;
    margin: 0;
    align-self: center;
    &.inactive {
      background-color: #ffffff;
      box-shadow: 0 1px 0 0 #6f777b;
    }
    &.active {
      background: #ffbf47;
    }
    span {
      font-size: 24px;
      font-weight: 900;
      text-align: center;
      letter-spacing: -0.26px;
      line-height: 25px;
      color: #0b0c0c;
    }
  }
  #dangerous-button {
    width: 88px;
    height: 43px;
    border: 3.5px solid #b10e1e;
    border-radius: 10px;
    margin: 0;
    align-self: center;
    &.inactive {
      background-color: #ffffff;
      box-shadow: 0 1px 0 0 #6f777b;
      color: #b10e1e;
    }
    &.active {
      background-color: #b10e1e;
      color: #ffffff;
    }
    span {
      font-size: 24px;
      font-weight: 900;
      text-align: center;
      letter-spacing: -0.33px;
      line-height: 25px;
    }
  }
}
