<ion-row class="mes-validated-row mes-row-separator" id="vehicle-checks" [formGroup]="formGroup">
    <div class="validation-bar" [class.ng-invalid]="invalid"></div>
    <ion-col size="32" class="component-label ion-align-self-center">
        <label>Safety and balance Questions</label>
    </ion-col>
    <ion-col class="ion-align-self-center ion-padding-start">
        <ion-row class="spacing-row"></ion-row>
        <ion-row>
            @if (!everyQuestionHasOutcome()) {
<ion-col size="48">
                <ion-button id="vehicle-check-cat-c-select-questions-btn" class="mes-return-button select-questions-btn"
                            (click)="openVehicleChecksModal()">
                    <label id="select-questions-label">Select questions</label>
                </ion-button>
            </ion-col>
}
            @if (everyQuestionHasOutcome()) {
<ion-col size="48" class="vehicle-check-score ion-align-self-center">
                @if (!hasDrivingFault()) {
<ion-row class="vehicle-checks-result">
                    <tick-indicator class="badge" [ticked]="true"></tick-indicator>
                    Correct
                </ion-row>
}
                @if (hasDrivingFault()) {
<ion-row class="vehicle-checks-result">
                    <driving-faults-badge class="badge" showOnZero=true
                                          [count]='safetyAndBalanceQuestionsScore.drivingFaults'>
                    </driving-faults-badge>
                    <span class="black-text">riding fault</span>
                </ion-row>
}
            </ion-col>
}
            @if (everyQuestionHasOutcome()) {
<ion-col size="47" class="see-answer-link-container ion-padding-end">
                <ion-button class="mes-link-button see-answer-link" (click)="openVehicleChecksModal()">
                    <span>See answers
                        <ion-icon name="arrow-forward"></ion-icon>
                    </span>
                </ion-button>
            </ion-col>
}
        </ion-row>
        <ion-row class="validation-message-row ion-align-items-center">
            <div class="validation-text" [class.ng-invalid]="invalid"
                 id="waiting-room-to-car-vehicle-checks-validation-text">
                Please complete safety and balance checks
            </div>
        </ion-row>
    </ion-col>
</ion-row>
