<ion-row class="mes-validated-row mes-row-separator mes-narrow-row" id="dual-controls-card"  [formGroup]="formGroup">
  <div class="validation-bar" [class.ng-invalid]="invalid"></div>
  <ion-col class="component-label ion-align-self-center" size="32">
    <label id="dual-controls-label">Dual controls</label>
  </ion-col>
  <ion-col class="ion-align-self-center ion-padding-start">
    <ion-row class="spacing-row"></ion-row>
    <ion-row>
      <ion-col size="48">
        <input type="radio"
               id="dualControlsYes"
               formControlName="dualControlsCtrl"
               name="dualControlsCtrl"
               class="gds-radio-button"
               [class.ng-invalid]="invalid"
               (change)="dualControlsChanged($event.target.value)"
               value="true"
               [checked]="dualControls === true">
        <label for="dualControlsYes" class="radio-label" id="dual-controls-yes-label">
          Yes
        </label>
      </ion-col>
      <ion-col>
        <input type="radio"
               id="dualControlsNo"
               formControlName="dualControlsCtrl"
               name="dualControlsCtrl"
               class="gds-radio-button"
               [class.ng-invalid]="invalid"
               (change)="dualControlsChanged($event.target.value)"
               value="false"
               [checked]="dualControls === false">
        <label for="dualControlsNo" class="radio-label" id="dual-controls-no-label">
          No
        </label>
      </ion-col>
    </ion-row>
    <ion-row class="validation-message-row ion-align-items-center">
      <div class="validation-text"
           id="dual-controls-validation-text"
           [class.ng-invalid]="invalid">
        Select if dual controls were present
      </div>
    </ion-row>
  </ion-col>
</ion-row>
