@use "src/theme/sass-partials/modal";

:host {
  @extend .modal-alert-wrapper;

  .modal-alert {
    width: 500px;
  }

  .card-width {
    width: 550px;
  }

  .modal-alert-header {
    margin-top: 40px;
  }

  .full-width {
    width: 100%
  }

  .return-button {
    font-weight: bold;
    color: var(--gds-black)
  }

  .radio-label {
    font-weight: normal;
    margin: 7px 0;
    display: inline-flex;
  }

  .cancel-button {
    color: var(--mes-theme-opposing-colour);
  }

  .confirm-button {
    font-weight: bold;
    color: var(--gds-black);
  }

}
