  .vertical-alignment {
    display: flex;
    vertical-align: text-top;
  }

  .vertical-align-center {
    display: flex;
    align-items: center;
  }

  .top-align-padding {
    padding-top: 10px;
  }

  .labelTop {
    align-items: start;
  }
