  .vertical-alignment {
    display: flex;
    vertical-align: text-top;
  }

  .exclamation-indicator {
    width: 26px;
    height: 26px;
    float: left;
    vertical-align: middle;
  }

  .labelTop {
    align-items: start;
  }
