<ion-card id="dangerous-fault" *ngIf="dangerousFaults?.length > 0">
  <ion-card-header>
    <ion-card-title>
      <h1 id="dangerous-fault-count" class="fault-heading">{{dangerousFaults.length}}</h1>
      <h4 id="dangerous-fault-title"
          class="fault-heading">{{ 'debrief.dangerousFaultsCardDescription' | translate }}</h4>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
      <ion-row *ngFor="let dangerousFault of dangerousFaults" class="mes-data ion-align-items-center">
        <ion-col size="32" class="ion-no-padding"></ion-col>
        <ion-col size="2" class="ion-align-self-start ion-no-padding">
          <div class="down-padding counter-icon">
            <dangerous-fault-badge
              [showBadge]="true"
              [competencyDisplayName]="dangerousFault"
            >
            </dangerous-fault-badge>
          </div>
        </ion-col>
        <ion-col size="3" class="ion-no-padding"></ion-col>
        <ion-col class="ion-no-padding">
          <div
            class="counter-label"
            id="{{dangerousFaults}}-driving-text">{{'debrief.competencies.' + dangerousFault | translate | modifyCompetencyLabel:testCategory:dangerousFault}}</div>
        </ion-col>
      </ion-row>
  </ion-card-content>
</ion-card>
