<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons id="burger-menu" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <h6 class="version-number">Version {{pageState.appVersion$ | async}}</h6>
    </ion-buttons>
    <ion-title id="page-title">My Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="{
   slots: pageState.unSubmittedTestSlots$ | async,
   originalSlots: pageState.unSubmittedTestSlotsOriginal$ | async
} as state">

  <div>
    <profile-header
      [employeeId]="pageState.employeeId$ | async"
      [name]="pageState.employeeName$ | async"
      [role]="pageState.role$ | async">
    </profile-header>
  </div>

  <h2 class="header-divider">
    You have {{state.originalSlots?.length || 0}} incomplete {{getTestsText(state.originalSlots?.length)}} (over 1 day old)
  </h2>

  <test-slot
    *ngFor="let slot of state.originalSlots; let count = count;"
    [slots]="pageState.unSubmittedTestSlotData$ | async"
    [slot]="slot?.slotData"
    [isUnSubmittedTestSlotView]="true">
  </test-slot>
</ion-content>
