<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons id="burger-menu" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <h6 class="version-number">Version {{pageState.appVersion$ | async}}</h6>
    </ion-buttons>
    <ion-title id="page-title">My Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <profile-header
      [employeeId]="pageState.employeeId$ | async"
      [name]="pageState.employeeName$ | async"
      [role]="pageState.role$ | async">
    </profile-header>
  </div>

  <unuploaded-slot
    *ngFor="let slot of (pageState.testsInWriteUp$ | async); let count = count;"
    [count]="count"
    [slotStartDate]="slot.journalData?.testSlotAttributes?.start | date: 'dd/MM/yyyy'"
    [appRef]="formatAppRef(slot.journalData?.applicationReference)"
    [candidateTitledName]="getName(slot.journalData?.candidate)"
    [category]="slot.category"
    [driverNumber]="slot.journalData?.candidate?.driverNumber"
    [slotID]="slot.journalData?.testSlotAttributes?.slotId"
    (writeUpClicked)="startTestInWriteUp($event)"
  ></unuploaded-slot>
</ion-content>
