:host {
  .header-divider {
    border-top: 1px solid black;
  }

  .white-text {
    --color: white;
    color: white !important;
    & ion-text, label, span, p {
      color: white !important;
    }
  }

  ion-menu-button {
    color: var(--mes-theme-opposing-colour);
  }
}
