
ion-card {
  ion-grid {
    height: 100%;
  }
}

ion-row {
  &.slot-row {
    min-height: 108px;
    position: relative;

    &.test-slot-portrait-mode {
      min-height: 108px;
    }
  }

  &.slot-header,
  &.slot-footer {
    min-height: 22px;
    padding-right: 4px;

    &.vehicle-details-displayed {
      min-height: 34px;
    }
  }

  &.slot-main {
    min-height: 48px;
  }
}

ion-col {
  &.time-exclamation-col {
    max-width: 152px;

    .text-zoom-large & {
      max-width: 172px;
    }

    .text-zoom-x-large & {
      max-width: 192px;
    }
  }

  &.exclamation-col {
    max-width: 48px;
  }

  &.test-outcome-col {
    max-width: 152px;

    .text-zoom-large & {
      max-width: 172px;
    }

    .text-zoom-x-large & {
      max-width: 192px;
    }
  }

  &.vehicle-details-col {
    margin-top: -6px;
    margin-left: -100px;

    .text-zoom-large & {
      padding-left: 110px;
    }

    .text-zoom-x-large & {
      padding-left: 110px;
    }
  }

  &.progressive-access-col {
    margin-top: -6px;
  }
}

.slot-changed-indicator {
  position: absolute;
  height: 100%;
  width: 8px;
}

.slot-changed {
  //background: map-get($colors, journalSlotChangeIdentifier);
}
