<ion-card [ngClass]="{'test-slot-portrait-mode': isPortrait()}">
    <div class="slot-changed-indicator" [ngClass]="{ 'slot-changed': hasSlotChanged }"></div>

    <ion-grid>
        <ion-row>
            <ion-col size="79">
                <ion-row>
                    <ion-col size="2"></ion-col>
                    <ion-col size="24" class="no-padding">
                        <language [welshLanguage]="slot.booking.application.welshTest">
                        </language>
                    </ion-col>
                    <ion-col size="2"></ion-col>
                    <ion-col size="68"></ion-col>
                </ion-row>

                <ion-row>
                    <ion-col size="2"></ion-col>
                    <ion-col size="7" class="exclamation-col align-center">
                        <indicators [showExclamationIndicator]="isIndicatorNeededForSlot()"
                                    [testStatus]="testStatus">
                        </indicators>
                    </ion-col>
                    <ion-col size="17" class="align-center">
                        <time id="time-{{slot.booking.application.applicationId}}"
                              [time]="slot.slotDetail.start"
                              [testComplete]="testComplete">
                        </time>
                    </ion-col>
                    <ion-col size="2"></ion-col>
                    <ion-col size="44" class="vertical-align-center">
                        <candidate-link [slot]="slot" [slotChanged]="hasSlotChanged"
                                        [name]="slot.booking.candidate.candidateName" [isPortrait]="isPortrait()">
                        </candidate-link>
                    </ion-col>
                    <ion-col size="24" class="align-center">
                        <test-category [category]="slot.booking.application.testCategory"></test-category>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col size="7"></ion-col>
                    <ion-col size="19">
                    </ion-col>
                    <ion-col size="2"></ion-col>
                    <ion-col size="68">
                    </ion-col>
                </ion-row>
            </ion-col>

            <ion-col size="17">
                <ion-row>
                    <ion-col class="align-center">
                        <submission-status class="full-width" [testStatus]="testStatus"></submission-status>
                    </ion-col>
                </ion-row>
                <ion-row class="row-height">
                    <ion-col class="align-center">
                    <test-outcome
                            [category]="slot.booking.application.testCategory"
                            [slotDetail]="slot.slotDetail"
                            [canStartTest]="canStartTest"
                            [testStatus]="testStatus"
                            [activityCode]="activityCode">
                    </test-outcome>
                    </ion-col>
                </ion-row>
                <ion-row>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-card>
