
<ion-card [ngClass]="{'test-slot-portrait-mode': isPortrait()}">
  <ion-row class="slot-row" align-items-center nowrap>
    <div class="slot-changed-indicator" [ngClass]="{ 'slot-changed': hasSlotChanged }"></div>
    <ion-grid>
      <ion-row class="slot-header" [ngClass]="{'vehicle-details-displayed': false}" align-items-center>
        <ion-col no-padding>
          <language align-items-center [welshLanguage]="slot.booking.application.welshTest">
          </language>
        </ion-col>
        <ion-col no-padding>
          <submission-status float-end [testStatus]="testStatus"></submission-status>
        </ion-col>
      </ion-row>
      <ion-row class="slot-main" align-items-center>
        <ion-col class="time-exclamation-col">
          <ion-grid no-padding>
            <ion-row align-items-center nowrap>
              <ion-col class="exclamation-col">
                <indicators [showExclamationIndicator]="isIndicatorNeededForSlot()"
                  [testStatus]="testStatus">
                </indicators>
              </ion-col>
              <ion-col>
                <time [time]="slot.slotDetail.start" [testComplete]="testComplete">
                </time>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col class="candidate-details-col" no-padding>
          <ion-grid no-padding>
            <ion-row align-items-center>
              <ion-col col-64>
                <candidate-link [slot]="slot" [slotChanged]="hasSlotChanged"
                  [name]="slot.booking.candidate.candidateName" [isPortrait]="isPortrait()">
                </candidate-link>
              </ion-col>
              <ion-col col-32 text-end>
                <test-category [category]="slot.booking.application.testCategory"></test-category>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col class="test-outcome-col" no-padding padding-right>
          <test-outcome
            [category]="slot.booking.application.testCategory"
            [slotDetail]="slot.slotDetail" 
            [canStartTest]="canStartTest"
            [testStatus]="testStatus"
            [activityCode]="activityCode">
          </test-outcome>
        </ion-col>
      </ion-row>
      <ion-row class="slot-footer" [ngClass]="{'vehicle-details-displayed': false}" align-items-center>
      </ion-row>
    </ion-grid>
  </ion-row>
</ion-card>
