<ion-header>
  <ion-toolbar
    [ngClass]="{
      'no-internal-padding': true,
      'practice-theme': isEndToEndPracticeMode,
      'toolbar-no-padding': isExitSAMBannerActivated,
      'ion-no-padding-important': isEndToEndPracticeMode
    }"
    mode="ios">
    <test-flow-header
      class="display-flex flex-direction-column"
      [pageName]="'pass-finalisation-cat-b'"
      [shouldShowEscapeFromSamButton]="!isRekey && !isDelegated"
      [isPracticeMode]="isEndToEndPracticeMode"
      [isExitSAMActivated]="isExitSAMBannerActivated"
      (exitSamUsed)="onUsedExitSam()"
      [shouldShowEndTestLink]="false"
      (setupLeaveSubscription)="setupEscapeSAMLeaveSubscription()"
      (setupResumeSubscription)="setupEscapeSAMResumeSubscription()"
      (onExitSAMActivatedChanged)="isSamActivatedChanged($event)">
      Finalise outcome - {{ candidateUntitledName() }}
    </test-flow-header>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <ion-grid>
        <finalisation-header
          [candidateDriverNumber]="candidateDriverNumber()"
          [candidateName]="candidateName()"
          [outcomeText]="testOutcomeText()"
          >
        </finalisation-header>

        <application-reference-number [applicationNumber]="applicationNumber()">
        </application-reference-number>

        @if (!isNorthernIreland(candidateDriverNumber())) {
          <license-provided
            (licenseNotReceived)="provisionalLicenseNotReceived()"
            (licenseReceived)="provisionalLicenseReceived()"
            [form]="form"
            [licenseReceivedLabel]="'Provisional licence received'"
            [license]="provisionalLicense()"
            >
          </license-provided>
        }

        @if (!isNorthernIreland(candidateDriverNumber())) {
          <licence-provided-warning-banner
            [licenceProvided]="provisionalLicense()"
            >
          </licence-provided-warning-banner>
        }

        @if (isNorthernIreland(candidateDriverNumber())) {
          <danger-banner [dangerText]="niMessage">
          </danger-banner>
        }

        <transmission
          [shouldShowConfirmationSettings]="true"
          [shouldShowEditBox]="true"
          [isShowingEditBox]="isShowingEditBox()"
          (transmissionChange)="transmissionChanged($event)"
          (automaticConfirmChange)="automaticConfirmationChanged($event)"
          (userClickedEditButton)="deactivateEdit()"
          [formGroup]="form"
          [transmission]="transmissionSignal()"
          [autoConfirmSelected]="isAutomaticConfirmed()"
          [isRekey]="isRekey"
        ></transmission>

        <pass-certificate-number
          (passCertificateNumberChange)="passCertificateNumberChanged($event)"
          [form]="form"
          [isPracticeMode]="isPracticeMode"
          [passCertificateNumberInput]="passCertificateNumber()"
          >
        </pass-certificate-number>

        <d255
          (d255Change)="d255Changed($event)"
          [d255]="d255()"
          [display]="true"
          [eyesightTestFailed]="eyesightTestFailed()"
          [formGroup]="form"
          [outcome]="testOutcome"
          >
        </d255>

        @if (d255()) {
          <warning-banner
            [warningIdentifier]="'d255-'"
            warningText="DVLA will not process the result until a D255 is received."
            >
          </warning-banner>
        }

        <language-preferences
          (welshChanged)="isWelshChanged($event)"
          [formGroup]="form"
          [isWelsh]="conductedLanguage() === 'Cymraeg'"
          >
        </language-preferences>

        <debrief-witnessed
          (debriefWitnessedChange)="debriefWitnessedChanged($event)"
          [debriefWitnessed]="debriefWitnessed()"
          [display]="true"
          [shouldShowSeparator]="false"
          [formGroup]="form"
          [outcome]="testOutcome"
          >
        </debrief-witnessed>
      </ion-grid>
    </form>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row class="box-shadow flex-center footer-padding">
      <ion-col size="60">
        <ion-button (click)="onSubmit()" class="mes-primary-button width-100" id="pass-finalisation-continue-button">
          <ion-text class="des-header-style-3">Continue</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
