:host {
  .assessment-label-position {
    display: flex;
    align-items: center;
    text-align: left;
  }

  .assessment-label-text {
    font-weight: normal;
    font-size: 20px;
    color: var(--gds-black);
  }
}
