<ion-header>
  <ion-nav>
    <ion-title>Office</ion-title>
  </ion-nav>
</ion-header>
<ion-content>
  <ion-row class="mes-full-width-card" id="candidate-section">
    <ion-col col-60>
      <h2 id="candidate-name">Candidate Name</h2>
      <h3 id="candidate-driver-number">Driver Number</h3>
    </ion-col>
    <ion-col col-36 class="align-col-right">
      <h2>Start Time</h2>
      <h3>Test outcome:
        <div id="test-outcome-text" class="inline-mode">
                <span>
                  Test Outcome Text
                </span>
        </div>
      </h3>
    </ion-col>
  </ion-row>
</ion-content>
