<ion-row class="ion-margin-start ion-padding-top ion-padding-bottom ion-padding-start">
    <ion-col class="ion-align-self-center" size="30">
        <label id="test-start-end-times-label">Test start - end time</label>
    </ion-col>
    <ion-col size="20">
        <ion-datetime-button datetime="duration-start"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true" mode="ios" [backdropDismiss]="false">
            <ng-template>
                <ion-datetime
                        class="time-styling"
                        id="duration-start"
                        presentation="time"
                        locale="en-GB"
                        [max]="maxEndTime"
                        [showDefaultButtons]="true"
                        [showDefaultTitle]="true"
                        [value]="startTime"
                        (ionChange)="startTimeChanged($event.target.value)">
                </ion-datetime>
            </ng-template>
        </ion-modal>
    </ion-col>

    <ion-col class="ion-align-self-center" size="4">
        <label class="to-label" id="to-label">-</label>
    </ion-col>
    <ion-col size="20">
        <ion-datetime-button datetime="duration-end"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true" mode="ios" [backdropDismiss]="false">
            <ng-template>
                <ion-datetime
                        class="time-styling"
                        id="duration-end"
                        presentation="time"
                        locale="en-GB"
                        [min]="minStartTime"
                        [showDefaultButtons]="true"
                        [showDefaultTitle]="true"
                        [value]="endTime"
                        (ionChange)="endTimeChanged($event.target.value)">
                </ion-datetime>
            </ng-template>
        </ion-modal>
    </ion-col>
</ion-row>


