<ion-header>
  <ion-toolbar mode="ios" class="toolbar-spacing">
    <ion-buttons slot="start" class="toolbar-item-spacing">
      <ion-button id="closeVehicleChecksModal" (click)="onClose()">
        <ion-icon class="close-btn" id="close-icon" name="close-outline"></ion-icon>
        <ion-label class="close-btn" id="close-label">Close</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-title role="heading" aria-level="1" id="vehicle-checks-modal-title" class="ion-text-center toolbar-item-spacing">
      Tell me questions - {{ pageState.candidateName$ | async }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <h2 class="des-header-style-4">
          Tell me questions
        </h2>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      @for (question of tellMeQuestionsNumberArray; track question; let i = $index; let l = $last) {
  <vehicle-checks-question
       
        [formGroup]="formGroup"
        [questionResult]="(pageState.tellMeQuestions$ | async)[i]"
        [questions]="tellMeQuestions"
        [questionsToDisable]="pageState.tellMeQuestions$ | async"
        [isLastQuestion]="l"
        [submitClicked]="submitClicked"
        (vehicleChecksQuestionChange)="tellMeQuestionChanged($event, i)"
        (vehicleChecksQuestionOutcomeChange)="tellMeQuestionOutcomeChanged($event, i)"
      ></vehicle-checks-question>
}
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-row class="mes-full-width-card box-shadow">
    <ion-button class="mes-primary-button" id="submit-vehicle-checks" (click)="onSubmit()">
      <ion-text class="des-header-style-3" id="vehicle-checks-modal-submit-label">Submit vehicle checks</ion-text>
    </ion-button>
  </ion-row>
</ion-footer>
