<ion-row class="mes-validated-row mes-row-separator" id="provisional-license-card">
  <div [class.ng-invalid]="invalid" class="validation-bar"></div>
  <ion-col class="component-label ion-align-self-center" size="32">
    <label id="pass-certificate-label">Pass certificate number</label>
  </ion-col>
  <ion-col class="ion-align-self-center mes-padding-left">
    <ion-row class="spacing-row"></ion-row>
    <ion-row [formGroup]="form">
      <ion-col>
        <ion-input
          (ionInput)="passCertificateNumberChanged($event.target.value)"
          [class.increase-height]="accessibilityService.getTextZoomClass() === 'text-zoom-x-large'"
          [class.ng-invalid]="invalid"
          aria-labelledby="pass-certificate-label"
          class="ion-input-styling increase-width"
          formControlName="passCertificateNumberCtrl"
          id="pass-certificate-number"
          maxlength="8"
          type="text"
          emojiBlock>
        </ion-input>
      </ion-col>
    </ion-row>
    <ion-row class="validation-message-row ion-align-items-center">
      <div
        [class.ng-invalid]="invalid"
        class="validation-text"
        id="pass-finalisation-certificate-number-validation-text">
        {{formControl.hasError('duplicate') ? errors.duplicate : errors.invalid}}
      </div>
    </ion-row>
  </ion-col>
</ion-row>
