<ion-row class="mes-component-row mes-row-separator ion-align-items-center" id="date-of-test-row">
  <ion-col class="component-label" size="32">
    <label id="date-of-test-label">Date of test</label>
  </ion-col>
  <ion-col class="ion-align-self-center ion-padding-start">
    <ion-row [class.spacing-row]="!isInvalid" [class.date-spacing-row]="isInvalid" class="spacing-row"></ion-row>
    <ion-row>
      <ion-col>
        <span *ngIf="!editMode"
          class="mes-data"
          (touchstart)="onTouchStart()"
          (touchend)="onTouchEnd()">{{dateOfTest}}
        </span>

        <ion-datetime-button *ngIf="editMode" datetime="dateOfTest" class="date-of-test-picker"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true" mode="ios" [backdropDismiss]="false">
          <ng-template>
            <ion-datetime
                #dateOfTest
                presentation="date"
                id="dateOfTest"
                mode="ios"
                [min]="minDate"
                [max]="maxDate"
                [value]="customTestDate"
                [(ngModel)]="customTestDate">
              <ion-buttons slot="buttons">
                <ion-button color="primary" (click)="handleCancel(dateOfTest)">Clear</ion-button>
                <ion-button color="primary" (click)="handleDone(dateOfTest)">Done</ion-button>
              </ion-buttons>
            </ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-col>
    </ion-row>
    <ion-row class="validation-message-row ion-align-items-center">
      <div *ngIf="isInvalid"
           class="validation-text ng-invalid date-error-message"
           id="date-of-test-validation-text">
        Please enter a date in the past, and no more than 12 months ago
      </div>
    </ion-row>
  </ion-col>
</ion-row>
