<ion-header>
  <ion-toolbar mode="ios">
    <ion-title aria-level="1" role="heading" id="journal-page-title">Journal</ion-title>
    <ion-buttons id="back-button" slot="end" class="mes-padding-right">
      <ion-back-button
        text="Close"
        icon="close-outline"
        (click)="router.navigate(['DashboardPage'], {replaceUrl: true})" [defaultHref]="'DashboardPage'">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <offline-banner [isOffline]="pageState.isOffline$ | async"></offline-banner>

  <incomplete-tests-banner></incomplete-tests-banner>

  <ion-refresher
    class="refresher-content refresher-refreshing-text"
    (ionRefresh)="pullRefreshJournal($event)"
    slot="fixed"
    pullMax="500"
    pullMin="70">
    <ion-refresher-content
      class="refresher-content refresher-refreshing-text"
      pullingIcon="arrow-down"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing Journal..."
    >
    </ion-refresher-content>
  </ion-refresher>

  <ion-row class="padding-bottom">
    <ion-col class="display-flex justify-content-center padding-top">
      <refresh-button
        (refreshButtonClicked)="clickRefreshJournal()"
        [lastSyncTime]="pageState.lastRefreshedTime$ | async"
        [isDisabled]="pageState.isLoading$ | async"
      ></refresh-button>
    </ion-col>
    <ion-col size="55">
      <journal-navigation
        (nextDayClicked)="onNextDayClick()"
        (previousDayClicked)="onPreviousDayClick()"
        [canNavigateToNextDay]="pageState.canNavigateToNextDay$ | async"
        [canNavigateToPreviousDay]="pageState.canNavigateToPreviousDay$ | async"
        [isSelectedDateToday]="pageState.isSelectedDateToday$ | async"
        [selectedDate]="pageState.selectedDate$ | async"
      >
      </journal-navigation>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>

  <vehicle-recalls-banner></vehicle-recalls-banner>

  <ion-list>
    <journal-slots
      [completedTests]="pageState.completedTests$ | async"
      [isPortrait]="orientationMonitorProvider.isPortraitMode$ | async"
      [slots]="pageState.slots$ | async"
    >
    </journal-slots>
  </ion-list>

  @if (!!!(pageState.slots$ | async)?.length) {
    <div class="no-results ion-text-center">
      <p>There is no journal data to display for this day</p>
    </div>
  }
</ion-content>
