<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>Journal</ion-title>
    <ion-buttons slot="start">
      <ion-back-button class="colour-white"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="refreshJournal()">
          <ion-icon name="sync-outline" class="refresh-button-icon colour-white"></ion-icon>
          <ion-label class="colour-white">Refresh</ion-label>
        <!-- <h6 class="last-sync">Last sync: {{pageState.lastRefreshedTime$ | async}}</h6> -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <div *ngIf="isUnauthenticated" id="unauthenticated-mode-indicator">
    <label id="unauth-text">You are offline. Some features may be unavailable.</label>
  </div>

  <!-- <incomplete-tests-banner [todaysDate]="todaysDate"></incomplete-tests-banner> -->

  <ion-refresher slot="fixed" (ionRefresh)="pullRefreshJournal($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing Journal..."
      pullMin=70
      pullMax=500>
    </ion-refresher-content>
  </ion-refresher>

  <journal-navigation></journal-navigation>

  <ion-list>
    <ng-template #slotContainer></ng-template>
  </ion-list>

</ion-content>
