:host {
  .back-button-text {
    color: var(--mes-white);
    font-size: 18px;
    margin-left: -5px;
  }
  .back-button-icon {
    color: var(--mes-white);
    font-size: 30px;
    margin-left: -10px;
  }
}
