:host {
  .fault-badge {
    padding-top: 5px;
    padding-left: 10px;
  }

  .padding {
    padding-top: 15px;
  }

  .text-area-padding {
    padding-right: 25px;
    right: 15px;
  }

  .text-area-colour {
    background-color: var(--mes-white);
    color: var(--gds-black);
  }
}
