<ion-grid>
    <ion-row class="padding">
        <div class="validation-bar" [class.ng-invalid]="invalid"></div>
        <ion-col class="fault-badge ion-align-self-start ion-no-padding" size="4" [ngSwitch]="faultType">
            <dangerous-fault-badge
                    [showBadge]="true"
                    *ngSwitchCase="'dangerous'"
                    [competencyDisplayName]="faultComment.competencyIdentifier">
            </dangerous-fault-badge>
            <serious-fault-badge
                    [showBadge]="true"
                    *ngSwitchCase="'serious'"
                    [competencyDisplayName]="faultComment.competencyIdentifier">
            </serious-fault-badge>
            <driving-faults-badge
                    [count]="faultComment.faultCount"
                    *ngSwitchCase="'driving'"
                    [competencyDisplayName]="faultComment.competencyIdentifier"
                    [badgeLabel]="badgeLabel">
            </driving-faults-badge>
        </ion-col>

        <ion-col class="component-label ion-align-self-start ion-no-padding"
                 [attr.col-28]="isDelegatedTest ? null : true"
                 [attr.col-90]="isDelegatedTest ? true : null">
            <label class="fault-label" id="fault-comment-label-{{faultType}}-{{faultComment.competencyIdentifier}}">{{faultComment.competencyDisplayName | modifyCompetencyLabel:testCategory:faultComment.competencyDisplayName}}</label>
        </ion-col>

        <ion-col *ngIf="!isDelegatedTest" class="text-area-padding" size="60">
            <ion-row>
                <ion-col [formGroup]="parentForm">
                    <textarea *ngIf="!isFieldNotVisible && !shouldClearDrivingFaultValidators()"
                              rows="5"
                              class="mes-data text-area-colour"
                              [formControlName]="formControlName"
                              [class.ng-invalid]="invalid"
                              charLimit="950"
                              id="fault-comment-text-{{faultType}}-{{faultComment.competencyIdentifier}}"
                              charCount (onCharacterCountChanged)="characterCountChanged($event)"
                              [value]="faultComment.comment"
                              (change)="faultCommentChanged($event.target.value)"
                              emojiBlock
                              pasteSanitiser>
                    </textarea>
                    <div class="character-count validation-text"
                         [ngClass]="{'ng-invalid': charactersExceeded()}"
                         id="fault-comment-character-count-{{faultType}}-{{faultComment.competencyIdentifier}}">
                        {{getCharacterCountText()}}
                    </div>
                </ion-col>
            </ion-row>
            <ion-row class="validation-message-row ion-align-items-center">
                <div class="validation-text"
                     [class.ng-invalid]="invalid"
                     id="fault-comment-validation-{{faultType}}-{{faultComment.competencyIdentifier}}"
                     *ngIf="invalid && !charactersExceeded()">
                    Provide a comment
                </div>
            </ion-row>
        </ion-col>
    </ion-row>
</ion-grid>
