@import "src/theme/sass-partials/modal";

:host {
  @extend .modal-alert-wrapper;

  .calendar-sizing {
    height: 560px
  }

  .modal-header {
    font-size: 28px;
    letter-spacing: 0.27px;
    line-height: 40px;
    text-align: center;

    html .text-zoom-regular & {
      font-weight: bold;
    }
  }
  .custom-date-modal-width {
    width: 820px;
  }

  .info-icon {
    margin-top: 40px;
    font-size: 84px;
    color: var(--gds-black);
  }

  .modal-icon {
    min-height: 152px;
  }

  .spacing-padding {
    padding-bottom: 20px;
  }

  .bottom-padding {
    padding-bottom: 16px;
  }

  .content-padding {
    padding-top: 35px;
  }

  .date-modal {
    color: var(--gds-black);
  }

  .return-button {
    color: var(--gds-black)
  }

}
