:host {
  .card-ios {
    margin: 12px 0 8px;
    width: calc(100% - 2px); // allow room for box shadow on right hand side
    border-left: 8px solid #9b9b9b;
  }
  .grid {
    padding: 13px 0;
  }
  .top-row {
    letter-spacing: -0.48px;
  }
  .bottom-row {
    letter-spacing: -0.48px;
  }
  .first-col {
    padding-left: 0;
  }
  .vertical-alignment {
    display: flex;
    align-items: center;
    vertical-align: middle;
  }
  .icon-size {
    font-size: 80px;
  }
  .mes-row-separator {
    border-bottom: 2px solid var(--gds-grey-1);
  }

  ion-button {
    font-weight: bold;
  }
}
