<ion-card
  class="modal-alert"
  cdkTrapFocus
  #modalContainer
  tabindex="0">
    <modal-alert-title id="model-title">Enter updated times</modal-alert-title>
    <ion-row>
      <ion-col class="ion-no-padding" size="10"></ion-col>
      <ion-col class="ion-no-padding">
        <div class="modal-alert-message">
          <div id="model-text" class="mes-data">
            Tap to type in the time boxes or use the up and down arrows to edit.
          </div>
        </div>
      </ion-col>
      <ion-col class="ion-no-padding" size="10"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8"></ion-col>
      <ion-col class="ion-no-padding">
        <ion-row>
          <ion-col class="centre-col">
            <ion-text class="mes-data">Start time</ion-text>
          </ion-col>
          <ion-col size="25">
          </ion-col>
          <ion-col class="centre-col">
            <ion-text class="mes-data">End time</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="auto">
            <time-picker
              #StartTimePicker
              [initialValue]="startTime"
              (minuteBoxExitedForward)="changeFocusToEndTime($event)"
              (tabPressedInMinuteBox)="changeFocusToEndTime(false)"
              (onTimeChanged)="startTime = $event"
            ></time-picker>
          </ion-col>
          <ion-col size="28" class="centre-col">
            <label class="to-label" id="to-label2">-</label>
          </ion-col>
          <ion-col size="auto">
            <time-picker
              #EndTimePicker
              [initialValue]="endTime"
              (onTimeChanged)="endTime = $event"
              (hourBoxExitedBack)="changeFocusToStartTime($event)"
              (minuteBoxExitedForward)="changeFocusToConfirmButton()"
              (tabPressedInMinuteBox)="changeFocusToCancelButton()"
            ></time-picker>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="8"></ion-col>
    </ion-row>
    <ion-row *ngIf="invalid()"
             class="padding-top-10 validation-message-row ion-justify-content-center ion-align-items-center">
      <div class="validation-text" id="circuit-validation-text" [class.ng-invalid]="invalid">End time cannot be before
        start time
      </div>
    </ion-row>
    <ion-row class="padding-top-40"></ion-row>
    <ion-row>
      <ion-col class="column-border-top ion-no-padding">
        <ion-row>
          <ion-col>
            <ion-button
              #CancelButton
              id="cancel-button"
              fill="clear"
              class="confirm-submit-cancel-button"
              tabindex="1"
              (keydown.space)="onCancel()"
              (keydown.enter)="onCancel()"
              (blur)="removeFocusedClass('cancel')"
              (click)="onCancel()">
              Cancel
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button
              #ContinueButton
              [disabled]="invalid()"
              id="continue-button"
              fill="clear"
              class="confirm-submit-continue-button"
              tabindex="2"
              (keydown.tab)="loopFocusToStartTime($event)"
              (keydown.space)="!ContinueButton.disabled ? onConfirm(): null"
              (keydown.enter)="!ContinueButton.disabled ? onConfirm(): null"
              (blur)="removeFocusedClass('confirm')"
              (click)="onConfirm()"
            >
              Confirm
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
</ion-card>
