<ion-card class="ion-text-center error-card" *ngIf="candidateDataError || candidateDataUnavailable || isOfflineError">
  <ion-card-header>
    <ion-row>
      <ion-col class="center-icon ion-no-padding">
        <ion-icon id="model-alert-title-icon" class="alert-icon" ios="alert-circle"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-no-padding">
        <h4 id="driver-photograph-error-header">{{errorHeading}}</h4>
      </ion-col>
    </ion-row>
  </ion-card-header>
  <ion-card-content id="driver-photograph-error-text" class="black-text">
    {{errorBody}}
  </ion-card-content>
</ion-card>
