:host {
  .error-card {
    width: 100%;
    height: 200px;
  }

  .alert-icon {
    color: var(--gds-black);
    font-size: 48px;
  }

  .center-icon {
    text-align: center;
  }

  .errorFontSize {
    font-size: 18px;
  }
}
