<ion-row class="mes-validated-row mes-row-separator" id="ordit-trainer-card" [formGroup]="formGroup">
  <div class="validation-bar" [class.ng-invalid]="invalid"></div>
  <ion-col class="component-label ion-align-self-center" size="32">
    <label>Did the {{notSC ? 'candidate' : 'ADI'}} receive training from an ORDIT trainer?</label>
  </ion-col>
  <ion-col class="ion-align-self-center ion-padding-start">
    <ion-row class="spacing-row"></ion-row>
    <ion-row>
      <ion-radio-group
        class="display-flex radio-group-width"
        formControlName="orditTrainedCtrl"
        (ionChange)="orditTrainingOutcomeChanged($event.target.value)">
        <ion-col size="40">
          <ion-radio
            id="ordit-trained-yes"
            class="gds-refactor-radio"
            [class.ng-invalid]="invalid"
            labelPlacement="end"
            value="true">
            <label class="radio-label" id="ordit-trained-yes-label">
              Yes
            </label>
          </ion-radio>
        </ion-col>
        <ion-col size="16"></ion-col>
        <ion-col>
          <ion-radio
            id="ordit-trained-no"
            class="gds-refactor-radio"
            [class.ng-invalid]="invalid"
            labelPlacement="end"
            value="false">
            <label class="radio-label" id="ordit-trained-no-label">
              No
            </label>
          </ion-radio>
        </ion-col>
      </ion-radio-group>
    </ion-row>
    <ion-row class="validation-message-row ion-align-items-center">
      <div class="validation-text" [class.ng-invalid]="invalid" id="waiting-room-to-car-ordit-trained-validation-text">
        Select the ORDIT trainer outcome
      </div>
    </ion-row>
  </ion-col>
</ion-row>
