:host {
  .alert-wrapper div.alert-radio-group {
    max-height: 800px;

    @media (orientation: landscape) {
      max-height: 500px;
    }
  }
  .alert-radio-label {
    white-space: normal;
  }
}
