ion-card {
  background: var(--mes-white);
  margin: 15px 10px;

  ion-grid {
    height: 100%;
    padding: 10px;
  }
}

ion-row {
  //turn on for debugging of test-slot card
  //border: 1px solid black;
  min-height: 30px;
}

ion-col {
  //turn on for debugging of test-slot card
  //border: 1px solid black;
  padding: 0;
}

.team-journal-test-centre-name {
  color: #000;

  .text-zoom-regular & {
    font-size: 18px;
  }

  .text-zoom-large & {
    font-size: 24px;
  }

  .text-zoom-x-large & {
    font-size: 28px;
  }
}

.team-journal-driver-number {
  color: #000;

  .text-zoom-regular & {
    font-size: 18px;
  }

  .text-zoom-large & {
    font-size: 24px;
  }

  .text-zoom-x-large & {
    font-size: 28px;
  }
}

.slot-changed-indicator {
  position: absolute;
  height: 100%;
  width: 8px;
}

.slot-changed {
  background: var(--journalSlotChangeIdentifier);
}

.no-padding {
  padding: 0;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical-align-center {
  display: flex;
  align-items: center;
}

.candidate-details-placeholder-text[disabled] {
  position: relative;
  left: -20px;
  opacity: 1;
}

.row-height {
  height: 60px;
}

.full-width {
  width: 100%;
}

.trainer-booked-un-named {
  color: var(--gds-grey-1);
}
