:host {
  .alert-icon {
    color: var(--gds-black);
    font-size: 35px;
  }

  div {
    background: var(--mes-light-yellow);
    border-left: 10px solid var(--gds-yellow);
  }

  .center-icon {
    text-align: center;
  }

  .modal-alert-header {
    margin: 0 0 24px;
  }

  .warning-centre {
    display: flex;
    align-items: center;
  }

  .warning-text {
    color: var(--gds-black);
  }
}
