:host {
  .alert-icon {
    color: var(--gds-black);
    font-size: 40px;
  }
  div {
    background: var(--mes-light-yellow);
    border-left: 10px solid var(--gds-yellow);
  }

  .center-icon {
    text-align: center;
  }
  .modal-alert-header {
    margin: 0 0 24px;
  }
  .warning_text {
    display: flex;
    align-items: center;
  }
}
