<ion-row class="mes-validated-row mes-row-separator" id="mode-of-transport-card" [formGroup]="formGroup">
  <div class="validation-bar" [class.ng-invalid]="invalid"></div>
  <ion-col class="component-label ion-align-self-center" size="32">
    <label>Test conducted on</label>
  </ion-col>
  <ion-col class="ion-align-self-center ion-padding-start">
    <ion-row class="spacing-row"></ion-row>
    <ion-radio-group
      class="display-flex ion-align-items-center"
      formControlName="modeOfTransport"
      [value]="modeOfTransport"
      (ionChange)="modeOfTransportChanged($event.detail.value)">
      <ion-col size="40">
        <ion-radio
          class="gds-refactor-radio"
          [id]="getModeOfTransportInputId(option1)"
          [class.ng-invalid]="invalid"
          labelPlacement="end"
          [value]="option1">
          <label class="ion-text-wrap radio-label" [id]="getModeOfTransportInputId(option1)+'-label'">
            {{option1label}}
          </label>
        </ion-radio>
      </ion-col>
      <ion-col size="8"></ion-col>
      <ion-col>
        <ion-radio
          class="gds-refactor-radio"
          [id]="getModeOfTransportInputId(option2)"
          [class.ng-invalid]="invalid"
          [value]="option2"
          labelPlacement="end">
          <label class="ion-text-wrap radio-label" [id]="getModeOfTransportInputId(option2)+'-label'">
            {{option2label}}
          </label>
        </ion-radio>
      </ion-col>
    </ion-radio-group>
    <ion-row class="validation-message-row align-items-center">
      <div class="validation-text" [class.ng-invalid]="invalid" id="office-mode-of-transport-validation-text">
        Select how the test was conducted
      </div>
    </ion-row>
  </ion-col>
</ion-row>
