@import 'src/theme/sass-partials/_buttons.scss';

:host {
  @extend .mes-test-report-button;
  position: relative;
  border: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  background-color: rgb(248,248,248);

  .vehicle-checks-competency {
    width: 100%;
    flex-flow: row;
    align-items: center;
    padding-left: 5px;
    padding-right: 0;
    display: flex;

    driving-faults-badge {
      width: 30px;
    }

    .competency-label {
      margin-left: 5px;
      font-size: 15px;
      margin-right: 4px;
    }

    .fault-wrapper {
      display: flex;
      align-items: flex-end;

      serious-fault-badge {
        padding-right: 22px; //padding in place of dangerous fault badge to preserve alignment
      }
    }
  }
}
