:host {
  display: flex;       // this styling is neccessary to ensure z-index
  flex-flow: column;   // works on competency buttons
  competency-button {
    .label {
      width: 100%;
      justify-content: center;
    }

    .fault-wrapper {
      display: flex;
    }
  }
}
