.practice-mode-options-bar{
  background: var(--gds-yellow);
  padding-top: 0;
  padding-bottom: 0;
  height: 40px;
}

.padding-top {
  padding-top: 5px;
}

.practice-mode-options-bar-button {
  background: var(--gds-white);
  border-radius: 100px;
  width: 60%;
  font-size: 18px;
}

.width-100 {
  width: 100%
}

.practice-mode-options-bar-text {
  font-size: 18px;
  color: var(--gds-black);
}

.practice-mode-options-bar-title-text {
  font-size: 20px;
  color: var(--gds-black);
  font-weight: 600;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
