<ion-header>
  <ion-toolbar mode="ios" class="toolbar-spacing">
    <ion-buttons slot="start" class="toolbar-item-spacing">
      <ion-button id="closeVehicleChecksModalCatD" (click)="onClose()">
        <ion-icon class="close-btn" id="close-icon" name="close-outline"></ion-icon>
        <ion-label class="close-btn" id="close-label">Close</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-title id="vehicle-checks-modal-title" class="ion-text-center toolbar-item-spacing">
      Vehicle checks - {{ pageState.candidateName$ | async }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <full-licence-held-toggle
      *ngIf="showFullLicenceHeld()"
      [fullLicenceHeld]="pageState.fullLicenceHeldSelection$ | async"
      [testCategory]="category"
      [formGroup]="formGroup"
      (fullLicenceHeldChange)="fullLicenceHeldChange($event)">
    </full-licence-held-toggle>
  </ion-card>

  <div *ngIf="pageState.showFullLicenceHeld$ | async">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <h4>
            Show me questions
          </h4>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <vehicle-checks-question
          *ngFor="let question of showMeQuestionsNumberArray; let i = index; let l = last"
          [formGroup]="formGroup"
          [questionResult]="(pageState.showMeQuestions$ | async)[i]"
          [questions]="showMeQuestions"
          [questionsToDisable]="pageState.showMeQuestions$ | async"
          [isLastQuestion]="l"
          (vehicleChecksQuestionChange)="showMeQuestionChanged($event, i)"
          (vehicleChecksQuestionOutcomeChange)="showMeQuestionOutcomeChanged($event, i)">
        </vehicle-checks-question>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <h4>
            Tell me questions
          </h4>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <vehicle-checks-question
          *ngFor="let question of tellMeQuestionsNumberArray; let i = index; let l = last"
          [formGroup]="formGroup"
          [questionResult]="(pageState.tellMeQuestions$ | async)[i]"
          [questions]="tellMeQuestions"
          [questionsToDisable]="pageState.tellMeQuestions$ | async"
          [isLastQuestion]="l"
          (vehicleChecksQuestionChange)="tellMeQuestionChanged($event, i)"
          (vehicleChecksQuestionOutcomeChange)="tellMeQuestionOutcomeChanged($event, i)">
        </vehicle-checks-question>
      </ion-card-content>
    </ion-card>
    <warning-banner
      warningText="This will result in {{vehicleChecksScore.drivingFaults}} driving faults and {{vehicleChecksScore.seriousFaults}} serious fault"
      *ngIf="shouldDisplayBanner()"></warning-banner>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <h4>
            Safety questions
          </h4>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <safety-question
          *ngFor="let question of safetyQuestionsNumberArray; let i = index; let l = last"
          [formGroup]="formGroup"
          [questionResult]="(pageState.safetyQuestions$ | async)[i]"
          [questionIndex]="i"
          [isLastSafetyQuestion]="l"
          [questions]="safetyQuestions"
          (safetyQuestionOutcomeChange)="safetyQuestionOutcomeChanged($event, i)">
        </safety-question>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-row class="mes-full-width-card box-shadow">
    <ion-button class="mes-primary-button" id="submit-vehicle-checks" (click)="onSubmit()">
      <h3 id="vehicle-checks-modal-submit-label">Submit vehicle checks</h3>
    </ion-button>
  </ion-row>
</ion-footer>
