:host {

  #dtc-number {
    width: 100%;
  }

  #staff-number {
    width: 100%;
  }

  .search-spinner {
    margin-top: 32px;
    margin-left: 700px;
    position: absolute;
  }

  .to-label {
    font-weight: normal !important;
  }

  .input-padding {
    margin-right: 40px;
  }

  .search-tests {
    margin-top: 20px;
    height: 56px;
    width: 100%;
  }

  .search-icon {
    display: inline-block;
    position: relative;
    top: 3px;
    padding-right: 3px;
    font-weight: bolder;
  }

  .advanced-search-divider {
    height: 2px;
    background-color: #bdbdbd;
  }

  .item-ios.item-block .item-inner {
    padding-right: 0;
  }

  .text-input-ios {
    margin-right: 0;
    width: 100%;
  }

  .more-padding {
    padding-right: 8px;
  }

  .ion-date {
    padding-left: 40px;
  }
}
