.practice-mode-banner{
  background: var(--gds-yellow);
  padding-top: 0;
  padding-bottom: 0;
  height: 40px;
}


.width-100 {
  width: 100%
}

.practice-mode-banner-text {
  font-size: 20px;
  color: var(--gds-black);
  font-weight: 600;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
