<ion-row class="mes-validated-row mes-row-separator" id="registration-card" [formGroup]="formGroup">
  <div class="validation-bar" [class.ng-invalid]="invalid"></div>
  <ion-col class="component-label ion-align-self-center" size="32">
    <label id="vehicle-registration-number-title">Vehicle registration number</label>
  </ion-col>
  <ion-col size="44" class="ion-align-self-center mes-padding-left">
    <ion-row class="spacing-row"></ion-row>
    <ion-row>
      <ion-col>
        <ion-input
          type="text"
          id="registration"
          aria-labelledby="vehicle-registration-number-title"
          formControlName="vehicleRegistration"
          class="ion-input-styling increase-width"
          [class.ng-invalid]="invalid"
          [value]="vehicleRegistration"
          (ionInput)="vehicleRegistrationChanged($event)"
          [maxlength]="registrationNumberValidator.maxLength">
        </ion-input>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!motError && !motStatus" class="validation-message-row ion-align-items-center">
      <div class="validation-text" [class.ng-invalid]="invalid" id="waiting-room-to-car-registration-validation-text">
        Enter the registration number
      </div>
    </ion-row>
    <mot-details-display
      *ngIf="!isChecking"
      [status]="motStatus"
      [motError]="motError"
      [make]="make"
      [model]="model"
      [testExpiryDate]="testExpiryDate"
    ></mot-details-display>
  </ion-col>
  <ion-col *ngIf="showCheckMot" size="18" class="ion-align-self-center">
    <ion-row class="spacing-row"></ion-row>
    <ion-row>
      <ion-spinner *ngIf="isChecking; else showMotBtn;" name="bubbles"></ion-spinner>
      <ng-template #showMotBtn>
        <ion-button
          *ngIf="checkInvalidMotCount < 2"
          class="mes-grey-button"
          [disabled]="!formControl?.value"
          (click)="checkMotClicked(vehicleRegistration)">
          Check MOT
        </ion-button>
      </ng-template>
    </ion-row>
    <ion-row *ngIf="!isChecking && (motStatus || motError)" class="validation-message-row ion-align-items-center">
      <ion-col size="38">
        <span [ngSwitch]="motStatus">
          <ion-icon *ngSwitchCase="'Valid'" class="valid-icon" name="checkmark-circle"></ion-icon>
          <ion-icon *ngSwitchCase="'Not valid'" class="invalid-icon" name="close-circle"></ion-icon>
          <ion-icon *ngSwitchDefault class="warning-icon" ios="alert-circle"></ion-icon>
        </span>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
