.mot-button-text {
  font-weight: bold;
  font-size: 22px;
}

.margin-bottom {
  margin-bottom: 25px;
}

.full-width {
  width: 100%;
}

.display-flex {
  display: flex;
}

.search-spinner {
  color: black;
  height: 40px;
  position: relative;
  width: 40px;
  top: 5px;
  left: 6px;
}
