:host {
  .valid-icon {
    font-size: 60px;
    color: var(--gds-dark-green);
  }

  .invalid-icon {
    font-size: 60px;
    color: var(--gds-red);
  }

  .warning-icon {
    font-size: 60px;
    color: var(--gds-black);
  }

  .mot-button-text {
    font-weight: bold;
  }

  ion-spinner {
    --color: var(--gds-black);
  }
}
