<ion-row [class.mes-row-separator]="!hasCalledMOT" class="mes-validated-row" id="registration-card" [formGroup]="formGroup">
  <div class="validation-bar" [class.ng-invalid]="invalid"></div>
  <ion-col class="component-label ion-align-self-center" size="32">
    <label id="vehicle-registration-number-title">Vehicle registration number</label>
  </ion-col>
  <ion-col class="ion-align-self-center mes-padding-left">
    <ion-row class="spacing-row"></ion-row>
    <ion-row>
      <ion-col class="display-flex" size="45">
        <ion-input type="text"
                   id="registration"
                   aria-labelledby="vehicle-registration-number-title"
                   formControlName="vehicleRegistration"
                   class="ion-input-styling"
                   [class.margin-bottom]="!invalid"
                   [class.ng-invalid]="invalid"
                   [value]="vehicleRegistration"
                   (ionInput)="vehicleRegistrationChanged($event)"
                   (ionBlur)="onBlurEvent(vehicleRegistration)"
                   [maxlength]="registrationNumberValidator.maxLength"
        emojiBlock
          pasteSanitiser
        ></ion-input>
      </ion-col>
      <ion-col size="35">
        <ion-button [disabled]="!(formControl.valid)" class="mes-grey-button" (click)="getMOT(vehicleRegistration)">
          <ion-text class="mot-button-text">Check MOT</ion-text>
        </ion-button>
      </ion-col>
      <ion-col size="10">
        <ion-spinner class="search-spinner" name="bubbles" *ngIf="showSearchSpinner"></ion-spinner>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="invalid" class="validation-message-row ion-align-items-center">
      <div class="validation-text" [class.ng-invalid]="invalid"
           id="waiting-room-to-car-registration-validation-text">
        Enter the registration number
      </div>
    </ion-row>
  </ion-col>
</ion-row>
<ion-row class="ion-padding-bottom mes-row-separator" *ngIf="hasCalledMOT">
  <mot-card
    class="full-width"
    [formGroup]="formGroup"
    [data]="motData?.data"
    [status]="motData?.status"
  ></mot-card>
</ion-row>

