<ion-row
  [formGroup]="formGroup"
  [ngClass]="!isLastQuestion && 'mes-row-separator'"
  class="mes-validated-row ion-nowrap"
  id="vehicle-checks-question-row"
>
  <div class="validation-bar" [class.ng-invalid]="invalid"></div>
  <ion-col class="display-flex ion-justify-content-center direction-column">
    <ion-row class="spacing-row width-100-percent"></ion-row>
    <ion-row>
      <ion-col size="40" class="ion-align-self-center">
        <ion-row>
          <ion-select
            (ionChange)="vehicleChecksQuestionChanged($event?.detail?.value)"
            [formControlName]="questionFieldName"
            [interfaceOptions]="{cssClass:'mes-select vehicle-checks-question-select', backdropDismiss: false}"
            aria-label="Vehicle checks"
            cancelText="Cancel"
            class="dropdown-size"
            id="vehicle-checks-question-selector-{{questionId}}"
            labelPlacement="stacked"
            okText="Submit"
            placeholder="Select a question"
          >
            <ion-select-option
              *ngFor="let question of questions"
              [disabled]="isOptionDisabled(question)"
              [value]="question"
            >
              {{ question.code }} - {{ question.shortName }}
            </ion-select-option>
          </ion-select>
        </ion-row>
      </ion-col>
      <ion-col *ngIf="shouldShowOutcomeFields()" class="ion-no-padding ion-align-self-center">
        <ion-row>
          <ion-radio-group
            class="display-flex width-100-percent"
            [formControlName]="questionOutcomeFieldName"
            [value]="questionOutcomeFormControl.value"
            (ionChange)="vehicleChecksSelected($event.detail.value)">
            <ion-col class="display-flex ion-align-items-center" size="45">
              <ion-radio
                class="gds-refactor-radio"
                [id]="'vehicleChecksCorrect_'+questionId"
                labelPlacement="end"
                value="P">
                <label class="radio-label" id="vehicle-checks-correct-{{questionId}}">
                  Correct
                </label>
              </ion-radio>
            </ion-col>
            <ion-col></ion-col>
            <ion-col class="display-flex ion-align-items-center" size="45">
              <ion-radio
                class="gds-refactor-radio"
                [id]="'vehicleChecksFault_'+questionId"
                value="DF"
                labelPlacement="end">
                <label class="ion-text-wrap radio-label" id="vehicle-checks-fault-{{questionId}}">
                  1 driving fault
                </label>
              </ion-radio>
            </ion-col>
          </ion-radio-group>
        </ion-row>
      </ion-col>
      <ion-row class="width-100-percent validation-message-row">
        <ion-col size="40"></ion-col>
        <ion-col>
          <div *ngIf="displayErrorMessage()" class="validation-text ion-no-padding ng-invalid">Question Incomplete</div>
        </ion-col>
      </ion-row>
    </ion-row>
  </ion-col>
</ion-row>
