<ion-content [scrollY]="false" id="rekey-upload-outcome-page">
  <ion-grid>
    <ion-row class="message-wrapper ion-align-items-center" *ngIf="!(pageState.duplicateUpload$ | async)">
      <ion-col class="ion-no-padding">
        <ion-row class="ion-justify-content-center">
          <ion-icon class="tick-icon" name="checkmark-circle"></ion-icon>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <div class="modal-alert-header">
            <header-component
              [headerNum]="2">
              Rekeyed test uploaded successfully
            </header-component>
          </div>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="message-wrapper ion-align-items-center" *ngIf="pageState.duplicateUpload$ | async">
      <ion-col class="ion-no-padding">
        <ion-row class="ion-justify-content-center">
          <ion-icon class="warning-icon" ios="alert-circle"></ion-icon>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <div class="modal-alert-header">
          <header-component
            [headerNum]="2">
            Rekeyed test has already been uploaded
          </header-component>
          </div>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-row class="mes-full-width-card">
    <ion-button class="mes-primary-button" (click)="goToJournal()">
      <header-component
        [headerNum]="3">
        Return to journal
      </header-component>
    </ion-button>
  </ion-row>
</ion-footer>
