:host {

  ion-grid {
    height: 100%;
  }

  .message-wrapper {
    height: 100%;
  }

  h2 {
    text-align: center;
  }

  .tick-icon,
  .warning-icon {
    margin: 40px 0 16px;
    font-size: 84px;
    color: var(--gds-black);
  }

  .tick-icon {
    color: var(--gds-dark-green);
  }

  ion-footer {
    ion-button {
      width: 100%;
      min-height: 56px;
    }
  }

}
