<ion-header>
  <ion-toolbar>
    <ion-title id="rekey-upload-outcome-page-title" role="heading" aria-level="1">Reason upload outcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false" id="rekey-upload-outcome-page">
  <ion-grid>
    @if (pageState.duplicateUpload$ | async) {
      <ion-row class="message-wrapper ion-align-items-center">
        <ion-col class="ion-no-padding">
          <ion-row class="ion-justify-content-center">
            <ion-icon id="rekey-upload-outcome-test-already-uploaded-icon" class="warning-icon"
                      ios="alert-circle"></ion-icon>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-text id="rekey-upload-outcome-test-already-uploaded-text" class="modal-alert-header des-header-style-2">
              Rekeyed test has already been uploaded
            </ion-text>
          </ion-row>
        </ion-col>
      </ion-row>
    }
    @else {
      <ion-row class="message-wrapper ion-align-items-center">
        <ion-col class="ion-no-padding">
          <ion-row class="ion-justify-content-center">
            <ion-icon id="rekey-upload-outcome-test-uploaded-successfully-icon" class="tick-icon"
                      name="checkmark-circle"></ion-icon>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-text id="rekey-upload-outcome-test-uploaded-successfully-text"
                      class="modal-alert-header des-header-style-2">Rekeyed test uploaded successfully
            </ion-text>
          </ion-row>
        </ion-col>
      </ion-row>
    }
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-row class="box-shadow flex-center footer-padding">
    <ion-col class="ion-text-center" size="60">
      <ion-button id="rekey-upload-outcome-return-to-journal-btn" class="mes-primary-button" (click)="goToJournal()">
        <ion-text id="rekey-upload-outcome-return-to-journal-text" class="des-header-style-3">Return to journal
        </ion-text>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
