<ion-row *ngIf="display" class="mes-validated-row mes-row-separator" id="identification-row" [formGroup]="formGroup">
  <div class="validation-bar"></div>
  <ion-col class="component-label ion-align-self-center" size="32">
    <label id="identification-label">Identification</label>
  </ion-col>
  <ion-col class="ion-align-self-center ion-padding-start">
    <ion-row class="spacing-row"></ion-row>
    <ion-row>
      <ion-radio-group
        class="display-flex radio-group-width"
        formControlName="identification"
        [value]="formControl.value"
        (ionChange)="identificationChanged($event.detail.value)">
        <ion-col size="47">
          <ion-radio
            class="gds-refactor-radio"
            id="identification-license"
            labelPlacement="end"
            value="Licence">
            <label class="radio-label" id="identification-photo-card-label">
              Photo card
            </label>
          </ion-radio>
        </ion-col>
        <ion-col></ion-col>
        <ion-col size="40">
          <ion-radio
            class="gds-refactor-radio"
            id="identification-passport"
            value="Passport"
            labelPlacement="end">
            <label class="radio-label" id="identification-passport-label">
              Passport
            </label>
          </ion-radio>
        </ion-col>
      </ion-radio-group>
    </ion-row>
    <ion-row class="validation-message-row ion-align-items-center">
      <div class="validation-text"></div>
    </ion-row>
  </ion-col>
</ion-row>
