<ion-header>
  <practice-mode-banner *ngIf="isEndToEndPracticeMode"></practice-mode-banner>
  <ion-toolbar [ngClass]="{'toolbar-no-padding': isEndToEndPracticeMode}" mode="ios">
    <ion-title id="waiting-room-to-car-page-title">{{pageState.candidateName$ | async}}</ion-title>
    <ion-buttons id="end-test-button" slot="end">
      <end-test-link
        [category]="pageState.category$ | async"
        [isPracticeMode]="isPracticeMode"
        [shouldAuthenticate]="false">
      </end-test-link>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content forceOverscroll="false">
  <div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <ion-grid>
        <ion-row class="ion-no-padding">
          <ion-col class="ion-no-padding">
            <bike-category-type
              (categoryCodeChange)="categoryCodeChanged($event)"
              [formGroup]="form"
              [testCategory]="pageState.category$ | async"
              testType="MOD1">
            </bike-category-type>

            <transmission (transmissionChange)="transmissionChanged($event)"
                          [formGroup]="form"
                          [hideConfirmTransmissionLabel]="false"
                          [hideTransmissionLabel]="true"
                          [transmission]="pageState.transmission$ | async">
            </transmission>

            <vehicle-registration
              (vehicleRegistrationBlur)="getMOTStatus()"
              (vehicleRegistrationChange)="vehicleRegistrationChanged($event)"
              [formGroup]="form"
              [vehicleRegistration]="pageState.registrationNumber$ | async">
            </vehicle-registration>

            <accompaniment-card
              (instructorAccompanimentChange)="instructorAccompanimentToggled()"
              (interpreterAccompanimentChange)="interpreterAccompanimentToggled()"
              (otherAccompanimentChange)="otherAccompanimentToggled()"
              (supervisorAccompanimentChange)="supervisorAccompanimentToggled()"
              [formGroup]="form"
              [instructorAccompaniment]="pageState.instructorAccompaniment$ | async"
              [interpreterAccompaniment]="pageState.interpreterAccompaniment$ | async"
              [otherAccompaniment]="pageState.otherAccompaniment$ | async"
              [supervisorAccompaniment]="pageState.supervisorAccompaniment$ | async">
            </accompaniment-card>

            <vehicle-details-card
              (schoolBikeVehicleDetailsChange)="schoolBikeToggled()"
              [formGroup]="form"
              [hideSchoolBikeRow]="false"
              [hideSchoolVehicleAndDualControlRow]="true"
              [schoolBikeVehicleDetails]="pageState.schoolBike$ | async">
            </vehicle-details-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>

<ion-footer>
  <ion-row class="mes-full-width-card box-shadow">
    <ion-col class="ion-text-center" size="45">
      <ion-button
        (click)="onViewTestCentreJournal()"
        class="mes-grey-button wrtc-footer-btn"
        id="view-test-centre-journal-button" shape="round">
        <header-component
          [headerNum]="3">
          View test centre journal
        </header-component>
      </ion-button>
    </ion-col>
    <ion-col size="6"></ion-col>
    <ion-col class="ion-text-center" size="45">
      <ion-button
        (click)="onSubmit()"
        class="mes-primary-button wrtc-footer-btn"
        id="continue-to-test-report-button" shape="round">
        <header-component
          [headerNum]="3">
          Continue to test report
        </header-component>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
