<ion-card class="modal-alert">
  <modal-alert-title id="special-requirement-model-title">Candidate has special requirements</modal-alert-title>
  <ion-row class="ion-justify-content-center">
    <ion-col class="ion-no-padding" size="80">
      <div class="modal-alert-message">
        <div class="mes-data ion-text-wrap">
          You cannot start this test until you've checked the candidate details.
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col class="mes-align-content-center ion-no-padding" size="72">
      <modal-return-button (click)="openCandidateDetailsModal()" id="open-candidate-details-button">
       View candidate details
      </modal-return-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="mes-align-content-center return-to-journal-button">
        <ion-button fill="clear" (click)="onCancel()">
            Return to journal
        </ion-button>
    </ion-col>
  </ion-row>
</ion-card>
