@import "src/theme/sass-partials/modal";

ion-card {
  @extend .modal-alert-wrapper;

  .modal-alert {
    width: 400px;
  }

  .modal-alert-message {
    margin-bottom: 25px;
  }

  .mes-align-content-center {
    text-align: center;
  }

  .cancel-button {
    color: var(--gds-black);
  }
}
