<ion-header>
  <practice-mode-banner *ngIf="isEndToEndPracticeMode"></practice-mode-banner>
  <ion-toolbar [ngClass]="{'toolbar-no-padding': isEndToEndPracticeMode}" mode="ios">
    <ion-title>{{pageState.candidateName$ | async}}</ion-title>
    <ion-buttons id="wrtc-back-button" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <end-test-link
        [category]="pageState.category$ | async"
        [isDelegated]="pageState.delegatedTest$ | async"
        [isPracticeMode]="isPracticeMode"
        [shouldAuthenticate]="false">
      </end-test-link>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content force-overscroll="false">
  <div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <ion-grid>
        <ion-row class="ion-no-padding">
          <ion-col class="ion-no-padding">

            <candidate-declaration-signed
              (candidateDeclarationChange)="candidateDeclarationOutcomeChanged($event)"
              *ngIf="pageState.delegatedTest$ | async"
              [candidateSigned]="pageState.candidateDeclarationSigned$ | async"
              [declarationSelected]="(pageState.insuranceDeclarationAccepted$ | async) && (pageState.residencyDeclarationAccepted$ | async)"
              [formGroup]="form">
            </candidate-declaration-signed>

            <vehicle-registration
              (vehicleRegistrationBlur)="getMOTStatus()"
              (vehicleRegistrationChange)="vehicleRegistrationChanged($event)"
              [formGroup]="form"
              [vehicleRegistration]="pageState.registrationNumber$ | async">
            </vehicle-registration>

            <vehicle-details-cat-cpc
              (vehicleDetailsChange)="vehicleConfiguration($event)"
              *ngIf="showVehicleDetails() && !(pageState.delegatedTest$ | async)"
              [configuration]="pageState?.configuration$ | async"
              [formGroup]="form">
            </vehicle-details-cat-cpc>

            <combination
              (combinationChange)="combinationSelected($event)"
              [combination]="pageState.combination$ | async"
              [combinations]="pageState.combinations$ | async"
              [formGroup]="form">
            </combination>

            <accompaniment-card-cat-cpc
              (interpreterAccompanimentChange)="interpreterAccompanimentToggledCPC()"
              (supervisorAccompanimentChange)="supervisorAccompanimentToggledCPC()"
              [formGroup]="form"
              [interpreterAccompaniment]="pageState.interpreterAccompaniment$ | async"
              [supervisorAccompaniment]="pageState.supervisorAccompaniment$ | async">
            </accompaniment-card-cat-cpc>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>

<ion-footer>
  <ion-row class="mes-full-width-card box-shadow">
    <ion-col *ngIf="!isDelegated" class="ion-text-center" size="45">
      <ion-button
        (click)="onViewTestCentreJournal()"
        class="mes-grey-button wrtc-footer-btn"
        id="view-test-centre-journal-button" shape="round">
        <h3>View test centre journal</h3>
      </ion-button>
    </ion-col>
    <ion-col *ngIf="!isDelegated" size="6"></ion-col>
    <ion-col [size]="isDelegated ? 96 : 45" class="ion-text-center">
      <ion-button
        (click)="onSubmit()"
        class="mes-primary-button wrtc-footer-btn"
        id="continue-to-test-report-button" shape="round">
        <h3>Continue to test report</h3>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
