/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@forward "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@forward "@ionic/angular/css/normalize.css";
@forward "@ionic/angular/css/structure.css";
@forward "@ionic/angular/css/typography.css";
@forward '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@forward "@ionic/angular/css/padding.css";
@forward "@ionic/angular/css/float-elements.css";
@forward "@ionic/angular/css/text-alignment.css";
@forward "@ionic/angular/css/text-transformation.css";
@forward "@ionic/angular/css/flex-utils.css";

/* Custom SCSS partials */
@forward "./theme/variables.scss";
@forward "./theme/sass-partials/alert";
@forward "./theme/sass-partials/box";
@forward "./theme/sass-partials/buttons";
@forward "./theme/sass-partials/checkbox";
@forward "./theme/sass-partials/colors";
@forward "./theme/sass-partials/fonts";
@forward "./theme/sass-partials/input";
@forward "./theme/sass-partials/modal";
@forward "./theme/sass-partials/radio";
@forward "./theme/sass-partials/refresher";
@forward "./theme/sass-partials/reset";
@forward "./theme/sass-partials/row";
@forward "./theme/sass-partials/spacing";
@forward "./theme/sass-partials/textarea";
@forward "./theme/sass-partials/toolbar";
@forward "./theme/sass-partials/toast";
@forward "./theme/sass-partials/typography";
@forward "./theme/sass-partials/validation";
@forward "./theme/sass-partials/images";
@forward "./theme/sass-partials/datetime";
@forward "./theme/sass-partials/accordion";

.no-results {
  margin-top: 24px;

  p.no-results-text {
    margin: 4px 0;
    text-align: center;
  }
}

.ion-select-text, .black-text {
  color: black;
}

input, textarea {
  caret-color: var(--primary) !important;
}

.mes-padding-left {
  padding-left: 16px;
  padding-top: 0;
}

.mes-padding-right {
  padding-right: 16px;
}

.select-cancel-button-display {
  .alert-button:nth-child(2) {
    display: none;
  }
}

.appear-disabled {
  opacity: 0.4;
}

.character-count-standard {
  color: var(--gds-grey-1);
  font-weight: initial;
  letter-spacing: initial;

  &.ng-invalid {
    font-weight: 600;
    letter-spacing: -0.49px;
  }
}

.increase-height {
  height: 50px !important;

  &.ng-invalid {
    height: 50px !important;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
}

.width-100 {
  width: 100%;
}

.display-flex {
  display: flex;
}

.mes-text-align-centre {
  text-align: center
}

.flex-direction-column {
  flex-direction: column;
}

.ion-no-padding-important {
  padding: 0 !important;
}

.no-vertical-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.practice-banner-height {
  height: 36px;
}

.header-height-76 {
  height: 76px;
}

.fullscreen-modal-toolbar-spacing {
  height: 76px;
}

.screen-reader-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 0;
  width: 0;
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
}
