:host {
  .alert-icon {
    color: var(--gds-black);
    font-size: 35px;
  }
  div {
    border-left: 10px solid var(--danger);
    background: #ffc7c9;
  }

  .center-icon {
    text-align: center;
  }

  .modal-alert-header {
    margin: 0 0 24px;
  }
  .danger-centre {
    display: flex;
    align-items: center;
  }
  .danger-text {
    color: var(--gds-black);
  }
}
