ion-accordion-group {
  ion-accordion {
    background-color: var(--ion-accordion);
  }
}

ion-accordion.accordion-collapsing ion-item[slot='header'],
ion-accordion.accordion-collapsed ion-item[slot='header'],
ion-accordion.accordion-expanding ion-item[slot='header'],
ion-accordion.accordion-expanded ion-item[slot='header']{
  --background: var(--ion-accordion);
  --color: var(--gds-black);
  --background-activated: var(--gds-black);
}
