.mes-box-grey {
  border-radius: 23px;
  background-color: var(--mesBoxGrey);
  padding: 20px;

  ion-icon[name='alert'] {
    font-size: 2em;
  }
}

.mes-full-width-card {
  &.box-shadow {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  }

  padding: 32px;
}

.mes-full-width-card-separator {
  height: 2px;
  background-color: var(--gds-grey-5);
}

ion-card {
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 1px -2px, rgba(0, 0, 0, 0.14) 0 2px 2px 0, rgba(0, 0, 0, 0.12) 0 1px 5px 0;
}

signature-pad {
  width: 100%;

  canvas {
    background: transparent;
    border-radius: 4px;
    border: 2px solid var(--dark);
    box-shadow: inset 0 3px 3px 0 #a5a2a2;
    height: 256px;
    width: 100%;
    position: relative;
    z-index: 10;
    margin-bottom: -6px;
  }

  &.ng-invalid {
    canvas {
      border: 4px solid var(--mes-validation-error) !important;
      box-shadow: inset 0 0 0 0 #a5a2a2;
    }
  }
}
