.mes-primary-button {
  --background: var(--gds-dark-green);
  --background-activated: var(--gds-dark-green-2);
  --box-shadow: inset 0 -2px 0 0 var(--gds-green);
  --border-radius: 10px;
  margin: 0 0.2rem;
  height: initial;
  --outline: none;
  h3 {
    color: var(--mes-white);
    /* TODO: reinstate classes when working on text accessibility for iPad
    .text-zoom-regular &,
    .text-zoom-large &,
    .text-zoom-x-large & { */
      line-height: 2em;
    // }
    min-height: 44px;
    padding-top: 1px
  }
}

.mes-secondary-button {
  --background: var(--secondary-button);
  --background-activated: var(--secondary-button-darken-10);
  --box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.5);
  --border-radius: 10px;
  margin: 0 0.2em;
  height: initial;
  h3 {
    color: var(--mes-white);
    /* .text-zoom-regular &,
    .text-zoom-large &,
    .text-zoom-x-large & { */
      line-height: 2em;
    // }
    min-height: 44px;
    padding-top: 1px
  }
}

.mes-neutral-button {
  background: var(--mes-white);
  border-radius: 10px;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.5);
  margin: 0 0.2em;
  outline: none;
  border: none;
  height: initial;
  &.activated {
    background:  var(--gds-grey-1);
  }
  h3 {
    color : var(--mes-black);
    /* .text-zoom-regular &,
    .text-zoom-large &,
    .text-zoom-x-large & { */
      line-height: 2em;
    // }
    min-height: 44px;
    padding-top: 1px
  }
}

.mes-transparent-button {
  background: var(--mes-white);
  color: var(--gds-black);
  border-radius: 4px;
  padding: 0 0.8rem;
  margin: 0 0.2rem;
  line-height: 2.6rem;
  z-index: 10;
  &.activated {
    background: var(--gds-grey-4);
    h3,
    ion-icon {
      color: var(--gds-light-blue);
    }
  }
}

.mes-grey-button {
  background: var(--gds-grey-3);
  color: var(--gds-black);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 0 0.8rem;
  margin: 0 0.2rem;
  line-height: 2.6rem;
  &.activated {
    background:  var(--gds-grey-1);
  }
}

.mes-link-button {
  background: var(--mes-white);
  color: var(--gds-black);
  border-radius: 4px;
  padding: 0 0.8rem;
  margin: 0 0.2rem;
  line-height: 2.6rem;
  &.activated {
    background: var(--mes-white);
    span {
      color: var(--gds-light-blue);
    }
  }
}

.mes-warning-button {
  --background: var(--gds-yellow);
  --color: var(--gds-black);
  --box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.5);
}

.mes-return-button {
  background: var(--gds-grey-3);
  box-shadow: inset 0 -2px 0 0 var(--gds-grey-1);
  border-radius: 10px;
  margin: 0 0.2rem;
  margin-bottom: 36px;
  width: 100%;
  height: 56px;
  &.activated, &:active {
    background:  var(--gds-grey-2);
  }
  h3 {
    color: var(--gds-black);
    .text-zoom-regular &,
    .text-zoom-large &,
    .text-zoom-x-large & {
      line-height: 2em;
    }
    min-height: 44px;
    padding-top: 1px
  }
}

.bar-button-ios {
  height: 44px;
  padding: 10px 8px;
  .text-zoom-large & {
    font-size: 20px;
    padding: 16px 8px;
  }
  .text-zoom-x-large & {
    font-size: 22px;
    padding: 22px 8px;
  }
}

.mes-test-report-button {

  text-rendering: auto;
  color: initial;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  justify-content: space-between;
  align-items: center;

  margin: 0em;

  height: 44px;

  display: flex;

  background: var(--mes-white);
  border: 1px solid rgba(11, 12, 12, 0.4);
  border-radius: 10px;
  box-shadow: 0 1px 0 0 var(--gds-grey-1);

  font-size: 15px;
  text-align: center;
  line-height: 25px;
  letter-spacing: -0.26px;
  font-weight: 500;

  &.activated {
    background: #eee;
  }

  .competency-label {
    font-size: 15px;
    text-align: center;
    line-height: 25px;
    letter-spacing: -0.26px;
    font-weight: 500;
    width: 100%;
  }
}

.mes-test-report-button-ripple-effect {
  &.ripple-effect {
    animation: ripple 0.4s forwards;
  }

  @-webkit-keyframes ripple {
    0% {
      -webkit-box-shadow: 0 0 5px 0 rgba(65, 60, 60, 1);
    }
    50% {
      -webkit-box-shadow: 0 0 5px 3.5px rgba(65, 60, 60, 0.5);
    }
    100% {
      -webkit-box-shadow: 0 0 5px 7px rgba(65, 60, 60, 0);
    }
  }

  @keyframes ripple {
    0% {
      -moz-box-shadow: 0 0 5px 0 rgba(65, 60, 60, 1);
      box-shadow: 0 0 5px 0 rgba(65, 60, 60, 1);
    }
    50% {
      -moz-box-shadow: 0 0 5px 3.5px rgba(65, 60, 60, 0.5);
      box-shadow: 0 0 5px 3.5px rgba(65, 60, 60, 0.5);
    }
    100% {
      -moz-box-shadow: 0 0 5px 7px rgba(65, 60, 60, 0);
      box-shadow: 0 0 5px 7px rgba(65, 60, 60, 0);
    }
  }
}

.mes-test-centre-journal-button {
  --background: var(--gds-blue);
  --background-activated: var(--gds-blue-darken);
  --box-shadow: inset 0 -2px 0 0 var(--gds-blue);
  --border-radius: 10px;
  margin: 0 0.2rem;
  height: initial;
  --outline: none;
  h3 {
    color: var(--mes-white);
    /* TODO: reinstate classes when working on text accessibility for iPad
    .text-zoom-regular &,
    .text-zoom-large &,
    .text-zoom-x-large & { */
    line-height: 2em;
    // }
    min-height: 44px;
    padding-top: 1px
  }
}
