.gds-checkbox {
  // Completely hide the original input
  position: absolute;
  opacity: 0;

  $checkbox-width-height: 46px;
  $checkbox-border: 2px;
  $checkbox-border-invalid: 4px;

  width: $checkbox-width-height;
  height: $checkbox-width-height;

  & + label {
    position: relative;
    display: inline-block;
    padding: 0;
    letter-spacing: -1px;
  }

  // Draw the checkbox itself
  & + label:before {
    content: "";
    margin-right: 12px;
    display: inline-block;
    vertical-align: middle;
    width: $checkbox-width-height;
    height: $checkbox-width-height;
    background: white;
    border: $checkbox-border solid #222222;
    border-radius: 6px;
    box-shadow: inset 0 3px 3px 0 rgba(165, 162, 162, 0.78);
  }

  &:checked + label:before {
    background: #fcf8c8;
  }

  &:disabled + label:before {
    border: $checkbox-border solid darkgray;
  }

  &.ng-dirty {
    &.ng-invalid + label:before {
      // Accommodate for the extra border
      $checkbox-width-height-invalid: $checkbox-width-height - $checkbox-border-invalid;

      border: $checkbox-border-invalid solid var(--mes-validation-error);
      width: $checkbox-width-height-invalid;
      height: $checkbox-width-height-invalid;
    }
  }

  &:checked + label:after {
    $checkmark-size: 24px;
    $checkmark-offset: 14px;
    content: "";
    background: url("/assets/imgs/checkmark.png") no-repeat;
    background-size: $checkmark-size $checkmark-size;
    position: absolute;
    left: 12px;
    top: 12px;
    width: $checkmark-size;
    height: $checkmark-size;
  }
}
