.mes-black {
  color: var(--gds-black) !important;
}

.mes-green {
  color: var(--gds-dark-green) !important;
}

.mes-grey {
  color: var(--gds-grey-1);
}

.mes-red {
  color: var(--gds-bright-red) !important;
}
