.mes-black {
  color: var(--gds-black);
}

// This will most likely be gds-black going forward
.mes-nearly-black {
  color: #040404;
}

.mes-green {
  color: var(--gds-dark-green) !important;
}

.mes-grey {
  color: var(--gds-grey-1);
}

.mes-red {
  color: var(--gds-bright-red) !important;
}
