/*
@font-face {
  font-family: 'GDSTransportWebsite';
  src: local('GDSTransportWebsite'),
    url('../../assets/fonts/GDSTransportWebsite.ttf') format('truetype');
}

@font-face {
  font-family: 'GDSTransportWebsite';
  src: local('GDSTransportWebsite-Bold'),
    url('../../assets/fonts/GDSTransportWebsite-Bold.ttf') format('truetype');
  font-weight: bold;
}
*/