input[type="tel"],
input[type="text"],
input[type="number"],
ion-textarea,
ion-datetime,
ion-select {
  $input-border: 2px;
  $input-border-invalid: 4px;
  $input-height: 52px;

  border-radius: 6px;
  border: 2px solid #222;
  box-shadow: inset 0 3px 3px 0 #a5a2a2;
  height: 48px;
  padding: 10px;

  &:focus {
    border: $input-border-invalid solid var(--gds-yellow);
    box-shadow: inset 0 0 0 9px white;
  }

  &.ng-dirty {
    &.ng-invalid {
      // Accommodate for the extra border
      $input-height-invalid: $input-height - $input-border-invalid;

      border: $input-border-invalid solid var(--mes-validation-error);
      height: $input-height-invalid;
    }
  }
}

// Don't dim select placeholders
ion-select.select {
  max-width: 100%;
  align-items: center;

  .select-placeholder {
    color: inherit;
  }
}

ion-input.input-ios .text-input-clear-icon {
  right: 16px;
  background-image: url("/assets/imgs/clear-icon.svg");
  width: 30px;
  background-size: 26px;
}

.input-styling-background {
  background: var(--mes-white);
  color: black;
}
