.gds-radio-button {
  position: absolute;
  opacity: 0;

  $radio-border: 2px;
  $radio-border-invalid: 4px;
  $radio-width: 44px;
  $radio-height: 44px;


  & + label {
    display: inline-flex;
    align-items: center;
  }

  & + label:before {
    content: '';
    border: 2px solid black;
    border-radius: 100%;
    min-width: $radio-width;
    height: $radio-height;
    margin-right: 0.6em;
  }
  &:checked + label:before {
    background-color: black;
    box-shadow: inset 0 0 0 9px white;
  }

  &.ng-dirty {
    &.ng-invalid + label:before {
      // Accommodate for the extra border
      $radio-width-invalid: $radio-width - $radio-border-invalid;
      $radio-height-invalid: $radio-height - $radio-border-invalid;
      border: $radio-border-invalid solid var(--mes-validation-error);
      min-width: $radio-width-invalid;
      height: $radio-height-invalid;
    }
  }

  &:disabled + label {
    opacity: 0.4;
  }
  &:disabled + label:before {
    opacity: 0.4;
  }

}
