ion-radio::part(container) {
  width: 44px;
  height: 44px;

  border-radius: 100%;
  border: 2px solid var(--gds-black);
}

.radio-group-width {
  width: 85%
}

ion-radio.ion-focused::part(container),
ion-radio.ion-activated::part(container) {
  border-radius: 100%;
  border: 4px solid var(--gds-black);
  outline: 4px solid var(--gds-yellow);

}

ion-radio::part(mark) {
  background: none;
  transition: none;
  transform: none;
  border-radius: 0;
}

ion-radio.radio-checked::part(mark) {
  width: 22.5px;
  height: 22.5px;

  border-width: 2px;
  border-style: solid;
  border-color: var(--gds-black);
  background: var(--gds-black);
  border-radius: 100%;
}

.gds-radio-button {
  position: absolute;
  opacity: 0;

  $radio-border: 2px;
  $radio-border-invalid: 4px;
  $radio-width: 44px;
  $radio-height: 44px;


  & + label {
    display: inline-flex;
    align-items: center;
  }


  & + label:before {
    content: '';
    border: 2px solid black;
    border-radius: 100%;
    min-width: $radio-width;
    height: $radio-height;
    margin-right: 0.6em;
  }

  &:checked + label:before {
    background-color: black;
    box-shadow: inset 0 0 0 9px white;
  }

  &.ng-dirty {
    &.ng-invalid + label:before {
      // Accommodate for the extra border
      $radio-width-invalid: $radio-width - $radio-border-invalid;
      $radio-height-invalid: $radio-height - $radio-border-invalid;
      border: $radio-border-invalid solid var(--mes-validation-error);
      min-width: $radio-width-invalid;
      height: $radio-height-invalid;
    }
  }

  &:disabled + label {
    opacity: 0.4;
  }

  &:disabled + label:before {
    opacity: 0.4;
  }

}
