  .ion-refresher-content,
  .ion-refresher,
  refresher-refreshing,
  .refresher-refreshing-icon,
  .refresher-pulling-icon {
    --color: var(--mes-theme-opposing-colour) !important;
    color: var(--mes-theme-opposing-colour) !important;
  }

  .refresher-pulling-text,
  .refresher-refreshing-text {
    color: var(--mes-theme-opposing-colour) !important;
  }

.refresher-content {
  background-color: var(--mes-theme-main-colour) !important;
}

  ion-refresher-content {
    position: relative;
    padding-bottom: 430px;
    background-color: var(--mes-theme-main-colour);
  }
