
a, a:hover, label {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: var(--gds-black);
}

abbr[title] {
  border-bottom: none;
  text-decoration: none;
}
