.padding-top-10 {
  padding-top: 10px;
}

.padding-top-18 {
  padding-top: 18px;
}

.padding-top-21 {
  padding-top: 21px;
}

.padding-top-22 {
  padding-top: 22px;
}

.padding-right-10 {
  padding-right: 10px;
}

.padding-right-16 {
  padding-right: 16px;
}

.only-top-padding {
  padding-left: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.only-right-padding {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0
}

.padding-x-5 {
  padding: 0 5px;
}
