textarea {
  $input-border: 2px;
  $input-border-invalid: 4px;
  $input-height: 162;

  border-radius: 6px;
  border: 2px solid #222222;
  box-shadow: inset 0 3px 3px 0 #A5A2A2;
  height: 158px;
  padding: 10px;
  width: 100%;
  &:focus {
    border : $input-border-invalid solid var(--gds-yellow);
    box-shadow: inset 0 0 0 9px white;
  }

  &.ng-dirty {
    &.ng-invalid {
      // Accommodate for the extra border
      $input-height-invalid: $input-height - $input-border-invalid;

      border: $input-border-invalid solid var(--mes-validation-error);
      height: $input-height-invalid;
    }
  }
}
