.mes-toast-message-error {
  --background: var(--gds-bright-red);
  --color: var(--mes-white);
  --button-color: var(--mes-white);
}

.mes-toast-message-test-report {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  --button-color: var(--mes-white);
}
