ion-header {
  ion-toolbar {
    --background: var(--mes-toolbar-background);
    --color: var(--mes-theme-main-colour);

    ion-title {
      font-size: 20px;

      .text-zoom-large & {
        font-size: 22px
      }

      .text-zoom-x-large & {
        font-size: 24px
      }
    }
  }
}

ion-footer {
  ion-toolbar {
    padding-bottom: 0 !important;
    --background: var(--mes-theme-main-colour);
  }}

.no-internal-padding {
  --padding-start: 0px;
  --padding-end: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
}

.toolbar-no-padding {
  padding-top: 0 !important;
}

.practice-theme {
  --background: var(--gds-yellow);
  --color: var(--mes-black);
}
