// reset the default ionic styling
.card-ios {
  h1, h2, h3, h4, h5, h6, p {
    font-size: initial;
    font-weight: initial;
    margin: initial;
  }
}

.heavy-font-family {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Roboto';
  font-weight: 800;
  color: var(--gds-black);
}

.semibold-font-family {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Roboto';
  font-weight: 600;
  color: var(--gds-black);
}

.regular-font-family {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Roboto';
  font-weight: 400;
  color: var(--gds-black);
}

html .text-zoom-regular {
  .des-header-style-1 {
    @extend .heavy-font-family;
    font-size: 40px;
    line-height: 56px;
  }

  .des-header-style-2 {
    @extend .heavy-font-family;
    font-size: 28px;
    line-height: 40px;
  }

  .des-header-style-3 {
    @extend .semibold-font-family;
    font-size: 20px;
    line-height: 26px;
  }

  .des-header-style-4 {
    @extend .heavy-font-family;
    font-size: 24px;
    line-height: 30px;
  }

  .des-header-style-5 {
    @extend .heavy-font-family;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
  }

  .des-header-style-6 {
    @extend .regular-font-family;
    font-size: 14px;
    line-height: 20px;
  }

  a,
  a:hover {
    @extend .semibold-font-family;
    font-size: 20px;
    line-height: 26px;
  }

  label {
    @extend .semibold-font-family;
    font-size: 23px;
    line-height: 26px;
  }

  p,
  .mes-data {
    @extend .regular-font-family;
    font-size: 23px;
    line-height: 26px;
    color: black;
  }

  div, ion-select, span {
    font-size: 20px;
    line-height: 26px;
  }

}

.text-zoom-large {
  .des-header-style-1 {
    @extend .heavy-font-family;
    font-size: 48px;
    line-height: 68px;
  }

  .des-header-style-2 {
    @extend .heavy-font-family;
    font-size: 32px;
    line-height: 44px;
  }

  .des-header-style-3 {
    @extend .semibold-font-family;
    font-size: 24px;
    line-height: 30px;
  }

  .des-header-style-4 {
    @extend .heavy-font-family;
    font-size: 28px;
    line-height: 34px;
  }

  .des-header-style-5 {
    @extend .heavy-font-family;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
  }

  .des-header-style-6 {
    @extend .regular-font-family;
    font-size: 16px;
    line-height: 22px;
  }

  a,
  a:hover {
    @extend .semibold-font-family;
    font-size: 24px;
    line-height: 30px;
  }

  label {
    @extend .semibold-font-family;
    font-size: 24px;
    line-height: 30px;
  }

  p,
  .mes-data {
    @extend .regular-font-family;
    font-size: 22px;
    line-height: 30px;
    color: black;
  }

  div, ion-select, span {
    font-size: 22px;
    line-height: 28px;
  }
}

.text-zoom-x-large {
  .des-header-style-1 {
    @extend .heavy-font-family;
    font-size: 58px;
    line-height: 80px;
  }

  .des-header-style-2 {
    @extend .heavy-font-family;
    font-size: 38px;
    line-height: 48px;
  }

  .des-header-style-3 {
    @extend .semibold-font-family;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
  }

  .des-header-style-4 {
    @extend .heavy-font-family;
    font-size: 32px;
    line-height: 40px;
  }

  .des-header-style-5 {
    @extend .heavy-font-family;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
  }

  .des-header-style-6 {
    @extend .regular-font-family;
    font-size: 18px;
    line-height: 24px;
  }

  a,
  a:hover {
    @extend .semibold-font-family;
    font-size: 28px;
    line-height: 36px;
  }

  label {
    @extend .semibold-font-family;
    font-size: 28px;
    line-height: 36px;
  }

  p, .mes-data {
    @extend .regular-font-family;
    font-size: 28px;
    line-height: 36px;
    color: black;
  }

  div, ion-select, span {
    font-size: 24px;
    line-height: 32px;
  }
}
