.examiner-name {
  color: var(--mes-theme-opposing-colour);
  .text-zoom-regular & {
    font-size: 18px;
  }
  .text-zoom-large & {
    font-size: 24px;
  }
  .text-zoom-x-large & {
    font-size: 28px;
  }
}
