.profile-header {

  padding: 12px;

  h1, h4 {
    color: var(--mes-white);
  }

  h2 {
    margin: 0px;
  }

  .role {
    margin-top: -4px;
  }

  .staff-number {
    margin-top: -4px;
    margin-right: 2px;
    text-align: right;
    .employee-id {
      font-weight: bold;
    }
  }

  #card-content-wrapper {
    height: 240px;
    padding: 24px;
    background: var(--mes-white);
    width: 100%;
  }

  #contact-icon {
    margin-left: 2px;
    font-size: 72px;
  }
}
