<div class="profile-header">
  <ion-grid no-padding>
    <ion-row>
      <ion-col col-9 col-lg-7 align-self-center>
        <ion-icon ios="md-contact" id="contact-icon"></ion-icon>
      </ion-col>
      <ion-col align-self-center>
        <ion-row>
          <h2 class="name">{{name}}</h2>
        </ion-row>
        <ion-row>
          <ion-col no-padding class="role">
            <span>{{role}}</span>
          </ion-col>
          <ion-col no-padding class="staff-number">
            <span>Staff number: </span><span class="employee-id">{{employeeId}}</span>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>