<div class="profile-header">
  <ion-grid>
    <ion-row>
      <ion-col size="10" id="contact-col">
        <ion-icon id="contact-icon" name="person-circle"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-row>
          <h2 id="driving-examiners-name" class="name">{{name}}</h2>
        </ion-row>
        <ion-row>
          <ion-col class="role">
            <span>{{role}}</span>
          </ion-col>
          <ion-col class="staff-number">
            <span>Staff number: </span><span id="staff-number" class="employee-id">{{employeeId}}</span>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
