:host ::ng-deep {
  competency-button {
    &.complete {
      .competency-button {
        background-color: #f2e8e7 !important;
        border: 2px solid var(--gds-red) !important;

        .competency-label {
          // font-weight: bold;
        }
      }
    }

    .label {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}
