<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <button class="logout-button" (click)="openLogoutModal()" *ngIf="isLogoutEnabled()">
        <span>Logout</span>
        <h6 class="version-number">Version {{pageState.appVersion$ | async}}</h6>
      </button>
      <h6 *ngIf="!isLogoutEnabled()" class="version-number">Version {{pageState.appVersion$
        | async}}</h6>
      <input type="hidden" name="employeeId" id="employeeId" value="{{employeeId}}" />
    </ion-buttons>
    <ion-title>My dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div>
    <profile-header [employeeId]="employeeId" [name]="pageState.employeeName$ | async" [role]="role"></profile-header>
    <hr/>
    <h4 class="date">{{todaysDateFormatted}}</h4>
    <ion-grid class="dashboard-grid">
      <ion-row>
        <ion-col>
          <go-to-journal-card *ngIf="!showDelegatedExaminerRekey()"></go-to-journal-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col no-padding col-48 col-lg-32 *ngIf="!showDelegatedExaminerRekey()">
        </ion-col>
        <ion-col no-padding col-96 col-lg-32 *ngIf="!showDelegatedExaminerRekey()">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col no-padding col-48 col-lg-32>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button color="dark" name="login-button" (click)="goToLogin()">
      <ion-icon name="log-in-outline"></ion-icon>
      Login
    </ion-button>
  </div>

</ion-content>
