<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
      <ion-buttons slot="end">
          <h6 class="version-number">Version {{pageState.appVersion$ | async}}</h6>
      </ion-buttons>
    <ion-title>My dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div>
    <profile-header [employeeId]="pageState.employeeId$ | async" [name]="pageState.employeeName$ | async" [role]="pageState.role$ | async"></profile-header>
    <hr/>
    <h4 class="date">{{todaysDateFormatted}}</h4>
    <ion-grid class="dashboard-grid">
      <ion-row>
        <ion-col>
          <go-to-journal-card *ngIf="!showDelegatedExaminerRekey()"></go-to-journal-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <test-results-search-card></test-results-search-card>
        </ion-col>
        <ion-col *ngIf="!showDelegatedExaminerRekey()">
          <rekey-search-card></rekey-search-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <hr *ngIf="!showDelegatedExaminerRekey() &&
     (showEndToEndPracticeMode() || showTestReportPracticeMode())" />
    <practice-test-report-card id="testReportPracticeMode"
                               *ngIf="
                               showTestReportPracticeMode() &&
                               !showDelegatedExaminerRekey()"></practice-test-report-card>
    <practice-end-to-end-card id="endToendPracticeMode"
                              *ngIf="
                              showEndToEndPracticeMode() &&
                              !showDelegatedExaminerRekey()"></practice-end-to-end-card>
  </div>

</ion-content>
