:host {
  .invalid {
    border: var(--gds-red) 5px solid;
  }

  .chevron-icon {
    margin: auto;
    font-size: 30px;
    padding: 10px;
    position: relative;
    float: right;
  }

  .invalid-icon {
    font-size: 60px;
    position: relative;
    color: var(--gds-red);
  }

  .valid-icon {
    font-size: 60px;
    position: relative;
    color: var(--gds-green);
  }
}
