:host {
  .invalid {
    border: var(--gds-red) 5px solid;
  }

  .invalid-icon {
    font-size: 60px;
    position: relative;
    color: var(--gds-red);
  }

  .valid-icon {
    font-size: 60px;
    position: relative;
    color: var(--gds-green);
  }
}
