<ion-card [class.invalid]="isInvalid">
  <ion-card-content>
    <ion-row>
      <ion-col size="82">
        <h3 id="{{idSelector}}-card-header" class="des-header-style-2">{{title}}</h3>
        @if (isInvalid || showCompleted) {
<p id="{{idSelector}}-score">{{score}}/{{maxScore}} completed</p>
}
      </ion-col>
      <ion-col size="14">
        @if (!isInvalid && !showCompleted) {
<ion-icon
         
          class="chevron-icon"
          name="chevron-forward-outline"
          id="{{idSelector}}-chevron">
        </ion-icon>
}
        @if (isInvalid) {
<ion-icon
         
          class="invalid-icon"
          name="close-circle"
          id="{{idSelector}}-invalid-icon">
        </ion-icon>
}
        @if (isValid) {
<ion-icon
         
          class="valid-icon"
          name="checkmark-circle"
          id="{{idSelector}}-valid-icon">
        </ion-icon>
}
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
