<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Driving Examiner Services
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>DES is being upgraded to Ionic 5</strong>
    <p>Work in progress</p>
    <ion-button [routerLink]="['/test-report']">Go to Test Report</ion-button>
  </div>
</ion-content>
