<ion-header>
  <ion-toolbar color="dark">
    <ion-button color="dark" (click)="logout()">
      Logout
    </ion-button>
    <ion-title>DES Ionic 5 - Main Screen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <strong>DVSA DES Mobile application with Ionic 5</strong>
    <p>Work in progress</p>
    <br>
    <ion-button color="dark" name="login-button" (click)="goToLogin()">
      <ion-icon name="log-in-outline"></ion-icon>
      Login
    </ion-button>
  </div>


</ion-content>
