.exclamation-indicator {
  width: 26px;
  height: 26px;
  float: left;
}

.icons {
  padding-left: 625px;
}

.icon-color {
  color: white;
}

.test-start-details {
  float: right;
}

.toolbar-spacing {
  height: 60px;
}

.toolbar-item-spacing {
  padding-top: 20px;
}
