<ion-header>
  <ion-toolbar mode="ios" class="toolbar-spacing">
    <ion-title role="heading" aria-level="1" id="test-details-title" class="ion-text-center toolbar-item-spacing">
      {{ restrictDetails ? 'ADI Enforcement Activities' : 'Test details - ' + pageState.name }}
    </ion-title>
    <ion-buttons class="toolbar-item-spacing">
      <ion-button slot="start" id="close-button" (click)="dismiss()">
        <ion-icon class="close-btn" name="close-outline"></ion-icon>
        <ion-label class="close-btn">Close</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

@if (restrictDetails) {
  <ion-content>
    <ion-grid>
      <ion-row class="navigation-row">
        <candidate-detail-navigation
          [name]="'ADI Enforcement Activities'"
          [date]="selectedDate | date:'EEEE d MMMM y'"
          [time]="pageState.time | date: 'HH:mm'"
          [canNavigateToPreviousCandidate]="!!prevSlot"
          [canNavigateToNextCandidate]="!!nextSlot"
          (nextCandidateClicked)="changeCandidate('next')"
          (previousCandidateClicked)="changeCandidate('prev')">
        </candidate-detail-navigation>
      </ion-row>
    </ion-grid>
  </ion-content>
} @else {
  <ion-content>
    <ion-grid>
      <ion-row class="navigation-row">
        <candidate-detail-navigation
          [name]="pageState.name"
          [date]="selectedDate | date:'EEEE d MMMM y'"
          [time]="pageState.time | date: 'HH:mm'"
          [canNavigateToPreviousCandidate]="!!prevSlot"
          [canNavigateToNextCandidate]="!!nextSlot"
          (nextCandidateClicked)="changeCandidate('next')"
          (previousCandidateClicked)="changeCandidate('prev')">
        </candidate-detail-navigation>
      </ion-row>
    </ion-grid>

    @if (pageState.fitMarker) {
      <fit-marker-banner [fitCaseNumber]="pageState.fitCaseNumber"></fit-marker-banner>
    }

    <ion-card>
      <ion-card-header>
        <h2 class="des-header-style-4" id="candidate-details-title">Candidate details</h2>
      </ion-card-header>
      <ion-card-content>
        <inappropriate-use-banner></inappropriate-use-banner>
        <ion-grid>
          <data-row
            [idPrefix]="idPrefix"
            [label]="'Test category'"
            [value]="pageState.details.testCategory">
          </data-row>
          <data-row
            [idPrefix]="idPrefix"
            [label]="'Slot type'"
            [value]="pageState.details.slotType"
            [shouldShowIndicator]="pageState.details.slotType !== 'Standard Test'">
          </data-row>
          @if (pageState.details.meetingPlace) {
            <data-row
              [idPrefix]="idPrefix"
              [label]="'Meeting place'"
              [value]="pageState.details.meetingPlace">
            </data-row>
          }
          <data-row
            [idPrefix]="idPrefix"
            [label]="'Driver number'"
            [value]="pageState.details.driverNumber">
          </data-row>
          <data-row
            [idPrefix]="idPrefix"
            [label]="'Application number'"
            [value]="pageState.details.applicationRef">
          </data-row>
          @if (slot.booking.candidate.prn) {
            <data-row
              [idPrefix]="idPrefix"
              [label]="'Personal reference number (PRN)'"
              [dataStyling]="'position: relative;  top: 18px;'"
              [value]="slot.booking.candidate.prn">
            </data-row>
          }
          @if (slot.booking.candidate.previousADITests
          && !isCompleted(pageState.testStatus$ | async, pageState.completedTestOutcome$ | async)) {
            <data-row
              [idPrefix]="idPrefix"
              [label]="'Attempt number'"
              [value]="slot.booking.candidate.previousADITests+1">
            </data-row>
          }
          <data-row-custom
            [label]="'Additional requirements'"
            [shouldShowIndicator]="specialNeedsIsPopulated(pageState.details.specialNeeds)"
            [idPrefix]="idPrefix"
            [centeredLabel]="pageState.details.specialNeeds?.length <= 1"
            [centeredIcon]="pageState.details.specialNeeds?.length <= 1"
            [centredData]="pageState.details.specialNeeds?.length <= 1">
            @if (pageState.details.specialNeeds?.length > 1) {
              <ng-container class="mes-data">
                @for (specialNeed of pageState.details.specialNeeds;track specialNeed) {
                  <ul class="mes-data">
                    <li>{{ specialNeed }}</li>
                  </ul>
                }
              </ng-container>
            } @else {
              <div class="mes-data">{{ pageState.details.specialNeeds[0] }}</div>
            }
          </data-row-custom>
          @if (pageState.candidateEntitlementCheck || pageState.categoryEntitlementCheck) {
            <data-row-custom
              [idPrefix]="idPrefix"
              [label]="'Entitlement check'"
              [shouldShowIndicator]="true"
              [centeredLabel]="!pageState.candidateEntitlementCheck || !pageState.categoryEntitlementCheck"
              [centeredIcon]="!(pageState.candidateEntitlementCheck && pageState.categoryEntitlementCheck)"
              [centredData]="!pageState.candidateEntitlementCheck || !pageState.categoryEntitlementCheck">
              <ion-row class="mes-data">
                <ion-col>
                  @if (pageState.candidateEntitlementCheck && pageState.categoryEntitlementCheck) {
                    <ul>
                      <li size="85">Entitlement check is required.</li>
                      <li size="85" class="entitlement-check-padding">{{ pageState.categoryEntitlementCheckText }}</li>
                    </ul>
                  }
                  @if (pageState.candidateEntitlementCheck && !pageState.categoryEntitlementCheck) {
                    <ion-row>Entitlement check is required.</ion-row>
                  }
                  @if (pageState.categoryEntitlementCheck && !pageState.candidateEntitlementCheck) {
                    <ion-row>{{ pageState.categoryEntitlementCheckText }}</ion-row>
                  }
                </ion-col>
              </ion-row>
            </data-row-custom>
          }
          <data-row-custom
            [idPrefix]="idPrefix"
            [label]="'Additional information'"
            [shouldHaveSeperator]="false">
            @if (pageState.details.candidateComments.isSectionEmpty) {
              <div class="mes-data">None</div>
            }
            @if (!pageState.details.candidateComments.isSectionEmpty) {
              <div>
                @if (pageState.details.candidateComments.previousCancellations?.length > 0) {
                  <div>
                    <div class="mes-data previous-cancellation-padding">Previous cancellations:</div>
                    @for (previousCancellation of pageState.details.candidateComments.previousCancellations;track previousCancellation) {
                      <ul class="mes-data">
                        <li>
                          {{ previousCancellation }}
                        </li>
                      </ul>
                    }
                  </div>
                }
              </div>
            }
          </data-row-custom>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <h2 class="des-header-style-4" id="contact-details-title">Contact details</h2>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <data-row
            [idPrefix]="idPrefix"
            [label]="'Phone number'"
            [value]="pageState.details.phoneNumber">
          </data-row>
          <data-row
            [idPrefix]="idPrefix"
            [label]="'Email'"
            [value]="pageState.details.email">
          </data-row>
          <data-row-custom [idPrefix]="idPrefix" [label]="'Address'" [shouldHaveSeperator]="false">
            <display-address [address]="pageState.details.address"></display-address>
          </data-row-custom>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    @if (pageState.business) {
      <ion-card>
        <ion-card-header>
          <h2 class="des-header-style-4">Business contact details</h2>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            @if (pageState.business.businessName) {
              <data-row
                [idPrefix]="idPrefix"
                [label]="'Business name'"
                [value]="pageState.business.businessName">
              </data-row>
            }
            @if (pageState.business.telephone) {
              <data-row [idPrefix]="idPrefix" [label]="'Phone number'" [value]="pageState.business.telephone">
              </data-row>
            }
            @if (pageState.business.businessAddress) {
              <data-row-custom [idPrefix]="idPrefix" [label]="'Address'" [shouldHaveSeperator]="false">
                <display-address [address]="pageState.business.businessAddress"></display-address>
              </data-row-custom>
            }
          </ion-grid>
        </ion-card-content>
      </ion-card>
    }
  </ion-content>

}
