<ion-header>
  <ion-toolbar mode="ios" class="toolbar-spacing">
    <ion-title role="heading" aria-level="1" id="test-details-title" class="ion-text-center toolbar-item-spacing">
      {{ restrictDetails ? 'ADI Enforcement Activities' : 'Test details - ' + pageState.name }}
    </ion-title>
    <ion-buttons class="toolbar-item-spacing">
      <ion-button slot="start" id="close-button" (click)="dismiss()">
        <ion-icon class="close-btn" name="close-outline"></ion-icon>
        <ion-label class="close-btn">Close</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="restrictDetails; else candidateDetails">
  <ion-grid>
    <ion-row class="navigation-row">
      <candidate-detail-navigation
        [name]="'ADI Enforcement Activities'"
        [date]="selectedDate | date:'EEEE d MMMM y'"
        [time]="pageState.time | date: 'HH:mm'"
        [canNavigateToPreviousCandidate]="!!prevSlot"
        [canNavigateToNextCandidate]="!!nextSlot"
        (nextCandidateClicked)="changeCandidate('next')"
        (previousCandidateClicked)="changeCandidate('prev')"
      ></candidate-detail-navigation>
    </ion-row>
  </ion-grid>
</ion-content>

<ng-template #candidateDetails>
  <ion-content>
    <ion-grid>
      <ion-row class="navigation-row">
        <candidate-detail-navigation
          [name]="pageState.name"
          [date]="selectedDate | date:'EEEE d MMMM y'"
          [time]="pageState.time | date: 'HH:mm'"
          [canNavigateToPreviousCandidate]="!!prevSlot"
          [canNavigateToNextCandidate]="!!nextSlot"
          (nextCandidateClicked)="changeCandidate('next')"
          (previousCandidateClicked)="changeCandidate('prev')"
        ></candidate-detail-navigation>
      </ion-row>
    </ion-grid>

    <fit-marker-banner *ngIf="pageState.fitMarker" [fitCaseNumber]="pageState.fitCaseNumber"></fit-marker-banner>

    <ion-card>
      <ion-card-header>
        <h2 class="des-header-style-4" id="candidate-details-title">Candidate details</h2>
      </ion-card-header>
      <ion-card-content>
        <inappropriate-use-banner></inappropriate-use-banner>
        <ion-grid>
          <data-row
            [idPrefix]="idPrefix"
            [label]="'Test category'"
            [value]="pageState.details.testCategory">
          </data-row>
          <data-row
            [idPrefix]="idPrefix"
            [label]="'Slot type'"
            [value]="pageState.details.slotType"
            [shouldShowIndicator]="pageState.details.slotType !== 'Standard Test'">
          </data-row>
          <data-row
            [idPrefix]="idPrefix"
            *ngIf="pageState.details.meetingPlace"
            [label]="'Meeting place'"
            [value]="pageState.details.meetingPlace">
          </data-row>
          <data-row
            [idPrefix]="idPrefix"
            [label]="'Driver number'"
            [value]="pageState.details.driverNumber">
          </data-row>
          <data-row
            [idPrefix]="idPrefix"
            [label]="'Application number'"
            [value]="pageState.details.applicationRef">
          </data-row>
          <data-row
            [idPrefix]="idPrefix"
            [label]="'Personal reference number (PRN)'"
            *ngIf="slot.booking.candidate.prn"
            [dataStyling]="'position: relative;  top: 18px;'"
            [value]="slot.booking.candidate.prn">
          </data-row>
          <data-row
            [idPrefix]="idPrefix"
            [label]="'Attempt number'"
            *ngIf="slot.booking.candidate.previousADITests && !isCompleted(pageState.testStatus$ | async, pageState.completedTestOutcome$ | async)"
            [value]="slot.booking.candidate.previousADITests+1">
          </data-row>
          <data-row-custom
            [idPrefix]="idPrefix"
            [label]="'Special requirements'"
            [shouldShowIndicator]="specialNeedsIsPopulated(pageState.details.specialNeeds)">
            <div class="mes-data" *ngIf="!specialNeedsIsPopulated(pageState.details.specialNeeds)">
              {{pageState.details.specialNeeds}}
            </div>
            <div *ngIf="specialNeedsIsPopulated(pageState.details.specialNeeds)">
              <ul *ngFor="let specialNeed of pageState.details.specialNeeds;" class="mes-data">
                <li>{{specialNeed}}</li>
              </ul>
            </div>
          </data-row-custom>
          <data-row-custom
            [idPrefix]="idPrefix"
            [label]="'Entitlement check'"
            [shouldShowIndicator]="true"
            *ngIf="pageState.candidateEntitlementCheck || pageState.categoryEntitlementCheck">
            <ion-row class="mes-data">
              <ion-col>
                <ul>
                  <li *ngIf="pageState.candidateEntitlementCheck" size="85">Entitlement check is required.</li>
                  <li *ngIf="pageState.categoryEntitlementCheck" size="85" class="entitlement-check-padding">
                    {{ pageState.categoryEntitlementCheckText }}
                  </li>
                </ul>
              </ion-col>
            </ion-row>
          </data-row-custom>
          <data-row-custom
            [idPrefix]="idPrefix"
            [label]="'Additional information'"
            [shouldHaveSeperator]="false">
            <div class="mes-data" *ngIf="pageState.details.candidateComments.isSectionEmpty">None</div>
            <div *ngIf="!pageState.details.candidateComments.isSectionEmpty">
              <div *ngIf="pageState.details.candidateComments.previousCancellations?.length > 0">
                <div class="mes-data previous-cancellation-padding">Previous cancellations</div>
                <ul *ngFor="let previousCancellation of pageState.details.candidateComments.previousCancellations;"
                    class="mes-data">
                  <li>
                    {{previousCancellation}}
                  </li>
                </ul>
              </div>
            </div>
          </data-row-custom>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <h2 class="des-header-style-4" id="contact-details-title">Contact details</h2>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <data-row
            [idPrefix]="idPrefix"
            [label]="'Phone number'"
            [value]="pageState.details.phoneNumber">
          </data-row>
          <data-row
            [idPrefix]="idPrefix"
            [label]="'Email'"
            [value]="pageState.details.email">
          </data-row>
          <data-row-custom [idPrefix]="idPrefix" [label]="'Address'" [shouldHaveSeperator]="false">
            <display-address [address]="pageState.details.address"></display-address>
          </data-row-custom>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="pageState.business">
      <ion-card-header>
        <h2 class="des-header-style-4">Business contact details</h2>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <data-row
            [idPrefix]="idPrefix"
            *ngIf="pageState.business.businessName"
            [label]="'Business name'"
            [value]="pageState.business.businessName">
          </data-row>
          <data-row
            [idPrefix]="idPrefix"
            *ngIf="pageState.business.telephone"
            [label]="'Phone number'"
            [value]="pageState.business.telephone">
          </data-row>
          <data-row-custom
            [idPrefix]="idPrefix"
            [label]="'Address'"
            [shouldHaveSeperator]="false"
            *ngIf="pageState.business.businessAddress">
            <display-address [address]="pageState.business.businessAddress"></display-address>
          </data-row-custom>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ng-template>
