.exclamation-indicator {
  width: 26px;
  height: 26px;
  float: left;
}

.navigation-row {
  width: 100%;
  display: block;
}

.test-start-details {
  float: right;
}

.toolbar-spacing {
  height: 60px;
}

.toolbar-item-spacing {
  padding-top: 20px;
}
