:host ::ng-deep {

  competency-button.eco-tick {

    .competency-button {
      padding: 1px 7px 2px;

      .tickwrapper {
        margin: auto;
        display: flex;
        justify-content: center;
      }
    }

    &.checked .competency-button {
      border: 2px solid var(--gds-dark-green);
    }
  }

  competency-button.eco-control,
  competency-button.eco-planning {
    .competency-button {
      margin-left: 8px !important;

      padding-left: 18px !important;
      padding-right: 5px;
    }

    &.complete .competency-button {
      border: 2px solid var(--gds-dark-green);
      color: var(--gds-green);

      .competency-label {
        font-weight: bold;
      }
    }
  }
}
