<ion-header>
  <practice-mode-banner *ngIf="isEndToEndPracticeMode"></practice-mode-banner>
  <ion-toolbar [ngClass]="{'toolbar-no-padding': isEndToEndPracticeMode}" mode="ios">
    <ion-title id="waiting-room-to-car-page-title">{{pageState.candidateName$ | async}}</ion-title>
    <ion-buttons id="wrtc-back-button" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons id="end-test-button" slot="end">
      <end-test-link
        [category]="pageState.category$ | async"
        [isPracticeMode]="isPracticeMode"
        [shouldAuthenticate]="false">
      </end-test-link>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content force-overscroll="false">
  <div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <ion-grid>

        <eyesight-test
          (eyesightTestResultChange)="eyesightTestResultChanged($event)"
          [eyesightFailRadioChecked]="pageState.eyesightTestFailed$ | async"
          [eyesightPassRadioChecked]="(pageState.eyesightTestComplete$ | async) && !(pageState.eyesightTestFailed$ | async)"
          [formGroup]="form">
        </eyesight-test>

        <ion-row *ngIf="pageState.eyesightTestFailed$ | async">
          <eyesight-failure-confirmation
            [cancelFn]="eyesightFailCancelled"
            [nextPageOnFail]="getDebriefPage()">
          </eyesight-failure-confirmation>
        </ion-row>

        <ion-row [hidden]="pageState.eyesightTestFailed$ | async" class="ion-no-padding"
                 id="post-eyesight-form-content">
          <ion-col class="ion-no-padding">
            <test-category [testCategory]="pageState.category$ | async"></test-category>

            <vehicle-checks-vocational
              (onCloseVehicleChecksModal)="closeVehicleChecksModal()"
              [category]="pageState.category$ | async"
              [formGroup]="form"
              [fullLicenceHeld]="false"
              [vehicleChecksScore]="pageState.vehicleChecksScore$ | async"
              [vehicleChecks]="pageState.vehicleChecks$ | async">
            </vehicle-checks-vocational>

            <vehicle-registration
              (checkMotClick)="getMOTStatus()"
              (vehicleRegistrationBlur)="onVrnBlur()"
              (vehicleRegistrationChange)="vehicleRegistrationChanged($event)"
              [formGroup]="form"
              [hasRequestedMOT]="hasRequestedMOT"
              [vehicleRegistration]="pageState.registrationNumber$ | async"
              [showCheckMot]="pageState.showCheckMot$ | async"
              [motError]="pageState.motError$ | async"
              [checkInvalidMotCount]="pageState.checkInvalidMotCount$ | async"
              [isChecking]="pageState.isCheckingMot$ | async"
              [motStatus]="pageState.motStatus$ | async"
              [make]="pageState.make$ | async"
              [model]="pageState.model$ | async"
              [testExpiryDate]="pageState.testExpiryDate$ | async">
            </vehicle-registration>

            <alternative-mot-evidence-provided
              *ngIf="pageState.showAlternativeMotEvidenceProvided$ | async"
              [formGroup]="form"
              [alternativeMotEvidence]="pageState.alternativeMotEvidenceProvided$ | async"
              (alternativeMotEvidenceChange)="alternativeMotEvidenceChanged($event)"
            ></alternative-mot-evidence-provided>

            <alternative-mot-evidence-details
              *ngIf="pageState.showAlternativeMotEvidenceProvided$ | async"
              [formGroup]="form"
              [alternativeMotEvidenceDetails]="pageState.alternativeMotEvidenceDetails$ | async"
              [alternativeMotEvidenceProvided]="pageState.alternativeMotEvidenceProvided$ | async"
              (alternativeMotEvidenceDetailsChange)="alternativeMotEvidenceDetailsChanged($event)"
            ></alternative-mot-evidence-details>

            <transmission
              (transmissionChange)="transmissionChanged($event)"
              [formGroup]="form"
              [transmission]="pageState.transmission$ | async">
            </transmission>

            <accompaniment-card
              (instructorAccompanimentChange)="instructorAccompanimentToggled()"
              (interpreterAccompanimentChange)="interpreterAccompanimentToggled()"
              (otherAccompanimentChange)="otherAccompanimentToggled()"
              (supervisorAccompanimentChange)="supervisorAccompanimentToggled()"
              [formGroup]="form"
              [instructorAccompaniment]="pageState.instructorAccompaniment$ | async"
              [interpreterAccompaniment]="pageState.interpreterAccompaniment$ | async"
              [otherAccompaniment]="pageState.otherAccompaniment$ | async"
              [supervisorAccompaniment]="pageState.supervisorAccompaniment$ | async">
            </accompaniment-card>

            <vehicle-details-card
              (dualVehicleDetailsChange)="dualControlsToggled()"
              (schoolVehicleDetailsChange)="schoolCarToggled()"
              [dualVehicleDetails]="pageState.dualControls$ | async"
              [formGroup]="form"
              [schoolVehicleDetails]="pageState.schoolCar$ | async">
            </vehicle-details-card>

            <ordit-trainer-cat-adi-part2
              (orditTrainedOutcomeChange)="orditTrainedOutcomeChanged($event)"
              [formGroup]="form"
              [orditTrainedRadioChecked]="pageState.orditTrained$ | async">
            </ordit-trainer-cat-adi-part2>

            <trainer-registration-number-cat-adi-part2
              (trainerRegistrationChange)="trainerRegistrationNumberChanged($event)"
              [formGroup]="form"
              [trainerRegistration]="pageState.trainerRegistrationNumber$ | async">
            </trainer-registration-number-cat-adi-part2>

            <training-records-cat-adi-part2
              (trainingRecordOutcomeChange)="trainingRecordOutcomeChanged($event)"
              [formGroup]="form"
              [trainingRecordRadioChecked]="pageState.trainingRecords$ | async">
            </training-records-cat-adi-part2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>

<ion-footer>
  <ion-row class="mes-full-width-card box-shadow">
    <ion-col class="ion-text-center" size="45">
      <ion-button
        (click)="onViewTestCentreJournal()"
        class="mes-grey-button wrtc-footer-btn"
        id="view-test-centre-journal-button" shape="round">
        <h3>View test centre journal</h3>
      </ion-button>
    </ion-col>
    <ion-col size="6"></ion-col>
    <ion-col class="ion-text-center" size="45">
      <ion-button
        (click)="onSubmit()"
        class="mes-primary-button wrtc-footer-btn"
        id="continue-to-test-report-button" shape="round">
        <h3>Continue to test report</h3>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
