@import "src/app/pages/waiting-room-to-car/waiting-room-to-car.page";

ion-footer {
  background-color: var(--mes-white);

  button {
    width: 100%;
    min-height: 56px;
  }
}

:host {
  @extend .waiting-room-to-car-common-style;

  .mes-full-width-card {
    padding: 15px 15px 15px 15px;

    .full-width {
      width: 100%;
    }
  }

  .wrtc-footer-btn {
    width: 100%;
    min-height: 56px;
  }
}

