<ion-header>
  @if (isEndToEndPracticeMode) {
<practice-mode-banner></practice-mode-banner>
}
  <ion-toolbar [ngClass]="{'toolbar-no-padding': isEndToEndPracticeMode}" mode="ios">
    <ion-buttons id="candidate-licence-back-button" slot="start">
      <ion-back-button defaultHref="WaitingRoomPage"></ion-back-button>
    </ion-buttons>
    <ion-title role="heading" aria-level="1" id="candidate-licence-page-title">
      DVLA Licence information - {{pageState.candidateUntitledName$ | async}}
    </ion-title>
    <ion-buttons id="end-button" slot="end">
      <end-test-link
        [category]="pageState.testCategory$ | async"
        [isPracticeMode]="isPracticeMode"
      ></end-test-link>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <offline-banner [isOffline]="!!offlineError"></offline-banner>

  @if ({ candidateLicence: pageState.candidateData$ | async }; as data) {
<ion-grid>
    <inappropriate-use-banner></inappropriate-use-banner>

    <licence-photo
      [hasError]="hasErrored"
      [imageSrc]="getImage(pageState.driverPhotograph$ | async, data.candidateLicence?.driverPhotograph)">
    </licence-photo>

    @if (!isPracticeMode && hasErrored) {
<licence-data-error
     
      [candidateDataError]="candidateDataError"
      [candidateDataUnavailable]="candidateDataUnavailable"
      [isOfflineError]="offlineError"
      [niLicenceDetected]="niLicenceDetected">
    </licence-data-error>
}

    <true-likeness
      [colSize]="37"
      (trueLikenessChange)="trueLikenessToPhotoChanged($event)"
      [formGroup]="formGroup"
      [trueLikeness]="pageState.trueLikenessToPhoto$ | async">
    </true-likeness>

    <!-- Decide if candidateDataError should hide the DVLA card or show a card for TARS/booking data -->
    <licence-information
      [bookingAge]="pageState.age$ | async"
      [bookingDriverNumber]="pageState.candidateDriverNumber$ | async"
      [bookingGender]="pageState.genderDescription$ | async"
      [bookingName]="pageState.candidateUntitledName$ | async"
      [candidateData]="data.candidateLicence"
      [isPracticeMode]="isPracticeMode">
    </licence-information>
  </ion-grid>
}
</ion-content>

<ion-footer>
  <ion-row>
    <ion-button (click)="onContinue()" class="mes-primary-button continue" id="candidate-licence-continue-button">
      <ion-text class="des-header-style-3">Continue</ion-text>
    </ion-button>
  </ion-row>
</ion-footer>
