<ion-header>
  <practice-mode-banner *ngIf="isEndToEndPracticeMode"></practice-mode-banner>
  <ion-toolbar
    class="no-internal-padding"
    [ngClass]="{'toolbar-no-padding': isEndToEndPracticeMode || isExitSAMActivated}" mode="ios">
    <des-header
      class="display-flex flex-direction-column"
      [defaultBackButtonHref]="'WaitingRoomPage'"
      [testCategory]="pageState.testCategory$ | async"
      [shouldShowEscapeFromSamButton]="!isRekey"
      [pageName]="'candidate-licence-page'"
      [isPracticeMode]="isEndToEndPracticeMode"
      [isExitSAMActivated]="isExitSAMActivated"
      (exitSamUsed)="onUsedExitSam()"
      (onExitSAMActivatedChanged)="isSamActivatedChanged($event)">
      DVLA licence information - {{ pageState.candidateUntitledName$ | async }}
    </des-header>
  </ion-toolbar>
</ion-header>

<ion-content>
  <offline-banner [isOffline]="!!offlineError"></offline-banner>

  <ion-grid *ngIf="{ candidateLicence: pageState.candidateData$ | async } as data">
    <inappropriate-use-banner></inappropriate-use-banner>

    <licence-photo
      [hasError]="hasErrored"
      [imageSrc]="getImage(pageState.driverPhotograph$ | async, data.candidateLicence?.driverPhotograph)"
    >
    </licence-photo>

    <licence-data-error
      *ngIf="!isPracticeMode && hasErrored"
      [candidateDataError]="candidateDataError"
      [candidateDataUnavailable]="candidateDataUnavailable"
      [isOfflineError]="offlineError"
      [niLicenceDetected]="niLicenceDetected"
    >
    </licence-data-error>

    <true-likeness
      [colSize]="37"
      (trueLikenessChange)="trueLikenessToPhotoChanged($event)"
      [formGroup]="formGroup"
      [trueLikeness]="pageState.trueLikenessToPhoto$ | async"
    >
    </true-likeness>

    <!-- Decide if candidateDataError should hide the DVLA card or show a card for TARS/booking data -->
    <licence-information
      [bookingAge]="pageState.age$ | async"
      [bookingDriverNumber]="pageState.candidateDriverNumber$ | async"
      [bookingGender]="pageState.genderDescription$ | async"
      [bookingName]="pageState.candidateUntitledName$ | async"
      [candidateData]="data.candidateLicence"
      [isPracticeMode]="isPracticeMode"
    >
    </licence-information>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-button (click)="onContinue()" class="mes-primary-button continue" id="candidate-licence-continue-button">
      <ion-text class="des-header-style-3">Continue</ion-text>
    </ion-button>
  </ion-row>
</ion-footer>
