:host {
  ion-content {
    --ion-background-color: var(--mes-white);
  }

  ion-footer {
    text-align: center;
    padding: 0 8px 5px 8px;

    .continue {
      min-height: 56px;
      width: 100%;
      margin-top: 11px;
    }
  }
}
