@if (display) {
<ion-row class="mes-validated-row mes-row-separator" id="circuit-card" [formGroup]="formGroup">
    <div class="validation-bar" [class.ng-invalid]="invalid"></div>
    <ion-col class="component-label ion-align-self-center" size="32">
        <label id="circuit-label">Circuit</label>
    </ion-col>
    <ion-col class="ion-align-self-center ion-padding-start">
        <ion-row class="spacing-row"></ion-row>
        <ion-row>
            <ion-col class="ion-align-self-center" size="48">
                <input
                        type="radio"
                        id="circuit-left"
                        class="gds-radio-button"
                        name="circuit"
                        formControlName="circuit"
                        value="Left"
                        [checked]="circuit === 'Left'"
                        (change)="circuitChanged($event.target.value)"
                />
            <label for="circuit-left" class="radio-label">Left</label>
            </ion-col>
            <ion-col class="ion-align-self-center">
                <input
                        type="radio"
                        id="circuit-right"
                        class="gds-radio-button"
                        name="circuit"
                        formControlName="circuit"
                        value="Right"
                        [checked]="circuit === 'Right'"
                        (change)="circuitChanged($event.target.value)"
                />
                <label for="circuit-right" class="radio-label">Right</label>
            </ion-col>
        </ion-row>
        <ion-row class="validation-message-row ion-align-items-center">
            <div class="validation-text" id="circuit-validation-text" [class.ng-invalid]="invalid">
                Select the circuit
            </div>
        </ion-row>
    </ion-col>
</ion-row>
}
