<ion-row *ngIf="display" class="mes-validated-row" [formGroup]="formGroup">
  <div class="validation-bar" [class.ng-invalid]="invalid"></div>
  <ion-col class="component-label ion-align-self-center" size="32">
    <label id="further-development-label">Was advice given to seek further development from an ORDIT trainer?</label>
  </ion-col>
  <ion-col class="ion-align-self-center mes-padding-left">
    <ion-row class="spacing-row"></ion-row>
    <ion-row>
      <ion-radio-group
        class="display-flex radio-group-width"
        formControlName="furtherDevelopment"
        [value]="formControl.value"
        (ionChange)="furtherDevelopmentChanged($event.detail.value)">
        <ion-col size="40">
          <ion-radio
            class="gds-refactor-radio"
            [class.ng-invalid]="invalid"
            id="further-development-yes"
            labelPlacement="end"
            value="true">
            <label class="radio-label" id="further-development-yes-label">
              Yes
            </label>
          </ion-radio>
        </ion-col>
        <ion-col size="16"></ion-col>
        <ion-col>
          <ion-radio
            class="gds-refactor-radio"
            [class.ng-invalid]="invalid"
            id="further-development-no"
            value="false"
            labelPlacement="end">
            <label class="radio-label" id="further-development-no-label">
              No
            </label>
          </ion-radio>
        </ion-col>
      </ion-radio-group>
    </ion-row>
    <ion-row class="validation-message-row ion-align-items-center">
      <div class="validation-text" [class.ng-invalid]="invalid" id="further-development-validation-text">
        Select if advice was given
      </div>
    </ion-row>
  </ion-col>
</ion-row>
