.box-padding {
  padding-left: 32px;
  padding-right: 32px;
}
ion-content {
  --ion-background-color: var(--mes-white);
}

.character-count {
  color: var(--gds-grey-1);
  font-weight: initial;
  letter-spacing: initial;
}

.full-width {
  width: 100%;
}

.text-box {
  position: relative;
  left: 100px;
}

.character-text {
  position: relative;
  left: 360px;
  bottom: 20px;
}

.padding-left {
  padding-left: 32px;
}
