<ion-row class="mes-validated-row mes-row-separator mes-narrow-row" id="further-development-card"
         [formGroup]="formGroup">
    <div class="component-label ion-align-self-center mes-padding-left" [class.invalid-bar]="invalid">
        <ion-row class="padding-top-22">
            <ion-col size="28">
                <label>Was advice given to seek further development from an ORDIT trainer?</label>
            </ion-col>
                <ion-col class="button-padding button-padding-top" size="37">
                    <input type="radio"
                           formControlName="furtherDevelopment"
                           id="further-development-yes"
                           name="furtherDevelopment"
                           class="gds-radio-button"
                           value="true"
                           [class.ng-invalid]="invalid"
                           [checked]="furtherDevelopment === true"
                           (change)="furtherDevelopmentChanged($event.target.value)">
                    <label for="further-development-yes" class="radio-label"
                           id="further-development-yes-label">Yes</label>
                </ion-col>
                <ion-col class="button-padding-top">
                    <input type="radio"
                           formControlName="furtherDevelopment"
                           id="further-development-no"
                           name="furtherDevelopment"
                           class="gds-radio-button"
                           value="false"
                           [class.ng-invalid]="invalid"
                           [checked]="furtherDevelopment === false"
                           (change)="furtherDevelopmentChanged($event.target.value)">
                    <label for="further-development-no" class="radio-label" id="further-development-no-label">No</label>
                </ion-col>
        </ion-row>
        <ion-row class="validation-message-row ion-align-items-center">
            <div class="validation-text valid-text" [class.ng-invalid]="invalid"
                 id="further-development-validation-text">
                Select if advice was given
            </div>
        </ion-row>
    </div>
</ion-row>
