<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons id="pass-cert-burger-menu-btn" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title role="heading" aria-level="1" id="page-title">Examiner records</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="{
  routeGrid: pageState.routeNumbers$ | async,
  manoeuvresGrid: pageState.manoeuvres$ | async,
  showMeQuestionsGrid: pageState.showMeQuestions$ | async,
  independentDrivingGrid: pageState.independentDriving$ | async,
  tellMeQuestionsGrid: pageState.tellMeQuestions$ | async,
  safetyGrid: pageState.safetyQuestions$ | async,
  balanceGrid: pageState.balanceQuestions$ | async,
  testCount: pageState.testCount$ | async,
  emergencyStops: pageState.emergencyStops$ | async,
  outcomes: pageState.outcomes$ | async,
  circuits: pageState.circuits$ | async,
} as data">

  <ion-row class="ion-padding">
    <ion-col size="48">
      <ion-row>
        <label>Location</label>
      </ion-row>
      <ion-row class="padding-top-10">
        <ion-select
          *ngIf="(pageState.locationList$ | async).length > 0"
          [interfaceOptions]="{cssClass:'mes-select', enableBackdropDismiss:false}"
          class="input-styling-background black-text"
          id="locationSelect"
          (ionChange)="handleLocationFilter($event?.detail?.value, true)"
          labelPlacement="stacked"
          [value]="locationSelectPristine ? null : currentTestCentre"
          [placeholder]="locationPlaceholder">
          <ion-select-option [value]="option" *ngFor="let option of locationFilterOptions;">
            {{option.centreName}}
          </ion-select-option>
        </ion-select>
        <ion-text
          *ngIf="(pageState.locationList$ | async).length == 0"
          class="mes-data">No locations available</ion-text>
      </ion-row>
    </ion-col>
    <ion-col></ion-col>
    <ion-col size="20">
      <ion-row>
        <label>Test category</label>
      </ion-row>
      <ion-row class="padding-top-10">
        <ion-select
          *ngIf="(pageState.categoryList$ | async).length > 0"
          [interfaceOptions]="{cssClass:'mes-select', enableBackdropDismiss:false}"
          class="input-styling-background black-text"
          (ionChange)="handleCategoryFilter($event?.detail?.value, true)"
          labelPlacement="stacked"
          id="categorySelect"
          [value]="categorySelectPristine ? null : categorySubject$.value"
          [placeholder]="categoryPlaceholder">
          <ion-select-option [value]="option" *ngFor="let option of categoryFilterOptions;">
            {{option}}
          </ion-select-option>
        </ion-select>
        <ion-text
          *ngIf="(pageState.categoryList$ | async).length == 0"
          class="mes-data">No categories available</ion-text>
      </ion-row>
    </ion-col>
    <ion-col></ion-col>
    <ion-col size="25">
      <ion-row>
        <label>Range</label>
      </ion-row>
      <ion-row class="padding-top-10">
        <ion-select
          [interfaceOptions]="{cssClass:'mes-select', enableBackdropDismiss:false}"
          class="input-styling-background black-text"
          (ionChange)="handleDateFilter($event)"
          labelPlacement="stacked"
          [placeholder]="defaultDate.display">
          <ion-select-option [value]="option" *ngFor="let option of dateFilterOptions;">
            {{option.display}}
          </ion-select-option>
        </ion-select>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="mes-padding-left">
    <ion-col size="64">
      <colour-filter-radio
        [formGroup]="form"
        [colourScheme]="colourOption"
        (filterChange)="colourFilterChanged($event)">
      </colour-filter-radio>
    </ion-col>
    <ion-col class="ion-align-items-center display-flex" size="23">
      <label>Show data tables</label>
    </ion-col>
    <ion-col size="7" class="display-flex ion-align-items-center">
      <input type="checkbox"
             id="chart-toggle-input"
             class="gds-checkbox"
             (change)="toggleData()"
             [checked]="showData">
      <label [for]="'chart-toggle-input'"></label>
    </ion-col>
  </ion-row>

  <div
    *ngIf="(pageState.categoryList$ | async).length > 0 &&
    (pageState.locationList$ | async).length > 0">

    <ion-row class="ion-justify-content-center display-flex">

      <ion-col class="ion-no-padding" size="auto">
        <ion-card [class]="colourSelect() === colours.navy.colours ? ['white-text' , 'navy-card'] : 'mes-black'"
                  *ngIf="data.routeGrid?.length">
          <ion-card-header>
            <ion-card-title>
              <ion-row>
                <ion-col>
                  <ion-text class="des-header-style-4 fault-heading">Test routes completed</ion-text>
                </ion-col>
              </ion-row>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div *ngIf="getTotal(data.routeGrid)">
              <ion-row>
                <ion-col class="display-flex">
                  <chart
                    [chartId]="'routeNum'"
                    [splitLabel]="false"
                    [isPortrait]="orientationProvider.isPortraitMode$ | async"
                    [chartType]="globalChartType ? globalChartType : 'bar'"
                    [colors]="colourSelect('bar')"
                    [averageColour]="averageSelect()"
                    [strokeColour]="colourSelect() === colours.navy.colours ? '#243673' : '#FFFFFF'"
                    [labelColour]="getLabelColour(colourSelect(), 'bar')"
                    [passedData]="data.routeGrid">
                  </chart>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="display-flex ion-justify-content-center ion-align-items-center" size="10">
                  <div [style.border-top-color]="averageSelect()" class="dashed-line"></div>
                </ion-col>
                <ion-col>
                  <ion-text class="mes-data">Average</ion-text>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="showData">
                <ion-col class="ion-no-padding">
                  <data-grid
                    [headers]="['Route', 'Amount', 'Percentage of total']"
                    [colourScheme]="colourSelect('bar')"
                    [displayColour]="(colourSelect('bar') !== colours.monochrome.bar &&
                colourSelect('bar') !== colours.default.bar)"
                    [passedData]="filterDataForGrid(data.routeGrid)">
                  </data-grid>
                  <div>
                    <ion-row class="ion-padding-top mes-row-separator"></ion-row>
                    <ion-row class="ion-padding-top display-flex ion-justify-content-center">
                      <ion-col class="display-flex ion-justify-content-center">
                        <span class="mes-data"><label>Total:</label> {{getTotal(data.routeGrid)}}</span>
                      </ion-col>
                    </ion-row>
                  </div>
                </ion-col>
              </ion-row>
            </div>
            <ion-row class="display-flex ion-justify-content-center" *ngIf="!getTotal(data.routeGrid)">
              <ion-text class="des-header-style-3">No data to display</ion-text>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col class="ion-no-padding" size="48">

        <ion-card [class]="colourSelect() === colours.navy.colours ? ['white-text' , 'navy-card'] : 'mes-black'"
                  *ngIf="data.independentDrivingGrid?.length">
          <ion-card-header>
            <ion-card-title>
              <ion-row>
                <ion-col>
                  <ion-text class="des-header-style-4 fault-heading">Independent driving</ion-text>
                </ion-col>
              </ion-row>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div *ngIf="getTotal(data.independentDrivingGrid)">
              <ion-row>
                <ion-col class="ion-justify-content-center display-flex">
                  <chart
                    [chartId]="'independentDriving'"
                    [splitLabel]="true"
                    [isPortrait]="orientationProvider.isPortraitMode$ | async"
                    [chartType]="globalChartType ? globalChartType : 'pie'"
                    [colors]="colourSelect('pie')"
                    [averageColour]="averageSelect()"
                    [transformOptions]="{ portrait: { width: 320, height: 300 }, landscape: { width: 450, height: 300 } }"
                    [strokeColour]="colourSelect() === colours.navy.colours ? '#243673' : '#FFFFFF'"
                    [labelColour]="getLabelColour(colourSelect(), 'pie')"
                    [passedData]="data.independentDrivingGrid">
                  </chart>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="showData">
                <ion-col class="ion-no-padding">
                  <data-grid
                    [headers]="['Question', 'Amount', 'Percentage of total']"
                    [colourScheme]="colourSelect('pie')"
                    [passedData]="filterDataForGrid(data.independentDrivingGrid)">
                  </data-grid>
                  <div>
                    <ion-row class="ion-padding-top mes-row-separator"></ion-row>
                    <ion-row class="ion-padding-top display-flex ion-justify-content-center">
                      <ion-col class="display-flex ion-justify-content-center">
                        <span class="mes-data"><label>Total:</label> {{getTotal(data.independentDrivingGrid)}}</span>
                      </ion-col>
                    </ion-row>
                  </div>
                </ion-col>
              </ion-row>
            </div>
            <ion-row class="display-flex ion-justify-content-center" *ngIf="!getTotal(data.independentDrivingGrid)">
              <ion-text class="des-header-style-3">No data to display</ion-text>
            </ion-row>
          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col class="ion-no-padding" size="48">

        <ion-card [class]="colourSelect() === colours.navy.colours ? ['white-text' , 'navy-card'] : 'mes-black'"
                  *ngIf="data.emergencyStops && showEmergencyStop()">
          <ion-card-header>
            <ion-row>
              <ion-col>
                <ion-text class="des-header-style-4 fault-heading">Emergency stops</ion-text>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col [class.ion-no-padding]="showData" class="display-flex ion-justify-content-center">
                <chart
                  [chartId]="'emergencyStop'"
                  [splitLabel]="false"
                  [isPortrait]="orientationProvider.isPortraitMode$ | async"
                  [chartType]="globalChartType ? globalChartType : 'pie'"
                  [colors]="colourSelect('pie')"
                  [averageColour]="averageSelect()"
                  [transformOptions]="{ portrait: { width: 320, height: 300 }, landscape: { width: 450, height: 300 } }"
                  [strokeColour]="colourSelect() === colours.navy.colours ? '#243673' : '#FFFFFF'"
                  [labelColour]="getLabelColour(colourSelect(), 'pie')"
                  [passedData]="data.emergencyStops">
                </chart>
              </ion-col>
            </ion-row>
            <data-row *ngIf="showData"
                      [labelStyling]="colourSelect() === colours.navy.colours ? 'color: white' : null"
                      [dataStyling]="colourSelect() === colours.navy.colours ? 'color: white' : null"
                      [value]="data.emergencyStops[0].count"
                      [centreData]="true"
                      label="Emergency stop total">
            </data-row>
            <data-row *ngIf="showData"
                      [labelStyling]="colourSelect() === colours.navy.colours ? 'color: white' : null"
                      [dataStyling]="colourSelect() === colours.navy.colours ? 'color: white' : null"
                      [shouldHaveSeperator]="false"
                      [centreData]="true"
                      [value]="data.emergencyStops[0].percentage"
                      label="Emergency stop (%)">
            </data-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col class="ion-no-padding" size="auto">

        <ion-card [class]="colourSelect() === colours.navy.colours ? ['white-text' , 'navy-card'] : 'mes-black'"
                  *ngIf="data.manoeuvresGrid?.length">
          <ion-card-header>
            <ion-card-title>
              <ion-row>
                <ion-col>
                  <ion-text class="des-header-style-4 fault-heading">Manoeuvres completed</ion-text>
                </ion-col>
              </ion-row>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div *ngIf="getTotal(data.manoeuvresGrid)">
              <ion-row>
                <ion-col class="display-flex">
                  <chart
                    [chartId]="'manoeuvresChart'"
                    [splitLabel]="true"
                    [isPortrait]="orientationProvider.isPortraitMode$ | async"
                    [chartType]="globalChartType ? globalChartType : 'bar'"
                    [colors]="colourSelect('bar')"
                    [averageColour]="averageSelect()"
                    [strokeColour]="colourSelect() === colours.navy.colours ? '#243673' : '#FFFFFF'"
                    [labelColour]="getLabelColour(colourSelect(), 'bar')"
                    [passedData]="data.manoeuvresGrid">
                  </chart>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="display-flex ion-justify-content-center ion-align-items-center" size="10">
                  <div [style.border-top-color]="averageSelect()" class="dashed-line"></div>
                </ion-col>
                <ion-col>
                  <ion-text class="mes-data">Average</ion-text>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="showData">
                <ion-col class="ion-no-padding">
                  <data-grid
                    [headers]="['Manoeuvre', 'Amount', 'Percentage of total']"
                    [colourScheme]="colourSelect('bar')"
                    [displayColour]="(colourSelect('bar') !== colours.monochrome.bar &&
                colourSelect('bar') !== colours.default.bar)"
                    [passedData]="filterDataForGrid(data.manoeuvresGrid)">
                  </data-grid>
                  <div>
                    <ion-row class="ion-padding-top mes-row-separator"></ion-row>
                    <ion-row class="ion-padding-top display-flex ion-justify-content-center">
                      <ion-col class="display-flex ion-justify-content-center">
                        <span class="mes-data"><label>Total:</label> {{getTotal(data.manoeuvresGrid)}}</span>
                      </ion-col>
                    </ion-row>
                  </div>
                </ion-col>
              </ion-row>
            </div>
            <ion-row class="display-flex ion-justify-content-center" *ngIf="!getTotal(data.manoeuvresGrid)">
              <ion-text class="des-header-style-3">No data to display</ion-text>
            </ion-row>
          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col class="ion-no-padding" size="auto">

        <ion-card [class]="colourSelect() === colours.navy.colours ? ['white-text' , 'navy-card'] : 'mes-black'"
                  *ngIf="data.showMeQuestionsGrid?.length">
          <ion-card-header>
            <ion-card-title>
              <ion-row>
                <ion-col>
                  <ion-text class="des-header-style-4 fault-heading">Show me questions asked</ion-text>
                </ion-col>
              </ion-row>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div *ngIf="getTotal(data.showMeQuestionsGrid)">
              <ion-row>
                <ion-col class="display-flex">
                  <chart
                    [chartId]="'showMeChart'"
                    [splitLabel]="true"
                    [isPortrait]="orientationProvider.isPortraitMode$ | async"
                    [chartType]="globalChartType ? globalChartType : 'bar'"
                    [colors]="colourSelect('bar')"
                    [averageColour]="averageSelect()"
                    [strokeColour]="colourSelect() === colours.navy.colours ? '#243673' : '#FFFFFF'"
                    [labelColour]="getLabelColour(colourSelect(), 'bar')"
                    [passedData]="data.showMeQuestionsGrid">
                  </chart>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="display-flex ion-justify-content-center ion-align-items-center" size="10">
                  <div [style.border-top-color]="averageSelect()" class="dashed-line"></div>
                </ion-col>
                <ion-col>
                  <ion-text class="mes-data">Average</ion-text>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="showData">
                <ion-col class="ion-no-padding">
                  <data-grid
                    [headers]="['Question', 'Amount', 'Percentage of total']"
                    [colourScheme]="colourSelect('bar')"
                    [displayColour]="(colourSelect('bar') !== colours.monochrome.bar &&
                colourSelect('bar') !== colours.default.bar)"
                    [passedData]="filterDataForGrid(data.showMeQuestionsGrid)">
                  </data-grid>
                  <div>
                    <ion-row class="ion-padding-top mes-row-separator"></ion-row>
                    <ion-row class="ion-padding-top display-flex ion-justify-content-center">
                      <ion-col class="display-flex ion-justify-content-center">
                        <span class="mes-data"><label>Total:</label> {{getTotal(data.showMeQuestionsGrid)}}</span>
                      </ion-col>
                    </ion-row>
                  </div>
                </ion-col>
              </ion-row>
            </div>
            <ion-row class="display-flex ion-justify-content-center" *ngIf="!getTotal(data.showMeQuestionsGrid)">
              <ion-text class="des-header-style-3">No data to display</ion-text>
            </ion-row>
          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col class="ion-no-padding" size="auto">

        <ion-card [class]="colourSelect() === colours.navy.colours ? ['white-text' , 'navy-card'] : 'mes-black'"
                  *ngIf="data.tellMeQuestionsGrid?.length">
          <ion-card-header>
            <ion-card-title>
              <ion-row>
                <ion-col>
                  <ion-text class="des-header-style-4 fault-heading">Tell me questions asked</ion-text>
                </ion-col>
              </ion-row>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div *ngIf="getTotal(data.showMeQuestionsGrid)">
              <ion-row>
                <ion-col class="display-flex">
                  <chart
                    [chartId]="'tellMeChart'"
                    [splitLabel]="true"
                    [isPortrait]="orientationProvider.isPortraitMode$ | async"
                    [chartType]="globalChartType ? globalChartType : 'bar'"
                    [colors]="colourSelect('bar')"
                    [averageColour]="averageSelect()"
                    [strokeColour]="colourSelect() === colours.navy.colours ? '#243673' : '#FFFFFF'"
                    [labelColour]="getLabelColour(colourSelect(), 'bar')"
                    [passedData]="data.tellMeQuestionsGrid">
                  </chart>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="display-flex ion-justify-content-center ion-align-items-center" size="10">
                  <div [style.border-top-color]="averageSelect()" class="dashed-line"></div>
                </ion-col>
                <ion-col>
                  <ion-text class="mes-data">Average</ion-text>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="showData">
                <ion-col class="ion-no-padding">
                  <data-grid
                    [headers]="['Question', 'Amount', 'Percentage of total']"
                    [colourScheme]="colourSelect('bar')"
                    [displayColour]="(colourSelect('bar') !== colours.monochrome.bar &&
                colourSelect('bar') !== colours.default.bar)"
                    [passedData]="filterDataForGrid(data.tellMeQuestionsGrid)">
                  </data-grid>
                  <div>
                    <ion-row class="ion-padding-top mes-row-separator"></ion-row>
                    <ion-row class="ion-padding-top display-flex ion-justify-content-center">
                      <ion-col class="display-flex ion-justify-content-center">
                        <span class="mes-data"><label>Total:</label> {{getTotal(data.tellMeQuestionsGrid)}}</span>
                      </ion-col>
                    </ion-row>
                  </div>
                </ion-col>
              </ion-row>
            </div>
            <ion-row class="display-flex ion-justify-content-center" *ngIf="!getTotal(data.showMeQuestionsGrid)">
              <ion-text class="des-header-style-3">No data to display</ion-text>
            </ion-row>
          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col class="ion-no-padding" size="auto">
        <ion-card [class]="colourSelect() === colours.navy.colours ? ['white-text' , 'navy-card'] : 'mes-black'"
                  *ngIf="data.balanceGrid?.length">
          <ion-card-header>
            <ion-card-title>
              <ion-row>
                <ion-col>
                  <ion-text class="des-header-style-4 fault-heading">Balance questions asked</ion-text>
                </ion-col>
              </ion-row>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div *ngIf="getTotal(data.balanceGrid)">
              <ion-row>
                <ion-col class="ion-justify-content-center display-flex">
                  <chart
                    [chartId]="'balanceChart'"
                    [splitLabel]="true"
                    [isPortrait]="orientationProvider.isPortraitMode$ | async"
                    [chartType]="globalChartType ? globalChartType : 'pie'"
                    [colors]="colourSelect('pie')"
                    [transformOptions]="{ portrait: { width: 320, height: 300 }, landscape: { width: 450, height: 300 } }"
                    [averageColour]="averageSelect()"
                    [strokeColour]="colourSelect() === colours.navy.colours ? '#243673' : '#FFFFFF'"
                    [labelColour]="getLabelColour(colourSelect(), 'pie')"
                    [passedData]="data.balanceGrid">
                  </chart>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="showData">
                <ion-col class="ion-no-padding">
                  <data-grid
                    [headers]="['Question', 'Amount', 'Percentage of total']"
                    [colourScheme]="colourSelect('pie')"
                    [passedData]="filterDataForGrid(data.balanceGrid)">
                  </data-grid>
                  <div>
                    <ion-row class="ion-padding-top mes-row-separator"></ion-row>
                    <ion-row class="ion-padding-top display-flex ion-justify-content-center">
                      <ion-col class="display-flex ion-justify-content-center">
                        <span class="mes-data"><label>Total:</label> {{getTotal(data.balanceGrid)}}</span>
                      </ion-col>
                    </ion-row>
                  </div>
                </ion-col>
              </ion-row>
            </div>
            <ion-row class="display-flex ion-justify-content-center" *ngIf="!getTotal(data.balanceGrid)">
              <ion-text class="des-header-style-3">No data to display</ion-text>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col class="ion-no-padding" size="auto">

        <ion-card [class]="colourSelect() === colours.navy.colours ? ['white-text' , 'navy-card'] : 'mes-black'"
                  *ngIf="data.safetyGrid?.length">
          <ion-card-header>
            <ion-card-title>
              <ion-row>
                <ion-col>
                  <ion-text class="des-header-style-4 fault-heading">Safety questions asked</ion-text>
                </ion-col>
              </ion-row>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div *ngIf="getTotal(data.safetyGrid)">
              <ion-row>
                <ion-col class="ion-justify-content-center display-flex">
                  <chart
                    [chartId]="'safetyChart'"
                    [splitLabel]="true"
                    [isPortrait]="orientationProvider.isPortraitMode$ | async"
                    [chartType]="globalChartType ? globalChartType : 'bar'"
                    [colors]="colourSelect('bar')"
                    [averageColour]="averageSelect()"
                    [strokeColour]="colourSelect() === colours.navy.colours ? '#243673' : '#FFFFFF'"
                    [labelColour]="getLabelColour(colourSelect(), 'bar')"
                    [passedData]="data.safetyGrid">
                  </chart>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="display-flex ion-justify-content-center ion-align-items-center" size="10">
                  <div [style.border-top-color]="averageSelect()" class="dashed-line"></div>
                </ion-col>
                <ion-col>
                  <ion-text class="mes-data">Average</ion-text>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="showData">
                <ion-col class="ion-no-padding">
                  <data-grid
                    [headers]="['Question', 'Amount', 'Percentage of total']"
                    [colourScheme]="colourSelect('bar')"
                    [displayColour]="(colourSelect('bar') !== colours.monochrome.bar &&
                colourSelect('bar') !== colours.default.bar)"
                    [passedData]="filterDataForGrid(data.safetyGrid)">
                  </data-grid>
                  <div>
                    <ion-row class="ion-padding-top mes-row-separator"></ion-row>
                    <ion-row class="ion-padding-top display-flex ion-justify-content-center">
                      <ion-col class="display-flex ion-justify-content-center">
                        <span class="mes-data"><label>Total:</label> {{getTotal(data.safetyGrid)}}</span>
                      </ion-col>
                    </ion-row>
                  </div>
                </ion-col>
              </ion-row>
            </div>
            <ion-row class="display-flex ion-justify-content-center" *ngIf="!getTotal(data.safetyGrid)">
              <ion-text class="des-header-style-3">No data to display</ion-text>
            </ion-row>
          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col class="ion-no-padding" size="auto">
        <ion-card [class]="colourSelect() === colours.navy.colours ? ['white-text' , 'navy-card'] : 'mes-black'"
                  *ngIf="data.circuits?.length">
          <ion-card-header>
            <ion-card-title>
              <ion-row>
                <ion-col>
                  <ion-text class="des-header-style-4 fault-heading">Circuits</ion-text>
                </ion-col>
              </ion-row>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div *ngIf="getTotal(data.circuits)">
              <ion-row>
                <ion-col class="ion-justify-content-center display-flex">
                  <chart
                    [chartId]="'circuit'"
                    [splitLabel]="true"
                    [isPortrait]="orientationProvider.isPortraitMode$ | async"
                    [chartType]="globalChartType ? globalChartType : 'pie'"
                    [colors]="colourSelect('pie')"
                    [averageColour]="averageSelect()"
                    [transformOptions]="{ portrait: { width: 320, height: 300 }, landscape: { width: 450, height: 300 } }"
                    [strokeColour]="colourSelect() === colours.navy.colours ? '#243673' : '#FFFFFF'"
                    [labelColour]="getLabelColour(colourSelect(), 'pie')"
                    [passedData]="data.circuits">
                  </chart>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="showData">
                <ion-col class="ion-no-padding">
                  <data-grid
                    [headers]="['Circuit', 'Amount', 'Percentage of total']"
                    [colourScheme]="colourSelect('pie')"
                    [passedData]="filterDataForGrid(data.circuits)">
                  </data-grid>
                  <div>
                    <ion-row class="ion-padding-top mes-row-separator"></ion-row>
                    <ion-row class="ion-padding-top display-flex ion-justify-content-center">
                      <ion-col class="display-flex ion-justify-content-center">
                        <span class="mes-data"><label>Total:</label> {{getTotal(data.circuits)}}</span>
                      </ion-col>
                    </ion-row>
                  </div>
                </ion-col>
              </ion-row>
            </div>
            <ion-row class="display-flex ion-justify-content-center" *ngIf="!getTotal(data.circuits)">
              <ion-text class="des-header-style-3">No data to display</ion-text>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>

  <div class="text-align-center
  padding-top-22
  ion-justify-content-center
  ion-align-items-center
  display-flex
  direction-column"
       *ngIf="(pageState.categoryList$ | async).length === 0 ||
       (pageState.locationList$ | async).length === 0">
    <ion-row>
      <ion-text class="mes-data">
        No driving test data available.<br>Try again when more tests have been completed.
      </ion-text>
    </ion-row>
    <ion-row class="padding-top">
      <ion-col class="ion-no-padding ion-text-left">
        <ion-button
          id="dlg-return-to-dashboard-btn"
          class="mes-primary-button"
          (click)="goToDashboard()">
          <ion-text id="dlg-return-to-dashboard-label" class="des-header-style-3">Return to dashboard</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
  </div>

</ion-content>
