<div class="signature-area" (blur)="onTouched()">
    <ion-row>
        <ion-col size="auto">
            <ion-text id="signature-area-sign-here" class="des-header-style-5 sign-here-label">{{signHereText || "Sign here"}}</ion-text>
        </ion-col>
        <ion-col>
            <div id="signature-area-validation-text" class="validation-text" [class.ng-invalid]="showValidText">
                {{ validationErrorText || "Enter a Signature" }}
            </div>
        </ion-col>
        <ion-col>
            <button (click)="clear()" class="retry-button" [disabled]="!signature">
                <div
                  id="signature-area-retry-icon"
                  class="retry-icon"
                  [ngStyle]="{'background-image':'url(' + retryImage + ')'}">
                </div>
                <label id="signature-area-retry-button-label" class="sign-here-text">
                    {{retryButtonText? retryButtonText : "Retry"}}
                </label>
            </button>
        </ion-col>
    </ion-row>
    <ion-row class="signature-wrapper ion-align-items-center">
        <signature-pad
          #signaturePadElement
          id="signature-area-signature-pad"
          [options]="signaturePadOptions"
          (drawEnd)="drawComplete()"
          [class.ng-invalid]="showValidText">
        </signature-pad>
        <div class="signature-line"></div>
    </ion-row>
</div>
