<ion-row
        class="mes-validated-row"
        id="fuel-efficient-driving-row"
        [formGroup]="formGroup">
    <div class="validation-bar" [class.ng-invalid]="invalid">
    </div>
    <ion-col class="component-label ion-align-self-center" size="32">
        <label id="fuel-efficient-driving-label">Fuel efficient driving fault</label>
    </ion-col>
    <ion-col class="ion-align-self-center ion-padding-start">
        <ion-row class="spacing-row"></ion-row>
        <ion-row>
            <ion-col class="ion-align-self-center" size="48">
                <input
                        type="radio"
                        [attr.disabled]="disabled ? true : null"
                        id="fuel-efficient-driving-yes"
                        class="gds-radio-button"
                        name="fuelEfficientDriving"
                        formControlName="fuelEfficientDriving"
                        [value]="true"
                        (change)="fedChanged($event.target.id)">
                <label for="fuel-efficient-driving-yes" class="radio-label"
                       id="fuel-efficient-driving-yes-label">Yes</label>
            </ion-col>
            <ion-col class="ion-align-self-center">
                <input
                        type="radio"
                        [attr.disabled]="disabled ? true : null"
                        id="fuel-efficient-driving-no"
                        class="gds-radio-button"
                        name="fuelEfficientDriving"
                        formControlName="fuelEfficientDriving"
                        [value]="false"
                        (change)="fedChanged($event.target.id)">
                <label for="fuel-efficient-driving-no" class="radio-label"
                       id="fuel-efficient-driving-no-label">No</label>
            </ion-col>
        </ion-row>
        <ion-row class="validation-message-row ion-align-items-center">
            <div
                    class="validation-text"
                    id="fuel-efficient-driving-validation-text"
                    [class.ng-invalid]="invalid">
                Select FED value
            </div>
        </ion-row>
    </ion-col>
</ion-row>
