<ion-header>
  <ion-toolbar
    [ngClass]="{
      'no-internal-padding': true,
      'practice-theme': isEndToEndPracticeMode,
      'toolbar-no-padding': isExitSAMBannerActivated,
      'ion-no-padding-important': isEndToEndPracticeMode
    }"
    mode="ios">
    <test-flow-header
      class="display-flex flex-direction-column"
      [pageName]="'pass-finalisation-cat-a-mod2'"
      [shouldShowEscapeFromSamButton]="!isRekey && !isDelegated"
      [isPracticeMode]="isEndToEndPracticeMode"
      [isExitSAMActivated]="isExitSAMBannerActivated"
      (exitSamUsed)="onUsedExitSam()"
      [shouldShowEndTestLink]="false"
      (setupLeaveSubscription)="setupEscapeSAMLeaveSubscription()"
      (setupResumeSubscription)="setupEscapeSAMResumeSubscription()"
      (onExitSAMActivatedChanged)="isSamActivatedChanged($event)">
      Finalise outcome - {{pageState.candidateUntitledName$ | async}}
    </test-flow-header>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <ion-grid>
        <finalisation-header
          [candidateDriverNumber]="pageState.candidateDriverNumber$ | async"
          [candidateName]="pageState.candidateName$ | async"
          [outcomeText]="pageState.testOutcomeText$ | async"
        >
        </finalisation-header>

        <application-reference-number [applicationNumber]="pageState.applicationNumber$ | async">
        </application-reference-number>

        <bike-category-type
          (categoryCodeChange)="categoryCodeChanged($event)"
          [categoryConfirmed]="true"
          [formGroup]="form"
          [testCategory]="pageState.testCategory$ | async"
          testType="MOD2"
        >
        </bike-category-type>

        <license-provided
          (licenseNotReceived)="provisionalLicenseNotReceived()"
          (licenseReceived)="provisionalLicenseReceived()"
          [form]="form"
          [licenseReceivedLabel]="'Licence received'"
          [license]="pageState.provisionalLicense$ | async"
        >
        </license-provided>

        <licence-provided-warning-banner [licenceProvided]="pageState.provisionalLicense$ | async">
        </licence-provided-warning-banner>

        <transmission (transmissionChange)="transmissionChanged($event)" [formGroup]="form"> </transmission>

        <warning-banner *ngIf="displayTransmissionBanner()" warningText="An automatic licence will be issued.">
        </warning-banner>

        <pass-certificate-number
          (passCertificateNumberChange)="passCertificateNumberChanged($event)"
          [form]="form"
          [isPracticeMode]="isPracticeMode"
          [passCertificateNumberInput]="pageState.passCertificateNumber$ | async"
        >
        </pass-certificate-number>

        <d255
          (d255Change)="d255Changed($event)"
          [d255]="pageState.d255$ | async"
          [display]="true"
          [eyesightTestFailed]="pageState.eyesightTestFailed$ | async"
          [formGroup]="form"
          [outcome]="testOutcome"
        >
        </d255>

        <warning-banner
          *ngIf="pageState.d255$ | async"
          warningText="DVLA will not process the result until a D255 is received."
        >
        </warning-banner>

        <language-preferences
          (welshChanged)="isWelshChanged($event)"
          [formGroup]="form"
          [isWelsh]="(pageState.conductedLanguage$ | async) === 'Cymraeg'"
        >
        </language-preferences>

        <debrief-witnessed
          (debriefWitnessedChange)="debriefWitnessedChanged($event)"
          [debriefWitnessed]="pageState.debriefWitnessed$ | async"
          [display]="true"
          [shouldShowSeparator]="false"
          [formGroup]="form"
          [outcome]="testOutcome"
        >
        </debrief-witnessed>
      </ion-grid>
    </form>
  </div>
</ion-content>

<ion-footer>
  <ion-row class="box-shadow flex-center footer-padding">
    <ion-col size="60">
      <ion-button (click)="onSubmit()" class="mes-primary-button width-100" id="pass-finalisation-continue-button">
        <ion-text class="des-header-style-3">Continue</ion-text>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
