@import "src/theme/sass-partials/_buttons";
:host {
  div.competency-button {
    @extend .mes-test-report-button;
    @extend .mes-test-report-button-ripple-effect;

    padding-left: 5px;
    padding-right: 5px;
  }
  &.fault {
    .remove-mode.fault-mode & {
      z-index: 160;
    }
  }
  &.serious-fault {
    .remove-mode.serious-mode & {
      z-index: 160;
    }
  }
  &.dangerous-fault {
    .remove-mode.dangerous-mode & {
      z-index: 160;
    }
  }

  .display-red-border {
    border: 2px solid var(--gds-red) !important;
  }
}
