<ion-card class="modal-alert">
  <ion-row>
    <ion-col class="center-icon ion-no-padding">
      <ion-icon id="practice-modal-icon" class="practice-icon" name="car"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col class="ion-no-padding">
      <div class="modal-alert-header">
        <header-component
          [id]="'practice-modal-header-text'"
          [inheritWeight]="true"
          [headerNum]="2">
          Practice a test (cat B)
        </header-component>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size="80" class="ion-no-padding">
      <div class="modal-alert-message">
        <div id="practice-modal-message-text" class="mes-data">Select if you'd like to start with<br/>or without a driving fault on<br/>vehicle checks</div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size="72" class="ion-no-padding">
      <ion-button id="practice-modal-fault-start" class="mes-return-button fault-button" (click)="onFault()">
        <header-component
          [headerNum]="3">
          Start with a driving fault
        </header-component>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size="72" class="ion-no-padding">
      <ion-button id="practice-modal-faultless-start" class="mes-return-button no-fault-button" (click)="onNoFault()">
        <header-component
          [headerNum]="3">
          Start without a driving fault
        </header-component>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="column-border-top ion-no-padding">
      <ion-button id="practice-modal-cancel" class="cancel-button" fill="clear" (click)="onCancel()">Cancel</ion-button>
    </ion-col>
  </ion-row>
</ion-card>
